<template>
    <div >
            <h1>北京快3</h1>
            <ul>
<li>营业时间为北京上午09:10对晚上23:50，10分锺一期,共89期。</li>
<li><span class="li-head">三连号通选</span><p>玩法说明</p>对所有的三个相连的号码(123,234,345,456)进行投注，所选号码与开奖号码相同即中奖。<p>中奖举例</p>投注方案：三连号通选  开奖号码：456，即中三连号通选。</li>
<li><span class="li-head">二同号复选</span><p>玩法说明</p>对三个号码中两个指定的相同号码和一个任意号码进行投注，所选号码与开奖号码相同即中奖（不含豹子号）。    <p>中奖举例</p>投注方案：112；开奖号码为：112，211，121，即中奖。</li>
<li><span class="li-head">二同号单选</span><p>玩法说明</p>选择1对相同号码和1个不同号码投注，所选号码与开奖号码相同（顺序不限），即中奖（不含豹子号）。    <p>中奖举例</p>投注方案：同号11，不同号2  开奖号码：112，即中二同号单选。</li>
<li><span class="li-head">二不同号标准</span><p>玩法说明</p>从1～6中任选2个或多个号码，所选号码与开奖号码任意2个号码相同（顺序不限），即中奖。    <p>中奖举例</p>投注方案：12  开奖号码：123，即中二不同号。</li>
<li><span class="li-head">二不同号胆拖</span><p>玩法说明</p>选1个胆码，选1～5个拖码，胆码加拖码不少于2个；所选号码与开奖号码任意2号相同（顺序不限）即中奖。    <p>中奖举例</p>投注方案:5 4  开奖号码:5 4 3，即中二不同号胆拖。</li>
<li><span class="li-head">和值</span><p>玩法说明</p>至少选择1个和值（3个号码之和）进行投注，所选和值与开奖的3个号码的和值相同即中奖。    <p>中奖举例</p>投注方案：和值4；开奖号码前三位：112,即中和值。</li>
<li><span class="li-head">三同号通选</span><p>玩法说明</p>对所有相同的三个号码（111、222、333、444、555、666）进行投注，任意号码开出即中奖。    <p>中奖举例</p>投注方案：三同号通选  开奖号码：111，即中三同号通选。</li>
<li><span class="li-head">三同号单选</span><p>玩法说明</p>对相同的三个号码（111、222、333、444、555、666）中的任意一个进行投注，所选号码开出即中奖。    <p>中奖举例</p>投注方案：111 开奖号码：111，即中三同号单选。</li>
<li><span class="li-head">三不同号标准</span><p>玩法说明</p>从1～6中任选3个或多个号码，所选号码与开奖号码的3个号码相同（顺序不限）即中奖。    <p>中奖举例</p>投注方案：123   开奖号码：123，即中三不同号。</li>
<li><span class="li-head">三不同号胆拖</span><p>玩法说明</p>选1～2个胆码，选1～5个拖码，胆码加拖码不少于3个；选号与奖号相同（顺序不限）即中奖。    <p>中奖举例</p>投注方案:5 4 3   开奖号码:5 4 3，即中三不同号胆拖。</li>
            </ul>
    </div>
</template>
