<template>
    <div >
            <h1>广东11选5</h1>
            <ul>
                <li>广东11选5是由国家体育总局发行，体育彩票管理中心承销，北京时间（GMT+8）每日早上9:30至晚上23:10分;每日共开奖42期、每20分锺开奖1次。</li>
<li><span class="li-head">前三直选复式</span><p>玩法说明</p>从01-11中选择3个不重复的号码组成一注，所选号码与开奖号码的前三位相同，且顺序一致，即为中奖。    <p>中奖举例</p>投注方案:03 04 05   开奖号码:前三位03 04 05，即中前三直选。</li>
<li><span class="li-head">前三直选单式</span><p>玩法说明</p>手动输入3个号码组成一注，所输入的号码与开奖号码的前3位相同，且顺序一致，即为中奖。    <p>中奖举例</p>投注方案:03 04 05   开奖号码:前三位03 04 05，即中前三直选。</li>
<li><span class="li-head">前三组选复式</span><p>玩法说明</p>从01-11中选择3个号码，所选号码与开奖号码的前三位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:02 05 08   开奖号码:前三位08 05 02（顺序不限），即中前三组选。</li>
<li><span class="li-head">前三组选单式</span><p>玩法说明</p手动输入3个号码组成一注，所输入的号码与开奖号码的前三位相同，顺序不限，即为中奖。    ><p>中奖举例</p>投注方案:02 05 08   开奖号码:前三位08 05 02（顺序不限），即中前三组选。</li>
<li><span class="li-head">前三组选胆拖</span><p>玩法说明</p>从01-11中，选取3个及以上的号码进行投注，每注需至少包含1个胆码及2个拖码。 所选单注号码与开奖号码的前三位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:胆码02，拖码01 06   开奖号码:前三位02 01 06（顺序不限）即中前三组选胆拖。</li>
<li><span class="li-head">中三直选复式</span><p>玩法说明</p>从01-11中选择3个不重复的号码组成一注，所选号码与开奖号码的中间三位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案:03 04 05   开奖号码:中三位03 04 05，即中中三直选。</li>
<li><span class="li-head">中三直选单式</span><p>玩法说明</p>手动输入3个号码组成一注，所输入的号码与开奖号码的中间三位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案:03 04 05   开奖号码:中三位03 04 05，即中中三直选。</li>
<li><span class="li-head">中三组选复式</span><p>玩法说明</p>从01-11中选择3个号码，所选号码与开奖号码的中间三位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:02 05 08   开奖号码:中三位08 05 02（顺序不限），即中中三组选。</li>
<li><span class="li-head">中三组选单式</span><p>玩法说明</p>手动输入3个号码组成一注，所输入的号码与开奖号码的中间三位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:02 05 08   开奖号码:中三位08 05 02（顺序不限），即中中三组选。</li>
<li><span class="li-head">中三组选胆拖</span><p>玩法说明</p>从0-11中，选取3个及以上的号码进行投注，每注需至少包含1个胆码及2个拖码。 所选单注号码与开奖号码的中间三位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:胆码02，拖码01 06   开奖号码:中三位02 01 06（顺序不限）即中中三组选胆拖。</li>
<li><span class="li-head">后三直选复式</span><p>玩法说明</p>从01-11中选择3个不重复的号码组成一注，所选号码与开奖号码的后三位相同，且顺序一致，即为中奖。    <p>中奖举例</p>投注方案:03 04 05  开奖号码:后三位03 04 05，即中后三直选。</li>
<li><span class="li-head">后三直选单式</span><p>玩法说明</p>手动输入3个号码组成一注，所输入的号码与开奖号码的后三位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案:03 04 05  开奖号码:后三位03 04 05，即中后三直选。</li>
<li><span class="li-head">后三组选复式</span><p>玩法说明</p>从01-11中选择3个号码，所选号码与开奖号码的后三位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:02 05 08  开奖号码:后三位08 05 02（顺序不限），即中后三组选。</li>
<li><span class="li-head">后三组选单式</span><p>玩法说明</p>手动输入3个号码组成一注，所输入的号码与开奖号码的后三位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:02 05 08  开奖号码:后三位08 05 02（顺序不限），即中后三组选。</li>
<li><span class="li-head">后三组选胆拖</span><p>玩法说明</p>从0-11中，选取3个及以上的号码进行投注，每注需至少包括1个胆码及2个拖码。 所选单注号码与开奖号码的后三位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:胆码02，拖码01 06  开奖号码:后三位02 01 06（顺序不限）即中后三组选胆拖。</li>
<li><span class="li-head">前二直选复式</span><p>玩法说明</p>从01-11中选择2个不重复的号码组成一注，所选号码与开奖号码的前两位相同，且顺序一致，即中奖。    <p>中奖举例</p>如：第一位选择01，第二位选择02，开奖号码 01 02 * * *，即为中奖。</li>
<li><span class="li-head">前二直选单式</span><p>玩法说明</p>手动输入2个号码组成一注，所输入的号码与开奖号码的前两位相同，且顺序一致，即为中奖。    <p>中奖举例</p>如：手动输入 01 02，开奖号码为01 02 * * *，即为中奖。</li>
<li><span class="li-head">前二组选复式</span><p>玩法说明</p>从01-11中选择2个号码，所选号码与开奖号码的前两位相同，顺序不限，即为中奖。    <p>中奖举例</p>如：选择01 02（展开为01 02 * * *，02 01 * * *），开奖号码为02 01 * * * 或 01 02 * * *，即为中奖。</li>
<li><span class="li-head">前二组选单式</span><p>玩法说明</p>手动输入2个号码组成一注，所输入的号码与开奖号码的前两位相同，顺序不限，即为中奖。    <p>中奖举例</p>如：手动输入01 02（展开为01 02 * * ，02 01 * * ），开奖号码为02 01 * 或 01 02 ***，即为中奖。</li>
<li><span class="li-head">前二组选胆拖</span><p>玩法说明</p>从01-11中，选取2个及以上的号码进行投注，每注需至少包含1个胆码及1个拖码。所选单注号码与开奖号码的前两位相同，顺序不限，即为中奖。<p>中奖举例</p>投注方案:胆码02，拖码06   开奖号码:前二位02 06（顺序不限）即中前二组选胆拖。</li>
<li><span class="li-head">后二直选复式</span><p>玩法说明</p>从01-11中选择2个不重复的号码组成一注，所选号码与开奖号码的后两位相同，且顺序一致，即中奖。    <p>中奖举例</p>如：第四位选择01，第五位选择02，开奖号码 01 02 * * *，即为中奖。</li>
<li><span class="li-head">后二直选单式</span><p>玩法说明</p>手动输入2个号码组成一注，所输入的号码与开奖号码的后两位相同，且顺序一致，即为中奖。    <p>中奖举例</p>如：手动输入 01 02，开奖号码为01 02 * * *，即为中奖。</li>
<li><span class="li-head">后二组选复式</span><p>玩法说明</p>从01-11中选择2个号码，所选号码与开奖号码的后两位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:05 08  开奖号码:后二位08 05 （顺序不限），即中后二组选。</li>
<li><span class="li-head">后二组选单式</span><p>玩法说明</p>手动输入2个号码组成一注，所输入的号码与开奖号码的后两位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:05 08  开奖号码:后二位05 08 （顺序不限），即中后二组选。</li>
<li><span class="li-head">后二组选胆拖</span><p>玩法说明</p>从0-11中，选取2个及以上的号码进行投注，每注需至少包含1个胆码及1个拖码。  所选单注号码与开奖号码的后两位相同，顺序不限，即为中奖。    <p>中奖举例</p>投注方案:胆码02，拖码06  开奖号码:后二位02 06（顺序不限）即中后二组选胆拖。</li>
<li><span class="li-head">前三不定位</span><p>玩法说明</p>从01-11中选择1个号码组成一注，只要开奖号码前三位中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择01，开奖号码为01 * * * ， 01 * * ， * 01 * *，即为中奖。</li>
<li><span class="li-head">中三不定位</span><p>玩法说明</p>从01-11中选择1个号码组成一注，只要开奖号码中间三位包含所选号码，即为中奖。    <p>中奖举例</p>如：选择01，开奖号码为* 01 * * ， * 01 * ， * * 01 *即为中奖。</li>
<li><span class="li-head">后三不定位</span><p>玩法说明</p>从01-11中选择1个号码组成一注，只要开奖号码后三位包含所选号码，即为中奖。    <p>中奖举例</p>如：选择01，开奖号码为* * 01 * ， * * 01   * * * 01 即为中奖。</li>
<li><span class="li-head">定位胆</span><p>玩法说明</p>从第一位，第二位，第三位、第四位、第五位任意1个位置或多个位置上选择1个号码，所选号码与相同位置上的开奖号码一致，即为中奖。    <p>中奖举例</p>如：第一位选择01，开奖号码为01 * * * *，即为中奖。</li>
<li><span class="li-head">定单双</span><p>玩法说明</p>从5种单双个数组合中选择1种组合，当期开奖号码的单双个数与所选单双组合一致，即为中奖。    <p>中奖举例</p>如：选择5单0双，开奖号码01，03，05，07，09五个单数，即为中奖。</li>
<li><span class="li-head">猜中位</span><p>玩法说明</p>从3-9中选择1个号码进行购买，所选号码与5个开奖号码按照大小顺序排列后的第3个号码相同，即为中奖。    <p>中奖举例</p>如：选择8，开奖号码为11，04，09，05，08，按开奖号码的数字大小排列为04，05，08，09，11，中间数08，即为中奖。</li>
<li><span class="li-head">复式任选一中一</span><p>玩法说明</p>从01-11中选择1个号码进行购买，只要开奖号码中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择05，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">复式任选二中二</span><p>玩法说明</p>从01-11中选择2个号码进行购买，只要开奖号码中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择05 04，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">复式任选三中三</span><p>玩法说明</p>从01-11中选择3个号码进行购买，只要开奖号码中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择05 04 11，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">复式任选四中四</span><p>玩法说明</p>从01-11共11个号码中选择4个号码进行购买，只要当期顺序摇出的5个开奖号码中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择05 04 08 03，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">复式任选五中五</span><p>玩法说明</p>从01-11中选择5个号码进行购买，只要开奖号码中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择05 04 11 03 08，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">复式任选六中五</span><p>玩法说明</p>从01-11中选择6个号码进行购买，只要所选的6个号码中包含开奖号码，即为中奖。    <p>中奖举例</p>如：选择05 10 04 11 03 08，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">复式任选七中五</span><p>玩法说明</p>从01-11中选择7个号码进行购买，只要所选的7个号码中包含开奖号码，即为中奖。    <p>中奖举例</p>如：选择05 04 10 11 03 08 09，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">复式任选八中五</span><p>玩法说明</p>从01-11中选择8个号码进行购买，只要所选的8个号码中包含开奖号码，即为中奖。    <p>中奖举例</p>如：选择05 04 11 03 08 10 09 01，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">单式任选一中一</span><p>玩法说明</p>从01-11中手动输入1个号码进行购买，只要开奖号码中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择05，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">单式任选二中二</span><p>玩法说明</p>从01-11中手动输入2个号码进行购买，只要开奖号码中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择05 04，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">单式任选三中三</span><p>玩法说明</p>从01-11中手动输入3个号码进行购买，只要开奖号码中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择05 04 11，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">单式任选四中四</span><p>玩法说明</p>从01-11中手动输入4个号码进行购买，只要开奖号码中包含所选号码，即为中奖。    <p>中奖举例</p>如：选择05 04 08 03，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">单式任选五中五</span><p>玩法说明</p>从01-11中手动输入5个号码进行购买，只要开奖号码中包含所选号码，即为中奖。<p>中奖举例</p>如：选择05 04 11 03 08，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">单式任选六中五</span><p>玩法说明</p>从01-11中手动输入6个号码进行购买，只要所选的6个号码中包含开奖号码，即为中奖。    <p>中奖举例</p>如：选择05 10 04 11 03 08，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">单式任选七中五</span><p>玩法说明</p>从01-11中手动输入7个号码进行购买，所选的7个号码中包含开奖号码，即为中奖。    <p>中奖举例</p>如：选择05 04 10 11 03 08 09，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">单式任选八中五</span><p>玩法说明</p>从01-11中手动输入8个号码进行购买，所选的8个号码中包含开奖号码，即为中奖。    <p>中奖举例</p>如：选择05 04 11 03 08 10 09 01，开奖号码为08 04 11 05 03，即为中奖。</li>
<li><span class="li-head">胆拖任选二中二</span><p>玩法说明</p>至少选择1个胆码和1个拖码组成一注，只要开奖号码中同时包含所选的1个胆码和拖码，所选胆码必须全中，即为中奖。    <p>中奖举例</p>投注方案:05 04   开奖号码:08 04 11 05 03，即任选中二中二。</li>
<li><span class="li-head">胆拖任选三中三</span><p>玩法说明</p>至少选择1个胆码和2个拖码组成一注，只要开奖号码中同时包含所选的1个胆码和2个拖码，所选胆码必须全中，即为中奖。    <p>中奖举例</p>投注方案:胆码08，拖码06 11   开奖号码:06 08 11 09 02，即任选中三中三。</li>
<li><span class="li-head">胆拖任选四中四</span><p>玩法说明</p> 至少选择1个胆码和3个拖码组成一注，只要开奖号码中同时包含所选的1个胆码和3个拖码，所选胆码必须全中，即为中奖。    <p>中奖举例</p> 投注方案:胆码08，拖码06 09 11   开奖号码:06 08 11 09 02，即任选中四中四。</li>
<li><span class="li-head">胆拖任选五中五</span><p>玩法说明</p>至少选择1个胆码和4个拖码组成一注，只要开奖号码中同时包含所选的1个胆码和4个拖码，所选胆码必须全中，即为中奖。    <p>中奖举例</p>投注方案:胆码08，拖码02 06 09 11   开奖号码:06 08 11 09 02，即任选中五中五。</li>
<li><span class="li-head">胆拖任选六中五</span><p>玩法说明</p> 至少选择1个胆码和5个拖码组成一注，只要开奖号码同时存在于胆码和拖码的任意组合中，即为中奖。    <p>中奖举例</p> 投注方案:胆码08，拖码02 05 06 09 11   开奖号码:06 08 11 09 02，即任选中六中五。</li>
<li><span class="li-head">胆拖任选七中五</span><p>玩法说明</p> 至少选择1个胆码和6个拖码组成一注，只要开奖号码同时存在于胆码和拖码的任意组合中，即为中奖。    <p>中奖举例</p> 投注方案:胆码08，拖码01 02 05 06 09 11   开奖号码:06 08 11 09 02，即任选中七中五。</li>
<li><span class="li-head">胆拖任选八中五</span><p>玩法说明</p> 至少选择1个胆码和7个拖码组成一注，只要开奖号码同时存在于胆码和拖码的任意组合中，即为中奖。    <p>中奖举例</p> 投注方案:胆码08，拖码01 02 03 05 06 09 11   开奖号码:06 08 11 09 02，即任选中八中五。</li>
            </ul>
    </div>
</template>
