<template>
    <div >
            <h1>五分赛车</h1>
            <ul>
<li>营业时间为全天，五分钟一期;共288期。</li>
<li><span class="li-head">前一直选复式</span><p>玩法说明</p>从冠军01-10中至少选择1个号码组成一注，所选号码与开奖号码的第一位相同即中奖    <p>中奖举例</p>如：投注内容：01；开奖01，02,03,04,05,06,07,08,09,10，即为中奖。</li>
<li><span class="li-head">前二直选复式</span><p>玩法说明</p>从冠军、亚军中至少各选择1个号码组成一注，所选号码与开奖号码的前两位相同即中奖。    <p>中奖举例</p>如：投注内容：01，02；开奖01,02,03,04,05,06,07,08,09,10，即为中奖。</li>
<li><span class="li-head">前二直选单式</span><p>玩法说明</p>手动输入2个不重复号码组成一注，所选号码与开奖号码的前两位相同即中奖。    <p>中奖举例</p>如：投注内容：0102；开奖01,02,03,04,05,06,07,08,09,10，即为中奖。</li>
<li><span class="li-head">前三直选复式</span><p>玩法说明</p>从冠军、亚军、季军中至少各选择1个号码组成一注，所选号码与开奖号码前三位相同即中奖。    <p>中奖举例</p>如：投注内容：01，02，03；开奖01,02,03,04,05,06,07,08,09,10，即为中奖。</li>
<li><span class="li-head">前三直选单式</span><p>玩法说明</p>动输入3个不重复号码组成一注，所选号码与开奖号码的前三位相同即中奖。    <p>中奖举例</p>如：投注内容：010203；开奖01,02,03,04,05,06,07,08,09,10，即为中奖。</li>
<li><span class="li-head">定位胆</span><p>玩法说明</p>第一名到第十名任意位置上至少选择1个以上号码，所选号码与相同位置上的开奖号码一致，即为中奖。    <p>中奖举例</p>如：第一名01 开奖号码:第一名01，即中定位胆第一名。</li>
            </ul>
    </div>
</template>
