<template>
    <div >
            <h1>加拿大五分彩</h1>
            <ul>
<li>营业时间为全天，五分钟一期;共288期。</li>
            <li><span class="li-head">五星直选复式</span><p>玩法说明</p>从万、千、百、十、个位中选择一个5位数号码组成一注，所选号码与开奖号码全部相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：23456；开奖号码：23456，即为中奖。</li>
            <li><span class="li-head">五星直选单式</span><p>玩法说明</p>手动输入一个5位数号码组成一注，所选号码的万、千、百、十、个位与开奖号码相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：23456；开奖号码：23456，即为中奖。</li>
            <li><span class="li-head">五星组选120</span><p>玩法说明</p>从0-9中任意选择5个号码组成一注，所选号码与开奖号码的万、千、百、十、个位相同，顺序不限，即为中奖。<p>中奖举例</p>投注方案：02568，开奖号码的5个数字必须包含02568（例如：08526），顺序不限，即可中五星组选120。</li>
            <li><span class="li-head">五星组选60</span><p>玩法说明</p>选择1个二重号和3个单号组成一注，所选单号出现在开奖号码中，且二重号在开奖号码中出现了2次，顺序不限，即为中奖。<p>中奖举例</p>投注方案：二重号：8；单号：025，开奖号码的5个数字必须包含单号025，以及对子号8（例如02858），顺序不限，即可中五星组选60。</li>
            <li><span class="li-head">五星组选30</span><p>玩法说明</p>选择2个二重号和1个单号组成一注，所选的单号出现在开奖号码中，且2个二重号分别在开奖号码中出现了2次，顺序不限，即为中奖。<p>中奖举例</p>投注方案：二重号：2、8；单号：0，开奖号码的5个数字必须包含单号0，以及对子号2和8（例如28082），顺序不限，即可中五星组选30。</li>
            <li><span class="li-head">五星组选20</span><p>玩法说明</p>选择1个三重号和2个单号组成一注，所选的单号出现在开奖号码中，且所选三重号在开奖号码中出现了3次，顺序不限，即为中奖。<p>中奖举例</p>投注方案：三重号：8；单号：0、2，开奖号码的5个数字必须包含单号0和2，以及三重号8（例如80828），顺序不限，即可中五星组选20。</li>
            <li><span class="li-head">五星组选10</span><p>玩法说明</p>选择1个三重号和1个二重号，所选三重号在开奖号码中出现3次，并且二重号在开奖号码中出现2次，顺序不限，即为中奖。<p>中奖举例</p>投注方案：三重号：8；二重号：2，开奖号码的5个数字必须包含三重号8，以及对子号2（例如28828），顺序不限，即可中五星组选10。</li>
            <li><span class="li-head">五星组选5</span><p>玩法说明</p>选择1个四重号和1个单号组成一注，所选的单号出现在开奖号码中，且四重号在开奖号码中出现4次，顺序不限，即为中奖。<p>中奖举例</p>投注方案：四重号：8；单号：2，开奖号码的5个数字必须包含四重号8，以及单号2（例如88828），顺序不限，即可中五星组选5。</li>
            <li><span class="li-head">前四直选复式</span><p>玩法说明</p>从万、千、百、十位中选择一个4位数号码组成一注，所选号码与开奖号码相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：3456；开奖号码：3456x，即中前四直选。</li>
            <li><span class="li-head">前四直选单式</span><p>玩法说明</p>手动输入一个4位数号码组成一注，所选号码的万位、千位、百位、十位与开奖号码相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：3456；开奖号码：3456x，即中前四直选。</li>
            <li><span class="li-head">后四直选复式</span><p>玩法说明</p>从千、百、十、个位中选择一个4位数号码组成一注，所选号码与开奖号码相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：3456；开奖号码：x3456，即中后四直选。</li>
			<li><span class="li-head">后四直选单式</span><p>玩法说明</p>手动输入一个4位数号码组成一注，所选号码的千位、百位、十位、个位与开奖号码相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：3456；开奖号码：x3456，即中后四直选。</li>
            <li><span class="li-head">前三直选复式</span><p>玩法说明</p>从万、千、百位中选择一个3位数号码组成一注，所选号码与开奖号码前3位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：万位选择1，千位选择2，百位选择3，开奖号码为是123xx，即为中奖。</li>
			<li><span class="li-head">前三直选单式</span><p>玩法说明</p>手动输入一个3位数号码组成一注，所选号码与开奖号码的万位、千位、百位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：手动输入123，开奖号码为是123xx，即为中奖。</li>
            <li><span class="li-head">前三直选和值</span><p>玩法说明</p>所选数值等于开奖号码万位、千位、百位三个数字相加之和，即为中奖。<p>中奖举例</p>投注方案：选择6，开奖号码为123xx、141xx、114xx、006xx、060xx 等任意一个和值为6的结果，即为中奖。</li>
			<li><span class="li-head">前三直选跨度</span><p>玩法说明</p>所选数值等于开奖号码万、千、百位中最大值与最小值相减之差，即为中奖。<p>中奖举例</p>投注方案：选择6，开奖号码为137xx，即为中奖。</li>
            <li><span class="li-head">前三直选组合</span><p>玩法说明</p>从万、千、百位至少各选一个号码组成1-3星的组合共3注，所选号码的百位与开奖号码相同则中一个三等奖，千、百位相同则中一个二等奖和一个三等奖，以此类推，最高可中3个奖。<p>中奖举例</p>投注方案：购买6+7+8有以下三注678（三星）、78（二星）、8（一星）构成，开奖号码678xx，即中三星、二星、一星各一注。</li>
			<li><span class="li-head">中三直选复式</span><p>玩法说明</p>从千位、百位、十位中选择一个3位数号码组成一注，所选号码与开奖号码前3位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：千位选择1，百位选择2，十位选择3，开奖号码为是x123x，即为中奖。</li>
            <li><span class="li-head">中三直选单式</span><p>玩法说明</p>手动输入一个3位数号码组成一注，所选号码与开奖号码的千位、百位、十位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：手动输入123，开奖号码为是x123x，即为中奖。</li>
			<li><span class="li-head">中三直选和值</span><p>玩法说明</p>所选数值等于开奖号码千位、百位、十位三个数字相加之和，即为中奖。<p>中奖举例</p>投注方案：选择6，开奖号码为x123x、x141x、x114x、x006x、x060x等任意一个和值为6的结果，即为中奖。</li>
            <li><span class="li-head">中三直选跨度</span><p>玩法说明</p>所选数值等于开奖号码千、百、十位中最大值与最小值相减之差，即为中奖。<p>中奖举例</p>投注方案：选择6，开奖号码为x137x，即为中奖。</li>
			<li><span class="li-head">后三直选复式</span><p>玩法说明</p>从百位、十位、个位中选择一个3位数号码组成一注，所选号码与开奖号码后3位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：购买6+7+8有以下三注678（三星）、78（二星）、8（一星）构成，开奖号码x678x即中三星、二星、一星各一注。</li>
			<li><span class="li-head">后三直选单式</span><p>玩法说明</p>手动输入一个3位数号码组成一注，所选号码与开奖号码的百位、十位、个位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：百位选择1，十位选择2，个位选择3，开奖号码为是xx123，即为中奖。</li>
			<li><span class="li-head">后三直选和值</span><p>玩法说明</p>所选数值等于开奖号码的百位、十位、个位三个数字相加之和，即为中奖。<p>中奖举例</p>投注方案：选择6，开奖号码为xx123、xx141、xx114、xx006、xx060等任意一个和值为6的结果，即为中奖。</li>
			<li><span class="li-head">后三直选跨度</span><p>玩法说明</p>所选数值等于开奖号码百、十、个位中最大值与最小值相减之差，即为中奖。<p>中奖举例</p>投注方案：选择6，开奖号码为xx137，即为中奖。</li>
			<li><span class="li-head">后三直选组合</span><p>玩法说明</p>从百、十、个位至少各选一个号码组成1-3星的组合共3注，所选号码的十位与开奖号码相同则中一个三等奖，十、个位相同则中一个二等奖和一个三等奖，以此类推，最高可中3个奖。<p>中奖举例</p>投注方案：购买6+7+8有以下三注678（三星）、78（二星）、8（一星）构成，开奖号码xx678即中三星、二星、一星各一注。</li>
			<li><span class="li-head">前三组选组三</span><p>玩法说明</p>从0-9中任意选择2个号码组成两注，所选号码与开奖号码的万位、千位、百位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：选择12（展开为122xx，212xx，221xx 和 112xx、121xx、211xx），开奖号码为212xx 或 121xx，即为中奖。</li>
			<li><span class="li-head">前三组选组六</span><p>玩法说明</p>从0-9中任意选择3个号码组成一注，所选号码与开奖号码的万位、千位、百位相同，顺序不限，即为中奖。<p>中奖举例</p>投注方案：选择123（展开为123xx，132xx，231xx，213xx，312xx，321xx），开奖号码为321xx，即为中奖。</li>
			<li><span class="li-head">前三组选和值</span><p>玩法说明</p>所选数值等于开奖号码万位、千位、百位三个数字相加之和，即为中奖，若开奖号码为豹子号视为不中奖。<p>中奖举例</p>投注方案：选择6，开奖号码为114xx中组三奖，开奖号码为015xx中组六奖。</li>
			<li><span class="li-head">前三混合组选</span><p>玩法说明</p>手动输入购买号码，3个数字为一注，开奖号码的万位、千位、百位符合前三的组三或组六均为中奖。<p>中奖举例</p>投注方案：手动输入123、455，开奖号码为321xx即中组六奖，开奖号码为545xx即中组三奖。</li>
			<li><span class="li-head">前三组选包胆</span><p>玩法说明</p>从0-9中任意选择一个包胆号码，开奖号码的万位、千位、百位中任意一位与所选包胆号码相同（不含豹子号）即中奖。<p>中奖举例</p>投注方案：选择3，开奖号码为3xxxx，x3xxx，xx3xx即为中奖。</li>
			<li><span class="li-head">中三组选组三</span><p>玩法说明</p>从0-9中任意选择2个号码组成两注，所选号码与开奖号码的千位、百位、十位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：选择12（展开为x122x，x212x，x221x 和x112x、x121x、x211x），开奖号码为x212x 或 x121x，即为中奖。</li>
			<li><span class="li-head">中三组选组六</span><p>玩法说明</p>从0-9中任意选择3个号码组成一注，所选号码与开奖号码的千位、百位、十位相同，顺序不限，即为中奖。<p>中奖举例</p>投注方案：选择123（展开为x123x，x132x，x231x，x213x，x312x，x321x），开奖号码为x321x，即为中奖。</li>
			<li><span class="li-head">中三组选和值</span><p>玩法说明</p>所选数值等于开奖号码千位、百位、十位三个数字相加之和，即为中奖，若开奖号码为豹子号视为不中奖。<p>中奖举例</p>投注方案：选择6，开奖号码为x114x中组三奖，开奖号码为x015x中组六奖。</li>
			<li><span class="li-head">中三混合组选</span><p>玩法说明</p>手动输入购买号码，3个数字为一注，开奖号码的千位、百位、十位符合中三的组三或组六均为中奖。<p>中奖举例</p>投注方案：手动输入123、455，开奖号码为x321x即中组六奖，开奖号码为x545x即中组三奖。</li>
			<li><span class="li-head">中三组选包胆</span><p>玩法说明</p>从0-9中任意选择一个包胆号码，开奖号码的千位、百位、十位中任意一位与所选包胆号码相同（不含豹子号）即中奖。<p>中奖举例</p>投注方案：选择3，开奖号码为x3xxx，xx3xx，xxx3x即为中奖。</li>
			<li><span class="li-head">后三组选组三</span><p>玩法说明</p>从0-9中任意选择2个号码组成两注，所选号码与开奖号码的百位、十位、个位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：选择12（展开为xx122，xx212，xx221 和 xx112、xx121、xx211），开奖号码为xx212 或 xx121，即为中奖。</li>
			<li><span class="li-head">后三组选组六</span><p>玩法说明</p>从0-9中任意选择3个号码组成一注，所选号码与开奖号码的百位、十位、个位相同，顺序不限，即为中奖。<p>中奖举例</p>投注方案：选择123（展开为xx123，xx132，xx231，xx213，xx312，xx321），开奖号码为xx321，即为中奖。</li>
			<li><span class="li-head">后三组选和值</span><p>玩法说明</p>所选数值等于开奖号码百位、十位、个位三个数字相加之和，即为中奖，若开奖号码为豹子号视为不中奖。<p>中奖举例</p>投注方案：选择6，开奖号码为xx114中组三奖，开奖号码为xx015中组六奖。</li>
			<li><span class="li-head">后三混合组选</span><p>玩法说明</p>手动输入购买号码，3个数字为一注，开奖号码的百位、十位、个位符合前三的组三或组六均为中奖。<p>中奖举例</p>投注方案：手动输入123、455，开奖号码为xx321即中组六奖，开奖号码为xx545即中组三奖。</li>
			<li><span class="li-head">后三组选包胆</span><p>玩法说明</p>从0-9中任意选择一个包胆号码，开奖号码的百位、十位、个位中任意一位与所选包胆号码相同（不含豹子号）即中奖。<p>中奖举例</p>投注方案：选择3，开奖号码为xx3xx，xxx3x，xxxx3即为中奖。</li>
			<li><span class="li-head">前三和值尾数</span><p>玩法说明</p>从0-9中任意选择一个尾数号码，开奖号码的万、千、百位上的数字之和的尾数与所选号码相同即中奖。<p>中奖举例</p>投注方案：选择5，开奖号码为45678，即为中奖。</li>
			<li><span class="li-head">前三特殊号码</span><p>玩法说明</p>选择豹子、顺子、对子中的一个号码形态进行下注，开奖号码的万、千、百位的形态与所选形态相符即中奖。<p>中奖举例</p>投注方案：选择顺子，开奖号码为12369，即为中奖。</li>
			<li><span class="li-head">中三和值尾数</span><p>玩法说明</p>从0-9中任意选择一个尾数号码，开奖号码的千、百、十位上的数字之和的尾数与所选号码相同即中奖。<p>中奖举例</p>投注方案：选择5，开奖号码为14568，即为中奖。</li>
			<li><span class="li-head">中三特殊号码</span><p>玩法说明</p>选择豹子、顺子、对子中的一个号码形态进行下注，开奖号码的千、百、十位的形态与所选形态相符即中奖。<p>中奖举例</p>投注方案：选择豹子，开奖号码为13339，即为中奖。</li>
			<li><span class="li-head">后三和值尾数</span><p>玩法说明</p>从0-9中任意选择一个尾数号码，开奖号码的百、十、个位上的数字之和的尾数与所选号码相同即中奖。<p>中奖举例</p>投注方案：选择1，开奖号码为45678，即为中奖。</li>
			<li><span class="li-head">后三特殊号码</span><p>玩法说明</p>选择豹子、顺子、对子中的一个号码形态进行下注，开奖号码的百、十、个位的形态与所选形态相符即中奖。<p>中奖举例</p>投注方案：选择对子，开奖号码为12366，即为中奖。</li>
			<li><span class="li-head">前三一码不定位</span><p>玩法说明</p>从0-9中选择1个号码组成一注，只要开奖号码的万、千、百位中包含所选号码，即为中奖。<p>中奖举例</p>投注方案：选择一码不定位4，开出4xxxx、x4xxx、xx4xx即为中奖。</li>
			<li><span class="li-head">前三二码不定位</span><p>玩法说明</p>从0-9中选择2个不同号码组成一注，开奖号码的万、千、百位中同时包含所选的2个号码，即为中奖。<p>中奖举例</p>投注方案：选择二码不定位4、5，开奖号码为45xxx、5x4xx、x54xx即为中奖。</li>
			<li><span class="li-head">后三一码不定位</span><p>玩法说明</p>从0-9中选择1个号码组成一注，只要开奖号码的百、十、个位中包含所选号码，即为中奖。<p>中奖举例</p>投注方案：选择一码不定位4，开出xx4xx、xxx4x、xxxx4即为中奖。</li>
			<li><span class="li-head">后三二码不定位</span><p>玩法说明</p>从0-9中选择2个不同号码组成一注，开奖号码的百、十、个位中同时包含所选的2个号码，即为中奖。<p>中奖举例</p>投注方案：选择二码不定位4、5，开奖号码为xxx45、xx5x4、xxx54即为中奖。</li>
			<li><span class="li-head">前四一码不定位</span><p>玩法说明</p>从0-9中选择1个号码组成一注，只要开奖号码的万、千、百、十位中包含所选号码，即为中奖。<p>中奖举例</p>投注方案：选择一码不定位4，开出4xxxx、x4xxx、xx4xx、xxx4x即为中奖。</li>
			<li><span class="li-head">前四二码不定位</span><p>玩法说明</p>从0-9中选择2个不同号码组成一注，开奖号码的万、千、百、十位中同时包含所选的2个号码，即为中奖。<p>中奖举例</p>投注方案：选择二码不定位4、5，开奖号码为45xxx、5x4xx、x54xx、xx45x即为中奖。</li>
			<li><span class="li-head">后四一码不定位</span><p>玩法说明</p>从0-9中选择1个号码组成1注，只要开奖号码的千、百、十、个位中包含所选号码，即为中奖。<p>中奖举例</p>投注方案：选择一码不定位4，开出x4xxx、xx4xx、xxx4x、xxxx4即为中奖。</li>
			<li><span class="li-head">后四二码不定位</span><p>玩法说明</p>从0-9中选择2个不同号码组成一注，开奖号码的千、百、十、个位中同时包含所选的2个号码，即为中奖。<p>中奖举例</p>投注方案：选择二码不定位4、5，开奖号码为x45xx、x5x4x、xxx54即为中奖。</li>
			<li><span class="li-head">五星一码不定位</span><p>玩法说明</p>从0-9中选择1个号码组成一注，只要开奖号码的万、千、百、十、个位中包含所选号码，即为中奖。<p>中奖举例</p>投注方案：选择一码不定位4，开出4xxxx、x4xxx、xx4xx、xxx4x、xxxx4即为中奖。</li>
			<li><span class="li-head">五星二码不定位</span><p>玩法说明</p>从0-9中选择2个不同号码组成一注，开奖号码的万、千、百、十、个位中同时包含所选的2个号码，即为中奖。<p>中奖举例</p>投注方案：选择二码不定位4、5，开奖号码为45xxx、5x4xx、x54xx、xx45x、xxxx54即为中奖。</li>
			<li><span class="li-head">五星三码不定位</span><p>玩法说明</p>从0-9中选择3个不同号码组成一注，开奖号码的万、千、百、十、个位中同时包含所选的3个号码，即为中奖。<p>中奖举例</p>投注方案：选择三码不定位4、5、6，开奖号码为456xx、5x4x6、x546x、xx456即为中奖。</li>
			<li><span class="li-head">前二直选复式</span><p>玩法说明</p>从万位和千位上至少各选1个号码，所选号码与开奖号码的万位、千位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：万位选择3，千位选择4，开出34xxx即为中奖。</li>
			<li><span class="li-head">前二直选单式</span><p>玩法说明</p>手动输入一个2位数号码组成一注，所选号码与开奖号码的万位、千位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：手动输入12，开奖号码为是12xxx，即为中奖。</li>
			<li><span class="li-head">前二直选和值</span><p>玩法说明</p>所选数值等于开奖号码的万位、千位两个数字相加之和即为中奖。<p>中奖举例</p>投注方案：和值6，开奖号码前两位06或者60，即为中奖</li>
			<li><span class="li-head">前二直选跨度</span><p>玩法说明</p>所选数值等于开奖号码的万位、千位两个数字相减之差即为中奖。<p>中奖举例</p>投注方案：跨度2，开奖号码前两位为13、24、35等任意一个跨度为2的值即中奖。</li>
			<li><span class="li-head">前二组选复式</span><p>玩法说明</p>从0-9中选2个号码组成一注，所选号码与开奖号码的万位、千位相同，顺序不限，即为中奖（不含对子号）。<p>中奖举例</p>投注方案：选择7、8，开奖号码78xxx或87xxx，即为中奖。</li>
			<li><span class="li-head">前二组选单式</span><p>玩法说明</p>手动输入号码，2个数字为一注，所选号码与开奖号码的万位、千位相同，顺序不限，即为中奖（不含对子号）。<p>中奖举例</p>投注方案：手动输入12，开奖号码为是21xxx或12xxx，即为中奖。</li>
			<li><span class="li-head">前二组选和值</span><p>玩法说明</p>所选数值等于开奖号码的万位、千位两个数字相加之和（不含对子号）即为中奖。<p>中奖举例</p>投注方案：和值8；，开奖号码前二位08或者80（顺序不限，不含对子号），即为中奖。</li>
			<li><span class="li-head">前二组选包胆</span><p>玩法说明</p>从0-9中任意选择一个包胆号码，开奖号码的万位、千位中任意一位与所选包胆号码相同（不含对子号）即中奖。<p>中奖举例</p>投注方案：选择3，开奖号码为x3xxx，3xxxx即为中奖。</li>
			<li><span class="li-head">后二直选复式</span><p>玩法说明</p>从十位和个位上至少各选1个号码，所选号码与开奖号码的十位、个位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：十位选择3，个位现在4，开奖号码为xxx34，即为中奖。</li>
			<li><span class="li-head">后二直选单式</span><p>玩法说明</p>手动输入一个2位数号码组成一注，所选号码与开奖号码的十位、个位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：手动输入12，开奖号码为是xxx12，即为中奖。</li>
			<li><span class="li-head">后二直选和值</span><p>玩法说明</p>所选数值等于开奖号码的十位、个位两个数字相加之和即为中奖。<p>中奖举例</p>投注方案：和值6，开奖号码后两位06或者60，即为中奖。</li>
			<li><span class="li-head">后二直选跨度</span><p>玩法说明</p>所选数值等于开奖号码的十位、个位两个数字相减之差即为中奖。<p>中奖举例</p>投注方案：跨度2，开奖号码后两位为13、24、35等任意一个跨度为2的值即中奖。</li>
			<li><span class="li-head">后二组选复式</span><p>玩法说明</p>从0-9中选2个号码组成一注，所选号码与开奖号码的十位、个位相同，顺序不限，即为中奖（不含对子号）。<p>中奖举例</p>投注方案：选择7、8，开奖号码xxx78或xxx87即为中奖。</li>
			<li><span class="li-head">后二组选单式</span><p>玩法说明</p>手动输入号码，2个数字为一注，所选号码与开奖号码的十位、个位相同，顺序不限，即为中奖（不含对子号）。<p>中奖举例</p>投注方案：手动输入12，开奖号码为是xxx21或者xxx12，即为中奖。</li>
			<li><span class="li-head">后二组选和值</span><p>玩法说明</p>所选数值等于开奖号码的十位、个位两个数字相加之和（不含对子号）即为中奖。<p>中奖举例</p>投注方案：和值8，开奖号码后二位08或者80（顺序不限，不含对子号），即为中奖。</li>
			<li><span class="li-head">后二组选包胆</span><p>玩法说明</p>从0-9中任意选择一个包胆号码，开奖号码的十位、个位中任意一位与所选包胆号码相同（不含对子号）即中奖。<p>中奖举例</p>投注方案：选择5，开奖号码为xxxx5，xxx5x即为中奖。</li>
			<li><span class="li-head">定位胆</span><p>玩法说明</p>从万、千、百、十、个位任意1个或多个位置上选择1个号码，所选号码与相同位置上的开奖号码一致，即为中奖。<p>中奖举例</p>投注方案：定万位为1，开奖号码为1xxxx即为中奖。</li>
			<li><span class="li-head">前二大小单双</span><p>玩法说明</p>对万位和千位的“大（56789）小（01234）、单双”进行购买，所选号码的位置、形态与开奖号码相同，即为中奖。<p>中奖举例</p>投注方案：万位选择大，千位选择单，开出63xxx即为中奖。</li>
			<li><span class="li-head">后二大小单双</span><p>玩法说明</p>对十位和个位的“大（56789）小（01234）、单双”进行购买，所选号码的位置、形态与开奖号码相同，即为中奖。<p>中奖举例</p>投注方案：十位选择小，个位选择双，开出xxx12即为中奖。</li>
			<li><span class="li-head">前三大小单双</span><p>玩法说明</p>对万、千和百位的“大（56789）小（01234）、单双”进行购买，所选号码的位置、形态与开奖号码相同，即为中奖。<p>中奖举例</p>投注方案：万位选择大，千位选择单，百位选择小，开出631xx即为中奖。</li>
			<li><span class="li-head">后三大小单双</span><p>玩法说明</p>对百、十和个位的“大（56789）小（01234）、单双”进行购买，所选号码的位置、形态与开奖号码相同，即为中奖。<p>中奖举例</p>投注方案：百位选择双，十位选择小，个位选择双，开出xx812即为中奖。</li>
			<li><span class="li-head">一帆风顺</span><p>玩法说明</p>从0-9中任意选择1个号码组成一注，只要开奖号码的万, 千,百, 十, 个位中包含所选号码，即为中奖。<p>中奖举例</p>投注方案：投注方案：8，至少出现1个8，即中一帆风顺。</li>
			<li><span class="li-head">好事成双</span><p>玩法说明</p>从0-9中任意选择1个号码组成一注，只要所选号码在开奖号码的万, 千, 百, 十, 个位中出现2次，即为中奖。<p>中奖举例</p>投注方案：投注方案：8；至少出现2个8，即中好事成双。</li>
			<li><span class="li-head">三星报喜</span><p>玩法说明</p>从0-9中任意选择1个号码组成一注，只要所选号码在开奖号码的万, 千, 百, 十, 个位中出现3次, 即为中奖。<p>中奖举例</p>投注方案：投注方案：8：开奖号码，三重号，即中三星报喜。</li>
			<li><span class="li-head">四季发财</span><p>玩法说明</p>从0-9中任意选择1个号码组成一注，只要所选号码在开奖号码的万, 千, 百, 十, 个位中出现4次, 即为中奖。<p>中奖举例</p>投注方案：投注方案：8；至少出现4个8， 即为四季发财。</li>
			<li><span class="li-head">任二直选复式</span><p>玩法说明</p>从万、千、百、十、个位中至少两位上各选至少一个号码组成一注，所选号码与开奖号码按位相同且顺序一致即中奖。<p>中奖举例</p>投注方案：万位5，百位8，开奖号码5x8xx，即中任二直选复式。</li>
			<li><span class="li-head">任二直选单式</span><p>玩法说明</p>从万、千、百、十、个位中至少选择两个位置，输入一个两位数号码构成一注，所选号码与开奖号码按位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、百位，输入号码58   开奖号码：5x8xx，即中任二直选单式。</li>
			<li><span class="li-head">任二直选和值</span><p>玩法说明</p>从万、千、百、十、个位中至少选择两个位置，至少选择一个和值号码构成一注，所选号码与开奖号码的和值相同，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、百位，选择和值号码13   开奖号码：5x8xx，即中任二直选和值。</li>
			<li><span class="li-head">任二组选复式</span><p>玩法说明</p>从万、千、百、十、个位中至少选择两个位置，至少选择两个号码构成一注，所选号码与开奖号码按位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、百位，选择号码85   开奖号码：5x8xx或者8x5xx，即中任二组选复式。</li>
			<li><span class="li-head">任二组选单式</span><p>玩法说明</p>从万、千、百、十、个位中至少选择两个位置，输入一个两位数号码构成一注，所选号码与开奖号码按位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、百位，输入号码58   开奖号码：5x8xx，即中任二直选单式。</li>
			<li><span class="li-head">任二组选和值</span><p>玩法说明</p>从万、千、百、十、个位中至少选择两个位置，至少选择一个和值号码构成一注，所选号码与开奖号码的和值相同，即为中奖（不包含对子号）。<p>中奖举例</p>投注方案：位置选择万位、百位，选择和值号码13   开奖号码：5x8xx，即中任二组选和值。</li>
			<li><span class="li-head">任三直选复式</span><p>玩法说明</p>从万、千、百、十、个位中至少三位上各选1个号码组成一注，所选号码与开奖号码按位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：万位1，十位7，个位2  开奖号码：1xx72，即中任三直选复式。</li>
			<li><span class="li-head">任三直选单式</span><p>玩法说明</p>从万、千、百、十、个位中至少选择三个位置，输入一个三位数号码构成一注，所选号码与开奖号码按位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、百位、个位，输入号码582   开奖号码：5x8x2，即中任三直选单式。</li>
			<li><span class="li-head">任三直选和值</span><p>玩法说明</p>从万、千、百、十、个位中至少选择三个位置，至少选择一个和值号码构成一注，所选号码与开奖号码的和值相同，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、百位、个位，选择和值号码15   开奖号码：5x8x2，即中任三直选和值。</li>
			<li><span class="li-head">任三组三复式</span><p>玩法说明</p>从万、千、百、十、个位中至少选择三个位置，至少选择两个号码构成两注，所选号码与开奖号码按位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、十位、个位，选择号码12   开奖号码：1xx12，即中任三组三复式。</li>
			<li><span class="li-head">任三组三单式</span><p>玩法说明</p>从万、千、百、十、个位中至少选择三个位置，输入两个同号一个单号构成一注，所选号码与开奖号码按位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、十位、个位，选择号码12   开奖号码：1xx12，即中任三组三单式。</li>
			<li><span class="li-head">任三组六复式</span><p>玩法说明</p>从万、千、百、十、个位中至少选择三个位置，至少选择三个号码构成一注，所选号码与开奖号码按位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、十位、个位，选择号码512   开奖号码：5xx12，即中任三组六复式。</li>
			<li><span class="li-head">任三组六单式</span><p>玩法说明</p>从万、千、百、十、个位中至少选择三个位置，输入至少三个号码构成一注，所选号码与开奖号码按位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、十位、个位，选择号码512   开奖号码：5xx12，即中任三组六单式。</li>
			<li><span class="li-head">任三混合组选</span><p>玩法说明</p>从万、千、百、十、个位中至少选择三个位置，输入至少三个号码构成一注（不包含豹子号），所选号码与开奖号码按位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、十位、个位，输入号码512   开奖号码：5xx12，即中任三混合组选。</li>
			<li><span class="li-head">任三组选和值</span><p>玩法说明</p>从万、千、百、十、个位中至少选择三个位置，至少选择一个和值号码构成一注，所选号码与开奖号码的和值（不包含豹子号）相同，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、十位、个位，选择和值号码8   开奖号码：5xx12，即中任三组选和值。</li>
			<li><span class="li-head">任四直选复式</span><p>玩法说明</p>从万、千、百、十、个位中至少四位上各选1个号码组成一注，所选号码与开奖号码按位相同，且顺序一致，即为中奖。<p>中奖举例</p>投注方案：万位5，千位1、百位8，十位1   开奖号码：5181x，即中任四直选。</li>
			<li><span class="li-head">任四直选单式</span><p>玩法说明</p>从万、千、百、十、个位中至少选择四个位置，输入一个四位数的号码构成一注，所选号码与开奖号码按位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择万位、百位、个位，输入号码5181x，开奖号码：51812，即中任四直选（单式）。</li>
			<li><span class="li-head">任四组选24</span><p>玩法说明</p>从万、千、百、十、个位中至少选择四个位置，至少选择四个号码构成一注，所选号码与开奖号码按位相同，且顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择千位、百位、十位、个位，号码选择0568，开奖号码：10568（指定位置号码顺序不限），即中任四组选24。</li>
			<li><span class="li-head">任四组选12</span><p>玩法说明</p>从万、千、百、十、个位中至少选择四个位置，“二重号”选择一个号码，“单号”选择两个号码组成一注，所选号码与开奖号码按位相同，顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择千位、百位、十位、个位，二重号:8：06，开奖号码：x0688（指定位置号码顺序不限），即中任四组选12。</li>
			<li><span class="li-head">任四组选6</span><p>玩法说明</p>从万、千、百、十、个位中至少选择四个位置，“二重号”选择两个号码组成一注，所选号码与开奖号码按位相同，顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择千位、百位、十位、个位，二重号:28   开奖号码：x2288（指定位置号码顺序不限），即中任四组选6。</li>
			<li><span class="li-head">任四组选4</span><p>玩法说明</p>从万、千、百、十、个位中至少选择四个位置，“三重号”选择一个号码，“单号”选择一个号码组成一注，所选号码与开奖号码按位相同，顺序不限，即为中奖。<p>中奖举例</p>投注方案：位置选择千位、百位、十位、个位，三重号:8：单号2   开奖号码：x8828（指定位置号码顺序不限），即中任四组选4。</li>
            </ul>
    </div>
</template>
