<template>
    <div >
            <h1>重庆幸运农场</h1>
            <ul>
<li>营业时间为北京上午10：03至晚上02：03,每期间隔10分锺,共97期。</li>
<li><span class="li-head">选一数投</span><p>玩法说明</p>指从01至18中任意选择1个数字号码，对开奖号码中按开奖顺序出现的第一个位置的投注。<p>中奖举例</p>投注号码与开奖号码中按开奖顺序出现的第一个位置数字号码相符，即中奖。</li>
<li><span class="li-head">选一红投</span><p>玩法说明</p>指从19和20两个红色号码中任意选择1个红色号码，对开奖号码中按开奖顺序出现的第一个位置的投注。<p>中奖举例</p>投注号码与开奖号码中按开奖顺序出现的第一个位置为红色号码，即中奖。</li>
<li><span class="li-head">选二任选</span><p>玩法说明</p>指从01至20中任意选择2个号码对开奖号码中任意2个位置的投注。<p>中奖举例</p>投注号码与开奖号码中任意2个位置的号码相符，即中奖。</li>
<li><span class="li-head">选二连组</span><p>玩法说明</p>指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置的投注。<p>中奖举例</p>投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码相符（顺序不限），即中奖。</li>
<li><span class="li-head">选二连直</span><p>玩法说明</p>指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置按位相符的投注。<p>中奖举例</p>投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码按位相符，即中奖。</li>
<li><span class="li-head">选三任选</span><p>玩法说明</p>指从01至20中任意选择3个号码对开奖号码中任意3个位置的投注。<p>中奖举例</p>投注号码与开奖号码中任意3个位置的号码相符，即中奖。</li>
<li><span class="li-head">选三前组</span><p>玩法说明</p>指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置的投注。<p>中奖举例</p>投注号码与开奖号码中按开奖顺序出现的前3个位置的号码相符（顺序不限），即中奖。</li>
<li><span class="li-head">选三前直</span><p>玩法说明</p>指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置按位相符的投注。<p>中奖举例</p>投注号码与开奖号码中按开奖顺序出现的前3个位置的号码按位相符，即中奖。</li>
<li><span class="li-head">选四任选</span><p>玩法说明</p>指从01至20中任意选择4个号码，对开奖号码中任意4个位置的投注。<p>中奖举例</p>投注号码与开奖号码中任意4个位置的号码相符，即中奖。</li>
<li><span class="li-head">选五任选</span><p>玩法说明</p>指从01至20中任意选择5个号码，对开奖号码中任意5个位置的投注。<p>中奖举例</p>投注号码与开奖号码中任意5个位置的号码相符，即中奖。</li>
            </ul>
    </div>
</template>
