<template>
    <HomePage type="tab-composite-view" class="tabs-basic-view" title="tab-composite">
        <div slot="content">
            <cube-view></cube-view>
        </div>
    </HomePage>
</template>

<script type="text/ecmascript-6">
  import HomePage from '@/components/home-page.vue'
  import CubeView from '@/components/cube-view.vue'
  import { mapGetters } from "vuex";
  import { globalMixin } from '@/mixin.js';
  export default {
    mixins: [globalMixin],
    data() {
        return {
        }
    },
    methods: {
    },
    mount()
    {
    },
    components: {
        CubeView,
        HomePage
    },
    computed: {
		...mapGetters({
          mapByType: "mapByType",
          user: "user",
        }),
    },
    created() {
        if(!Object.keys(this.mapByType).length)
        {
            this.$store.dispatch('setType');
        }  
        this.$store.dispatch('getCoin');
    },
  }
</script>
<style lang="stylus" rel="stylesheet/stylus">
@import '~assets/css/default.styl'
</style>