<template>
    <div class="side-bar">
        <div class="keyboard_block2" @click.stop='hide()'></div>
        <div class="keyboard_block" @click.stop='hide()'></div>
        <cube-scroll  ref="scroll" style="background: #fff;">
            <div>
                <div class="menu-block">
                    <div class="side-body">
                        <div class="menu-group" @click="getMenu('g-'+item.id)" v-for="(item,index) in Groups" :key="index" :data-id="item.id" :ref="'g-'+item.id"
                        :class="{'checked':item.checked}"
                        >
                            {{item.groupName}}
                        </div>
                    </div>
                </div>
                <div class="menu-block menu-block2" >
                    <div class="side-body">
                        <div class="menu-group" @click="getPlay('p-'+item.id,item.id)" v-for="(item) in Plays" :key="item.id" :data-id="item.id" :ref="'p-'+item.id"
                        :class="{'checked':item.checked}"
                        >
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>
        </cube-scroll>        
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
    data() {
        return {
            targetMenu:null,
            targetPMenu:[],
            selectMenu:'',
        }
    },  
    props:{
        options: {
            type: Object,
            default() {
            return {}
            }
        }
    },
    computed: {
		...mapGetters({
            user: "user",
            mapByGroup: "mapByGroup",
            mapByPlay: "mapByPlay",
            mapByGroupToPlay: "mapByGroupToPlay",
        }),
        Groups()
        {
            let Data = [];
            let checked=false;
            for(var key in this.mapByGroup[this.options.group_type])
            {
                checked=false;
                // 設定預設玩法
                if(this.targetMenu==null)
                {
                    if(this.mapByGroup[this.options.group_type][key].id==this.options.gplayedId)
                    {
                        checked=true;
                    }else
                    {
                        checked=false;
                    }
                }
                Data.push({
                    "id":this.mapByGroup[this.options.group_type][key].id,
                    "groupName":this.mapByGroup[this.options.group_type][key].groupName,
                    "checked":checked,
                });
            }
            return Data;
        },
        Plays()
        {
            if(this.selectMenu == '')
            {
                return [];
            }
            let Data = [];
            let checked=false;
            for(var key in this.mapByGroupToPlay[this.selectMenu])
            {
                if(this.targetPMenu[this.selectMenu] && this.targetPMenu[this.selectMenu]=="p-"+this.mapByGroupToPlay[this.selectMenu][key].id)
                {
                    checked=true;
                }else
                {
                    checked=false;
                }
                // 設定預設玩法
                if(this.targetMenu==null)
                {
                    if(this.mapByGroupToPlay[this.options.gplayedId][key].id==this.options.playedId)
                    {
                        checked=true;
                    }else
                    {
                        checked=false;
                    }
                }
                Data.push({
                    "id":this.mapByGroupToPlay[this.selectMenu][key].id,
                    "name":this.mapByGroupToPlay[this.selectMenu][key].name,
                    "sort":this.mapByGroupToPlay[this.selectMenu][key].sort,
                    "checked":checked,
                });
            }
            Data = Data.sort(function (a, b) {
                return a.sort > b.sort ? 1 : -1;
            });
            return Data;
        }
    },
    created() {
        if(this.targetMenu==null)
        {
            this.selectMenu = this.options.gplayedId;
        }
    },
    methods: {
        getPlay(ref,id)
        {
            let target=this.$refs[ref][0];
            let str=target.className;
            if(this.targetPMenu[this.selectMenu])
            {
                let old_ref = this.targetPMenu[this.selectMenu];
                if(old_ref != ref)
                {
                    this.$refs[old_ref][0].className = this.$refs[old_ref][0].className.replace(" checked", "");
                }else
                {
                    return;
                }
            }
            this.targetPMenu=[];
            this.targetPMenu[this.selectMenu] = ref;
            target.className = str+" checked";
            this.$emit('closePlayed',id);
            return;
        },
        hide(){
            this.$emit('callback',0);
        },
        getMenu(ref){
            let target=this.$refs[ref][0];
            let str=target.className;
            if(this.targetMenu)
            {
                if(this.targetMenu != target)
                {
                    this.targetMenu.className = this.targetMenu.className.replace(" checked", "");
                }else
                {
                    return;
                }
            }
            this.targetMenu = target;
            target.className = str+" checked";
            this.selectMenu = target.dataset.id;
            return;
        },
    },

}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.side-bar
    position: fixed; 
    bottom: 150px;
    top: 45px;
    right: 0px;
    left: 0px;
    overflow:hidden;
    z-index: 10000;
    background-color : #fff
    box-shadow: 0 1px 6px #ccc;
    .menu-block
        margin: 8px 2px;
    .menu-block2
        clear: both;
        border-top: 1px #ddd dashed;
    ul
        list-style: none;
    ul>li
        width: 120px;
        text-align: center;
        line-height: 35px;
        font-size: 1rem;
        border-bottom: 1px #eee solid;
        padding: 3px;
    .keyboard_block
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    .keyboard_block2
        position: fixed;
        bottom: 0;
        top: 45px;
        left: 0;
        width: 100%;
        z-index: -1;
        background: rgba(0,0,0,.2);
    .side-body
        z-index: 10000;
        padding: 8px;
        .menu-group
            float: left;
            width: 29%;
            border: 1px #ddd solid;
            font-size: 0.9rem;
            margin: 5px 2px;
            border-radius: 5px;
            padding: 10px 3px;
            text-align: center;
        .checked
            background-color: rgba(102,177,255,0.1);
            border: 1px solid #66b1ff;
</style>
