<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
                <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">两面</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[0]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col3 name" data-id="5958">{{mapByPlay[5958].name}} <span class="pl">{{mapByPlay[5958].bp | numFilter}}</span></td>
                                <td colspan="3" class="col3 name" data-id="5959">{{mapByPlay[5959].name}} <span class="pl">{{mapByPlay[5959].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5960">{{mapByPlay[5960].name}} <span class="pl">{{mapByPlay[5960].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5961">{{mapByPlay[5961].name}} <span class="pl">{{mapByPlay[5961].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5962">{{mapByPlay[5962].name}} <span class="pl">{{mapByPlay[5962].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5963">{{mapByPlay[5963].name}} <span class="pl">{{mapByPlay[5963].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5964">{{mapByPlay[5964].name}} <span class="pl">{{mapByPlay[5964].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5965">{{mapByPlay[5965].name}} <span class="pl">{{mapByPlay[5965].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5966">{{mapByPlay[5966].name}} <span class="pl">{{mapByPlay[5966].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5967">{{mapByPlay[5967].name}} <span class="pl">{{mapByPlay[5967].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5968">{{mapByPlay[5968].name}} <span class="pl">{{mapByPlay[5968].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5969">{{mapByPlay[5969].name}} <span class="pl">{{mapByPlay[5969].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5970">{{mapByPlay[5970].name}} <span class="pl">{{mapByPlay[5970].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5971">{{mapByPlay[5971].name}} <span class="pl">{{mapByPlay[5971].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5972">{{mapByPlay[5972].name}} <span class="pl">{{mapByPlay[5972].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5973">{{mapByPlay[5973].name}} <span class="pl">{{mapByPlay[5973].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5974">{{mapByPlay[5974].name}} <span class="pl">{{mapByPlay[5974].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5975">{{mapByPlay[5975].name}} <span class="pl">{{mapByPlay[5975].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5976">{{mapByPlay[5976].name}} <span class="pl">{{mapByPlay[5976].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5977">{{mapByPlay[5977].name}} <span class="pl">{{mapByPlay[5977].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5978">{{mapByPlay[5978].name}} <span class="pl">{{mapByPlay[5978].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5979">{{mapByPlay[5979].name}} <span class="pl">{{mapByPlay[5979].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5980">{{mapByPlay[5980].name}} <span class="pl">{{mapByPlay[5980].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5981">{{mapByPlay[5981].name}} <span class="pl">{{mapByPlay[5981].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
    components: {
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

