<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
            <div class="game-title" >
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                    <div class="icon-title">平特尾数</div>
            </div>
            <transition name="playmenu">
                <div v-show="show[0]" class="play-menu">
                    <table>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6474">{{mapByPlay[6474].name}} <span class="pl">{{mapByPlay[6474].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6475">{{mapByPlay[6475].name}} <span class="pl">{{mapByPlay[6475].bp | numFilter}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6476">{{mapByPlay[6476].name}} <span class="pl">{{mapByPlay[6476].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6477">{{mapByPlay[6477].name}} <span class="pl">{{mapByPlay[6477].bp | numFilter}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6478">{{mapByPlay[6478].name}} <span class="pl">{{mapByPlay[6478].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6479">{{mapByPlay[6479].name}} <span class="pl">{{mapByPlay[6479].bp | numFilter}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6480">{{mapByPlay[6480].name}} <span class="pl">{{mapByPlay[6480].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6481">{{mapByPlay[6481].name}} <span class="pl">{{mapByPlay[6481].bp | numFilter}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6482">{{mapByPlay[6482].name}} <span class="pl">{{mapByPlay[6482].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6483">{{mapByPlay[6483].name}} <span class="pl">{{mapByPlay[6483].bp | numFilter}}</span></td>
                        </tr>
                    </table>
                    <div class="shadow"></div>
                </div>
            </transition>
         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
    components: {
    },
    methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>

</style>

