<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
            <div class="game-title" >
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                    <div class="icon-title">正肖</div>
            </div>
            <transition name="playmenu">
                <div v-show="show[0]" class="play-menu">
                    <table>
                        <tr>
                            <td class="col3 name page3" data-id="6484">
                                {{mapByPlay[6484].name}} <span class="pl pl-noblock">{{mapByPlay[6484].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6484].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6485">
                                {{mapByPlay[6485].name}} <span class="pl pl-noblock">{{mapByPlay[6485].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6485].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6486">
                                {{mapByPlay[6486].name}} <span class="pl pl-noblock">{{mapByPlay[6486].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6486].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6487">
                                {{mapByPlay[6487].name}} <span class="pl pl-noblock">{{mapByPlay[6487].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6487].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6488">
                                {{mapByPlay[6488].name}} <span class="pl pl-noblock">{{mapByPlay[6488].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6488].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6489">
                                {{mapByPlay[6489].name}} <span class="pl pl-noblock">{{mapByPlay[6489].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6489].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6490">
                                {{mapByPlay[6490].name}} <span class="pl pl-noblock">{{mapByPlay[6490].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6490].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6491">
                                {{mapByPlay[6491].name}} <span class="pl pl-noblock">{{mapByPlay[6491].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6491].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6492">
                                {{mapByPlay[6492].name}} <span class="pl pl-noblock">{{mapByPlay[6492].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6492].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6493">
                                {{mapByPlay[6493].name}} <span class="pl pl-noblock">{{mapByPlay[6493].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6493].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6494">
                                {{mapByPlay[6494].name}} <span class="pl pl-noblock">{{mapByPlay[6494].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6494].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col3 name page3" data-id="6495">
                                {{mapByPlay[6495].name}} <span class="pl pl-noblock">{{mapByPlay[6495].bp | numFilter}}</span>
                                <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6495].name]" :key="index">{{item}}</span>
                            </td>
                        </tr>
                    </table>
                    <div class="shadow"></div>
                </div>
            </transition>
         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
    components: {
    },
    methods: {
      red_color(num)
      {
            var key = "红";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      },
      blue_color(num)
      {
            var key = "蓝";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      },
      green_color(num)
      {
            var key = "绿";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.page3
    text-align:left !important;
    padding-left:10px  !important;
    line-height: 55px  !important;
.addbet:before
    bottom: -19px !important;
.addbet:after
    bottom: 0px  !important;
</style>

