<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
            <div class="game-title" >
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                    <div class="icon-title">七色波</div>
            </div>
            <transition name="playmenu">
                <div v-show="show[0]" class="play-menu">
                    <table>
                        <tr>
                            <td colspan="3" class="col2 pcdd_red name" data-id="6496">{{mapByPlay[6496].name}} <span class="pl">{{mapByPlay[6496].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 pcdd_blue name" data-id="6497">{{mapByPlay[6497].name}} <span class="pl">{{mapByPlay[6497].bp | numFilter}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 pcdd_green name" data-id="6498">{{mapByPlay[6498].name}} <span class="pl">{{mapByPlay[6498].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6499">{{mapByPlay[6499].name}} <span class="pl">{{mapByPlay[6499].bp | numFilter}}</span></td>
                        </tr>
                    </table>
                    <div class="shadow"></div>
                </div>
            </transition>
         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
    components: {
    },
    methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

