<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
            <div class="game-title" >
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                    <div class="icon-title">总肖</div>
            </div>
            <transition name="playmenu">
                <div v-show="show[0]" class="play-menu">
                    <table>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6500">{{mapByPlay[6500].name}} <span class="pl">{{mapByPlay[6500].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6501">{{mapByPlay[6501].name}} <span class="pl">{{mapByPlay[6501].bp | numFilter}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6502">{{mapByPlay[6502].name}} <span class="pl">{{mapByPlay[6502].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6503">{{mapByPlay[6503].name}} <span class="pl">{{mapByPlay[6503].bp | numFilter}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6504">{{mapByPlay[6504].name}} <span class="pl">{{mapByPlay[6504].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6505">{{mapByPlay[6505].name}} <span class="pl">{{mapByPlay[6505].bp | numFilter}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="col2 name" data-id="6506">{{mapByPlay[6506].name}} <span class="pl">{{mapByPlay[6506].bp | numFilter}}</span></td>
                            <td colspan="3" class="col2 name" data-id="6507">{{mapByPlay[6507].name}} <span class="pl">{{mapByPlay[6507].bp | numFilter}}</span></td>
                        </tr>
                    </table>
                    <div class="shadow"></div>
                </div>
            </transition>
         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
    components: {
    },
    methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

