<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">色波</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="5982">{{mapByPlay[5982].name}} <span class="pl">{{mapByPlay[5982].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_blue name" data-id="5983">{{mapByPlay[5983].name}} <span class="pl">{{mapByPlay[5983].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="5984">{{mapByPlay[5984].name}} <span class="pl">{{mapByPlay[5984].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(1)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[1]"></i><i class="cubeic-pulldown" v-show="!show[1]"></i></div>
                        <div class="icon-title">半波</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[1]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="5985">{{mapByPlay[5985].name}} <span class="pl">{{mapByPlay[5985].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_red name" data-id="5986">{{mapByPlay[5986].name}} <span class="pl">{{mapByPlay[5986].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_red name" data-id="5987">{{mapByPlay[5987].name}} <span class="pl">{{mapByPlay[5987].bp | numFilter}}</span></td>
                    </tr>                                      
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="5988">{{mapByPlay[5988].name}} <span class="pl">{{mapByPlay[5988].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_blue name" data-id="5989">{{mapByPlay[5989].name}} <span class="pl">{{mapByPlay[5989].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_blue name" data-id="5990">{{mapByPlay[5990].name}} <span class="pl">{{mapByPlay[5990].bp | numFilter}}</span></td>
                    </tr> 
                    <tr>
                        <td  class="col3 pcdd_blue name" data-id="5991">{{mapByPlay[5991].name}} <span class="pl">{{mapByPlay[5991].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_blue name" data-id="5992">{{mapByPlay[5992].name}} <span class="pl">{{mapByPlay[5992].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="5993">{{mapByPlay[5993].name}} <span class="pl">{{mapByPlay[5993].bp | numFilter}}</span></td>
                    </tr>                                      
                    <tr>
                        <td  class="col3 pcdd_green name" data-id="5994">{{mapByPlay[5994].name}} <span class="pl">{{mapByPlay[5994].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="5995">{{mapByPlay[5995].name}} <span class="pl">{{mapByPlay[5995].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="5996">{{mapByPlay[5996].name}} <span class="pl">{{mapByPlay[5996].bp | numFilter}}</span></td>
                    </tr> 
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(2)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[2]"></i><i class="cubeic-pulldown" v-show="!show[2]"></i></div>
                        <div class="icon-title">半半波</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[2]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="5997">{{mapByPlay[5997].name}} <span class="pl">{{mapByPlay[5997].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_red name" data-id="5998">{{mapByPlay[5998].name}} <span class="pl">{{mapByPlay[5998].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_red name" data-id="5999">{{mapByPlay[5999].name}} <span class="pl">{{mapByPlay[5999].bp | numFilter}}</span></td>
                    </tr>                                      
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="6000">{{mapByPlay[6000].name}} <span class="pl">{{mapByPlay[6000].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_blue name" data-id="6001">{{mapByPlay[6001].name}} <span class="pl">{{mapByPlay[6001].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_blue name" data-id="6002">{{mapByPlay[6002].name}} <span class="pl">{{mapByPlay[6002].bp | numFilter}}</span></td>
                    </tr> 
                    <tr>
                        <td  class="col3 pcdd_blue name" data-id="6003">{{mapByPlay[6003].name}} <span class="pl">{{mapByPlay[6003].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_blue name" data-id="6004">{{mapByPlay[6004].name}} <span class="pl">{{mapByPlay[6004].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="6005">{{mapByPlay[6005].name}} <span class="pl">{{mapByPlay[6005].bp | numFilter}}</span></td>
                    </tr>                                      
                    <tr>
                        <td  class="col3 pcdd_green name" data-id="6006">{{mapByPlay[6006].name}} <span class="pl">{{mapByPlay[6006].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="6007">{{mapByPlay[6007].name}} <span class="pl">{{mapByPlay[6007].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="6008">{{mapByPlay[6008].name}} <span class="pl">{{mapByPlay[6008].bp | numFilter}}</span></td>
                    </tr> 
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
            2:false,
        },
    };
  },
  methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

