<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">特肖</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td class="col3 name page3" data-id="6009">
                            {{mapByPlay[6009].name}} <span class="pl pl-noblock">{{mapByPlay[6009].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6009].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6010">
                            {{mapByPlay[6010].name}} <span class="pl pl-noblock">{{mapByPlay[6010].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6010].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6011">
                            {{mapByPlay[6011].name}} <span class="pl pl-noblock">{{mapByPlay[6011].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6011].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6012">
                            {{mapByPlay[6012].name}} <span class="pl pl-noblock">{{mapByPlay[6012].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6012].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6013">
                            {{mapByPlay[6013].name}} <span class="pl pl-noblock">{{mapByPlay[6013].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6013].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6014">
                            {{mapByPlay[6014].name}} <span class="pl pl-noblock">{{mapByPlay[6014].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6014].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6015">
                            {{mapByPlay[6015].name}} <span class="pl pl-noblock">{{mapByPlay[6015].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6015].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6016">
                            {{mapByPlay[6016].name}} <span class="pl pl-noblock">{{mapByPlay[6016].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6016].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6017">
                            {{mapByPlay[6017].name}} <span class="pl pl-noblock">{{mapByPlay[6017].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6017].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6018">
                            {{mapByPlay[6018].name}} <span class="pl pl-noblock">{{mapByPlay[6018].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6018].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6019">
                            {{mapByPlay[6019].name}} <span class="pl pl-noblock">{{mapByPlay[6019].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6019].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3 name page3" data-id="6020">
                            {{mapByPlay[6020].name}} <span class="pl pl-noblock">{{mapByPlay[6020].bp | numFilter}}</span>
                            <span class="balls2 balls3" style="margin-right: 3px;" :class="{'lhc_bg_red':red_color(item),'lhc_bg_blue':blue_color(item),'lhc_bg_green':green_color(item)}" v-for="(item , index) in ocs.zodiac[mapByPlay[6020].name]" :key="index">{{item}}</span>
                        </td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
  mixins: [globalMixin],
  data() {
    return {
        kk:true,
        show:{
            0:true,
        },
    };
  },
  methods: {
      red_color(num)
      {
            var key = "红";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      },
      blue_color(num)
      {
            var key = "蓝";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      },
      green_color(num)
      {
            var key = "绿";
            if(this.ocs.lhc_color[key].indexOf(num)!=-1)
            {
                return true;
            }
            return false;
      }

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.page3
    text-align:left !important;
    padding-left:10px  !important;
    line-height: 55px  !important;
.addbet:before
    bottom: -19px !important;
.addbet:after
    bottom: 0px  !important;
</style>

