<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">特码头尾</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3  name" data-id="6021">{{mapByPlay[6021].name}} <span class="pl">{{mapByPlay[6021].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6022">{{mapByPlay[6022].name}} <span class="pl">{{mapByPlay[6022].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6023">{{mapByPlay[6023].name}} <span class="pl">{{mapByPlay[6023].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3  name" data-id="6024">{{mapByPlay[6024].name}} <span class="pl">{{mapByPlay[6024].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6025">{{mapByPlay[6025].name}} <span class="pl">{{mapByPlay[6025].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6026">{{mapByPlay[6026].name}} <span class="pl">{{mapByPlay[6026].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3  name" data-id="6027">{{mapByPlay[6027].name}} <span class="pl">{{mapByPlay[6027].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6028">{{mapByPlay[6028].name}} <span class="pl">{{mapByPlay[6028].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6029">{{mapByPlay[6029].name}} <span class="pl">{{mapByPlay[6029].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3  name" data-id="6030">{{mapByPlay[6030].name}} <span class="pl">{{mapByPlay[6030].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6031">{{mapByPlay[6031].name}} <span class="pl">{{mapByPlay[6031].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6032">{{mapByPlay[6032].name}} <span class="pl">{{mapByPlay[6032].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3  name" data-id="6033">{{mapByPlay[6033].name}} <span class="pl">{{mapByPlay[6033].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6034">{{mapByPlay[6034].name}} <span class="pl">{{mapByPlay[6034].bp | numFilter}}</span></td>
                        <td  class="col3  name" data-id="6035">{{mapByPlay[6035].name}} <span class="pl">{{mapByPlay[6035].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

