<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">正一特</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6085"><span class="balls2 lhc_bg_red">{{mapByPlay[6085].name}}</span> <span class="pl">{{mapByPlay[6085].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6086"><span class="balls2 lhc_bg_red">{{mapByPlay[6086].name}}</span> <span class="pl">{{mapByPlay[6086].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6087"><span class="balls2 lhc_bg_blue">{{mapByPlay[6087].name}}</span> <span class="pl">{{mapByPlay[6087].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6088"><span class="balls2 lhc_bg_blue">{{mapByPlay[6088].name}}</span> <span class="pl">{{mapByPlay[6088].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6089"><span class="balls2 lhc_bg_green">{{mapByPlay[6089].name}}</span> <span class="pl">{{mapByPlay[6089].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6090"><span class="balls2 lhc_bg_green">{{mapByPlay[6090].name}}</span> <span class="pl">{{mapByPlay[6090].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6091"><span class="balls2 lhc_bg_red">{{mapByPlay[6091].name}}</span> <span class="pl">{{mapByPlay[6091].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6092"><span class="balls2 lhc_bg_red">{{mapByPlay[6092].name}}</span> <span class="pl">{{mapByPlay[6092].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6093"><span class="balls2 lhc_bg_blue">{{mapByPlay[6093].name}}</span> <span class="pl">{{mapByPlay[6093].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6094"><span class="balls2 lhc_bg_blue">{{mapByPlay[6094].name}}</span> <span class="pl">{{mapByPlay[6094].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6095"><span class="balls2 lhc_bg_green">{{mapByPlay[6095].name}}</span> <span class="pl">{{mapByPlay[6095].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6096"><span class="balls2 lhc_bg_red">{{mapByPlay[6096].name}}</span> <span class="pl">{{mapByPlay[6096].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6097"><span class="balls2 lhc_bg_red">{{mapByPlay[6097].name}}</span> <span class="pl">{{mapByPlay[6097].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6098"><span class="balls2 lhc_bg_blue">{{mapByPlay[6098].name}}</span> <span class="pl">{{mapByPlay[6098].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6099"><span class="balls2 lhc_bg_blue">{{mapByPlay[6099].name}}</span> <span class="pl">{{mapByPlay[6099].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6100"><span class="balls2 lhc_bg_green">{{mapByPlay[6100].name}}</span> <span class="pl">{{mapByPlay[6100].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6101"><span class="balls2 lhc_bg_green">{{mapByPlay[6101].name}}</span> <span class="pl">{{mapByPlay[6101].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6102"><span class="balls2 lhc_bg_red">{{mapByPlay[6102].name}}</span> <span class="pl">{{mapByPlay[6102].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6103"><span class="balls2 lhc_bg_red">{{mapByPlay[6103].name}}</span> <span class="pl">{{mapByPlay[6103].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6104"><span class="balls2 lhc_bg_blue">{{mapByPlay[6104].name}}</span> <span class="pl">{{mapByPlay[6104].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6105"><span class="balls2 lhc_bg_green">{{mapByPlay[6105].name}}</span> <span class="pl">{{mapByPlay[6105].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6106"><span class="balls2 lhc_bg_green">{{mapByPlay[6106].name}}</span> <span class="pl">{{mapByPlay[6106].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6107"><span class="balls2 lhc_bg_red">{{mapByPlay[6107].name}}</span> <span class="pl">{{mapByPlay[6107].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6108"><span class="balls2 lhc_bg_red">{{mapByPlay[6108].name}}</span> <span class="pl">{{mapByPlay[6108].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6109"><span class="balls2 lhc_bg_blue">{{mapByPlay[6109].name}}</span> <span class="pl">{{mapByPlay[6109].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6110"><span class="balls2 lhc_bg_blue">{{mapByPlay[6110].name}}</span> <span class="pl">{{mapByPlay[6110].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6111"><span class="balls2 lhc_bg_green">{{mapByPlay[6111].name}}</span> <span class="pl">{{mapByPlay[6111].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6112"><span class="balls2 lhc_bg_green">{{mapByPlay[6112].name}}</span> <span class="pl">{{mapByPlay[6112].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6113"><span class="balls2 lhc_bg_red">{{mapByPlay[6113].name}}</span> <span class="pl">{{mapByPlay[6113].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6114"><span class="balls2 lhc_bg_red">{{mapByPlay[6114].name}}</span> <span class="pl">{{mapByPlay[6114].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6115"><span class="balls2 lhc_bg_blue">{{mapByPlay[6115].name}}</span> <span class="pl">{{mapByPlay[6115].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6116"><span class="balls2 lhc_bg_green">{{mapByPlay[6116].name}}</span> <span class="pl">{{mapByPlay[6116].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6117"><span class="balls2 lhc_bg_green">{{mapByPlay[6117].name}}</span> <span class="pl">{{mapByPlay[6117].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6118"><span class="balls2 lhc_bg_red">{{mapByPlay[6118].name}}</span> <span class="pl">{{mapByPlay[6118].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6119"><span class="balls2 lhc_bg_red">{{mapByPlay[6119].name}}</span> <span class="pl">{{mapByPlay[6119].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6120"><span class="balls2 lhc_bg_blue">{{mapByPlay[6120].name}}</span> <span class="pl">{{mapByPlay[6120].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6121"><span class="balls2 lhc_bg_blue">{{mapByPlay[6121].name}}</span> <span class="pl">{{mapByPlay[6121].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6122"><span class="balls2 lhc_bg_green">{{mapByPlay[6122].name}}</span> <span class="pl">{{mapByPlay[6122].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6123"><span class="balls2 lhc_bg_green">{{mapByPlay[6123].name}}</span> <span class="pl">{{mapByPlay[6123].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6124"><span class="balls2 lhc_bg_red">{{mapByPlay[6124].name}}</span> <span class="pl">{{mapByPlay[6124].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6125"><span class="balls2 lhc_bg_blue">{{mapByPlay[6125].name}}</span> <span class="pl">{{mapByPlay[6125].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6126"><span class="balls2 lhc_bg_blue">{{mapByPlay[6126].name}}</span> <span class="pl">{{mapByPlay[6126].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6127"><span class="balls2 lhc_bg_green">{{mapByPlay[6127].name}}</span> <span class="pl">{{mapByPlay[6127].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6128"><span class="balls2 lhc_bg_green">{{mapByPlay[6128].name}}</span> <span class="pl">{{mapByPlay[6128].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6129"><span class="balls2 lhc_bg_red">{{mapByPlay[6129].name}}</span> <span class="pl">{{mapByPlay[6129].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6130"><span class="balls2 lhc_bg_red">{{mapByPlay[6130].name}}</span> <span class="pl">{{mapByPlay[6130].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6131"><span class="balls2 lhc_bg_blue">{{mapByPlay[6131].name}}</span> <span class="pl">{{mapByPlay[6131].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6132"><span class="balls2 lhc_bg_blue">{{mapByPlay[6132].name}}</span> <span class="pl">{{mapByPlay[6132].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6133"><span class="balls2 lhc_bg_green">{{mapByPlay[6133].name}}</span> <span class="pl">{{mapByPlay[6133].bp | numFilter}}</span></td>
                    </tr>                                    
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(1)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[1]"></i><i class="cubeic-pulldown" v-show="!show[1]"></i></div>
                        <div class="icon-title">正二特</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[1]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6147"><span class="balls2 lhc_bg_red">{{mapByPlay[6147].name}}</span> <span class="pl">{{mapByPlay[6147].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6148"><span class="balls2 lhc_bg_red">{{mapByPlay[6148].name}}</span> <span class="pl">{{mapByPlay[6148].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6149"><span class="balls2 lhc_bg_blue">{{mapByPlay[6149].name}}</span> <span class="pl">{{mapByPlay[6149].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6150"><span class="balls2 lhc_bg_blue">{{mapByPlay[6150].name}}</span> <span class="pl">{{mapByPlay[6150].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6151"><span class="balls2 lhc_bg_green">{{mapByPlay[6151].name}}</span> <span class="pl">{{mapByPlay[6151].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6152"><span class="balls2 lhc_bg_green">{{mapByPlay[6152].name}}</span> <span class="pl">{{mapByPlay[6152].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6153"><span class="balls2 lhc_bg_red">{{mapByPlay[6153].name}}</span> <span class="pl">{{mapByPlay[6153].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6154"><span class="balls2 lhc_bg_red">{{mapByPlay[6154].name}}</span> <span class="pl">{{mapByPlay[6154].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6155"><span class="balls2 lhc_bg_blue">{{mapByPlay[6155].name}}</span> <span class="pl">{{mapByPlay[6155].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6156"><span class="balls2 lhc_bg_blue">{{mapByPlay[6156].name}}</span> <span class="pl">{{mapByPlay[6156].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6157"><span class="balls2 lhc_bg_green">{{mapByPlay[6157].name}}</span> <span class="pl">{{mapByPlay[6157].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6158"><span class="balls2 lhc_bg_red">{{mapByPlay[6158].name}}</span> <span class="pl">{{mapByPlay[6158].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6159"><span class="balls2 lhc_bg_red">{{mapByPlay[6159].name}}</span> <span class="pl">{{mapByPlay[6159].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6160"><span class="balls2 lhc_bg_blue">{{mapByPlay[6160].name}}</span> <span class="pl">{{mapByPlay[6160].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6161"><span class="balls2 lhc_bg_blue">{{mapByPlay[6161].name}}</span> <span class="pl">{{mapByPlay[6161].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6162"><span class="balls2 lhc_bg_green">{{mapByPlay[6162].name}}</span> <span class="pl">{{mapByPlay[6162].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6163"><span class="balls2 lhc_bg_green">{{mapByPlay[6163].name}}</span> <span class="pl">{{mapByPlay[6163].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6164"><span class="balls2 lhc_bg_red">{{mapByPlay[6164].name}}</span> <span class="pl">{{mapByPlay[6164].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6165"><span class="balls2 lhc_bg_red">{{mapByPlay[6165].name}}</span> <span class="pl">{{mapByPlay[6165].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6166"><span class="balls2 lhc_bg_blue">{{mapByPlay[6166].name}}</span> <span class="pl">{{mapByPlay[6166].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6167"><span class="balls2 lhc_bg_green">{{mapByPlay[6167].name}}</span> <span class="pl">{{mapByPlay[6167].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6168"><span class="balls2 lhc_bg_green">{{mapByPlay[6168].name}}</span> <span class="pl">{{mapByPlay[6168].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6169"><span class="balls2 lhc_bg_red">{{mapByPlay[6169].name}}</span> <span class="pl">{{mapByPlay[6169].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6170"><span class="balls2 lhc_bg_red">{{mapByPlay[6170].name}}</span> <span class="pl">{{mapByPlay[6170].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6171"><span class="balls2 lhc_bg_blue">{{mapByPlay[6171].name}}</span> <span class="pl">{{mapByPlay[6171].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6172"><span class="balls2 lhc_bg_blue">{{mapByPlay[6172].name}}</span> <span class="pl">{{mapByPlay[6172].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6173"><span class="balls2 lhc_bg_green">{{mapByPlay[6173].name}}</span> <span class="pl">{{mapByPlay[6173].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6174"><span class="balls2 lhc_bg_green">{{mapByPlay[6174].name}}</span> <span class="pl">{{mapByPlay[6174].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6175"><span class="balls2 lhc_bg_red">{{mapByPlay[6175].name}}</span> <span class="pl">{{mapByPlay[6175].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6176"><span class="balls2 lhc_bg_red">{{mapByPlay[6176].name}}</span> <span class="pl">{{mapByPlay[6176].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6177"><span class="balls2 lhc_bg_blue">{{mapByPlay[6177].name}}</span> <span class="pl">{{mapByPlay[6177].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6178"><span class="balls2 lhc_bg_green">{{mapByPlay[6178].name}}</span> <span class="pl">{{mapByPlay[6178].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6179"><span class="balls2 lhc_bg_green">{{mapByPlay[6179].name}}</span> <span class="pl">{{mapByPlay[6179].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6180"><span class="balls2 lhc_bg_red">{{mapByPlay[6180].name}}</span> <span class="pl">{{mapByPlay[6180].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6181"><span class="balls2 lhc_bg_red">{{mapByPlay[6181].name}}</span> <span class="pl">{{mapByPlay[6181].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6182"><span class="balls2 lhc_bg_blue">{{mapByPlay[6182].name}}</span> <span class="pl">{{mapByPlay[6182].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6183"><span class="balls2 lhc_bg_blue">{{mapByPlay[6183].name}}</span> <span class="pl">{{mapByPlay[6183].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6184"><span class="balls2 lhc_bg_green">{{mapByPlay[6184].name}}</span> <span class="pl">{{mapByPlay[6184].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6185"><span class="balls2 lhc_bg_green">{{mapByPlay[6185].name}}</span> <span class="pl">{{mapByPlay[6185].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6186"><span class="balls2 lhc_bg_red">{{mapByPlay[6186].name}}</span> <span class="pl">{{mapByPlay[6186].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6187"><span class="balls2 lhc_bg_blue">{{mapByPlay[6187].name}}</span> <span class="pl">{{mapByPlay[6187].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6188"><span class="balls2 lhc_bg_blue">{{mapByPlay[6188].name}}</span> <span class="pl">{{mapByPlay[6188].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6189"><span class="balls2 lhc_bg_green">{{mapByPlay[6189].name}}</span> <span class="pl">{{mapByPlay[6189].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6190"><span class="balls2 lhc_bg_green">{{mapByPlay[6190].name}}</span> <span class="pl">{{mapByPlay[6190].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6191"><span class="balls2 lhc_bg_red">{{mapByPlay[6191].name}}</span> <span class="pl">{{mapByPlay[6191].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6192"><span class="balls2 lhc_bg_red">{{mapByPlay[6192].name}}</span> <span class="pl">{{mapByPlay[6192].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6193"><span class="balls2 lhc_bg_blue">{{mapByPlay[6193].name}}</span> <span class="pl">{{mapByPlay[6193].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6194"><span class="balls2 lhc_bg_blue">{{mapByPlay[6194].name}}</span> <span class="pl">{{mapByPlay[6194].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6195"><span class="balls2 lhc_bg_green">{{mapByPlay[6195].name}}</span> <span class="pl">{{mapByPlay[6195].bp | numFilter}}</span></td>
                    </tr>                                   
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(2)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[2]"></i><i class="cubeic-pulldown" v-show="!show[2]"></i></div>
                        <div class="icon-title">正三特</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[2]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6209"><span class="balls2 lhc_bg_red">{{mapByPlay[6209].name}}</span> <span class="pl">{{mapByPlay[6209].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6210"><span class="balls2 lhc_bg_red">{{mapByPlay[6210].name}}</span> <span class="pl">{{mapByPlay[6210].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6211"><span class="balls2 lhc_bg_blue">{{mapByPlay[6211].name}}</span> <span class="pl">{{mapByPlay[6211].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6212"><span class="balls2 lhc_bg_blue">{{mapByPlay[6212].name}}</span> <span class="pl">{{mapByPlay[6212].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6213"><span class="balls2 lhc_bg_green">{{mapByPlay[6213].name}}</span> <span class="pl">{{mapByPlay[6213].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6214"><span class="balls2 lhc_bg_green">{{mapByPlay[6214].name}}</span> <span class="pl">{{mapByPlay[6214].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6215"><span class="balls2 lhc_bg_red">{{mapByPlay[6215].name}}</span> <span class="pl">{{mapByPlay[6215].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6216"><span class="balls2 lhc_bg_red">{{mapByPlay[6216].name}}</span> <span class="pl">{{mapByPlay[6216].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6217"><span class="balls2 lhc_bg_blue">{{mapByPlay[6217].name}}</span> <span class="pl">{{mapByPlay[6217].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6218"><span class="balls2 lhc_bg_blue">{{mapByPlay[6218].name}}</span> <span class="pl">{{mapByPlay[6218].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6219"><span class="balls2 lhc_bg_green">{{mapByPlay[6219].name}}</span> <span class="pl">{{mapByPlay[6219].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6220"><span class="balls2 lhc_bg_red">{{mapByPlay[6220].name}}</span> <span class="pl">{{mapByPlay[6220].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6221"><span class="balls2 lhc_bg_red">{{mapByPlay[6221].name}}</span> <span class="pl">{{mapByPlay[6221].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6222"><span class="balls2 lhc_bg_blue">{{mapByPlay[6222].name}}</span> <span class="pl">{{mapByPlay[6222].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6223"><span class="balls2 lhc_bg_blue">{{mapByPlay[6223].name}}</span> <span class="pl">{{mapByPlay[6223].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6224"><span class="balls2 lhc_bg_green">{{mapByPlay[6224].name}}</span> <span class="pl">{{mapByPlay[6224].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6225"><span class="balls2 lhc_bg_green">{{mapByPlay[6225].name}}</span> <span class="pl">{{mapByPlay[6225].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6226"><span class="balls2 lhc_bg_red">{{mapByPlay[6226].name}}</span> <span class="pl">{{mapByPlay[6226].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6227"><span class="balls2 lhc_bg_red">{{mapByPlay[6227].name}}</span> <span class="pl">{{mapByPlay[6227].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6228"><span class="balls2 lhc_bg_blue">{{mapByPlay[6228].name}}</span> <span class="pl">{{mapByPlay[6228].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6229"><span class="balls2 lhc_bg_green">{{mapByPlay[6229].name}}</span> <span class="pl">{{mapByPlay[6229].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6230"><span class="balls2 lhc_bg_green">{{mapByPlay[6230].name}}</span> <span class="pl">{{mapByPlay[6230].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6231"><span class="balls2 lhc_bg_red">{{mapByPlay[6231].name}}</span> <span class="pl">{{mapByPlay[6231].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6232"><span class="balls2 lhc_bg_red">{{mapByPlay[6232].name}}</span> <span class="pl">{{mapByPlay[6232].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6233"><span class="balls2 lhc_bg_blue">{{mapByPlay[6233].name}}</span> <span class="pl">{{mapByPlay[6233].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6234"><span class="balls2 lhc_bg_blue">{{mapByPlay[6234].name}}</span> <span class="pl">{{mapByPlay[6234].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6235"><span class="balls2 lhc_bg_green">{{mapByPlay[6235].name}}</span> <span class="pl">{{mapByPlay[6235].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6236"><span class="balls2 lhc_bg_green">{{mapByPlay[6236].name}}</span> <span class="pl">{{mapByPlay[6236].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6237"><span class="balls2 lhc_bg_red">{{mapByPlay[6237].name}}</span> <span class="pl">{{mapByPlay[6237].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6238"><span class="balls2 lhc_bg_red">{{mapByPlay[6238].name}}</span> <span class="pl">{{mapByPlay[6238].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6239"><span class="balls2 lhc_bg_blue">{{mapByPlay[6239].name}}</span> <span class="pl">{{mapByPlay[6239].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6240"><span class="balls2 lhc_bg_green">{{mapByPlay[6240].name}}</span> <span class="pl">{{mapByPlay[6240].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6241"><span class="balls2 lhc_bg_green">{{mapByPlay[6241].name}}</span> <span class="pl">{{mapByPlay[6241].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6242"><span class="balls2 lhc_bg_red">{{mapByPlay[6242].name}}</span> <span class="pl">{{mapByPlay[6242].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6243"><span class="balls2 lhc_bg_red">{{mapByPlay[6243].name}}</span> <span class="pl">{{mapByPlay[6243].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6244"><span class="balls2 lhc_bg_blue">{{mapByPlay[6244].name}}</span> <span class="pl">{{mapByPlay[6244].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6245"><span class="balls2 lhc_bg_blue">{{mapByPlay[6245].name}}</span> <span class="pl">{{mapByPlay[6245].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6246"><span class="balls2 lhc_bg_green">{{mapByPlay[6246].name}}</span> <span class="pl">{{mapByPlay[6246].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6247"><span class="balls2 lhc_bg_green">{{mapByPlay[6247].name}}</span> <span class="pl">{{mapByPlay[6247].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6248"><span class="balls2 lhc_bg_red">{{mapByPlay[6248].name}}</span> <span class="pl">{{mapByPlay[6248].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6249"><span class="balls2 lhc_bg_blue">{{mapByPlay[6249].name}}</span> <span class="pl">{{mapByPlay[6249].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6250"><span class="balls2 lhc_bg_blue">{{mapByPlay[6250].name}}</span> <span class="pl">{{mapByPlay[6250].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6251"><span class="balls2 lhc_bg_green">{{mapByPlay[6251].name}}</span> <span class="pl">{{mapByPlay[6251].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6252"><span class="balls2 lhc_bg_green">{{mapByPlay[6252].name}}</span> <span class="pl">{{mapByPlay[6252].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6253"><span class="balls2 lhc_bg_red">{{mapByPlay[6253].name}}</span> <span class="pl">{{mapByPlay[6253].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6254"><span class="balls2 lhc_bg_red">{{mapByPlay[6254].name}}</span> <span class="pl">{{mapByPlay[6254].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6255"><span class="balls2 lhc_bg_blue">{{mapByPlay[6255].name}}</span> <span class="pl">{{mapByPlay[6255].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6256"><span class="balls2 lhc_bg_blue">{{mapByPlay[6256].name}}</span> <span class="pl">{{mapByPlay[6256].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6257"><span class="balls2 lhc_bg_green">{{mapByPlay[6257].name}}</span> <span class="pl">{{mapByPlay[6257].bp | numFilter}}</span></td>
                    </tr>                              
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(3)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[3]"></i><i class="cubeic-pulldown" v-show="!show[3]"></i></div>
                        <div class="icon-title">正四特</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[3]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6271"><span class="balls2 lhc_bg_red">{{mapByPlay[6271].name}}</span> <span class="pl">{{mapByPlay[6271].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6272"><span class="balls2 lhc_bg_red">{{mapByPlay[6272].name}}</span> <span class="pl">{{mapByPlay[6272].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6273"><span class="balls2 lhc_bg_blue">{{mapByPlay[6273].name}}</span> <span class="pl">{{mapByPlay[6273].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6274"><span class="balls2 lhc_bg_blue">{{mapByPlay[6274].name}}</span> <span class="pl">{{mapByPlay[6274].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6275"><span class="balls2 lhc_bg_green">{{mapByPlay[6275].name}}</span> <span class="pl">{{mapByPlay[6275].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6276"><span class="balls2 lhc_bg_green">{{mapByPlay[6276].name}}</span> <span class="pl">{{mapByPlay[6276].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6277"><span class="balls2 lhc_bg_red">{{mapByPlay[6277].name}}</span> <span class="pl">{{mapByPlay[6277].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6278"><span class="balls2 lhc_bg_red">{{mapByPlay[6278].name}}</span> <span class="pl">{{mapByPlay[6278].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6279"><span class="balls2 lhc_bg_blue">{{mapByPlay[6279].name}}</span> <span class="pl">{{mapByPlay[6279].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6280"><span class="balls2 lhc_bg_blue">{{mapByPlay[6280].name}}</span> <span class="pl">{{mapByPlay[6280].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6281"><span class="balls2 lhc_bg_green">{{mapByPlay[6281].name}}</span> <span class="pl">{{mapByPlay[6281].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6282"><span class="balls2 lhc_bg_red">{{mapByPlay[6282].name}}</span> <span class="pl">{{mapByPlay[6282].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6283"><span class="balls2 lhc_bg_red">{{mapByPlay[6283].name}}</span> <span class="pl">{{mapByPlay[6283].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6284"><span class="balls2 lhc_bg_blue">{{mapByPlay[6284].name}}</span> <span class="pl">{{mapByPlay[6284].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6285"><span class="balls2 lhc_bg_blue">{{mapByPlay[6285].name}}</span> <span class="pl">{{mapByPlay[6285].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6286"><span class="balls2 lhc_bg_green">{{mapByPlay[6286].name}}</span> <span class="pl">{{mapByPlay[6286].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6287"><span class="balls2 lhc_bg_green">{{mapByPlay[6287].name}}</span> <span class="pl">{{mapByPlay[6287].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6288"><span class="balls2 lhc_bg_red">{{mapByPlay[6288].name}}</span> <span class="pl">{{mapByPlay[6288].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6289"><span class="balls2 lhc_bg_red">{{mapByPlay[6289].name}}</span> <span class="pl">{{mapByPlay[6289].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6290"><span class="balls2 lhc_bg_blue">{{mapByPlay[6290].name}}</span> <span class="pl">{{mapByPlay[6290].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6291"><span class="balls2 lhc_bg_green">{{mapByPlay[6291].name}}</span> <span class="pl">{{mapByPlay[6291].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6292"><span class="balls2 lhc_bg_green">{{mapByPlay[6292].name}}</span> <span class="pl">{{mapByPlay[6292].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6293"><span class="balls2 lhc_bg_red">{{mapByPlay[6293].name}}</span> <span class="pl">{{mapByPlay[6293].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6294"><span class="balls2 lhc_bg_red">{{mapByPlay[6294].name}}</span> <span class="pl">{{mapByPlay[6294].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6295"><span class="balls2 lhc_bg_blue">{{mapByPlay[6295].name}}</span> <span class="pl">{{mapByPlay[6295].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6296"><span class="balls2 lhc_bg_blue">{{mapByPlay[6296].name}}</span> <span class="pl">{{mapByPlay[6296].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6297"><span class="balls2 lhc_bg_green">{{mapByPlay[6297].name}}</span> <span class="pl">{{mapByPlay[6297].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6298"><span class="balls2 lhc_bg_green">{{mapByPlay[6298].name}}</span> <span class="pl">{{mapByPlay[6298].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6299"><span class="balls2 lhc_bg_red">{{mapByPlay[6299].name}}</span> <span class="pl">{{mapByPlay[6299].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6300"><span class="balls2 lhc_bg_red">{{mapByPlay[6300].name}}</span> <span class="pl">{{mapByPlay[6300].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6301"><span class="balls2 lhc_bg_blue">{{mapByPlay[6301].name}}</span> <span class="pl">{{mapByPlay[6301].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6302"><span class="balls2 lhc_bg_green">{{mapByPlay[6302].name}}</span> <span class="pl">{{mapByPlay[6302].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6303"><span class="balls2 lhc_bg_green">{{mapByPlay[6303].name}}</span> <span class="pl">{{mapByPlay[6303].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6304"><span class="balls2 lhc_bg_red">{{mapByPlay[6304].name}}</span> <span class="pl">{{mapByPlay[6304].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6305"><span class="balls2 lhc_bg_red">{{mapByPlay[6305].name}}</span> <span class="pl">{{mapByPlay[6305].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6306"><span class="balls2 lhc_bg_blue">{{mapByPlay[6306].name}}</span> <span class="pl">{{mapByPlay[6306].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6307"><span class="balls2 lhc_bg_blue">{{mapByPlay[6307].name}}</span> <span class="pl">{{mapByPlay[6307].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6308"><span class="balls2 lhc_bg_green">{{mapByPlay[6308].name}}</span> <span class="pl">{{mapByPlay[6308].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6309"><span class="balls2 lhc_bg_green">{{mapByPlay[6309].name}}</span> <span class="pl">{{mapByPlay[6309].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6310"><span class="balls2 lhc_bg_red">{{mapByPlay[6310].name}}</span> <span class="pl">{{mapByPlay[6310].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6311"><span class="balls2 lhc_bg_blue">{{mapByPlay[6311].name}}</span> <span class="pl">{{mapByPlay[6311].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6312"><span class="balls2 lhc_bg_blue">{{mapByPlay[6312].name}}</span> <span class="pl">{{mapByPlay[6312].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6313"><span class="balls2 lhc_bg_green">{{mapByPlay[6313].name}}</span> <span class="pl">{{mapByPlay[6313].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6314"><span class="balls2 lhc_bg_green">{{mapByPlay[6314].name}}</span> <span class="pl">{{mapByPlay[6314].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6315"><span class="balls2 lhc_bg_red">{{mapByPlay[6315].name}}</span> <span class="pl">{{mapByPlay[6315].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6316"><span class="balls2 lhc_bg_red">{{mapByPlay[6316].name}}</span> <span class="pl">{{mapByPlay[6316].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6317"><span class="balls2 lhc_bg_blue">{{mapByPlay[6317].name}}</span> <span class="pl">{{mapByPlay[6317].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6318"><span class="balls2 lhc_bg_blue">{{mapByPlay[6318].name}}</span> <span class="pl">{{mapByPlay[6318].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6319"><span class="balls2 lhc_bg_green">{{mapByPlay[6319].name}}</span> <span class="pl">{{mapByPlay[6319].bp | numFilter}}</span></td>
                    </tr>                               
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(4)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[4]"></i><i class="cubeic-pulldown" v-show="!show[4]"></i></div>
                        <div class="icon-title">正五特</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[4]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6333"><span class="balls2 lhc_bg_red">{{mapByPlay[6333].name}}</span> <span class="pl">{{mapByPlay[6333].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6334"><span class="balls2 lhc_bg_red">{{mapByPlay[6334].name}}</span> <span class="pl">{{mapByPlay[6334].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6335"><span class="balls2 lhc_bg_blue">{{mapByPlay[6335].name}}</span> <span class="pl">{{mapByPlay[6335].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6336"><span class="balls2 lhc_bg_blue">{{mapByPlay[6336].name}}</span> <span class="pl">{{mapByPlay[6336].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6337"><span class="balls2 lhc_bg_green">{{mapByPlay[6337].name}}</span> <span class="pl">{{mapByPlay[6337].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6338"><span class="balls2 lhc_bg_green">{{mapByPlay[6338].name}}</span> <span class="pl">{{mapByPlay[6338].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6339"><span class="balls2 lhc_bg_red">{{mapByPlay[6339].name}}</span> <span class="pl">{{mapByPlay[6339].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6340"><span class="balls2 lhc_bg_red">{{mapByPlay[6340].name}}</span> <span class="pl">{{mapByPlay[6340].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6341"><span class="balls2 lhc_bg_blue">{{mapByPlay[6341].name}}</span> <span class="pl">{{mapByPlay[6341].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6342"><span class="balls2 lhc_bg_blue">{{mapByPlay[6342].name}}</span> <span class="pl">{{mapByPlay[6342].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6343"><span class="balls2 lhc_bg_green">{{mapByPlay[6343].name}}</span> <span class="pl">{{mapByPlay[6343].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6344"><span class="balls2 lhc_bg_red">{{mapByPlay[6344].name}}</span> <span class="pl">{{mapByPlay[6344].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6345"><span class="balls2 lhc_bg_red">{{mapByPlay[6345].name}}</span> <span class="pl">{{mapByPlay[6345].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6346"><span class="balls2 lhc_bg_blue">{{mapByPlay[6346].name}}</span> <span class="pl">{{mapByPlay[6346].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6347"><span class="balls2 lhc_bg_blue">{{mapByPlay[6347].name}}</span> <span class="pl">{{mapByPlay[6347].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6348"><span class="balls2 lhc_bg_green">{{mapByPlay[6348].name}}</span> <span class="pl">{{mapByPlay[6348].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6349"><span class="balls2 lhc_bg_green">{{mapByPlay[6349].name}}</span> <span class="pl">{{mapByPlay[6349].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6350"><span class="balls2 lhc_bg_red">{{mapByPlay[6350].name}}</span> <span class="pl">{{mapByPlay[6350].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6351"><span class="balls2 lhc_bg_red">{{mapByPlay[6351].name}}</span> <span class="pl">{{mapByPlay[6351].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6352"><span class="balls2 lhc_bg_blue">{{mapByPlay[6352].name}}</span> <span class="pl">{{mapByPlay[6352].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6353"><span class="balls2 lhc_bg_green">{{mapByPlay[6353].name}}</span> <span class="pl">{{mapByPlay[6353].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6354"><span class="balls2 lhc_bg_green">{{mapByPlay[6354].name}}</span> <span class="pl">{{mapByPlay[6354].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6355"><span class="balls2 lhc_bg_red">{{mapByPlay[6355].name}}</span> <span class="pl">{{mapByPlay[6355].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6356"><span class="balls2 lhc_bg_red">{{mapByPlay[6356].name}}</span> <span class="pl">{{mapByPlay[6356].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6357"><span class="balls2 lhc_bg_blue">{{mapByPlay[6357].name}}</span> <span class="pl">{{mapByPlay[6357].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6358"><span class="balls2 lhc_bg_blue">{{mapByPlay[6358].name}}</span> <span class="pl">{{mapByPlay[6358].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6359"><span class="balls2 lhc_bg_green">{{mapByPlay[6359].name}}</span> <span class="pl">{{mapByPlay[6359].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6360"><span class="balls2 lhc_bg_green">{{mapByPlay[6360].name}}</span> <span class="pl">{{mapByPlay[6360].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6361"><span class="balls2 lhc_bg_red">{{mapByPlay[6361].name}}</span> <span class="pl">{{mapByPlay[6361].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6362"><span class="balls2 lhc_bg_red">{{mapByPlay[6362].name}}</span> <span class="pl">{{mapByPlay[6362].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6363"><span class="balls2 lhc_bg_blue">{{mapByPlay[6363].name}}</span> <span class="pl">{{mapByPlay[6363].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6364"><span class="balls2 lhc_bg_green">{{mapByPlay[6364].name}}</span> <span class="pl">{{mapByPlay[6364].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6365"><span class="balls2 lhc_bg_green">{{mapByPlay[6365].name}}</span> <span class="pl">{{mapByPlay[6365].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6366"><span class="balls2 lhc_bg_red">{{mapByPlay[6366].name}}</span> <span class="pl">{{mapByPlay[6366].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6367"><span class="balls2 lhc_bg_red">{{mapByPlay[6367].name}}</span> <span class="pl">{{mapByPlay[6367].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6368"><span class="balls2 lhc_bg_blue">{{mapByPlay[6368].name}}</span> <span class="pl">{{mapByPlay[6368].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6369"><span class="balls2 lhc_bg_blue">{{mapByPlay[6369].name}}</span> <span class="pl">{{mapByPlay[6369].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6370"><span class="balls2 lhc_bg_green">{{mapByPlay[6370].name}}</span> <span class="pl">{{mapByPlay[6370].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6371"><span class="balls2 lhc_bg_green">{{mapByPlay[6371].name}}</span> <span class="pl">{{mapByPlay[6371].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6372"><span class="balls2 lhc_bg_red">{{mapByPlay[6372].name}}</span> <span class="pl">{{mapByPlay[6372].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6373"><span class="balls2 lhc_bg_blue">{{mapByPlay[6373].name}}</span> <span class="pl">{{mapByPlay[6373].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6374"><span class="balls2 lhc_bg_blue">{{mapByPlay[6374].name}}</span> <span class="pl">{{mapByPlay[6374].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6375"><span class="balls2 lhc_bg_green">{{mapByPlay[6375].name}}</span> <span class="pl">{{mapByPlay[6375].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6376"><span class="balls2 lhc_bg_green">{{mapByPlay[6376].name}}</span> <span class="pl">{{mapByPlay[6376].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6377"><span class="balls2 lhc_bg_red">{{mapByPlay[6377].name}}</span> <span class="pl">{{mapByPlay[6377].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6378"><span class="balls2 lhc_bg_red">{{mapByPlay[6378].name}}</span> <span class="pl">{{mapByPlay[6378].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6379"><span class="balls2 lhc_bg_blue">{{mapByPlay[6379].name}}</span> <span class="pl">{{mapByPlay[6379].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6380"><span class="balls2 lhc_bg_blue">{{mapByPlay[6380].name}}</span> <span class="pl">{{mapByPlay[6380].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6381"><span class="balls2 lhc_bg_green">{{mapByPlay[6381].name}}</span> <span class="pl">{{mapByPlay[6381].bp | numFilter}}</span></td>
                    </tr>                               
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(5)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[5]"></i><i class="cubeic-pulldown" v-show="!show[5]"></i></div>
                        <div class="icon-title">正六特</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[5]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6395"><span class="balls2 lhc_bg_red">{{mapByPlay[6395].name}}</span> <span class="pl">{{mapByPlay[6395].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6396"><span class="balls2 lhc_bg_red">{{mapByPlay[6396].name}}</span> <span class="pl">{{mapByPlay[6396].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6397"><span class="balls2 lhc_bg_blue">{{mapByPlay[6397].name}}</span> <span class="pl">{{mapByPlay[6397].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6398"><span class="balls2 lhc_bg_blue">{{mapByPlay[6398].name}}</span> <span class="pl">{{mapByPlay[6398].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6399"><span class="balls2 lhc_bg_green">{{mapByPlay[6399].name}}</span> <span class="pl">{{mapByPlay[6399].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6400"><span class="balls2 lhc_bg_green">{{mapByPlay[6400].name}}</span> <span class="pl">{{mapByPlay[6400].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6401"><span class="balls2 lhc_bg_red">{{mapByPlay[6401].name}}</span> <span class="pl">{{mapByPlay[6401].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6402"><span class="balls2 lhc_bg_red">{{mapByPlay[6402].name}}</span> <span class="pl">{{mapByPlay[6402].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6403"><span class="balls2 lhc_bg_blue">{{mapByPlay[6403].name}}</span> <span class="pl">{{mapByPlay[6403].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6404"><span class="balls2 lhc_bg_blue">{{mapByPlay[6404].name}}</span> <span class="pl">{{mapByPlay[6404].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6405"><span class="balls2 lhc_bg_green">{{mapByPlay[6405].name}}</span> <span class="pl">{{mapByPlay[6405].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6406"><span class="balls2 lhc_bg_red">{{mapByPlay[6406].name}}</span> <span class="pl">{{mapByPlay[6406].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6407"><span class="balls2 lhc_bg_red">{{mapByPlay[6407].name}}</span> <span class="pl">{{mapByPlay[6407].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6408"><span class="balls2 lhc_bg_blue">{{mapByPlay[6408].name}}</span> <span class="pl">{{mapByPlay[6408].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6409"><span class="balls2 lhc_bg_blue">{{mapByPlay[6409].name}}</span> <span class="pl">{{mapByPlay[6409].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6410"><span class="balls2 lhc_bg_green">{{mapByPlay[6410].name}}</span> <span class="pl">{{mapByPlay[6410].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6411"><span class="balls2 lhc_bg_green">{{mapByPlay[6411].name}}</span> <span class="pl">{{mapByPlay[6411].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6412"><span class="balls2 lhc_bg_red">{{mapByPlay[6412].name}}</span> <span class="pl">{{mapByPlay[6412].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6413"><span class="balls2 lhc_bg_red">{{mapByPlay[6413].name}}</span> <span class="pl">{{mapByPlay[6413].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6414"><span class="balls2 lhc_bg_blue">{{mapByPlay[6414].name}}</span> <span class="pl">{{mapByPlay[6414].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6415"><span class="balls2 lhc_bg_green">{{mapByPlay[6415].name}}</span> <span class="pl">{{mapByPlay[6415].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6416"><span class="balls2 lhc_bg_green">{{mapByPlay[6416].name}}</span> <span class="pl">{{mapByPlay[6416].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6417"><span class="balls2 lhc_bg_red">{{mapByPlay[6417].name}}</span> <span class="pl">{{mapByPlay[6417].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6418"><span class="balls2 lhc_bg_red">{{mapByPlay[6418].name}}</span> <span class="pl">{{mapByPlay[6418].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6419"><span class="balls2 lhc_bg_blue">{{mapByPlay[6419].name}}</span> <span class="pl">{{mapByPlay[6419].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6420"><span class="balls2 lhc_bg_blue">{{mapByPlay[6420].name}}</span> <span class="pl">{{mapByPlay[6420].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6421"><span class="balls2 lhc_bg_green">{{mapByPlay[6421].name}}</span> <span class="pl">{{mapByPlay[6421].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6422"><span class="balls2 lhc_bg_green">{{mapByPlay[6422].name}}</span> <span class="pl">{{mapByPlay[6422].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6423"><span class="balls2 lhc_bg_red">{{mapByPlay[6423].name}}</span> <span class="pl">{{mapByPlay[6423].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6424"><span class="balls2 lhc_bg_red">{{mapByPlay[6424].name}}</span> <span class="pl">{{mapByPlay[6424].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6425"><span class="balls2 lhc_bg_blue">{{mapByPlay[6425].name}}</span> <span class="pl">{{mapByPlay[6425].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6426"><span class="balls2 lhc_bg_green">{{mapByPlay[6426].name}}</span> <span class="pl">{{mapByPlay[6426].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6427"><span class="balls2 lhc_bg_green">{{mapByPlay[6427].name}}</span> <span class="pl">{{mapByPlay[6427].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6428"><span class="balls2 lhc_bg_red">{{mapByPlay[6428].name}}</span> <span class="pl">{{mapByPlay[6428].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6429"><span class="balls2 lhc_bg_red">{{mapByPlay[6429].name}}</span> <span class="pl">{{mapByPlay[6429].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6430"><span class="balls2 lhc_bg_blue">{{mapByPlay[6430].name}}</span> <span class="pl">{{mapByPlay[6430].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6431"><span class="balls2 lhc_bg_blue">{{mapByPlay[6431].name}}</span> <span class="pl">{{mapByPlay[6431].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6432"><span class="balls2 lhc_bg_green">{{mapByPlay[6432].name}}</span> <span class="pl">{{mapByPlay[6432].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6433"><span class="balls2 lhc_bg_green">{{mapByPlay[6433].name}}</span> <span class="pl">{{mapByPlay[6433].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6434"><span class="balls2 lhc_bg_red">{{mapByPlay[6434].name}}</span> <span class="pl">{{mapByPlay[6434].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6435"><span class="balls2 lhc_bg_blue">{{mapByPlay[6435].name}}</span> <span class="pl">{{mapByPlay[6435].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6436"><span class="balls2 lhc_bg_blue">{{mapByPlay[6436].name}}</span> <span class="pl">{{mapByPlay[6436].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6437"><span class="balls2 lhc_bg_green">{{mapByPlay[6437].name}}</span> <span class="pl">{{mapByPlay[6437].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6438"><span class="balls2 lhc_bg_green">{{mapByPlay[6438].name}}</span> <span class="pl">{{mapByPlay[6438].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6439"><span class="balls2 lhc_bg_red">{{mapByPlay[6439].name}}</span> <span class="pl">{{mapByPlay[6439].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6440"><span class="balls2 lhc_bg_red">{{mapByPlay[6440].name}}</span> <span class="pl">{{mapByPlay[6440].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6441"><span class="balls2 lhc_bg_blue">{{mapByPlay[6441].name}}</span> <span class="pl">{{mapByPlay[6441].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6442"><span class="balls2 lhc_bg_blue">{{mapByPlay[6442].name}}</span> <span class="pl">{{mapByPlay[6442].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6443"><span class="balls2 lhc_bg_green">{{mapByPlay[6443].name}}</span> <span class="pl">{{mapByPlay[6443].bp | numFilter}}</span></td>
                    </tr>                              
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
        },
    };
  },
  methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

