<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">正码一</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6134">{{mapByPlay[6134].name}} <span class="pl">{{mapByPlay[6134].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6135">{{mapByPlay[6135].name}} <span class="pl">{{mapByPlay[6135].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6136">{{mapByPlay[6136].name}} <span class="pl">{{mapByPlay[6136].bp | numFilter}}</span></td>                        
                        <td  class="col3 name" data-id="6137">{{mapByPlay[6137].name}} <span class="pl">{{mapByPlay[6137].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6138">{{mapByPlay[6138].name}} <span class="pl">{{mapByPlay[6138].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6139">{{mapByPlay[6139].name}} <span class="pl">{{mapByPlay[6139].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6140">{{mapByPlay[6140].name}} <span class="pl">{{mapByPlay[6140].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6141">{{mapByPlay[6141].name}} <span class="pl">{{mapByPlay[6141].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6145">{{mapByPlay[6145].name}} <span class="pl">{{mapByPlay[6145].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6146">{{mapByPlay[6146].name}} <span class="pl">{{mapByPlay[6146].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="6142">{{mapByPlay[6142].name}} <span class="pl">{{mapByPlay[6142].bp | numFilter}}</span></td>                        
                        <td  class="col3 pcdd_blue name" data-id="6143">{{mapByPlay[6143].name}} <span class="pl">{{mapByPlay[6143].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="6144">{{mapByPlay[6144].name}} <span class="pl">{{mapByPlay[6144].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(1)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[1]"></i><i class="cubeic-pulldown" v-show="!show[1]"></i></div>
                        <div class="icon-title">正码二</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[1]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6196">{{mapByPlay[6196].name}} <span class="pl">{{mapByPlay[6196].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6197">{{mapByPlay[6197].name}} <span class="pl">{{mapByPlay[6197].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6198">{{mapByPlay[6198].name}} <span class="pl">{{mapByPlay[6198].bp | numFilter}}</span></td>                        
                        <td  class="col3 name" data-id="6199">{{mapByPlay[6199].name}} <span class="pl">{{mapByPlay[6199].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6200">{{mapByPlay[6200].name}} <span class="pl">{{mapByPlay[6200].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6201">{{mapByPlay[6201].name}} <span class="pl">{{mapByPlay[6201].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6202">{{mapByPlay[6202].name}} <span class="pl">{{mapByPlay[6202].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6203">{{mapByPlay[6203].name}} <span class="pl">{{mapByPlay[6203].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6207">{{mapByPlay[6207].name}} <span class="pl">{{mapByPlay[6207].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6208">{{mapByPlay[6208].name}} <span class="pl">{{mapByPlay[6208].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="6204">{{mapByPlay[6204].name}} <span class="pl">{{mapByPlay[6204].bp | numFilter}}</span></td>                        
                        <td  class="col3 pcdd_blue name" data-id="6205">{{mapByPlay[6205].name}} <span class="pl">{{mapByPlay[6205].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="6206">{{mapByPlay[6206].name}} <span class="pl">{{mapByPlay[6206].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(2)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[2]"></i><i class="cubeic-pulldown" v-show="!show[2]"></i></div>
                        <div class="icon-title">正码三</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[2]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6258">{{mapByPlay[6258].name}} <span class="pl">{{mapByPlay[6258].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6259">{{mapByPlay[6259].name}} <span class="pl">{{mapByPlay[6259].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6260">{{mapByPlay[6260].name}} <span class="pl">{{mapByPlay[6260].bp | numFilter}}</span></td>                        
                        <td  class="col3 name" data-id="6261">{{mapByPlay[6261].name}} <span class="pl">{{mapByPlay[6261].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6262">{{mapByPlay[6262].name}} <span class="pl">{{mapByPlay[6262].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6263">{{mapByPlay[6263].name}} <span class="pl">{{mapByPlay[6263].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6264">{{mapByPlay[6264].name}} <span class="pl">{{mapByPlay[6264].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6265">{{mapByPlay[6265].name}} <span class="pl">{{mapByPlay[6265].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6269">{{mapByPlay[6269].name}} <span class="pl">{{mapByPlay[6269].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6270">{{mapByPlay[6270].name}} <span class="pl">{{mapByPlay[6270].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="6266">{{mapByPlay[6266].name}} <span class="pl">{{mapByPlay[6266].bp | numFilter}}</span></td>                        
                        <td  class="col3 pcdd_blue name" data-id="6267">{{mapByPlay[6267].name}} <span class="pl">{{mapByPlay[6267].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="6268">{{mapByPlay[6268].name}} <span class="pl">{{mapByPlay[6268].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(3)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[3]"></i><i class="cubeic-pulldown" v-show="!show[3]"></i></div>
                        <div class="icon-title">正码四</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[3]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6320">{{mapByPlay[6320].name}} <span class="pl">{{mapByPlay[6320].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6321">{{mapByPlay[6321].name}} <span class="pl">{{mapByPlay[6321].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6322">{{mapByPlay[6322].name}} <span class="pl">{{mapByPlay[6322].bp | numFilter}}</span></td>                        
                        <td  class="col3 name" data-id="6323">{{mapByPlay[6323].name}} <span class="pl">{{mapByPlay[6323].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6324">{{mapByPlay[6324].name}} <span class="pl">{{mapByPlay[6324].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6325">{{mapByPlay[6325].name}} <span class="pl">{{mapByPlay[6325].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6326">{{mapByPlay[6326].name}} <span class="pl">{{mapByPlay[6326].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6327">{{mapByPlay[6327].name}} <span class="pl">{{mapByPlay[6327].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6331">{{mapByPlay[6331].name}} <span class="pl">{{mapByPlay[6331].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6332">{{mapByPlay[6332].name}} <span class="pl">{{mapByPlay[6332].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="6328">{{mapByPlay[6328].name}} <span class="pl">{{mapByPlay[6328].bp | numFilter}}</span></td>                        
                        <td  class="col3 pcdd_blue name" data-id="6329">{{mapByPlay[6329].name}} <span class="pl">{{mapByPlay[6329].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="6330">{{mapByPlay[6330].name}} <span class="pl">{{mapByPlay[6330].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(4)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[4]"></i><i class="cubeic-pulldown" v-show="!show[4]"></i></div>
                        <div class="icon-title">正码五</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[4]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6382">{{mapByPlay[6382].name}} <span class="pl">{{mapByPlay[6382].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6383">{{mapByPlay[6383].name}} <span class="pl">{{mapByPlay[6383].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6384">{{mapByPlay[6384].name}} <span class="pl">{{mapByPlay[6384].bp | numFilter}}</span></td>                        
                        <td  class="col3 name" data-id="6385">{{mapByPlay[6385].name}} <span class="pl">{{mapByPlay[6385].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6386">{{mapByPlay[6386].name}} <span class="pl">{{mapByPlay[6386].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6387">{{mapByPlay[6387].name}} <span class="pl">{{mapByPlay[6387].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6388">{{mapByPlay[6388].name}} <span class="pl">{{mapByPlay[6388].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6389">{{mapByPlay[6389].name}} <span class="pl">{{mapByPlay[6389].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6393">{{mapByPlay[6393].name}} <span class="pl">{{mapByPlay[6393].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6394">{{mapByPlay[6394].name}} <span class="pl">{{mapByPlay[6394].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="6390">{{mapByPlay[6390].name}} <span class="pl">{{mapByPlay[6390].bp | numFilter}}</span></td>                        
                        <td  class="col3 pcdd_blue name" data-id="6391">{{mapByPlay[6391].name}} <span class="pl">{{mapByPlay[6391].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="6392">{{mapByPlay[6392].name}} <span class="pl">{{mapByPlay[6392].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>

        <div class="game-title" @click.stop="show_menu(5)" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[5]"></i><i class="cubeic-pulldown" v-show="!show[5]"></i></div>
                        <div class="icon-title">正码六</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[5]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6444">{{mapByPlay[6444].name}} <span class="pl">{{mapByPlay[6444].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6445">{{mapByPlay[6445].name}} <span class="pl">{{mapByPlay[6445].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6446">{{mapByPlay[6446].name}} <span class="pl">{{mapByPlay[6446].bp | numFilter}}</span></td>                        
                        <td  class="col3 name" data-id="6447">{{mapByPlay[6447].name}} <span class="pl">{{mapByPlay[6447].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6448">{{mapByPlay[6448].name}} <span class="pl">{{mapByPlay[6448].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6449">{{mapByPlay[6449].name}} <span class="pl">{{mapByPlay[6449].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6450">{{mapByPlay[6450].name}} <span class="pl">{{mapByPlay[6450].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6451">{{mapByPlay[6451].name}} <span class="pl">{{mapByPlay[6451].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6455">{{mapByPlay[6455].name}} <span class="pl">{{mapByPlay[6455].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6456">{{mapByPlay[6456].name}} <span class="pl">{{mapByPlay[6456].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="6452">{{mapByPlay[6452].name}} <span class="pl">{{mapByPlay[6452].bp | numFilter}}</span></td>                        
                        <td  class="col3 pcdd_blue name" data-id="6453">{{mapByPlay[6453].name}} <span class="pl">{{mapByPlay[6453].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="6454">{{mapByPlay[6454].name}} <span class="pl">{{mapByPlay[6454].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
        },
    };
  },
  methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

