<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
                <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">五行</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[0]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6457">{{mapByPlay[6457].name}} <span class="pl">{{mapByPlay[6457].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="6458">{{mapByPlay[6458].name}} <span class="pl">{{mapByPlay[6458].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6459">{{mapByPlay[6459].name}} <span class="pl">{{mapByPlay[6459].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="6460">{{mapByPlay[6460].name}} <span class="pl">{{mapByPlay[6460].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6461">{{mapByPlay[6461].name}} <span class="pl">{{mapByPlay[6461].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
    components: {
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

