<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
                <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">特码</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[0]" class="play-menu">
                        <table>

                            <tr>
                                <td  class="col3 name" data-id="5909"><span class="balls2 lhc_bg_red">{{mapByPlay[5909].name}}</span> <span class="pl">{{mapByPlay[5909].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5910"><span class="balls2 lhc_bg_red">{{mapByPlay[5910].name}}</span> <span class="pl">{{mapByPlay[5910].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5911"><span class="balls2 lhc_bg_blue">{{mapByPlay[5911].name}}</span> <span class="pl">{{mapByPlay[5911].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5912"><span class="balls2 lhc_bg_blue">{{mapByPlay[5912].name}}</span> <span class="pl">{{mapByPlay[5912].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5913"><span class="balls2 lhc_bg_green">{{mapByPlay[5913].name}}</span> <span class="pl">{{mapByPlay[5913].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5914"><span class="balls2 lhc_bg_green">{{mapByPlay[5914].name}}</span> <span class="pl">{{mapByPlay[5914].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5915"><span class="balls2 lhc_bg_red">{{mapByPlay[5915].name}}</span> <span class="pl">{{mapByPlay[5915].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5916"><span class="balls2 lhc_bg_red">{{mapByPlay[5916].name}}</span> <span class="pl">{{mapByPlay[5916].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5917"><span class="balls2 lhc_bg_blue">{{mapByPlay[5917].name}}</span> <span class="pl">{{mapByPlay[5917].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5918"><span class="balls2 lhc_bg_blue">{{mapByPlay[5918].name}}</span> <span class="pl">{{mapByPlay[5918].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5919"><span class="balls2 lhc_bg_green">{{mapByPlay[5919].name}}</span> <span class="pl">{{mapByPlay[5919].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5920"><span class="balls2 lhc_bg_red">{{mapByPlay[5920].name}}</span> <span class="pl">{{mapByPlay[5920].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5921"><span class="balls2 lhc_bg_red">{{mapByPlay[5921].name}}</span> <span class="pl">{{mapByPlay[5921].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5922"><span class="balls2 lhc_bg_blue">{{mapByPlay[5922].name}}</span> <span class="pl">{{mapByPlay[5922].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5923"><span class="balls2 lhc_bg_blue">{{mapByPlay[5923].name}}</span> <span class="pl">{{mapByPlay[5923].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5924"><span class="balls2 lhc_bg_green">{{mapByPlay[5924].name}}</span> <span class="pl">{{mapByPlay[5924].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5925"><span class="balls2 lhc_bg_green">{{mapByPlay[5925].name}}</span> <span class="pl">{{mapByPlay[5925].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5926"><span class="balls2 lhc_bg_red">{{mapByPlay[5926].name}}</span> <span class="pl">{{mapByPlay[5926].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5927"><span class="balls2 lhc_bg_red">{{mapByPlay[5927].name}}</span> <span class="pl">{{mapByPlay[5927].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5928"><span class="balls2 lhc_bg_blue">{{mapByPlay[5928].name}}</span> <span class="pl">{{mapByPlay[5928].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5929"><span class="balls2 lhc_bg_green">{{mapByPlay[5929].name}}</span> <span class="pl">{{mapByPlay[5929].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5930"><span class="balls2 lhc_bg_green">{{mapByPlay[5930].name}}</span> <span class="pl">{{mapByPlay[5930].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5931"><span class="balls2 lhc_bg_red">{{mapByPlay[5931].name}}</span> <span class="pl">{{mapByPlay[5931].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5932"><span class="balls2 lhc_bg_red">{{mapByPlay[5932].name}}</span> <span class="pl">{{mapByPlay[5932].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5933"><span class="balls2 lhc_bg_blue">{{mapByPlay[5933].name}}</span> <span class="pl">{{mapByPlay[5933].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5934"><span class="balls2 lhc_bg_blue">{{mapByPlay[5934].name}}</span> <span class="pl">{{mapByPlay[5934].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5935"><span class="balls2 lhc_bg_green">{{mapByPlay[5935].name}}</span> <span class="pl">{{mapByPlay[5935].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5936"><span class="balls2 lhc_bg_green">{{mapByPlay[5936].name}}</span> <span class="pl">{{mapByPlay[5936].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5937"><span class="balls2 lhc_bg_red">{{mapByPlay[5937].name}}</span> <span class="pl">{{mapByPlay[5937].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5938"><span class="balls2 lhc_bg_red">{{mapByPlay[5938].name}}</span> <span class="pl">{{mapByPlay[5938].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5939"><span class="balls2 lhc_bg_blue">{{mapByPlay[5939].name}}</span> <span class="pl">{{mapByPlay[5939].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5940"><span class="balls2 lhc_bg_green">{{mapByPlay[5940].name}}</span> <span class="pl">{{mapByPlay[5940].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5941"><span class="balls2 lhc_bg_green">{{mapByPlay[5941].name}}</span> <span class="pl">{{mapByPlay[5941].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5942"><span class="balls2 lhc_bg_red">{{mapByPlay[5942].name}}</span> <span class="pl">{{mapByPlay[5942].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5943"><span class="balls2 lhc_bg_red">{{mapByPlay[5943].name}}</span> <span class="pl">{{mapByPlay[5943].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5944"><span class="balls2 lhc_bg_blue">{{mapByPlay[5944].name}}</span> <span class="pl">{{mapByPlay[5944].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5945"><span class="balls2 lhc_bg_blue">{{mapByPlay[5945].name}}</span> <span class="pl">{{mapByPlay[5945].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5946"><span class="balls2 lhc_bg_green">{{mapByPlay[5946].name}}</span> <span class="pl">{{mapByPlay[5946].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5947"><span class="balls2 lhc_bg_green">{{mapByPlay[5947].name}}</span> <span class="pl">{{mapByPlay[5947].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5948"><span class="balls2 lhc_bg_red">{{mapByPlay[5948].name}}</span> <span class="pl">{{mapByPlay[5948].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5949"><span class="balls2 lhc_bg_blue">{{mapByPlay[5949].name}}</span> <span class="pl">{{mapByPlay[5949].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5950"><span class="balls2 lhc_bg_blue">{{mapByPlay[5950].name}}</span> <span class="pl">{{mapByPlay[5950].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5951"><span class="balls2 lhc_bg_green">{{mapByPlay[5951].name}}</span> <span class="pl">{{mapByPlay[5951].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5952"><span class="balls2 lhc_bg_green">{{mapByPlay[5952].name}}</span> <span class="pl">{{mapByPlay[5952].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5953"><span class="balls2 lhc_bg_red">{{mapByPlay[5953].name}}</span> <span class="pl">{{mapByPlay[5953].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5954"><span class="balls2 lhc_bg_red">{{mapByPlay[5954].name}}</span> <span class="pl">{{mapByPlay[5954].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5955"><span class="balls2 lhc_bg_blue">{{mapByPlay[5955].name}}</span> <span class="pl">{{mapByPlay[5955].bp | numFilter}}</span></td>
                                <td  class="col3 name" data-id="5956"><span class="balls2 lhc_bg_blue">{{mapByPlay[5956].name}}</span> <span class="pl">{{mapByPlay[5956].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td  class="col3 name" data-id="5957"><span class="balls2 lhc_bg_green">{{mapByPlay[5957].name}}</span> <span class="pl">{{mapByPlay[5957].bp | numFilter}}</span></td>
                            </tr>

                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(1)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[1]"></i><i class="cubeic-pulldown" v-show="!show[1]"></i></div>
                    <div class="icon-title">两面</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[1]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5958">{{mapByPlay[5958].name}} <span class="pl">{{mapByPlay[5958].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5959">{{mapByPlay[5959].name}} <span class="pl">{{mapByPlay[5959].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5960">{{mapByPlay[5960].name}} <span class="pl">{{mapByPlay[5960].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5961">{{mapByPlay[5961].name}} <span class="pl">{{mapByPlay[5961].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5962">{{mapByPlay[5962].name}} <span class="pl">{{mapByPlay[5962].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5963">{{mapByPlay[5963].name}} <span class="pl">{{mapByPlay[5963].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5964">{{mapByPlay[5964].name}} <span class="pl">{{mapByPlay[5964].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5965">{{mapByPlay[5965].name}} <span class="pl">{{mapByPlay[5965].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5966">{{mapByPlay[5966].name}} <span class="pl">{{mapByPlay[5966].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5967">{{mapByPlay[5967].name}} <span class="pl">{{mapByPlay[5967].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5968">{{mapByPlay[5968].name}} <span class="pl">{{mapByPlay[5968].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5969">{{mapByPlay[5969].name}} <span class="pl">{{mapByPlay[5969].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5970">{{mapByPlay[5970].name}} <span class="pl">{{mapByPlay[5970].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5971">{{mapByPlay[5971].name}} <span class="pl">{{mapByPlay[5971].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
        },
    };
  },
    components: {
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  created() {
  
  }
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

