<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">色波</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 pcdd_red name" data-id="5564">{{mapByPlay[5564].name}} <span class="pl">{{mapByPlay[5564].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_green name" data-id="5565">{{mapByPlay[5565].name}} <span class="pl">{{mapByPlay[5565].bp | numFilter}}</span></td>
                        <td  class="col3 pcdd_blue name" data-id="5566">{{mapByPlay[5566].name}} <span class="pl">{{mapByPlay[5566].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

