<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">特码</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5567"><span class="balls2 pcdd_bg_no">{{mapByPlay[5567].name}}</span> <span class="pl">{{mapByPlay[5567].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5568"><span class="balls2 pcdd_bg_green">{{mapByPlay[5568].name}}</span> <span class="pl">{{mapByPlay[5568].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5569"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5569].name}}</span> <span class="pl">{{mapByPlay[5569].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5570"><span class="balls2 pcdd_bg_red">{{mapByPlay[5570].name}}</span> <span class="pl">{{mapByPlay[5570].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5571"><span class="balls2 pcdd_bg_green">{{mapByPlay[5571].name}}</span> <span class="pl">{{mapByPlay[5571].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5572"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5572].name}}</span> <span class="pl">{{mapByPlay[5572].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5573"><span class="balls2 pcdd_bg_red">{{mapByPlay[5573].name}}</span> <span class="pl">{{mapByPlay[5573].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5574"><span class="balls2 pcdd_bg_green">{{mapByPlay[5574].name}}</span> <span class="pl">{{mapByPlay[5574].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5575"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5575].name}}</span> <span class="pl">{{mapByPlay[5575].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5576"><span class="balls2 pcdd_bg_red">{{mapByPlay[5576].name}}</span> <span class="pl">{{mapByPlay[5576].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5577"><span class="balls2 pcdd_bg_green">{{mapByPlay[5577].name}}</span> <span class="pl">{{mapByPlay[5577].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5578"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5578].name}}</span> <span class="pl">{{mapByPlay[5578].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5579"><span class="balls2 pcdd_bg_red">{{mapByPlay[5579].name}}</span> <span class="pl">{{mapByPlay[5579].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5580"><span class="balls2 pcdd_bg_no">{{mapByPlay[5580].name}}</span> <span class="pl">{{mapByPlay[5580].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5581"><span class="balls2 pcdd_bg_no">{{mapByPlay[5581].name}}</span> <span class="pl">{{mapByPlay[5581].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5582"><span class="balls2 pcdd_bg_red">{{mapByPlay[5582].name}}</span> <span class="pl">{{mapByPlay[5582].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5583"><span class="balls2 pcdd_bg_green">{{mapByPlay[5583].name}}</span> <span class="pl">{{mapByPlay[5583].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5584"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5584].name}}</span> <span class="pl">{{mapByPlay[5584].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5585"><span class="balls2 pcdd_bg_red">{{mapByPlay[5585].name}}</span> <span class="pl">{{mapByPlay[5585].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5586"><span class="balls2 pcdd_bg_green">{{mapByPlay[5586].name}}</span> <span class="pl">{{mapByPlay[5586].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5587"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5587].name}}</span> <span class="pl">{{mapByPlay[5587].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5588"><span class="balls2 pcdd_bg_red">{{mapByPlay[5588].name}}</span> <span class="pl">{{mapByPlay[5588].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5589"><span class="balls2 pcdd_bg_green">{{mapByPlay[5589].name}}</span> <span class="pl">{{mapByPlay[5589].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5590"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5590].name}}</span> <span class="pl">{{mapByPlay[5590].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5591"><span class="balls2 pcdd_bg_red">{{mapByPlay[5591].name}}</span> <span class="pl">{{mapByPlay[5591].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5592"><span class="balls2 pcdd_bg_green">{{mapByPlay[5592].name}}</span> <span class="pl">{{mapByPlay[5592].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5593"><span class="balls2 pcdd_bg_blue">{{mapByPlay[5593].name}}</span> <span class="pl">{{mapByPlay[5593].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5594"><span class="balls2 pcdd_bg_no">{{mapByPlay[5594].name}}</span> <span class="pl">{{mapByPlay[5594].bp | numFilter}}</span></td>
                    </tr>

                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

