<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">混合</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5553">{{mapByPlay[5553].name}} <span class="pl">{{mapByPlay[5553].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5554">{{mapByPlay[5554].name}} <span class="pl">{{mapByPlay[5554].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5555">{{mapByPlay[5555].name}} <span class="pl">{{mapByPlay[5555].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5556">{{mapByPlay[5556].name}} <span class="pl">{{mapByPlay[5556].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5557">{{mapByPlay[5557].name}} <span class="pl">{{mapByPlay[5557].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5558">{{mapByPlay[5558].name}} <span class="pl">{{mapByPlay[5558].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5559">{{mapByPlay[5559].name}} <span class="pl">{{mapByPlay[5559].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5560">{{mapByPlay[5560].name}} <span class="pl">{{mapByPlay[5560].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5561">{{mapByPlay[5561].name}} <span class="pl">{{mapByPlay[5561].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5562">{{mapByPlay[5562].name}} <span class="pl">{{mapByPlay[5562].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5563">{{mapByPlay[5563].name}} <span class="pl">{{mapByPlay[5563].bp | numFilter}}</span></td>
                    </tr>

                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

