<template >
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="help-main">
    <HideContent title="提款流程" name="1" >
        <p>当您在成功存款并进行游戏後，即可进行提款操作（需满足最低提款金额要求）。您只需根据以下提示，按下列步骤操作即可开通帐户：<br>1) 登录（或已处于登录状态），在会员中心点击 “提款专区”项。<br>2) 进入“提款”页面。注意！因确保您的帐户安全，第一次进行提款操作时，需先设置提款密码唷！请务必牢记您的提款密码，请勿将您的密码提供给其他人。<br>3) 接下来，您可以开始添加银行卡。完成银行帐号添加以后，才能够进行提款操作。此银行帐号的开户名必须与您帐号所填真实姓名一致，否则提款可能会失败。您所填写的银行帐号不需要开通网银亦可提款。</p>
    </HideContent>
    <HideContent title="提款限额是多少？" name="2">
        <p>单笔提款最低金额1000元，最高100万，每日提款上限100万。</p>
    </HideContent>
    <HideContent title="提款什麽时候可以到帐？" name="3">
        <p>取款申请审核通过后，一般会在数分锺内为您进行线下转帐。若逾时仍未收到款项，则可能是取款银行帐号数据有误或银行帐号小额管理费未缴等问题所造成的。财务人员在无法出款时都会及时进行通知，若玩家未填写有效的联系方式也会造成财务无法联系的情况发生，请您务必填写正确有效的联系信息。同时，您也可随时联系在线客服了解进度。</p>
    </HideContent>
    <HideContent title="可否提款到其他人的银行帐户？" name="4">
        <p>银行帐户持有人姓名必须与本公司注册帐号的姓名一致，否则无法申请提款。</p>
    </HideContent>
    <HideContent title="可以取消提款申请吗？" name="7">
        <p>提交申请未审核之前，若您想取消，请及时联系在线客服处理。</p>
    </HideContent>
    <HideContent title="提款申请为什麽会不通过？" name="8">
        <p>防止部分玩家利用本公司进行洗钱等非法资金操作，为避免部分玩家以套利为目的参与活动，我司对于所有的提款均会进行审核，申请不通过的主要因素考虑如下：<br>1、判断有效投注额是否达到存款，优惠的流水要求。（各游戏和局/未接受/取消注单，不纳入有效投注计算。）<br>2、取款信息是否符合取款者信息。<br>3、投注是否异常，存在恶意刷流水套利行为。<br>4、同一用户多帐户行为。</p>
    </HideContent>         
        </div>
    </div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import HideContent from '@/components/tool-hide-content.vue'
export default {
    data() {
        return {
            title:"帮助中心",
        }
    },
    methods: {
        back()
        {
            this.$emit('switchView2');
        },
    },
    computed: {
    },
    components: {
        BackPage,
        HideContent
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.help-main
    margin-top 10px;
p
    font-size: 0.9rem;
    margin: 18px 0 ;
    line-height: 1.5rem;   
h1
    font-weight: 700;
    color: #333;
</style>
