<template >
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="help-head">
            我们一直将保护客户隐私及安全性作为首要宗旨，所有支付交易的处理均采用了最高标准的数据加密方式，采用128位SSL加密技术和严格的安全管理体系，确保客户安全得到最完善的保障。            
        </div>
        <div class="help-main">
            <HideContent title="有哪些存款途径？" name="1" >
                <p>公司当前提供二种方式入款，1.公司汇款。2.三方支付，请您点击线上存款选择其中一种方式入款，谢谢！</p>
            </HideContent>
            <HideContent title="存款未到帐如何处理？" name="2">
                <p>由于跨行汇款的到帐时间银行方面办理速度，请您耐心等待。如果已成功汇款，可能是由于第三方支付公司还没有收到您的款项，请麻烦发送扫描件或是清淅照片（如果是网银汇款请发送汇款明细的截屏）给我们，我们会马上为您提交到第三方支付公司进行查找。</p>
            </HideContent>
            <HideContent title="存款是否需要缴纳手续费或其他费用？" name="3">
                <p>本公司接收线上网络银行，三方支付等方式。当您存款成功後，存款手续金额由本公司承担，让您存款无忧。使用柜台存款的客户选择收款方支付将不享受存款手续费回馈。</p>
            </HideContent>
            <HideContent title="为什麽在线支付成功後额度没有立即增加？" name="4">
                <p>这是因为在线支付系统需要经过密码锁切换及内部验证进程，而这也是我们的保安进程之一，所以请您不必担心，款项一定不会丢失。如果您在线支付超过30分锺後仍然还未收到您的款项，请与我们客服联系处理。</p>
            </HideContent>           
        </div>
    </div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import HideContent from '@/components/tool-hide-content.vue'
export default {
    data() {
        return {
            title:"帮助中心",
        }
    },
    methods: {
        back()
        {
            this.$emit('switchView2');
        },
    },
    computed: {
    },
    components: {
        BackPage,
        HideContent
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.help-head
    background-color: #fff;
    color: #666;
    padding: 15px;
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.5rem;
.help-main
    margin-top 10px;
p
    font-size: 0.9rem;
    margin: 18px 0 ;
    line-height: 1.5rem;    
h1
    font-weight: 700;
    color: #333;
</style>
