<template >
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="help-main">
            <HideContent title="为何我的帐号会被冻结？" name="1" >
                <p>输入五次错误密码系统为了您的帐号资金安全将自动冻结您的游戏帐号，届时请您联系24小时在线客服人员协助处理。</p>
            </HideContent>
            <HideContent title="为什麽我会被登出？" name="2">
                <p>您好，这是网页的保安进程之一，当您在一定的时间内没有使用有关的网页，那麽有关的网页将不再活跃，并且无法浏览最新的页面，在此您必须重新登录。或者您在其余的设备登陆了那之前的设备将登出。若您重新登录後情况仍然一样请立即联系我们。</p>
            </HideContent>
            <HideContent title="为什麽我浏览的页面不能正常显示？" name="3">
                <p>低版本浏览器不支持HTML5, CSS3, jQuery2.0等网页进程，很可能造成网页功能缺失。若当前您使用的浏览器为IE8或更低版本， 建议您使用IE10、IE11、火狐或谷歌浏览器，以获取最佳体验效果！</p>
            </HideContent>
            <HideContent title="为什麽要进行验证？" name="4">
                <p>验证信息主要是为了确保您的帐户安全。我们要验证的是手机验证、邮箱验证、银行卡验证。</p>
            </HideContent>
            <HideContent title="我可以只试玩而不下注吗？" name="5">
                <p>针对一些游戏我们支持试玩，可选择试玩渠道进行试玩。</p>
            </HideContent>
            <HideContent title="别人可以用我的帐户进行交易吗？" name="6">
                <p>会员有责任确保自己的帐户及登录数据的保密性。以用户名称及密码进行的任何网上交易将被视为有效。</p>
            </HideContent>
            <HideContent title="最基本的注单查找方式？" name="7">
                <p>可以通过登录官网帐户后点击投注记录查找，或者进入到游戏里的账目查找。</p>
            </HideContent>
        </div>
    </div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import HideContent from '@/components/tool-hide-content.vue'
export default {
    data() {
        return {
            title:"帮助中心",
        }
    },
    methods: {
        back()
        {
            this.$emit('switchView2');
        },
    },
    computed: {
    },
    components: {
        BackPage,
        HideContent
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.help-head
    background-color: #fff;
    color: #666;
    padding: 15px;
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.5rem;
.help-main
    margin-top 10px;
p
    font-size: 0.9rem;
    margin: 18px 0 ;
    line-height: 1.5rem;    
h1
    font-weight: 700;
    color: #333;
</style>
