<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第一球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6512"><span class="balls">{{mapByPlay[6512].name}}</span> <span class="pl">{{mapByPlay[6512].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6513"><span class="balls">{{mapByPlay[6513].name}}</span> <span class="pl">{{mapByPlay[6513].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6514"><span class="balls">{{mapByPlay[6514].name}}</span> <span class="pl">{{mapByPlay[6514].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6515"><span class="balls">{{mapByPlay[6515].name}}</span> <span class="pl">{{mapByPlay[6515].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6516"><span class="balls">{{mapByPlay[6516].name}}</span> <span class="pl">{{mapByPlay[6516].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6517"><span class="balls">{{mapByPlay[6517].name}}</span> <span class="pl">{{mapByPlay[6517].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6518"><span class="balls">{{mapByPlay[6518].name}}</span> <span class="pl">{{mapByPlay[6518].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6519"><span class="balls">{{mapByPlay[6519].name}}</span> <span class="pl">{{mapByPlay[6519].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6520"><span class="balls">{{mapByPlay[6520].name}}</span> <span class="pl">{{mapByPlay[6520].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6521"><span class="balls">{{mapByPlay[6521].name}}</span> <span class="pl">{{mapByPlay[6521].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6522">{{mapByPlay[6522].name}} <span class="pl">{{mapByPlay[6522].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6523">{{mapByPlay[6523].name}} <span class="pl">{{mapByPlay[6523].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6524">{{mapByPlay[6524].name}} <span class="pl">{{mapByPlay[6524].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6525">{{mapByPlay[6525].name}} <span class="pl">{{mapByPlay[6525].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

