<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第二球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6526"><span class="balls">{{mapByPlay[6526].name}}</span> <span class="pl">{{mapByPlay[6526].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6527"><span class="balls">{{mapByPlay[6527].name}}</span> <span class="pl">{{mapByPlay[6527].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6528"><span class="balls">{{mapByPlay[6528].name}}</span> <span class="pl">{{mapByPlay[6528].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6529"><span class="balls">{{mapByPlay[6529].name}}</span> <span class="pl">{{mapByPlay[6529].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6530"><span class="balls">{{mapByPlay[6530].name}}</span> <span class="pl">{{mapByPlay[6530].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6531"><span class="balls">{{mapByPlay[6531].name}}</span> <span class="pl">{{mapByPlay[6531].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6532"><span class="balls">{{mapByPlay[6532].name}}</span> <span class="pl">{{mapByPlay[6532].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6533"><span class="balls">{{mapByPlay[6533].name}}</span> <span class="pl">{{mapByPlay[6533].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6534"><span class="balls">{{mapByPlay[6534].name}}</span> <span class="pl">{{mapByPlay[6534].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6535"><span class="balls">{{mapByPlay[6535].name}}</span> <span class="pl">{{mapByPlay[6535].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6536">{{mapByPlay[6536].name}} <span class="pl">{{mapByPlay[6536].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6537">{{mapByPlay[6537].name}} <span class="pl">{{mapByPlay[6537].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6538">{{mapByPlay[6538].name}} <span class="pl">{{mapByPlay[6538].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6539">{{mapByPlay[6539].name}} <span class="pl">{{mapByPlay[6539].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

