<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第三球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6540"><span class="balls">{{mapByPlay[6540].name}}</span> <span class="pl">{{mapByPlay[6540].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6541"><span class="balls">{{mapByPlay[6541].name}}</span> <span class="pl">{{mapByPlay[6541].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6542"><span class="balls">{{mapByPlay[6542].name}}</span> <span class="pl">{{mapByPlay[6542].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6543"><span class="balls">{{mapByPlay[6543].name}}</span> <span class="pl">{{mapByPlay[6543].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6544"><span class="balls">{{mapByPlay[6544].name}}</span> <span class="pl">{{mapByPlay[6544].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6545"><span class="balls">{{mapByPlay[6545].name}}</span> <span class="pl">{{mapByPlay[6545].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6546"><span class="balls">{{mapByPlay[6546].name}}</span> <span class="pl">{{mapByPlay[6546].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6547"><span class="balls">{{mapByPlay[6547].name}}</span> <span class="pl">{{mapByPlay[6547].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6548"><span class="balls">{{mapByPlay[6548].name}}</span> <span class="pl">{{mapByPlay[6548].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6549"><span class="balls">{{mapByPlay[6549].name}}</span> <span class="pl">{{mapByPlay[6549].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6550">{{mapByPlay[6550].name}} <span class="pl">{{mapByPlay[6550].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6551">{{mapByPlay[6551].name}} <span class="pl">{{mapByPlay[6551].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6552">{{mapByPlay[6552].name}} <span class="pl">{{mapByPlay[6552].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6553">{{mapByPlay[6553].name}} <span class="pl">{{mapByPlay[6553].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

