<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">三连</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6561">{{mapByPlay[6561].name}} <span class="pl">{{mapByPlay[6561].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6562">{{mapByPlay[6562].name}} <span class="pl">{{mapByPlay[6562].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6563">{{mapByPlay[6563].name}} <span class="pl">{{mapByPlay[6563].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6564">{{mapByPlay[6564].name}} <span class="pl">{{mapByPlay[6564].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6565">{{mapByPlay[6565].name}} <span class="pl">{{mapByPlay[6565].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

