<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">跨度</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="6566"><span class="balls">{{mapByPlay[6566].name}}</span> <span class="pl">{{mapByPlay[6566].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6567"><span class="balls">{{mapByPlay[6567].name}}</span> <span class="pl">{{mapByPlay[6567].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6568"><span class="balls">{{mapByPlay[6568].name}}</span> <span class="pl">{{mapByPlay[6568].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6569"><span class="balls">{{mapByPlay[6569].name}}</span> <span class="pl">{{mapByPlay[6569].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6570"><span class="balls">{{mapByPlay[6570].name}}</span> <span class="pl">{{mapByPlay[6570].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6571"><span class="balls">{{mapByPlay[6571].name}}</span> <span class="pl">{{mapByPlay[6571].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6572"><span class="balls">{{mapByPlay[6572].name}}</span> <span class="pl">{{mapByPlay[6572].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6573"><span class="balls">{{mapByPlay[6573].name}}</span> <span class="pl">{{mapByPlay[6573].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="6574"><span class="balls">{{mapByPlay[6574].name}}</span> <span class="pl">{{mapByPlay[6574].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="6575"><span class="balls">{{mapByPlay[6575].name}}</span> <span class="pl">{{mapByPlay[6575].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

