<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
                <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">总和/龙虎</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[0]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col name" data-id="6554">{{mapByPlay[6554].name}} <span class="pl">{{mapByPlay[6554].bp | numFilter}}</span></td>
                                <td colspan="3" class="col name" data-id="6555">{{mapByPlay[6555].name}} <span class="pl">{{mapByPlay[6555].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col name" data-id="6556">{{mapByPlay[6556].name}} <span class="pl">{{mapByPlay[6556].bp | numFilter}}</span></td>
                                <td colspan="3" class="col name" data-id="6557">{{mapByPlay[6557].name}} <span class="pl">{{mapByPlay[6557].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="col3 name" data-id="6558">{{mapByPlay[6558].name}} <span class="pl">{{mapByPlay[6558].bp | numFilter}}</span></td>
                                <td colspan="2" class="col3 name" data-id="6559">{{mapByPlay[6559].name}} <span class="pl">{{mapByPlay[6559].bp | numFilter}}</span></td>
                                <td colspan="2" class="col3 name" data-id="6560">{{mapByPlay[6560].name}} <span class="pl">{{mapByPlay[6560].bp | numFilter}}</span></td>
                            </tr>
                        </table>                        
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(1)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[1]"></i><i class="cubeic-pulldown" v-show="!show[1]"></i></div>
                    <div class="icon-title">第一球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[1]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6522">{{mapByPlay[6522].name}} <span class="pl">{{mapByPlay[6522].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="6523">{{mapByPlay[6523].name}} <span class="pl">{{mapByPlay[6523].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6524">{{mapByPlay[6524].name}} <span class="pl">{{mapByPlay[6524].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="6525">{{mapByPlay[6525].name}} <span class="pl">{{mapByPlay[6525].bp | numFilter}}</span></td>
                            </tr>
                        </table>                        
                        <div class="shadow"></div>
                    </div>
                </transition>
            
                <div class="game-title" @click.stop="show_menu(2)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[2]"></i><i class="cubeic-pulldown" v-show="!show[2]"></i></div>
                    <div class="icon-title">第二球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[2]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6536">{{mapByPlay[6536].name}} <span class="pl">{{mapByPlay[6536].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="6537">{{mapByPlay[6537].name}} <span class="pl">{{mapByPlay[6537].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6538">{{mapByPlay[6538].name}} <span class="pl">{{mapByPlay[6538].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="6539">{{mapByPlay[6539].name}} <span class="pl">{{mapByPlay[6539].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>    

                <div class="game-title" @click.stop="show_menu(3)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[3]"></i><i class="cubeic-pulldown" v-show="!show[3]"></i></div>
                    <div class="icon-title">第三球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[3]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6550">{{mapByPlay[6550].name}} <span class="pl">{{mapByPlay[6550].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="6551">{{mapByPlay[6551].name}} <span class="pl">{{mapByPlay[6551].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="6552">{{mapByPlay[6552].name}} <span class="pl">{{mapByPlay[6552].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="6553">{{mapByPlay[6553].name}} <span class="pl">{{mapByPlay[6553].bp | numFilter}}</span></td>
                            </tr>

                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
            6:false,
            7:false,
            8:false,
        },
    };
  },
    components: {
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

