<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第一球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5673"><span class="balls">{{mapByPlay[5673].name}}</span> <span class="pl">{{mapByPlay[5673].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5674"><span class="balls">{{mapByPlay[5674].name}}</span> <span class="pl">{{mapByPlay[5674].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5675"><span class="balls">{{mapByPlay[5675].name}}</span> <span class="pl">{{mapByPlay[5675].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5676"><span class="balls">{{mapByPlay[5676].name}}</span> <span class="pl">{{mapByPlay[5676].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5677"><span class="balls">{{mapByPlay[5677].name}}</span> <span class="pl">{{mapByPlay[5677].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5678"><span class="balls">{{mapByPlay[5678].name}}</span> <span class="pl">{{mapByPlay[5678].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5679"><span class="balls">{{mapByPlay[5679].name}}</span> <span class="pl">{{mapByPlay[5679].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5680"><span class="balls">{{mapByPlay[5680].name}}</span> <span class="pl">{{mapByPlay[5680].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5681"><span class="balls">{{mapByPlay[5681].name}}</span> <span class="pl">{{mapByPlay[5681].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5682"><span class="balls">{{mapByPlay[5682].name}}</span> <span class="pl">{{mapByPlay[5682].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5683"><span class="balls">{{mapByPlay[5683].name}}</span> <span class="pl">{{mapByPlay[5683].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5684"><span class="balls">{{mapByPlay[5684].name}}</span> <span class="pl">{{mapByPlay[5684].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5685"><span class="balls">{{mapByPlay[5685].name}}</span> <span class="pl">{{mapByPlay[5685].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5686"><span class="balls">{{mapByPlay[5686].name}}</span> <span class="pl">{{mapByPlay[5686].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5687"><span class="balls">{{mapByPlay[5687].name}}</span> <span class="pl">{{mapByPlay[5687].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5688"><span class="balls">{{mapByPlay[5688].name}}</span> <span class="pl">{{mapByPlay[5688].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5689"><span class="balls">{{mapByPlay[5689].name}}</span> <span class="pl">{{mapByPlay[5689].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5690"><span class="balls">{{mapByPlay[5690].name}}</span> <span class="pl">{{mapByPlay[5690].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5691"><span class="balls">{{mapByPlay[5691].name}}</span> <span class="pl">{{mapByPlay[5691].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5692"><span class="balls">{{mapByPlay[5692].name}}</span> <span class="pl">{{mapByPlay[5692].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5601">{{mapByPlay[5601].name}} <span class="pl">{{mapByPlay[5601].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5602">{{mapByPlay[5602].name}} <span class="pl">{{mapByPlay[5602].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5603">{{mapByPlay[5603].name}} <span class="pl">{{mapByPlay[5603].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5604">{{mapByPlay[5604].name}} <span class="pl">{{mapByPlay[5604].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5605">{{mapByPlay[5605].name}} <span class="pl">{{mapByPlay[5605].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5606">{{mapByPlay[5606].name}} <span class="pl">{{mapByPlay[5606].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5607">{{mapByPlay[5607].name}} <span class="pl">{{mapByPlay[5607].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5608">{{mapByPlay[5608].name}} <span class="pl">{{mapByPlay[5608].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

