<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第二球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5693"><span class="balls">{{mapByPlay[5693].name}}</span> <span class="pl">{{mapByPlay[5693].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5694"><span class="balls">{{mapByPlay[5694].name}}</span> <span class="pl">{{mapByPlay[5694].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5695"><span class="balls">{{mapByPlay[5695].name}}</span> <span class="pl">{{mapByPlay[5695].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5696"><span class="balls">{{mapByPlay[5696].name}}</span> <span class="pl">{{mapByPlay[5696].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5697"><span class="balls">{{mapByPlay[5697].name}}</span> <span class="pl">{{mapByPlay[5697].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5698"><span class="balls">{{mapByPlay[5698].name}}</span> <span class="pl">{{mapByPlay[5698].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5699"><span class="balls">{{mapByPlay[5699].name}}</span> <span class="pl">{{mapByPlay[5699].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5700"><span class="balls">{{mapByPlay[5700].name}}</span> <span class="pl">{{mapByPlay[5700].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5701"><span class="balls">{{mapByPlay[5701].name}}</span> <span class="pl">{{mapByPlay[5701].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5702"><span class="balls">{{mapByPlay[5702].name}}</span> <span class="pl">{{mapByPlay[5702].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5703"><span class="balls">{{mapByPlay[5703].name}}</span> <span class="pl">{{mapByPlay[5703].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5704"><span class="balls">{{mapByPlay[5704].name}}</span> <span class="pl">{{mapByPlay[5704].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5705"><span class="balls">{{mapByPlay[5705].name}}</span> <span class="pl">{{mapByPlay[5705].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5706"><span class="balls">{{mapByPlay[5706].name}}</span> <span class="pl">{{mapByPlay[5706].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5707"><span class="balls">{{mapByPlay[5707].name}}</span> <span class="pl">{{mapByPlay[5707].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5708"><span class="balls">{{mapByPlay[5708].name}}</span> <span class="pl">{{mapByPlay[5708].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5709"><span class="balls">{{mapByPlay[5709].name}}</span> <span class="pl">{{mapByPlay[5709].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5710"><span class="balls">{{mapByPlay[5710].name}}</span> <span class="pl">{{mapByPlay[5710].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5711"><span class="balls">{{mapByPlay[5711].name}}</span> <span class="pl">{{mapByPlay[5711].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5712"><span class="balls">{{mapByPlay[5712].name}}</span> <span class="pl">{{mapByPlay[5712].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5611">{{mapByPlay[5611].name}} <span class="pl">{{mapByPlay[5611].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5612">{{mapByPlay[5612].name}} <span class="pl">{{mapByPlay[5612].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5613">{{mapByPlay[5613].name}} <span class="pl">{{mapByPlay[5613].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5614">{{mapByPlay[5614].name}} <span class="pl">{{mapByPlay[5614].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5615">{{mapByPlay[5615].name}} <span class="pl">{{mapByPlay[5615].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5616">{{mapByPlay[5616].name}} <span class="pl">{{mapByPlay[5616].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5617">{{mapByPlay[5617].name}} <span class="pl">{{mapByPlay[5617].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5618">{{mapByPlay[5618].name}} <span class="pl">{{mapByPlay[5618].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

