<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第三球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5713"><span class="balls">{{mapByPlay[5713].name}}</span> <span class="pl">{{mapByPlay[5713].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5714"><span class="balls">{{mapByPlay[5714].name}}</span> <span class="pl">{{mapByPlay[5714].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5715"><span class="balls">{{mapByPlay[5715].name}}</span> <span class="pl">{{mapByPlay[5715].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5716"><span class="balls">{{mapByPlay[5716].name}}</span> <span class="pl">{{mapByPlay[5716].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5717"><span class="balls">{{mapByPlay[5717].name}}</span> <span class="pl">{{mapByPlay[5717].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5718"><span class="balls">{{mapByPlay[5718].name}}</span> <span class="pl">{{mapByPlay[5718].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5719"><span class="balls">{{mapByPlay[5719].name}}</span> <span class="pl">{{mapByPlay[5719].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5720"><span class="balls">{{mapByPlay[5720].name}}</span> <span class="pl">{{mapByPlay[5720].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5721"><span class="balls">{{mapByPlay[5721].name}}</span> <span class="pl">{{mapByPlay[5721].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5722"><span class="balls">{{mapByPlay[5722].name}}</span> <span class="pl">{{mapByPlay[5722].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5723"><span class="balls">{{mapByPlay[5723].name}}</span> <span class="pl">{{mapByPlay[5723].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5724"><span class="balls">{{mapByPlay[5724].name}}</span> <span class="pl">{{mapByPlay[5724].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5725"><span class="balls">{{mapByPlay[5725].name}}</span> <span class="pl">{{mapByPlay[5725].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5726"><span class="balls">{{mapByPlay[5726].name}}</span> <span class="pl">{{mapByPlay[5726].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5727"><span class="balls">{{mapByPlay[5727].name}}</span> <span class="pl">{{mapByPlay[5727].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5728"><span class="balls">{{mapByPlay[5728].name}}</span> <span class="pl">{{mapByPlay[5728].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5729"><span class="balls">{{mapByPlay[5729].name}}</span> <span class="pl">{{mapByPlay[5729].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5730"><span class="balls">{{mapByPlay[5730].name}}</span> <span class="pl">{{mapByPlay[5730].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5731"><span class="balls">{{mapByPlay[5731].name}}</span> <span class="pl">{{mapByPlay[5731].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5732"><span class="balls">{{mapByPlay[5732].name}}</span> <span class="pl">{{mapByPlay[5732].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5621">{{mapByPlay[5621].name}} <span class="pl">{{mapByPlay[5621].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5622">{{mapByPlay[5622].name}} <span class="pl">{{mapByPlay[5622].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5623">{{mapByPlay[5623].name}} <span class="pl">{{mapByPlay[5623].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5624">{{mapByPlay[5624].name}} <span class="pl">{{mapByPlay[5624].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5625">{{mapByPlay[5625].name}} <span class="pl">{{mapByPlay[5625].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5626">{{mapByPlay[5626].name}} <span class="pl">{{mapByPlay[5626].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5627">{{mapByPlay[5627].name}} <span class="pl">{{mapByPlay[5627].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5628">{{mapByPlay[5628].name}} <span class="pl">{{mapByPlay[5628].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

