<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第四球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5733"><span class="balls">{{mapByPlay[5733].name}}</span> <span class="pl">{{mapByPlay[5733].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5734"><span class="balls">{{mapByPlay[5734].name}}</span> <span class="pl">{{mapByPlay[5734].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5735"><span class="balls">{{mapByPlay[5735].name}}</span> <span class="pl">{{mapByPlay[5735].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5736"><span class="balls">{{mapByPlay[5736].name}}</span> <span class="pl">{{mapByPlay[5736].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5737"><span class="balls">{{mapByPlay[5737].name}}</span> <span class="pl">{{mapByPlay[5737].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5738"><span class="balls">{{mapByPlay[5738].name}}</span> <span class="pl">{{mapByPlay[5738].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5739"><span class="balls">{{mapByPlay[5739].name}}</span> <span class="pl">{{mapByPlay[5739].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5740"><span class="balls">{{mapByPlay[5740].name}}</span> <span class="pl">{{mapByPlay[5740].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5741"><span class="balls">{{mapByPlay[5741].name}}</span> <span class="pl">{{mapByPlay[5741].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5742"><span class="balls">{{mapByPlay[5742].name}}</span> <span class="pl">{{mapByPlay[5742].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5743"><span class="balls">{{mapByPlay[5743].name}}</span> <span class="pl">{{mapByPlay[5743].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5744"><span class="balls">{{mapByPlay[5744].name}}</span> <span class="pl">{{mapByPlay[5744].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5745"><span class="balls">{{mapByPlay[5745].name}}</span> <span class="pl">{{mapByPlay[5745].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5746"><span class="balls">{{mapByPlay[5746].name}}</span> <span class="pl">{{mapByPlay[5746].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5747"><span class="balls">{{mapByPlay[5747].name}}</span> <span class="pl">{{mapByPlay[5747].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5748"><span class="balls">{{mapByPlay[5748].name}}</span> <span class="pl">{{mapByPlay[5748].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5749"><span class="balls">{{mapByPlay[5749].name}}</span> <span class="pl">{{mapByPlay[5749].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5750"><span class="balls">{{mapByPlay[5750].name}}</span> <span class="pl">{{mapByPlay[5750].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5751"><span class="balls">{{mapByPlay[5751].name}}</span> <span class="pl">{{mapByPlay[5751].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5752"><span class="balls">{{mapByPlay[5752].name}}</span> <span class="pl">{{mapByPlay[5752].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5631">{{mapByPlay[5631].name}} <span class="pl">{{mapByPlay[5631].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5632">{{mapByPlay[5632].name}} <span class="pl">{{mapByPlay[5632].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5633">{{mapByPlay[5633].name}} <span class="pl">{{mapByPlay[5633].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5634">{{mapByPlay[5634].name}} <span class="pl">{{mapByPlay[5634].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5635">{{mapByPlay[5635].name}} <span class="pl">{{mapByPlay[5635].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5636">{{mapByPlay[5636].name}} <span class="pl">{{mapByPlay[5636].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5637">{{mapByPlay[5637].name}} <span class="pl">{{mapByPlay[5637].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5638">{{mapByPlay[5638].name}} <span class="pl">{{mapByPlay[5638].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

