<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第五球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5753"><span class="balls">{{mapByPlay[5753].name}}</span> <span class="pl">{{mapByPlay[5753].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5754"><span class="balls">{{mapByPlay[5754].name}}</span> <span class="pl">{{mapByPlay[5754].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5755"><span class="balls">{{mapByPlay[5755].name}}</span> <span class="pl">{{mapByPlay[5755].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5756"><span class="balls">{{mapByPlay[5756].name}}</span> <span class="pl">{{mapByPlay[5756].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5757"><span class="balls">{{mapByPlay[5757].name}}</span> <span class="pl">{{mapByPlay[5757].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5758"><span class="balls">{{mapByPlay[5758].name}}</span> <span class="pl">{{mapByPlay[5758].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5759"><span class="balls">{{mapByPlay[5759].name}}</span> <span class="pl">{{mapByPlay[5759].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5760"><span class="balls">{{mapByPlay[5760].name}}</span> <span class="pl">{{mapByPlay[5760].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5761"><span class="balls">{{mapByPlay[5761].name}}</span> <span class="pl">{{mapByPlay[5761].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5762"><span class="balls">{{mapByPlay[5762].name}}</span> <span class="pl">{{mapByPlay[5762].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5763"><span class="balls">{{mapByPlay[5763].name}}</span> <span class="pl">{{mapByPlay[5763].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5764"><span class="balls">{{mapByPlay[5764].name}}</span> <span class="pl">{{mapByPlay[5764].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5765"><span class="balls">{{mapByPlay[5765].name}}</span> <span class="pl">{{mapByPlay[5765].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5766"><span class="balls">{{mapByPlay[5766].name}}</span> <span class="pl">{{mapByPlay[5766].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5767"><span class="balls">{{mapByPlay[5767].name}}</span> <span class="pl">{{mapByPlay[5767].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5768"><span class="balls">{{mapByPlay[5768].name}}</span> <span class="pl">{{mapByPlay[5768].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5769"><span class="balls">{{mapByPlay[5769].name}}</span> <span class="pl">{{mapByPlay[5769].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5770"><span class="balls">{{mapByPlay[5770].name}}</span> <span class="pl">{{mapByPlay[5770].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5771"><span class="balls">{{mapByPlay[5771].name}}</span> <span class="pl">{{mapByPlay[5771].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5772"><span class="balls">{{mapByPlay[5772].name}}</span> <span class="pl">{{mapByPlay[5772].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5641">{{mapByPlay[5641].name}} <span class="pl">{{mapByPlay[5641].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5642">{{mapByPlay[5642].name}} <span class="pl">{{mapByPlay[5642].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5643">{{mapByPlay[5643].name}} <span class="pl">{{mapByPlay[5643].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5644">{{mapByPlay[5644].name}} <span class="pl">{{mapByPlay[5644].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5645">{{mapByPlay[5645].name}} <span class="pl">{{mapByPlay[5645].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5646">{{mapByPlay[5646].name}} <span class="pl">{{mapByPlay[5646].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5647">{{mapByPlay[5647].name}} <span class="pl">{{mapByPlay[5647].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5648">{{mapByPlay[5648].name}} <span class="pl">{{mapByPlay[5648].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

