<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第六球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5773"><span class="balls">{{mapByPlay[5773].name}}</span> <span class="pl">{{mapByPlay[5773].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5774"><span class="balls">{{mapByPlay[5774].name}}</span> <span class="pl">{{mapByPlay[5774].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5775"><span class="balls">{{mapByPlay[5775].name}}</span> <span class="pl">{{mapByPlay[5775].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5776"><span class="balls">{{mapByPlay[5776].name}}</span> <span class="pl">{{mapByPlay[5776].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5777"><span class="balls">{{mapByPlay[5777].name}}</span> <span class="pl">{{mapByPlay[5777].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5778"><span class="balls">{{mapByPlay[5778].name}}</span> <span class="pl">{{mapByPlay[5778].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5779"><span class="balls">{{mapByPlay[5779].name}}</span> <span class="pl">{{mapByPlay[5779].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5780"><span class="balls">{{mapByPlay[5780].name}}</span> <span class="pl">{{mapByPlay[5780].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5781"><span class="balls">{{mapByPlay[5781].name}}</span> <span class="pl">{{mapByPlay[5781].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5782"><span class="balls">{{mapByPlay[5782].name}}</span> <span class="pl">{{mapByPlay[5782].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5783"><span class="balls">{{mapByPlay[5783].name}}</span> <span class="pl">{{mapByPlay[5783].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5784"><span class="balls">{{mapByPlay[5784].name}}</span> <span class="pl">{{mapByPlay[5784].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5785"><span class="balls">{{mapByPlay[5785].name}}</span> <span class="pl">{{mapByPlay[5785].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5786"><span class="balls">{{mapByPlay[5786].name}}</span> <span class="pl">{{mapByPlay[5786].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5787"><span class="balls">{{mapByPlay[5787].name}}</span> <span class="pl">{{mapByPlay[5787].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5788"><span class="balls">{{mapByPlay[5788].name}}</span> <span class="pl">{{mapByPlay[5788].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5789"><span class="balls">{{mapByPlay[5789].name}}</span> <span class="pl">{{mapByPlay[5789].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5790"><span class="balls">{{mapByPlay[5790].name}}</span> <span class="pl">{{mapByPlay[5790].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5791"><span class="balls">{{mapByPlay[5791].name}}</span> <span class="pl">{{mapByPlay[5791].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5792"><span class="balls">{{mapByPlay[5792].name}}</span> <span class="pl">{{mapByPlay[5792].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5649">{{mapByPlay[5649].name}} <span class="pl">{{mapByPlay[5649].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5650">{{mapByPlay[5650].name}} <span class="pl">{{mapByPlay[5650].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5651">{{mapByPlay[5651].name}} <span class="pl">{{mapByPlay[5651].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5652">{{mapByPlay[5652].name}} <span class="pl">{{mapByPlay[5652].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5653">{{mapByPlay[5653].name}} <span class="pl">{{mapByPlay[5653].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5654">{{mapByPlay[5654].name}} <span class="pl">{{mapByPlay[5654].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5655">{{mapByPlay[5655].name}} <span class="pl">{{mapByPlay[5655].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5656">{{mapByPlay[5656].name}} <span class="pl">{{mapByPlay[5656].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

