<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第七球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5793"><span class="balls">{{mapByPlay[5793].name}}</span> <span class="pl">{{mapByPlay[5793].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5794"><span class="balls">{{mapByPlay[5794].name}}</span> <span class="pl">{{mapByPlay[5794].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5795"><span class="balls">{{mapByPlay[5795].name}}</span> <span class="pl">{{mapByPlay[5795].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5796"><span class="balls">{{mapByPlay[5796].name}}</span> <span class="pl">{{mapByPlay[5796].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5797"><span class="balls">{{mapByPlay[5797].name}}</span> <span class="pl">{{mapByPlay[5797].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5798"><span class="balls">{{mapByPlay[5798].name}}</span> <span class="pl">{{mapByPlay[5798].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5799"><span class="balls">{{mapByPlay[5799].name}}</span> <span class="pl">{{mapByPlay[5799].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5800"><span class="balls">{{mapByPlay[5800].name}}</span> <span class="pl">{{mapByPlay[5800].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5801"><span class="balls">{{mapByPlay[5801].name}}</span> <span class="pl">{{mapByPlay[5801].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5802"><span class="balls">{{mapByPlay[5802].name}}</span> <span class="pl">{{mapByPlay[5802].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5803"><span class="balls">{{mapByPlay[5803].name}}</span> <span class="pl">{{mapByPlay[5803].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5804"><span class="balls">{{mapByPlay[5804].name}}</span> <span class="pl">{{mapByPlay[5804].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5805"><span class="balls">{{mapByPlay[5805].name}}</span> <span class="pl">{{mapByPlay[5805].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5806"><span class="balls">{{mapByPlay[5806].name}}</span> <span class="pl">{{mapByPlay[5806].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5807"><span class="balls">{{mapByPlay[5807].name}}</span> <span class="pl">{{mapByPlay[5807].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5808"><span class="balls">{{mapByPlay[5808].name}}</span> <span class="pl">{{mapByPlay[5808].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5809"><span class="balls">{{mapByPlay[5809].name}}</span> <span class="pl">{{mapByPlay[5809].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5810"><span class="balls">{{mapByPlay[5810].name}}</span> <span class="pl">{{mapByPlay[5810].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5811"><span class="balls">{{mapByPlay[5811].name}}</span> <span class="pl">{{mapByPlay[5811].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5812"><span class="balls">{{mapByPlay[5812].name}}</span> <span class="pl">{{mapByPlay[5812].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5657">{{mapByPlay[5657].name}} <span class="pl">{{mapByPlay[5657].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5658">{{mapByPlay[5658].name}} <span class="pl">{{mapByPlay[5658].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5659">{{mapByPlay[5659].name}} <span class="pl">{{mapByPlay[5659].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5660">{{mapByPlay[5660].name}} <span class="pl">{{mapByPlay[5660].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5661">{{mapByPlay[5661].name}} <span class="pl">{{mapByPlay[5661].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5662">{{mapByPlay[5662].name}} <span class="pl">{{mapByPlay[5662].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5663">{{mapByPlay[5663].name}} <span class="pl">{{mapByPlay[5663].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5664">{{mapByPlay[5664].name}} <span class="pl">{{mapByPlay[5664].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

