<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第八球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col name" data-id="5813"><span class="balls">{{mapByPlay[5813].name}}</span> <span class="pl">{{mapByPlay[5813].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5814"><span class="balls">{{mapByPlay[5814].name}}</span> <span class="pl">{{mapByPlay[5814].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5815"><span class="balls">{{mapByPlay[5815].name}}</span> <span class="pl">{{mapByPlay[5815].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5816"><span class="balls">{{mapByPlay[5816].name}}</span> <span class="pl">{{mapByPlay[5816].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5817"><span class="balls">{{mapByPlay[5817].name}}</span> <span class="pl">{{mapByPlay[5817].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5818"><span class="balls">{{mapByPlay[5818].name}}</span> <span class="pl">{{mapByPlay[5818].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5819"><span class="balls">{{mapByPlay[5819].name}}</span> <span class="pl">{{mapByPlay[5819].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5820"><span class="balls">{{mapByPlay[5820].name}}</span> <span class="pl">{{mapByPlay[5820].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5821"><span class="balls">{{mapByPlay[5821].name}}</span> <span class="pl">{{mapByPlay[5821].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5822"><span class="balls">{{mapByPlay[5822].name}}</span> <span class="pl">{{mapByPlay[5822].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5823"><span class="balls">{{mapByPlay[5823].name}}</span> <span class="pl">{{mapByPlay[5823].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5824"><span class="balls">{{mapByPlay[5824].name}}</span> <span class="pl">{{mapByPlay[5824].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5825"><span class="balls">{{mapByPlay[5825].name}}</span> <span class="pl">{{mapByPlay[5825].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5826"><span class="balls">{{mapByPlay[5826].name}}</span> <span class="pl">{{mapByPlay[5826].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5827"><span class="balls">{{mapByPlay[5827].name}}</span> <span class="pl">{{mapByPlay[5827].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5828"><span class="balls">{{mapByPlay[5828].name}}</span> <span class="pl">{{mapByPlay[5828].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5829"><span class="balls">{{mapByPlay[5829].name}}</span> <span class="pl">{{mapByPlay[5829].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5830"><span class="balls">{{mapByPlay[5830].name}}</span> <span class="pl">{{mapByPlay[5830].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col name" data-id="5831"><span class="balls">{{mapByPlay[5831].name}}</span> <span class="pl">{{mapByPlay[5831].bp | numFilter}}</span></td>
                        <td  class="col name" data-id="5832"><span class="balls">{{mapByPlay[5832].name}}</span> <span class="pl">{{mapByPlay[5832].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td  class="col2 name" data-id="5665">{{mapByPlay[5665].name}} <span class="pl">{{mapByPlay[5665].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5666">{{mapByPlay[5666].name}} <span class="pl">{{mapByPlay[5666].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5667">{{mapByPlay[5667].name}} <span class="pl">{{mapByPlay[5667].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5668">{{mapByPlay[5668].name}} <span class="pl">{{mapByPlay[5668].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5669">{{mapByPlay[5669].name}} <span class="pl">{{mapByPlay[5669].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5670">{{mapByPlay[5670].name}} <span class="pl">{{mapByPlay[5670].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col2 name" data-id="5671">{{mapByPlay[5671].name}} <span class="pl">{{mapByPlay[5671].bp | numFilter}}</span></td>
                        <td  class="col2 name" data-id="5672">{{mapByPlay[5672].name}} <span class="pl">{{mapByPlay[5672].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

