<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第一球VS第二球</div>         
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5853">{{mapByPlay[5853].name}} <span class="pl">{{mapByPlay[5853].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5854">{{mapByPlay[5854].name}} <span class="pl">{{mapByPlay[5854].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第一球VS第三球</div>          
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5855">{{mapByPlay[5855].name}} <span class="pl">{{mapByPlay[5855].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5856">{{mapByPlay[5856].name}} <span class="pl">{{mapByPlay[5856].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第一球VS第四球</div>          
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5857">{{mapByPlay[5857].name}} <span class="pl">{{mapByPlay[5857].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5858">{{mapByPlay[5858].name}} <span class="pl">{{mapByPlay[5858].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第一球VS第五球</div>          
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5859">{{mapByPlay[5859].name}} <span class="pl">{{mapByPlay[5859].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5860">{{mapByPlay[5860].name}} <span class="pl">{{mapByPlay[5860].bp | numFilter}}</span></td>                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第一球VS第六球</div>          
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5861">{{mapByPlay[5861].name}} <span class="pl">{{mapByPlay[5861].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5862">{{mapByPlay[5862].name}} <span class="pl">{{mapByPlay[5862].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第一球VS第七球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5863">{{mapByPlay[5863].name}} <span class="pl">{{mapByPlay[5863].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5864">{{mapByPlay[5864].name}} <span class="pl">{{mapByPlay[5864].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第一球VS第八球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5865">{{mapByPlay[5865].name}} <span class="pl">{{mapByPlay[5865].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5866">{{mapByPlay[5866].name}} <span class="pl">{{mapByPlay[5866].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第二球VS第三球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5867">{{mapByPlay[5867].name}} <span class="pl">{{mapByPlay[5867].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5868">{{mapByPlay[5868].name}} <span class="pl">{{mapByPlay[5868].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第二球VS第四球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5869">{{mapByPlay[5869].name}} <span class="pl">{{mapByPlay[5869].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5870">{{mapByPlay[5870].name}} <span class="pl">{{mapByPlay[5870].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第二球VS第五球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5871">{{mapByPlay[5871].name}} <span class="pl">{{mapByPlay[5871].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5872">{{mapByPlay[5872].name}} <span class="pl">{{mapByPlay[5872].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第二球VS第六球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5873">{{mapByPlay[5873].name}} <span class="pl">{{mapByPlay[5873].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5874">{{mapByPlay[5874].name}} <span class="pl">{{mapByPlay[5874].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第二球VS第七球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5875">{{mapByPlay[5875].name}} <span class="pl">{{mapByPlay[5875].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5876">{{mapByPlay[5876].name}} <span class="pl">{{mapByPlay[5876].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第二球VS第八球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5877">{{mapByPlay[5877].name}} <span class="pl">{{mapByPlay[5877].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5878">{{mapByPlay[5878].name}} <span class="pl">{{mapByPlay[5878].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第三球VS第四球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5879">{{mapByPlay[5879].name}} <span class="pl">{{mapByPlay[5879].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5880">{{mapByPlay[5880].name}} <span class="pl">{{mapByPlay[5880].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第三球VS第五球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5881">{{mapByPlay[5881].name}} <span class="pl">{{mapByPlay[5881].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5882">{{mapByPlay[5882].name}} <span class="pl">{{mapByPlay[5882].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第三球VS第六球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5883">{{mapByPlay[5883].name}} <span class="pl">{{mapByPlay[5883].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5884">{{mapByPlay[5884].name}} <span class="pl">{{mapByPlay[5884].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第三球VS第七球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5885">{{mapByPlay[5885].name}} <span class="pl">{{mapByPlay[5885].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5886">{{mapByPlay[5886].name}} <span class="pl">{{mapByPlay[5886].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第三球VS第八球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5887">{{mapByPlay[5887].name}} <span class="pl">{{mapByPlay[5887].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5888">{{mapByPlay[5888].name}} <span class="pl">{{mapByPlay[5888].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第四球VS第五球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5889">{{mapByPlay[5889].name}} <span class="pl">{{mapByPlay[5889].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5890">{{mapByPlay[5890].name}} <span class="pl">{{mapByPlay[5890].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第四球VS第六球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5891">{{mapByPlay[5891].name}} <span class="pl">{{mapByPlay[5891].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5892">{{mapByPlay[5892].name}} <span class="pl">{{mapByPlay[5892].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第四球VS第七球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5893">{{mapByPlay[5893].name}} <span class="pl">{{mapByPlay[5893].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5894">{{mapByPlay[5894].name}} <span class="pl">{{mapByPlay[5894].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第四球VS第八球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5895">{{mapByPlay[5895].name}} <span class="pl">{{mapByPlay[5895].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5896">{{mapByPlay[5896].name}} <span class="pl">{{mapByPlay[5896].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第五球VS第六球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5897">{{mapByPlay[5897].name}} <span class="pl">{{mapByPlay[5897].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5898">{{mapByPlay[5898].name}} <span class="pl">{{mapByPlay[5898].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第五球VS第七球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5899">{{mapByPlay[5899].name}} <span class="pl">{{mapByPlay[5899].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5900">{{mapByPlay[5900].name}} <span class="pl">{{mapByPlay[5900].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第五球VS第八球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5901">{{mapByPlay[5901].name}} <span class="pl">{{mapByPlay[5901].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5902">{{mapByPlay[5902].name}} <span class="pl">{{mapByPlay[5902].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第六球VS第七球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5903">{{mapByPlay[5903].name}} <span class="pl">{{mapByPlay[5903].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5904">{{mapByPlay[5904].name}} <span class="pl">{{mapByPlay[5904].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第六球VS第八球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5905">{{mapByPlay[5905].name}} <span class="pl">{{mapByPlay[5905].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5906">{{mapByPlay[5906].name}} <span class="pl">{{mapByPlay[5906].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第七球VS第八球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5907">{{mapByPlay[5907].name}} <span class="pl">{{mapByPlay[5907].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5908">{{mapByPlay[5908].name}} <span class="pl">{{mapByPlay[5908].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

