<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
                <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">总和</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[0]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5595">{{mapByPlay[5595].name}} <span class="pl">{{mapByPlay[5595].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5596">{{mapByPlay[5596].name}} <span class="pl">{{mapByPlay[5596].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5597">{{mapByPlay[5597].name}} <span class="pl">{{mapByPlay[5597].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5598">{{mapByPlay[5598].name}} <span class="pl">{{mapByPlay[5598].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5599">{{mapByPlay[5599].name}} <span class="pl">{{mapByPlay[5599].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5600">{{mapByPlay[5600].name}} <span class="pl">{{mapByPlay[5600].bp | numFilter}}</span></td>
                            </tr>
                        </table>                        
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(1)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[1]"></i><i class="cubeic-pulldown" v-show="!show[1]"></i></div>
                    <div class="icon-title">第一球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[1]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5601">{{mapByPlay[5601].name}} <span class="pl">{{mapByPlay[5601].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5602">{{mapByPlay[5602].name}} <span class="pl">{{mapByPlay[5602].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5603">{{mapByPlay[5603].name}} <span class="pl">{{mapByPlay[5603].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5604">{{mapByPlay[5604].name}} <span class="pl">{{mapByPlay[5604].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5605">{{mapByPlay[5605].name}} <span class="pl">{{mapByPlay[5605].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5606">{{mapByPlay[5606].name}} <span class="pl">{{mapByPlay[5606].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5607">{{mapByPlay[5607].name}} <span class="pl">{{mapByPlay[5607].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5608">{{mapByPlay[5608].name}} <span class="pl">{{mapByPlay[5608].bp | numFilter}}</span></td>
                            </tr>
                        </table>                        

                        <div class="shadow"></div>
                    </div>
                </transition>

            
                <div class="game-title" @click.stop="show_menu(2)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[2]"></i><i class="cubeic-pulldown" v-show="!show[2]"></i></div>
                    <div class="icon-title">第二球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[2]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5611">{{mapByPlay[5611].name}} <span class="pl">{{mapByPlay[5611].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5612">{{mapByPlay[5612].name}} <span class="pl">{{mapByPlay[5612].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5613">{{mapByPlay[5613].name}} <span class="pl">{{mapByPlay[5613].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5614">{{mapByPlay[5614].name}} <span class="pl">{{mapByPlay[5614].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5615">{{mapByPlay[5615].name}} <span class="pl">{{mapByPlay[5615].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5616">{{mapByPlay[5616].name}} <span class="pl">{{mapByPlay[5616].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5617">{{mapByPlay[5617].name}} <span class="pl">{{mapByPlay[5617].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5618">{{mapByPlay[5618].name}} <span class="pl">{{mapByPlay[5618].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>    

                <div class="game-title" @click.stop="show_menu(3)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[3]"></i><i class="cubeic-pulldown" v-show="!show[3]"></i></div>
                    <div class="icon-title">第三球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[3]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5621">{{mapByPlay[5621].name}} <span class="pl">{{mapByPlay[5621].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5622">{{mapByPlay[5622].name}} <span class="pl">{{mapByPlay[5622].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5623">{{mapByPlay[5623].name}} <span class="pl">{{mapByPlay[5623].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5624">{{mapByPlay[5624].name}} <span class="pl">{{mapByPlay[5624].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5625">{{mapByPlay[5625].name}} <span class="pl">{{mapByPlay[5625].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5626">{{mapByPlay[5626].name}} <span class="pl">{{mapByPlay[5626].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5627">{{mapByPlay[5627].name}} <span class="pl">{{mapByPlay[5627].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5628">{{mapByPlay[5628].name}} <span class="pl">{{mapByPlay[5628].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
                <div class="game-title" @click.stop="show_menu(4)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[4]"></i><i class="cubeic-pulldown" v-show="!show[4]"></i></div>
                    <div class="icon-title">第四球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[4]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5631">{{mapByPlay[5631].name}} <span class="pl">{{mapByPlay[5631].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5632">{{mapByPlay[5632].name}} <span class="pl">{{mapByPlay[5632].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5633">{{mapByPlay[5633].name}} <span class="pl">{{mapByPlay[5633].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5634">{{mapByPlay[5634].name}} <span class="pl">{{mapByPlay[5634].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5635">{{mapByPlay[5635].name}} <span class="pl">{{mapByPlay[5635].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5636">{{mapByPlay[5636].name}} <span class="pl">{{mapByPlay[5636].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5637">{{mapByPlay[5637].name}} <span class="pl">{{mapByPlay[5637].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5638">{{mapByPlay[5638].name}} <span class="pl">{{mapByPlay[5638].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
                <div class="game-title" @click.stop="show_menu(5)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[5]"></i><i class="cubeic-pulldown" v-show="!show[5]"></i></div>
                    <div class="icon-title">第五球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[5]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5641">{{mapByPlay[5641].name}} <span class="pl">{{mapByPlay[5641].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5642">{{mapByPlay[5642].name}} <span class="pl">{{mapByPlay[5642].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5643">{{mapByPlay[5643].name}} <span class="pl">{{mapByPlay[5643].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5644">{{mapByPlay[5644].name}} <span class="pl">{{mapByPlay[5644].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5645">{{mapByPlay[5645].name}} <span class="pl">{{mapByPlay[5645].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5646">{{mapByPlay[5646].name}} <span class="pl">{{mapByPlay[5646].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5647">{{mapByPlay[5647].name}} <span class="pl">{{mapByPlay[5647].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5648">{{mapByPlay[5648].name}} <span class="pl">{{mapByPlay[5648].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(6)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[6]"></i><i class="cubeic-pulldown" v-show="!show[6]"></i></div>
                    <div class="icon-title">第六球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[6]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5649">{{mapByPlay[5649].name}} <span class="pl">{{mapByPlay[5649].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5650">{{mapByPlay[5650].name}} <span class="pl">{{mapByPlay[5650].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5651">{{mapByPlay[5651].name}} <span class="pl">{{mapByPlay[5651].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5652">{{mapByPlay[5652].name}} <span class="pl">{{mapByPlay[5652].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5653">{{mapByPlay[5653].name}} <span class="pl">{{mapByPlay[5653].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5654">{{mapByPlay[5654].name}} <span class="pl">{{mapByPlay[5654].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5655">{{mapByPlay[5655].name}} <span class="pl">{{mapByPlay[5655].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5656">{{mapByPlay[5656].name}} <span class="pl">{{mapByPlay[5656].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(7)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[7]"></i><i class="cubeic-pulldown" v-show="!show[7]"></i></div>
                    <div class="icon-title">第七球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[7]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5657">{{mapByPlay[5657].name}} <span class="pl">{{mapByPlay[5657].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5658">{{mapByPlay[5658].name}} <span class="pl">{{mapByPlay[5658].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5659">{{mapByPlay[5659].name}} <span class="pl">{{mapByPlay[5659].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5660">{{mapByPlay[5660].name}} <span class="pl">{{mapByPlay[5660].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5661">{{mapByPlay[5661].name}} <span class="pl">{{mapByPlay[5661].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5662">{{mapByPlay[5662].name}} <span class="pl">{{mapByPlay[5662].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5663">{{mapByPlay[5663].name}} <span class="pl">{{mapByPlay[5663].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5664">{{mapByPlay[5664].name}} <span class="pl">{{mapByPlay[5664].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(8)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[8]"></i><i class="cubeic-pulldown" v-show="!show[8]"></i></div>
                    <div class="icon-title">第八球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[8]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5665">{{mapByPlay[5665].name}} <span class="pl">{{mapByPlay[5665].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5666">{{mapByPlay[5666].name}} <span class="pl">{{mapByPlay[5666].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5667">{{mapByPlay[5667].name}} <span class="pl">{{mapByPlay[5667].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5668">{{mapByPlay[5668].name}} <span class="pl">{{mapByPlay[5668].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5669">{{mapByPlay[5669].name}} <span class="pl">{{mapByPlay[5669].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5670">{{mapByPlay[5670].name}} <span class="pl">{{mapByPlay[5670].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5671">{{mapByPlay[5671].name}} <span class="pl">{{mapByPlay[5671].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5672">{{mapByPlay[5672].name}} <span class="pl">{{mapByPlay[5672].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
            6:false,
            7:false,
            8:false,
        },
    };
  },
    components: {
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

