<template>
  <cube-page type="tabs-basic-view" :title="options.title" :options="options" >
    <div slot="content" v-cloak>
        <div class="bet">
            <PreInfo :options="options"></PreInfo>
            <div class="bet-area">
                <span class="content" @click="addBet" v-if="betCfg[options.group_type]">
                    <keep-alive>
                        <component ref="ld_component" :is="default_view" :options="options" ></component>
                    </keep-alive>
                </span>
            </div>
            <bet-bar :type_id="options.type_id"></bet-bar>
        </div>
    </div>
    <cube-view></cube-view>
  </cube-page>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar.vue';
import CubePage from '@/components/cube-page.vue';
import PreInfo from '@/components/pre-info.vue';
import play_index from '@/components/game/credit/ld/index.vue';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
                title:"老捣",
                type_id:120,
                model:"credit",
                type_name:"ld",
                group_type:17, // group_type: 261-264
            },            
            activeColor:0,
            default_view:play_index,
        }
    },
    methods: {
        changeHandler(label) {
            console.log('changed to:', label)
        },
        changeView(tpl,index){
            this.default_view=tpl;
            this.activeColor = index;
        }
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
            mapByType:"mapByType",
        }),
    },
    components: {
      CubePage,
      BetBar,
      PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>
