<template>
  <cube-page type="tabs-basic-view" :title="options.title" :options="options" >
    <div slot="content" >
        <div class="bet">
            <pre-info :options="options"></pre-info>
            <div class="bet-area">
                <div class="sideMenu">
                    <cube-scroll  ref="scroll">
                    <ul>
                        <li class="side-li" v-for="(item,index) in tabs" :key="index" @click="changeView(item.tpl,index)" :class="{bg:activeColor == index}">{{item.label}}</li>
                    </ul>
                    </cube-scroll>
                </div>
                <div class="content" @click="addBet" v-if="betCfg[options.group_type]">
                    <keep-alive>
                        <component :is="default_view" ></component>
                    </keep-alive>
                </div>
            </div>
            <bet-bar :type_id="options.type_id"></bet-bar>
        </div>
    </div>
    <cube-view></cube-view>
  </cube-page>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar.vue';
import CubePage from '@/components/cube-page.vue';
import PreInfo from '@/components/pre-info.vue';
import play_13 from '@/components/game/credit/lhc/13.vue';
import play_12 from '@/components/game/credit/lhc/12.vue';
import play_11 from '@/components/game/credit/lhc/11.vue';
import play_10 from '@/components/game/credit/lhc/10.vue';
import play_9 from '@/components/game/credit/lhc/9.vue';
import play_8 from '@/components/game/credit/lhc/8.vue';
import play_7 from '@/components/game/credit/lhc/7.vue';
import play_6 from '@/components/game/credit/lhc/6.vue';
import play_5 from '@/components/game/credit/lhc/5.vue';
import play_4 from '@/components/game/credit/lhc/4.vue';
import play_3 from '@/components/game/credit/lhc/3.vue';
import play_2 from '@/components/game/credit/lhc/2.vue';
import play_1 from '@/components/game/credit/lhc/1.vue';
import play_index from '@/components/game/credit/lhc/index.vue';
import { apiGetTestData } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
                title:"澳门六合彩",
                type_id:128,
                model:"credit",
                type_name:"Macaolhc",
                group_type:12,
            },
            activeColor:0,
            default_view:play_index,
            tabs: [{
                label: '特码',
                tpl:play_index
            },{
                label: '两面',
                tpl:play_1
            },{
                label: '色波',
                tpl:play_2
            },{
                label: '特肖',
                tpl:play_3
            },{
                label: '特码头尾',
                tpl:play_4
            },{
                label: '正码',
                tpl:play_5
            },{
                label: '正码特',
                tpl:play_6
            },{
                label: '正码1-6',
                tpl:play_7
            },{
                label: '五行',
                tpl:play_8
            },{
                label: '平特一肖',
                tpl:play_9
            },{
                label: '平特尾数',
                tpl:play_10
            },{
                label: '正肖',
                tpl:play_11
            },{
                label: '七色波',
                tpl:play_12
            },{
                label: '总肖',
                tpl:play_13
            }
            ],
        }
    },
    methods: {
        changeHandler(label) {
            console.log('changed to:', label)
        },
        changeView(tpl,index){
            this.default_view=tpl;
            this.activeColor = index;
        },
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
            mapByType:"mapByType",
        }),
    },
    components: {
      CubePage,
      BetBar,
      PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>

</style>
