<template>
  <cube-page type="tabs-basic-view" :title="options.title"  :options="options" >
    <div slot="content" class="bet">
        <pre-info :options="options"></pre-info>
        <div class="bet-area">
            <div class="content" v-if="betCfg[options.group_type]">
                <component ref="bet_page" :is="default_view" :options="options" ></component>
            </div>
        </div>
    </div>
  </cube-page>
</template>

<script type="text/ecmascript-6">
import PreInfo from '@/components/pre-info-max4d.vue';
import CubePage from '@/components/cube-page.vue';
import play_1 from '@/components/game/credit/max4d/4d_big.vue';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
                title:"Max4D",
                type_id:127,
                model:"credit",
                type_name:"max4d",
                group_type:18,
                playedId:6644,
                gplayedId:265,
            },
            default_view:play_1,
        }
    },
    methods: {

    },
    watch: {
        'options.playedId':{
            handler: function(id) {
                this.restBet();
                this.default_view = require('@/components/game/credit/max4d/'+this.mapByPlay[id].tpl+'.vue').default;
            },
        }
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            betFlagOF: "betFlagOF",
            mapByPlay:"mapByPlay",
            mapByGroup:"mapByGroup",
            betCfg:"betCfg",
        }),
    },
    components: {
      CubePage,
      PreInfo
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        if(!this.mapByGroup[this.options.group_type])
        {
            this.$store.dispatch('setGroup',this.options.group_type);
        }  
        this.restBet();
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">
@import '~assets/css/bet-official.styl'
</style>