<template>
  <cube-page type="tabs-basic-view" :title="options.title" :options="options" >
    <div slot="content" v-cloak>
        <div class="bet">
            <pre-info :options="options"></pre-info>
            <div class="bet-area">
                <span class="sideMenu">
                    <cube-scroll class="scroll_wrapper" ref="scroll">
                    <ul>
                        <li class="side-li" v-for="(item,index) in tabs" :key="index" @click="changeView(item.tpl,index)" :class="{bg:activeColor == index}">{{item.label}}</li>
                    </ul>
                    </cube-scroll>
                </span>
                <span class="content" @click="addBet" v-if="betCfg[options.group_type]">
                    <keep-alive>
                        <component :is="default_view" ></component>
                    </keep-alive>
                </span>
            </div>
            <bet-bar :type_id="options.type_id"></bet-bar>
        </div>
    </div>
    <cube-view></cube-view>
  </cube-page>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar.vue';
import CubePage from '@/components/cube-page.vue';
import PreInfo from '@/components/pre-info.vue';
import play_2 from '@/components/game/credit/pcdd/2.vue';
import play_1 from '@/components/game/credit/pcdd/1.vue';
import play_index from '@/components/game/credit/pcdd/index.vue';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
                title:"PC蛋蛋",
                type_id:65,
                model:"credit",
                type_name:"pcdd",
                group_type:11,
            },
            activeColor:0,
            default_view:play_index,
            tabs: [{
                label: '混合',
                tpl:play_index
            },{
                label: '色波',
                tpl:play_1
            },{
                label: '特码',
                tpl:play_2
            }
            ],
        }
    },
    methods: {
        changeHandler(label) {
            console.log('changed to:', label)
        },
        changeView(tpl,index){
            this.default_view=tpl;
            this.activeColor = index;
        }
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
            mapByType:"mapByType",
        }),
    },
    components: {
      CubePage,
      BetBar,
      PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>
