<template>
  <cube-page type="tabs-basic-view" :title="options.title" :options="options" >
    <div slot="content" >
        <div class="bet">
            <pre-info :options="options"></pre-info>
            <div class="bet-area">
                <span class="sideMenu">
                    <cube-scroll class="scroll_wrapper" ref="scroll">
                    <ul>
                        <li class="side-li" v-for="(item,index) in tabs" :key="index" @click="changeView(item.tpl,index)" :class="{bg:activeColor == index}">{{item.label}}</li>
                    </ul>
                    </cube-scroll>
                </span>
                <span class="content" @click="addBet" v-if="betCfg[options.group_type]">
                    <keep-alive>
                        <component :is="default_view" ></component>
                    </keep-alive>
                </span>
            </div>
            <bet-bar :type_id="options.type_id"></bet-bar>
        </div>
    </div>
    <cube-view></cube-view>
  </cube-page>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar.vue';
import CubePage from '@/components/cube-page.vue';
import PreInfo from '@/components/pre-info.vue';
import play_11 from '@/components/game/credit/pk10/11.vue';
import play_10 from '@/components/game/credit/pk10/10.vue';
import play_9 from '@/components/game/credit/pk10/9.vue';
import play_8 from '@/components/game/credit/pk10/8.vue';
import play_7 from '@/components/game/credit/pk10/7.vue';
import play_6 from '@/components/game/credit/pk10/6.vue';
import play_5 from '@/components/game/credit/pk10/5.vue';
import play_4 from '@/components/game/credit/pk10/4.vue';
import play_3 from '@/components/game/credit/pk10/3.vue';
import play_2 from '@/components/game/credit/pk10/2.vue';
import play_1 from '@/components/game/credit/pk10/1.vue';
import play_index from '@/components/game/credit/pk10/index.vue';
import { apiGetTestData } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
                title:"幸运飞艇",
                type_id:61,
                model:"credit",
                type_name:"xyft",
                group_type:6,
            },
            activeColor:0,
            default_view:play_index,
            tabs: [{
                label: '两面盘',
                tpl:play_index
            },{
                label: '冠亚组合',
                tpl:play_1
            },{
                label: '冠军',
                tpl:play_2
            },{
                label: '亚军',
                tpl:play_3
            },{
                label: '第三名',
                tpl:play_4
            },{
                label: '第四名',
                tpl:play_5
            },{
                label: '第五名',
                tpl:play_6
            },{
                label: '第六名',
                tpl:play_7
            },{
                label: '第七名',
                tpl:play_8
            },{
                label: '第八名',
                tpl:play_9
            },{
                label: '第九名',
                tpl:play_10
            },{
                label: '第十名',
                tpl:play_11
            }
            ],
        }
    },
    methods: {
        changeHandler(label) {
            console.log('changed to:', label)
        },
        changeView(tpl,index){
            this.default_view=tpl;
            this.activeColor = index;
        },
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
            mapByType:"mapByType",
        }),
    },
    components: {
      CubePage,
      BetBar,
      PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>
