<template>
  <cube-page type="tabs-basic-view" :title="options.title" :options="options" >
    <div slot="content" >
        <div class="bet">
            <pre-info :options="options"></pre-info>
            <div class="bet-area">
                <span class="content" @click="addBet_zh" v-if="betCfg[options.group_type]">
                    <keep-alive>
                        <component :is="default_view" ></component>
                    </keep-alive>
                </span>
            </div>
            <bet-bar :type_id="options.type_id" ></bet-bar>
        </div>
    </div>
    <cube-view></cube-view>
  </cube-page>
</template>

<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar.vue';
import CubePage from '@/components/cube-page.vue';
import PreInfo from '@/components/pre-info.vue';
import play_index from '@/components/game/credit/zh/index.vue';
import { apiGetTestData } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
                title:"DV字花",
                type_id:104,
                model:"credit",
                type_name:"zh-at",
                group_type:15,
            },            
            activeColor:0,
            default_view:play_index,
            tabs: [{
                label: '特码',
                tpl:play_index
            }
            ],
        }
    },
    methods: {
        changeHandler(label) {
            console.log('changed to:', label)
        },
        changeView(tpl,index){
            this.default_view=tpl;
            this.activeColor = index;
        },
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
            mapByType:"mapByType",
        }),
    },
    components: {
      CubePage,
      BetBar,
      PreInfo,
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        this.restBet();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>
