<template>
  <back-page type="form-custom" title="详情" v-on:callback="back">
    <div slot="content">
        <div class="mainBar">
			<cube-select
				v-model="filterData.LotteryValue"
				:options="lt_type" class="mainBar-select">
			</cube-select>
			<cube-button class="rule-button blue-btn" @click="showSearch">确认</cube-button>
        </div>
        <div class="rules">
          <cube-scroll  ref="scroll">
              <component :is="default_view" ></component>
          </cube-scroll>
        </div>
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import BackPage from '@/components/back-page.vue'
export default {
    data() {
        return {
            filterData:{
                    LotteryValue:this.options.type_name,
            },
            default_view:null,
        }
    },
    methods: {
        back()
        {
            this.$emit('switchView2');
        },
		showSearch()
		{
			switch(this.options.model)
			{
				case "credit":
					this.default_view=require('@/components/rule/credit/'+this.filterData.LotteryValue+'.vue').default;
					break;
				case "official":
					this.default_view=require('@/components/rule/official/'+this.filterData.LotteryValue+'.vue').default;
					break;
			}
		},
    },
    props:['options'],
    components: {
        BackPage,
    },
    computed:
    {
        ...mapGetters({
            config:'config',
            mapByType: "mapByType",
        }),
        lt_type(){
            var data=[];
            var lt=this.mapByType;
            for(var k in lt)
            {
                data.push({value:String(lt[k].name),text:lt[k].title});
            }
            return data;
        },
    },
    created() {
        this.showSearch();
    },    
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scpoed>
.mainBar
	margin  10px;
	display: inline-flex;
	width: 100%;
	height: 45px;
    .mainBar-select
		width 80%;
		margin-right 10px;
    .rule-button
		width 20%;
		margin-right: 20px;
	.rules
		p
			font-weight 700;
		.li-head
			font-weight 700;
</style>