<template>
    <div class="bet_space official_bet">
        <cube-scroll  ref="scroll">
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 从不同的单双组合中任意选择1个或1个以上的组合</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock" style="margin: 10px 0px;">
                <div class="numBlock" >
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_OF" style="width:50%">
                                <span class="balls square-of" 
                                    :ref="item.row+'-'+num" 
                                    :data-row="item.row" 
                                    :data-value="num"
                                    :data-rule="cal.getSSCdxds(num)"
                                >{{num}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div v-show="error" class="bet-error-mag">
                <i class="fas fa-info-circle"></i> {{errorMsg}}
            </div>
        </cube-scroll>
        <BetBar :options="options" :ruleInfo="ruleInfo" ></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar-of.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            WeiShuList:[],
            error:false,
            errorMsg:'',
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            len:1,
            rule:'SSC5X_ZH',
            actionRule:'5X_ZH',
            delimiter:'',
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '選擇',
                row: '0',
                nums: ['5单0双','4单1双','3单2双','2单3双','1单4双','0单5双'],
                max:6,
                min:5,
                maxball:11,
            }],
        }
    },
    props: ['options'],
    methods: {
        showTool(index)
        {
            this.toolView[index] = !this.toolView[index];
        }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>