<template>
  <back-page type="form-custom" title="详情" v-on:callback="showSearch">
    <div slot="content">
        <div class="detail-page">
            <cube-scroll  ref="scroll">
            <div class="detail-head">
                <div class="type">
                    <div class="dot" >{{ getFirstVendor('存') }}</div>
                    存款
                </div>
                <div class="amount">
                    {{ detail.amount | numFilter}}
                </div>
                <div class="status" :class="{'bet-status-opened':detail.state==1}">
                    {{ getRechargeStatus(detail) }}
                </div>
            </div>
            <div class="detail-body">
                    <div class="detail-item">
                        <div class="detail-title">类型</div><div class="detail-content">存款</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-title">方式</div><div class="detail-content">{{ detail.rechargeModel }}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-title">渠道</div><div class="detail-content">{{ detail.rechargeComID }}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-title">申请时间</div><div class="detail-content">{{ getMomentFullDate(detail.actionTime) }}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-title">到帐时间</div><div class="detail-content">{{ getMomentFullDate(detail.rechargeTime) }}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-title">来源</div><div class="detail-content">{{ getClientType(detail.clientType)}}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-title">订单编号</div><div class="detail-content">{{ detail.rechargeId }}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-title">备注</div><div class="detail-content">{{ detail.info }}</div>
                    </div>
            </div>
            </cube-scroll>
        </div>
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6">
  import BackPage from '@/components/back-page.vue'
  import { mapGetters } from "vuex";
  import { globalMixin } from '@/mixin.js';
  export default {
    mixins: [globalMixin],
    data() {
      return {

      }
    },
    props: ['detail'],
    methods: {
        showSearch(childValue)
        {
          this.$emit('switchDetial',childValue);
        },
        getFirstVendor(vendor)
		{
			return vendor.substring(0,1);
		}
    },
    components: {
        BackPage,
    },
    computed:
    {
		...mapGetters({
            mapByType: "mapByType",
        }),       
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scpoed>
.detail-page
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 45px;
    .detail-head
        margin: 10px 0;
        position: relative;
        background-color: #fff;
        padding: 10px;
        .type
            text-align: center;
            font-size: 15px;
            line-height: 15px;
            padding: 10px 0;
            color: #444;
            .dot
                border-radius: 50%;
                background-color: #11c1f3;
                display: inline-block;
                color: #fff;
                font-weight: 700;
                font-size: 16px;
                padding: 5px 5px;
                width: 25px;          
                height: 25px;
                line-height: 25px;
        .amount
            text-align: center;
            font-size: 20px;
            padding: 10px 0;
            font-weight: 700;
        .status
            text-align: center;
            font-size: 14px;
            padding: 10px 0;
        .bet-status-opened
            color #4e7d36;        
    .detail-body
        padding-left: 16px;
        background: #fff;
        position: relative;
        .detail-item
            padding-left: 0;
            padding-top: 15px;    
            font-size: 14px;
            line-height: 14px;
            color: #444;
            min-height: 30px;
            .detail-title
                float left
            .detail-content
                float right
                margin-right 15px;
                color #888;
        .detail-item:after
            content: "";
            position: relative;
            background-color: #ddd;
            display: block;
            left: 0;
            right: auto;
            height: 1px;
            width: 100%;
            top:28px;
</style>