<template>
  <cube-page type="tabs-basic-view" :title="options.title"  :options="options" v-on:closePlayed="PlayedID">
    <div slot="content" class="bet">
        <pre-info :options="options"></pre-info>
        <div class="bet-area">
            <div class="content" v-if="betCfg[options.group_type]">
                <component ref="bet_page" :is="default_view" :options="options" ></component>
            </div>
        </div>
    </div>

    <transition name="filtermenu">
        <component :is="default_view" v-if="show_view" :options="options" v-on:callback="closeZhuihao" ></component>
    </transition>

  </cube-page>
</template>

<script type="text/ecmascript-6">
import PreInfo from '@/components/pre-info.vue';
import BetBar from '@/components/bet-bar-of.vue';
import CubePage from '@/components/cube-page.vue';
import play_1 from '@/components/game/official/p3/5x_q3.vue';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            options:{
                title:"排列3",
                type_id:10,
                model:"official",
                type_name:"pl3",
                group_type:3,
                playedId:70,
                gplayedId:16,
            },
            default_view:play_1,
            show_view:false,
            default_view2:null,
        }
    },
    methods: {
        PlayedID(id)
        {
            this.restBet();
            this.options.playedId = id;
            this.$refs['bet_page'].playedId = id;
            this.default_view = require('@/components/game/official/p3/'+this.mapByPlay[id].tpl+'.vue').default;
        }
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            betFlagOF: "betFlagOF",
            mapByPlay:"mapByPlay",
            mapByGroup:"mapByGroup",
            betCfg:"betCfg",
        }),
    },
    components: {
      CubePage,
      BetBar,
      PreInfo
    },
    created() {
        if(!this.betCfg[this.options.group_type])
        {
            this.$store.dispatch('setBp',this.options.type_id);
        }
        if(!this.mapByGroup[this.options.group_type])
        {
            this.$store.dispatch('setGroup',this.options.group_type);
        }  
        this.restBet();
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">
@import '~assets/css/bet-official.styl'
</style>
