<template>
    <div class="bet_space official_bet">
        <cube-scroll  ref="scroll">
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 对万位、千位和百位的“大小单双”形态进行购买</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label">
                        <div class="title">{{item.label}}</div>
                    </div>
                    <div class="nums">
                        <ul class="dxds_ul">
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_OF">
                                <span class="balls" 
                                    :ref="item.row+'-'+num" 
                                    :data-row="item.row" 
                                    :data-value="num"
                                    :data-rule="cal.getSSCdxds(num)"
                                >{{num}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </cube-scroll>
        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar-of.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            //toolView:false,
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            rule:'SSC5X_ZH',
            actionRule:'5X_ZH',
            len:3,
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '万位',
                row: '0',
                nums: ['大','小','单','双'],
            },{
                label: '千位',
                row: '1',
                nums: ['大','小','单','双'],
            },{
                label: '百位',
                row: '2',
                nums: ['大','小','单','双'],
            }
            ],
        }
    },
    props: ['options'],
    methods: {
        showTool(index)
        {
            this.toolView[index] = !this.toolView[index];
        }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>