<template>
    <div class="bet_space official_bet">
        <cube-scroll  ref="scroll">
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 从万位、千位、百位、十位、个位中选择三个位置，手动输入三个号码构成一注(不含豹子)</div>
            <div style="margin: 10px 0px;">
                <cube-checkbox-group v-model="WeiShuList" :horizontal="true" :colNum="5" :max="5" @input="SSCInputDsZX">
                <cube-checkbox :option="{value: 16}"><i>万</i></cube-checkbox>
                <cube-checkbox :option="{value: 8}"><i>千</i></cube-checkbox>
                <cube-checkbox :option="{value: 4}"><i>百</i></cube-checkbox>
                <cube-checkbox :option="{value: 2}"><i>十</i></cube-checkbox>
                <cube-checkbox :option="{value: 1}"><i>个</i></cube-checkbox>
                </cube-checkbox-group>
            </div>
            <div style="padding-top: 10px;">
                <cube-textarea v-model="value" placeholder="每一注号码之间的间隔符支持 回车  空格[ ]" @input="SSCInputDsZX"></cube-textarea>
            </div>
            <div v-show="error" class="bet-error-mag">
                <i class="fas fa-info-circle"></i> {{errorMsg}}
            </div>
            <div class="padding">
                <cube-button  @click="clearNum_OF" class="reg-button blue-btn" :disabled="value == ''" :class="{'disabled-btn':value==''}" >清空號碼</cube-button>
            </div>
        </cube-scroll>
        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
        <div ref="no-rand"></div>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar-of.vue';
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            WeiShuList:[],
            error:false,
            errorMsg:'',
            value:'',
            //toolView:false,
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            played:'任选',
            len:3,
            numberLen:3,
            rule:'SSC5X_ZH',
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '万',
                row: '0',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            },{
                label: '千',
                row: '1',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            },{
                label: '百',
                row: '2',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            },{
                label: '十',
                row: '3',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            },{
                label: '个',
                row: '4',
                nums: ['0','1','2','3','4','5','6','7','8','9'],
                max:5,
                min:4,
            }],
        }
    },
    props: ['options'],
    methods: {
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>