<template>
  <search-page :title="title" v-on:showSearch="showSearch" v-on:callback="back">
    <div slot="content" >
        <div class="mainTeam">
            <!-- <div class="team-head">团队盈亏总计 <i class="fas fa-angle-double-right"></i> 您获得返点: <span class="team-pfd">${{u_info.pfandian | numFilter}}</span></div> -->
            <div class="divider d-ws"></div>
            <div class="team-info">
                <div class="team-item"><span class="team-number fw">${{u_info.team_bet | numFilter}}</span><span class="team-tag">团队投注</span></div>
                <div class="team-item"><span class="team-number fw">${{u_info.team_zj | numFilter}}</span><span class="team-tag">团队中奖</span></div>
                <div class="team-item"><span class="team-number fw">${{u_info.team_wl | numFilter}}</span><span class="team-tag">团队输赢</span></div>
            </div>
        </div>
        <div class="mainSearch">
            <div class="record-head">
                <div class="col45 fw700 col-left" style="padding-left:5px">用户</div>
                <div class="col25 fw700 col-left">损益</div>
                <div class="col25 fw700 col-left">上交</div>
                <div class="col5 fw700 col-left"></div>
            </div>
            <div class="record-body">
                <cube-scroll  ref="scroll" :data="results" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" >
                    <div v-for="(item, index) in results" class="record-item" :key="index" >
                        <div class="record-top">
                            <div class="col45 col-left" style="padding-left:5px" @click="getsubLog(item.uid,item.sub_members)">
                                <span v-if="item.ch_parent > 0">
                                    <i class="fas fa-angle-right parent-color" v-for="n in item.ch_parent" :key="n"></i>
                                </span>
                                {{ item.username }} ({{ item.fenHong }}%) 
                                <span class="icon-size"  v-if="item.sub_members > 0"><i class="cubeic-pulldown" ></i></span>
                            </div>
                            <div class="col25 col-left">
                                <span :class="{'bonus-color':checkPosNum(item.team_wl - cal_up_bonus(item)),'nbonus-color':!checkPosNum(item.team_wl - cal_up_bonus(item))}" v-if="item.type==1">{{item.team_wl | numFilter}}</span>
                                <span :class="{'bonus-color':checkPosNum(item.wl),'nbonus-color':!checkPosNum(item.wl)}" v-if="item.type==0">{{item.wl | numFilter}}</span>
                            </div>
                            <div class="col25 col-left"><span :class="{'bonus-color':checkPosNum(cal_up_bonus(item)),'nbonus-color':!checkPosNum(cal_up_bonus(item))}">{{ cal_up_bonus(item) | numFilter}}</span></div>
                            <div class="col5 col-left icon-size" @click.stop="show_detial(index)">
                                <i class="cubeic-pullup" v-show="show[index]"></i><i class="cubeic-pulldown" v-show="!show[index]"></i>
                            </div>
                        </div>
                        <transition name="playmenu">
                            <div v-show="show[index]" class="record-hide" >
                                <div class="record-bot">
                                    <div class="col50 col-left">
                                        类型: <span >{{check_type(item.type)}}</span> <i :class="{'fas fa-crown agent-color':item.type==1,'fas fa-user member-color':item.type==0}"></i>
                                    </div>
                                    <div class="col50 col-left" >
                                        上交: <span :class="{'bonus-color':checkPosNum(cal_up_bonus(item)),'nbonus-color':!checkPosNum(cal_up_bonus(item))}">{{ cal_up_bonus(item) | numFilter}}</span>
                                    </div>
                                </div>
                                <div class="record-bot">
                                    <div class="col50 col-left">
                                        投注: 
                                            <span :class="{'bonus-color':checkPosNum(item.team_bet),'nbonus-color':!checkPosNum(item.team_bet)}" v-if="item.type==1">{{item.team_bet | numFilter}}</span>
                                            <span :class="{'bonus-color':checkPosNum(item.team_bet),'nbonus-color':!checkPosNum(item.real_bet)}" v-if="item.type==0">{{item.real_bet | numFilter}}</span>
                                    </div>
                                    <div class="col50 col-left" >
                                        输赢: 
                                            <span :class="{'bonus-color':checkPosNum(item.team_wl),'nbonus-color':!checkPosNum(item.team_wl)}" v-if="item.type==1">{{item.team_wl | numFilter}}</span>
                                            <span :class="{'bonus-color':checkPosNum(item.wl),'nbonus-color':!checkPosNum(item.wl)}" v-if="item.type==0">{{item.wl | numFilter}}</span>
                                    </div>
                                </div>
                                <div class="record-bot">
                                    <div class="col50 col-left" >
                                        活动: <span :class="{'bonus-color':checkPosNum(item.team_broker),'nbonus-color':!checkPosNum(item.team_broker)}">{{item.team_broker | numFilter}}</span>
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                    <div class="no-record" v-if="!results.length">
                        <img class="no-record-img" src="~assets/images/user/norecord.png">
                        <div class="no-record-txt">暂无相关纪录</div>
                    </div>
                </cube-scroll>
            </div>
        </div>   
           
        <transition name="filtermenu">
            <keep-alive>
                <agent-search v-if="filterSearch" v-on:showSearch="showSearch" ></agent-search>
            </keep-alive>
        </transition>

        <TabBar></TabBar>
    </div>
  </search-page>
</template>

<script type="text/ecmascript-6" >
import TabBar from '@/components/agent/credit-tab-bar.vue'
import moment from 'moment'
//import AgentDetail from '@/components/agent/agent-detail.vue';
import AgentSearch from '@/components/agent/agent-search.vue';
import SearchPage from '@/components/search-page.vue';
import { apiAgentSearch,apiAgentSearchSub } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"代理中心",
            filterSearch:0,
            filterData:{
                StartValue:moment(new Date()).format("YYYY-MM-DD"),
                EndValue:moment(new Date()).format("YYYY-MM-DD"),
                UserName:'',
            },
            show:[],
            showDetail:0,
            checkDetail:null,
            u_info:{
                fandian:0,
                real_bet:0,
                zj:0,
                pfandian:0,
            },
            results:[],
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: ' ',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            current_page:1,
        }
    },
    methods: {
        check_type(type)
        {
            if(type==1)
            {
                return '代理';
            }
            if(type==0)
            {
                return '会员';
            }
        },
        show_detial(t){
            this.show[t] = !this.show[t];
            this.show.splice(0,0);            
            this.$refs.scroll.refresh();
            return;
        },
        back()
        {
            //this.$router.back()
            this.$router.push("/user/credid/index");
        },
        addMember()
        {
            this.$router.push("/agent/add");
            return;
        },
        changeView(tpl,index){
            this.default_view=tpl;
            this.activeColor = index;
        },
        switchDetial(value)
        {
            this.showDetail=value;
        },
        showSearch(value,data)
        {
            this.filterSearch=value;
            if(data!=null)
            {
                this.current_page=1;
                this.filterData=data;
                this.getLog(this.current_page);
            }
        },
        cal_up_bonus(item)
        {
            let bonus = (item.team_bet - item.team_zj - item.team_broker) * (1-(item.fenHong/100)) ;
            return bonus;
        },
        getLog(page)
        {
            apiAgentSearch({
                page: page,
                username: this.filterData.UserName,
                fromTime: this.filterData.StartValue,
                toTime: this.filterData.EndValue,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    this.results.splice(0,this.results.length);
                    // if(page==1)
                    // {
                    //     this.results.splice(0,this.results.length);
                    // }
                    if(response.data.status)
                    {
                        if(response.data.team_info.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }
                        let list_length = this.results.length;
                        if(list_length > 0)
                        {
                            for(var i;i<list_length;i++)
                            {
                                this.show[i] = false;
                            }
                        }
                        for(var key in response.data.team_info)
                        {
                            this.show[parseInt(list_length)+ parseInt(key)] = false;
                        }
                        this.results=this.results.concat(response.data.team_info);
                        this.u_info=response.data.u_info;
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        getsubLog(uid,sub_members)
        {
			if(sub_members <= 0)
			{
				return;
			}
            let check = false;
            let temp_arr=[];
            let temp_arr2=[];
            for(var k in this.results)
            {
                var check_parents = this.results[k].parents.toString();
                if(check_parents.indexOf(","+uid+",") != -1)
                {
                    check = true;
                }else
                {
                    temp_arr2.push(this.results[k]);
                }
            }
            if(check)
            {
                this.results = temp_arr2;
                return;
            }
            else
            {
                apiAgentSearchSub({
                    uid: uid,
                    fromTime: this.filterData.StartValue,
                    toTime: this.filterData.EndValue,
                    })
                    .then(response => {
                        if(response.data.error)
                        {
                            this.error_handler(response.data);
                        }
                        if(response.data.status)
                        {
                            if(response.data.team_info.length==0)
                            {
                                this.$refs.scroll.forceUpdate(false);
                                return;
                            }
                            for(var k in this.results)
                            {

                                temp_arr.push(this.results[k]);
                                if(this.results[k].uid == uid)
                                {
                                    if(!this.results[parseInt(k)+1])
                                    {
                                        temp_arr = temp_arr.concat(response.data.team_info);
                                    }
                                    if(this.results[parseInt(k)+1])
                                    {
                                        if(this.results[parseInt(k)+1].uid!=response.data.team_info[0].uid)
                                        {
                                            temp_arr = temp_arr.concat(response.data.team_info);
                                        }
                                    }
                                }
                            }
                            this.results = temp_arr;
                            this.$refs.scroll.refresh();
                        }
                        return;
                    }).catch(error => {
                        console.log(error);
                        this.$refs.scroll.forceUpdate();
                        return;
                    });
            }
        },
        logRefresh(){
            if(this.filterData)
            {
                this.current_page=1;
                setTimeout(() => {
                    this.getLog(this.current_page);
                }, 1000);
            }else
            {
                this.$refs.scroll.forceUpdate();
            }
        },
        // logLoadMore(){
        //     this.current_page++;
        //     if(this.filterData)
        //     {
        //         setTimeout(() => {
        //             this.getLog(this.current_page);
        //         }, 1000);
        //     }else
        //     {
        //         this.$refs.scroll.forceUpdate();
        //     }
        // },        
    },
    computed: {
		...mapGetters({
            
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad:false,
                scrollbar: true
            }
        },        
    },
    components: {
      SearchPage,
      AgentSearch,
      TabBar
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainTeam
    position: fixed; 
    top: 50px;
    left: 0;
    right: 0;
    text-align center;
    line-height 25px;
    background: #fff;
    border-radius: 8px;
    margin: 10px 10px;
    .team-head
        width 100%;
        padding 10px;
        .team-pfd
            color: #f56c6c;
    .team-info
        margin: 10px;
        display flex;
    .team-item
        width: calc((100%)/ 3);
    .team-number
        font-weight: 700;
        display block;
    .team-tag
        font-size 0.85rem;
    .divider
        height: 1px;
        background-color: #eee;
    .d-ws
        width 90%;
        margin auto;
.mainSearch
    position: fixed; 
    top: 140px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    .no-record
        margin: 30px auto;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-bot
        display flex;
    .record-top
        display flex;
        font-size: 0.85rem;
    .record-head
        display flex;
        border-bottom: 1px #ddd solid;   
        padding: 0px 5px;     
    .record-body
        position: fixed; 
        bottom: 61px;
        top: 176px;
        left: 0;
        right: 0;
        overflow:hidden;
        .record-hide
            overflow:hidden;
        .parent-color
            color #284994;
        .icon-size
            font-size:1.7rem;
    .col-left
        text-align left;
    .col45
        width 45%;
        height 35px;
        line-height: 35px;
    .col25
        width 25%;
        height 35px;
        line-height: 35px;
    .col50
        width 50%;
        height 35px;
        line-height: 35px;
        padding 0px 10px;
        font-size: 0.9rem;
    .col5
        width 5%;
        height 35px;
        line-height: 35px;
        padding-right 5px;
    .record-item
        margin-bottom 1px;
        background-color #fff;
        padding: 0px 5px;
    .bonus-color
        color #f02828;
    .bet-status-opened
        color #4e7d36;
    .fw700
        font-weight 700;
</style>
