<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="reg-block">
            <form class="qr-form">
                <div class="qr-img-block" style="text-align: center;">
                    <div class="qr-scan">扫码注册</div>
                    <vue-qr :text="qr_url" :size="200"></vue-qr>
                </div>

                <div class="qr-url-block">
                    <div class="title fw700">邀请码&nbsp;&nbsp;&nbsp;</div>
                    <div class="content">
                        {{qr.lid}}
                    </div>
                    <span slot="prepend"  class="fas fa-copy reg-icon copyBtn1" type="text" @click="copy(qr_lid)"></span>
                </div>
                <div class="qr-url-block">
                    <div class="title fw700">邀请链接</div>
                    <div class="content url">
                        {{qr_url}}
                    </div>
                    <span slot="prepend"  class="fas fa-copy reg-icon copyBtn1" type="text" @click="copy(qr_url)"></span>
                </div>
                <!-- <div class="qr-url-block">
                    <div class="title fw700">至今总注册数</div>
                    <div class="content">
                        {{qr.usedTimes}}
                    </div>
                </div>                 -->
                <!-- <div class="qr-url-block">
                    <div class="title fw700">设置返点</div>
                    <div class="content">
                        <input v-model="qr.fanDian"
                            placeholder="输入返点"
                            type="text"
                            :clearable="{visible: true, blurHidden: true}"
                            class="reg-field"
                            />%
                    </div>
                    <span slot="prepend" class="cubeic-edit pen-icon"></span>
                </div> -->
                <!-- <cube-validator v-model="check" :model="qr.fanDian" :rules="rules" class="error-msg"></cube-validator>

                <div class="fanDian_info"><span class="info-warn cubeic-info"></span>下级最高返点为{{this.user.fanDian}}% , 最低为0%</div> -->
                <!-- <div class="padding">
                    <cube-button  @click="up" class="reg-button" :disabled="!check" :class="{'reg-disabled':!check }">设置</cube-button>
                </div> -->
                
            </form>
        </div> 
        <TabBar></TabBar>      
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import TabBar from '@/components/agent/credit-tab-bar.vue'
import BackPage from '@/components/back-page.vue'
import { validator } from '@/utils/validator.js'
import { mapGetters } from "vuex";
import { apiAgentQR,apiAgentQRupdate } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import VueQr from 'vue-qr'
import Clipboard from 'clipboard';
export default {
    mixins: [globalMixin],
    data() {
        return {
            check:false,
            title:"邀请码",
            qr:{
                usedTimes:0,
                fanDian: '',
                lid:'',
            },
            rules:{
                type: 'number',
                required: true,
                mix: 0,
            },
        }
    },
    methods: {
        back()
        {
          //this.$router.back()
          this.$router.push("/agent/credit/index");
        },
        copy(str)
        {
            var clipboard = new Clipboard(".copyBtn1", {
            text: (trigger)=>{
                    return str;
                }
            });
            clipboard.on('success', e => {
                this.toast('复制成功');
                clipboard.destroy()
            })
            clipboard.on('error', e => {
                clipboard.destroy()
            })
        },
        up(){
            if(this.qr.fanDian > this.user.fanDian || this.qr.fanDian < 0){
                this.toast('返点不可大于'+this.user.fanDian);
                return;
            };
            apiAgentQRupdate({
                fandian:this.qr.fanDian,
            })
            .then(response => {
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.msg)
                {
                    this.toast(response.data.msg);
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        }
    },
    computed: {
		...mapGetters({
            user: "user",
            config: "config",
        }),
        qr_url()
        {
            //return "https://"+this.user.username+"."+this.config.domain_name+"/spreg/"+this.qr.lid;
            return this.config.domain_name+"/spreg/"+this.qr.lid;
        },
        qr_lid()
        {
            return this.qr.lid.toString();
        },        
    },   
    components: {
        BackPage,
        VueQr,
        Clipboard,
        TabBar,
    },
    created() {
        apiAgentQR({
        })
        .then(response => {
            if(response.data.error)
            {
                this.toast(response.data.error,null);
                return;
            }
            if(response.data.status)
            {
                this.qr=response.data.sp;
                return;
            }
            return;
        }).catch(error => {
            console.log(error);
            return;
        });
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.reg-block
    text-align: center;
    display: flex;
    padding-top: 15px;
    font-size: 1rem;
    .qr-img-block
        margin: auto;
        width: 100%;
        text-align: left;
        padding-bottom 10px;
        .qr-scan
            padding-bottom 10px;
    .qr-form
        width: 100%;
    .qr-url-block
        margin: auto;
        width: 100%;
        padding: 15px 0px 15px 10px;
        text-align: left;
        line-height: 20px;
        .title
            display inline;
            font-size: 0.9rem;
        .fw700
            font-weight 700;
        .content
            display inline;
            padding: 8px;
            border: 1px #ddd solid;
            border-radius: 5px;
        .url
            font-size 0.8rem;
    .reg-icon
        font-size: 1.2rem;
        padding-left: 5px;
        color: #4a90e2;
    .pen-icon
        font-size: 1.2rem;
        padding-left: 5px;
        color: #888;
    .reg-field
        font-size: .9rem;
        padding: 5px 0px 0px 12px;
        width 100px;
        width: 65px;
        text-align: center;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        background-color: #4a90e2;
        color: #fff;    
    .padding
        padding: 10px;
    .error-msg
        padding: 5px;
    .reg-disabled
        background-color: #ccc;
    .fanDian_info
        text-align: center;
        padding: 8px;
        .info-warn
            color: #e64340;
            font-size: 1.4rem;
            padding: 5px;
            vertical-align: bottom;
</style>
