<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <form>
                <div class="record-body">
                <cube-scroll  ref="scroll" >
                    <div>
                        <div class="record-item"  >
                            <div class="record-top">
                                <div class="col40 text-left">持卡人</div>
                                <div class="col60 " v-if="safe.bank_username==''" >
                                    <cube-input v-model="form.username"
                                        placeholder="请输入姓名"
                                        type="text"
                                        :clearable="{visible: true, blurHidden: true}"
                                        class="reg-field"
                                        autocomplete="false"
                                        >
                                    </cube-input>
                                </div>
                                <div class="col60 " v-else >
                                    <cube-input v-model="safe.bank_username"
                                        placeholder=""
                                        type="text"
                                        :clearable="{visible: true, blurHidden: true}"
                                        class="reg-field disabled-color"
                                        autocomplete="false"
                                        :disabled="true"
                                        >
                                    </cube-input>
                                </div>                                
                            </div>
                            <div>
                                <cube-validator v-model="check1" :model="form.username" :rules="rules1" class="error-msg"></cube-validator>
                            </div>
                        </div>
                        <div class="record-item"  >
                            <div class="record-top">
                                <div class="col40 text-left">银行卡号</div>
                                <div class="col60 " v-if="safe.bank_account==''">
                                    <cube-input v-model="form.account"
                                        placeholder="请输入银行卡号"
                                        type="text"
                                        :clearable="{visible: true, blurHidden: true}"
                                        class="reg-field"
                                        autocomplete="false"
                                        >
                                    </cube-input>
                                </div>
                                <div class="col60 " v-else>
                                    <cube-input v-model="safe.bank_account"
                                        placeholder=""
                                        type="text"
                                        :clearable="{visible: true, blurHidden: true}"
                                        class="reg-field disabled-color"
                                        autocomplete="false"
                                        :disabled="true"
                                        >
                                    </cube-input>
                                </div>                                
                            </div>
                            <div>
                                <cube-validator v-model="check2" :model="form.account" :rules="rules2" class="error-msg"></cube-validator>
                            </div>
                        </div>
                        <div class="record-item"  >
                            <div class="record-top">
                                <div class="col40 text-left">银行名</div>
                                <div class="col60 " v-if="safe.bank_id==''">
                                    <cube-select
                                    v-model="form.bank" title="请选择" cancelTxt="取消" confirmTxt="确定"
                                    :options="bank_array">
                                    </cube-select>
                                </div>
                                <div class="col60 " v-else>
                                    <cube-select
                                    v-model="safe.bank_id" title="请选择" cancelTxt="取消" confirmTxt="确定"
                                    :options="bank_array"
                                    :disabled="true"
                                    >
                                    </cube-select>
                                </div>                                
                            </div>
                            <div>
                                <cube-validator v-model="check3" :model="form.bank" :rules="rules3" class="error-msg"></cube-validator>
                            </div>
                        </div>
                    </div>
                    <div class="padding">
                        <cube-button v-if="safe.bank==''"  @click="up" class="reg-button blue-btn" :disabled=" !check1 || !check2 || !check3 " :class="{'disabled-btn':!check1 || !check2 || !check3 }">确认</cube-button>
                        <cube-button v-else  class="reg-button blue-btn disabled-btn" >确认</cube-button>
                    </div>
                    <div class="record-info">
                        如您无法自助修改,联系线上客服获得帮助
                    </div>                    
                </cube-scroll>
                </div>
            </form>
        </div> 
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { apiGetBank,apiPostSafeUp } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { validator } from '@/utils/validator.js'
export default {
    mixins: [globalMixin],
    data() {
        return {
            check1:false,
            check2:false,
            check3:false,
            title:"绑定银行卡",
            bank_list:null,
            form:{
                username:'',
                account:'',
                bank:42
            },
            rules1:{
                type: 'string',
                required: true,
                pattern: validator.chinese,
            },
            rules2:{
                type: 'string',
                required: true,
            },
            rules3:{
                type: 'number',
                required: true,
            },
        }
    },
    props: ['safe'],
    methods: {
        back()
        {
          this.$emit('callback',0);
        },   
        up()
        {
            if(this.safe.bank != ''){
                this.toast('请联系客服重置银行卡');
                return;
            };
            apiPostSafeUp({
                type:5,
                username:this.form.username,
                account:this.form.account,
                bank:this.form.bank,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.toast(response.data.msg);
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        getBank()
        {
            apiGetBank({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.toast(response.data.error);
                        return;
                    }
                    if(response.data.status)
                    {
                        this.bank_list=response.data.data;
                        return;
                    }
                }).catch(error => {
                    console.log(error);
                    return;
                });
        }
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
        bank_array(){
            var data=[];
            var lt=this.bank_list;
            // if(safe.bank_id!='')
            // {
            //     data.push({value:lt[k].id,text:lt[k].name});
            //     return 
            // }
            for(var k in lt)
            {
                data.push({value:lt[k].id,text:lt[k].name});
            }
            return data;
        },        
    },
    components: {
        BackPage
    },
    created() {
        this.getBank();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    position: fixed; 
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    font-size: 0.9rem;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 86px;
        left: 0;
        right: 0;
        overflow:hidden;
    .col60
        width 80%;
        height 35px;
        line-height: 35px;
    .col40
        width 40%;
        height 35px;
        line-height: 35px;
    .record-item
        margin-bottom 1px;
        background-color #fff;
        padding: 5px 15px;
        .record-top
            display flex;
        .error-msg
            padding-top 5px;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align right;
        color #aaa;
    .icon
        margin-left 10px;
    .padding
        padding: 20px 10px;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        color: #fff;
    .record-info
        padding-top 15px;
        text-align center;
        font-size 0.85rem;
</style>
