<template>
    <div slot="content" >
        <div class="mainSearch">
            <div class="record-body">
            <cube-scroll  ref="scroll" :data="results" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" @pulling-up="logLoadMore">
				<div v-for="(item, index) in results" class="record-item" :key="index" @click="onItemClick(index)" v-if="results.length>0" >
                    <div class="record-top">
                        <div class="record-title text-left">
                            {{ item.title }}
                        </div>
                        <div class=" text-right">
                            {{ getMomentDate(item.addTime) }}
                        </div>
                    </div>
                    <div class="record-line">
                    </div>
					<div class="record-bot">
						<div class="col record-subtitle text-left">{{ item.content }}</div>
					</div>                    
				</div>
                <div class="no-record" v-if="!results.length">
                    <img class="no-record-img" src="~assets/images/user/norecord.png">
                    <div class="no-record-txt">暂无相关纪录</div>
                </div>
            </cube-scroll>
            </div>
        </div>   
    </div>
</template>

<script type="text/ecmascript-6" >
import moment from 'moment'
import { apiGetBulletin } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            results:[],
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            current_page:1,
        }
    },
    methods: {
        back()
        {
            this.$router.back();
        },        
        switchDetial(value)
        {
            this.showDetail=value;
        },
        getLog(page)
        {
            apiGetBulletin({
                page: page,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }
                        this.results=this.results.concat(response.data.data);
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        onItemClick(index)
        {
            this.dialog('alert',this.results[index].title,this.results[index].content+"<br><br>"+this.getMomentDate(this.results[index].addTime));
        },
        logRefresh(){
            this.current_page=1;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },
        logLoadMore(){
            this.current_page++;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },        
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.log.pullUpLoadNoMoreTxt
                    }
                },
            }
        },        
    },
    components: {
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    width: 100%;
    overflow:hidden;
    font-size: 0.9rem;
    .record-line
        height 1px;
        border-bottom: 1px #ddd solid;
    .no-record
        text-align: center;
        margin: 30px auto;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-bot
        padding-bottom: 5px;
        .col
            width 100%;
        .record-subtitle
            line-height: 20px;
            font-size: 0.85rem;
            white-space : nowrap;
            text-overflow: ellipsis;
            width :100%
            overflow: hidden;
            padding-top: 10px;
    .record-top
        display flex;
        padding-bottom: 5px;
        .record-title
            font-weight: bold;
            line-height: 29px;
            font-size: 1.1rem;
            flex: auto;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 93px;
        left: 0;
        right: 0;
        overflow:hidden;
    .record-item
        padding: 10px 10px;
        margin-bottom: 10px;
        background-color #fff;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align: center;
        font-size: 0.85rem;
        line-height: 29px;
</style>
