<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <form>
                <div class="record-body">
                <cube-scroll  ref="scroll" >
                    <div v-if="safe.coinPassword">
                        <div>
                            <div class="record-item"  >
                                <div class="record-top">
                                    <div class="col40 text-left">原提款密码</div>
                                    <div class="col60 ">
                                        <cube-input v-model="form.pwd"
                                            placeholder="请输入密码"
                                            type="password"
                                            :eye="{open: false,reverse: false}"
                                            class="reg-field"
                                            autocomplete="false"
                                            >
                                        </cube-input>
                                    </div>
                                </div>
                                <div>
                                    <cube-validator v-model="check1" :model="form.pwd" :rules="rules" class="error-msg"></cube-validator>
                                </div>
                            </div>
                            
                            <div class="record-item"  >
                                <div class="record-top">
                                    <div class="col40 text-left">新提款密码</div>
                                    <div class="col60 ">
                                        <cube-input v-model="form.new_pwd"
                                            placeholder="请输入密码"
                                            type="password"
                                            :eye="{open: false,reverse: false}"
                                            class="reg-field"
                                            autocomplete="false"
                                            >
                                        </cube-input>
                                    </div>
                                </div>
                                <div>
                                    <cube-validator v-model="check2" :model="form.new_pwd" :rules="rules" class="error-msg"></cube-validator>
                                </div>
                            </div>
                            <div class="record-item"  >
                                <div class="record-top">
                                    <div class="col40 text-left">确认密码</div>
                                    <div class="col60 ">
                                        <cube-input v-model="form.confirm_pwd"
                                            placeholder="请输入密码"
                                            type="password"
                                            :eye="{open: false,reverse: false}"
                                            class="reg-field"
                                            autocomplete="false"
                                            >
                                        </cube-input>
                                    </div>
                                </div>
                                <div>
                                    <cube-validator v-model="check3" :model="form.confirm_pwd" :rules="rules" class="error-msg"></cube-validator>
                                </div>
                            </div>
                        </div>
                        <div class="padding">
                            <cube-button  @click="up" class="reg-button blue-btn" :disabled="!check3 || !check1 || !check2" :class="{'disabled-btn':!check3 || !check1 || !check2}">确认</cube-button>
                        </div>
                    </div>

                    <div v-else>
                        <div>
                            <div class="record-item"  >
                                <div class="record-top">
                                    <div class="col40 text-left">提款密码</div>
                                    <div class="col60 ">
                                        <cube-input v-model="form.pwd"
                                            placeholder="请输入密码"
                                            type="password"
                                            :eye="{open: false,reverse: false}"
                                            class="reg-field"
                                            autocomplete="false"
                                            >
                                        </cube-input>
                                    </div>
                                </div>
                                <div>
                                    <cube-validator v-model="check1" :model="form.pwd" :rules="rules" class="error-msg"></cube-validator>
                                </div>
                            </div>
                            
                            <div class="record-item"  >
                                <div class="record-top">
                                    <div class="col40 text-left">确认密码</div>
                                    <div class="col60 ">
                                        <cube-input v-model="form.confirm_pwd"
                                            placeholder="请输入密码"
                                            type="password"
                                            :eye="{open: false,reverse: false}"
                                            class="reg-field"
                                            autocomplete="false"
                                            >
                                        </cube-input>
                                    </div>
                                </div>
                                <div>
                                    <cube-validator v-model="check3" :model="form.confirm_pwd" :rules="rules" class="error-msg"></cube-validator>
                                </div>
                            </div>
                        </div>
                        <div class="padding">
                            <cube-button  @click="up" class="reg-button blue-btn" :disabled="!check3 || !check1" :class="{'disabled-btn':!check3 || !check1 }">确认</cube-button>
                        </div>
                    </div>
                </cube-scroll>
                </div>
            </form>
        </div> 
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { apiPostSafeUp } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            check1:false,
            check2:false,
            check3:false,
            title:"提款密码",
            form:{
                pwd:'',
                new_pwd:'',
                confirm_pwd:'',
            },
            rules:{
                type: 'string',
                required: true,
                min:4,
            },
        }
    },
    props: ['safe'],
    methods: {
        back()
        {
          this.$emit('callback',0);
        },   
        up()
        {
            if(this.safe.coinPassword)
            {
                if(this.form.new_pwd != this.form.confirm_pwd){
                    this.toast('密码与确认密码不一致');
                    return;
                };
                if(this.form.new_pwd == this.form.pwd){
                    this.toast('新密码不能与原密码相同');
                    return;
                };
            }
            if(!this.safe.coinPassword)
            {
                if(this.form.pwd != this.form.confirm_pwd){
                    this.toast('密码与确认密码不一致');
                    return;
                };
            }
            apiPostSafeUp({
                type:2,
                coinpassword:this.form.pwd,
                confirm_coinpassword:this.form.confirm_pwd,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.toast(response.data.msg);
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        }
    },
    computed: {
		...mapGetters({
            config:'config',
        }),     
    },
    components: {
      BackPage
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    position: fixed; 
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    font-size: 0.9rem;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 86px;
        left: 0;
        right: 0;
        overflow:hidden;
    .col60
        width 80%;
        height 35px;
        line-height: 35px;
    .col40
        width 40%;
        height 35px;
        line-height: 35px;
    .record-item
        margin-bottom 1px;
        background-color #fff;
        padding: 5px 15px;
        .record-top
            display flex;
        .error-msg
            padding-top 5px;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align right;
        color #aaa;
    .icon
        margin-left 10px;
    .padding
        padding: 20px 10px;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        color: #fff;
</style>
