<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <form>
                <div class="record-body">
                <cube-scroll  ref="scroll" >
                    <div>
                        <div class="record-item"  >
                            <div class="record-top">
                                <div class="col40 text-left">绑定手机</div>
                                <div class="col60 " v-if="safe.phone==''">
                                    <cube-input v-model="form.phone"
                                        placeholder="请输入手机号"
                                        type="text"
                                        :clearable="{visible: true, blurHidden: true}"
                                        class="reg-field"
                                        autocomplete="false"
                                        >
                                    </cube-input>
                                </div>
                                <div class="col60 " v-else>
                                    <cube-input v-model="safe.phone"
                                        placeholder=""
                                        type="text"
                                        :clearable="{visible: true, blurHidden: true}"
                                        class="reg-field disabled-color"
                                        autocomplete="false"
                                        :disabled="true"
                                        >
                                    </cube-input>
                                </div>                                
                            </div>
                            <div>
                                <cube-validator v-model="check1" :model="form.phone" :rules="rules" class="error-msg"></cube-validator>
                            </div>
                        </div>
                    </div>
                    <div class="padding">
                        <cube-button v-if="safe.phone==''"  @click="up" class="reg-button blue-btn" :disabled=" !check1 " :class="{'disabled-btn':!check1 }">确认</cube-button>
                        <cube-button v-else  class="reg-button blue-btn disabled-btn" >确认</cube-button>
                    </div>
                    <div class="record-info">
                        如您无法自助修改,联系线上客服获得帮助
                    </div>                    
                </cube-scroll>
                </div>
            </form>
        </div> 
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { apiPostSafeUp } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            check1:false,
            title:"绑定手机",
            form:{
                phone:'',
            },
            rules:{
                type: 'string',
                required: true,
                min:11,
                max:11,
            },
        }
    },
    props: ['safe'],
    methods: {
        back()
        {
          this.$emit('callback',0);
        },   
        up()
        {
            if(this.safe.phone != ''){
                this.toast('请联系客服重置手机号');
                return;
            };
            apiPostSafeUp({
                type:3,
                phone:this.form.phone,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.toast(response.data.msg);
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        }
    },
    computed: {
		...mapGetters({
            config:'config',
        }),     
    },
    components: {
      BackPage
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    position: fixed; 
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    font-size: 0.9rem;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 86px;
        left: 0;
        right: 0;
        overflow:hidden;
    .col60
        width 80%;
        height 35px;
        line-height: 35px;
    .col40
        width 40%;
        height 35px;
        line-height: 35px;
    .record-item
        margin-bottom 1px;
        background-color #fff;
        padding: 5px 15px;
        .record-top
            display flex;
        .error-msg
            padding-top 5px;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align right;
        color #aaa;
    .icon
        margin-left 10px;
    .padding
        padding: 20px 10px;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        color: #fff;
    .record-info
        padding-top 15px;
        text-align center;
        font-size 0.85rem;
</style>
