<template>
    <div class="bet_space official_bet">
        <cube-scroll  ref="scroll">
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 手动输入号码，至少输入1个三位数号码组成一注</div>
            <div style="padding-top: 10px;">
                <cube-textarea v-model="value" placeholder="每一注号码之间的间隔符支持 回车  空格[ ]" @input="SSCInputDs"></cube-textarea>
            </div>
            <div v-show="error" class="bet-error-mag">
                <i class="fas fa-info-circle"></i> {{errorMsg}}
            </div>
            <div class="padding">
                <cube-button  @click="clearNum_OF" class="reg-button blue-btn" :disabled="value == ''" :class="{'disabled-btn':value==''}" >清空號碼</cube-button>
            </div>
        </cube-scroll>
        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
        <div ref="no-rand"></div>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar-of.vue';
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            error:false,
            errorMsg:'',
            value:'',
            //toolView:false,
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            len:3,
            playedId:this.options.playedId,
            ruleInfo: [
            ],
        }
    },
    props: ['options'],
    methods: {
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>