<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
                <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">正一VS正二</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[0]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5299">{{mapByPlay[5299].name}} <span class="pl">{{mapByPlay[5299].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5300">{{mapByPlay[5300].name}} <span class="pl">{{mapByPlay[5300].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(1)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[1]"></i><i class="cubeic-pulldown" v-show="!show[1]"></i></div>
                    <div class="icon-title">正一VS正三</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[1]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5301">{{mapByPlay[5301].name}} <span class="pl">{{mapByPlay[5301].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5302">{{mapByPlay[5302].name}} <span class="pl">{{mapByPlay[5302].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

            
                <div class="game-title" @click.stop="show_menu(2)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[2]"></i><i class="cubeic-pulldown" v-show="!show[2]"></i></div>
                    <div class="icon-title">正一VS正四</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[2]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5303">{{mapByPlay[5303].name}} <span class="pl">{{mapByPlay[5303].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5304">{{mapByPlay[5304].name}} <span class="pl">{{mapByPlay[5304].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>    

                <div class="game-title" @click.stop="show_menu(3)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[3]"></i><i class="cubeic-pulldown" v-show="!show[3]"></i></div>
                    <div class="icon-title">正一VS特码</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[3]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5305">{{mapByPlay[5305].name}} <span class="pl">{{mapByPlay[5305].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5306">{{mapByPlay[5306].name}} <span class="pl">{{mapByPlay[5306].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
                <div class="game-title" @click.stop="show_menu(4)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[4]"></i><i class="cubeic-pulldown" v-show="!show[4]"></i></div>
                    <div class="icon-title">正二VS正三</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[4]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5307">{{mapByPlay[5307].name}} <span class="pl">{{mapByPlay[5307].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5308">{{mapByPlay[5308].name}} <span class="pl">{{mapByPlay[5308].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
                <div class="game-title" @click.stop="show_menu(5)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[5]"></i><i class="cubeic-pulldown" v-show="!show[5]"></i></div>
                    <div class="icon-title">正二VS正四</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[5]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5309">{{mapByPlay[5309].name}} <span class="pl">{{mapByPlay[5309].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5310">{{mapByPlay[5310].name}} <span class="pl">{{mapByPlay[5310].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
                <div class="game-title" @click.stop="show_menu(6)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[6]"></i><i class="cubeic-pulldown" v-show="!show[6]"></i></div>
                    <div class="icon-title">正二VS特码</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[6]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5311">{{mapByPlay[5311].name}} <span class="pl">{{mapByPlay[5311].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5312">{{mapByPlay[5312].name}} <span class="pl">{{mapByPlay[5312].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(7)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[7]"></i><i class="cubeic-pulldown" v-show="!show[7]"></i></div>
                    <div class="icon-title">正三VS正四</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[7]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5313">{{mapByPlay[5313].name}} <span class="pl">{{mapByPlay[5313].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5314">{{mapByPlay[5314].name}} <span class="pl">{{mapByPlay[5314].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(8)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[8]"></i><i class="cubeic-pulldown" v-show="!show[8]"></i></div>
                    <div class="icon-title">正三VS特码</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[8]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5315">{{mapByPlay[5315].name}} <span class="pl">{{mapByPlay[5315].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5316">{{mapByPlay[5316].name}} <span class="pl">{{mapByPlay[5316].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(9)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[9]"></i><i class="cubeic-pulldown" v-show="!show[9]"></i></div>
                    <div class="icon-title">正四VS特码</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[9]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5317">{{mapByPlay[5317].name}} <span class="pl">{{mapByPlay[5317].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5318">{{mapByPlay[5318].name}} <span class="pl">{{mapByPlay[5318].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
            6:false,
            7:false,
            8:false,
            9:false,
        },
    };
  },
    components: {
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

