<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第一球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5244"><span class="balls ">{{mapByPlay[5244].name}}</span> <span class="pl">{{mapByPlay[5244].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5245"><span class="balls ">{{mapByPlay[5245].name}}</span> <span class="pl">{{mapByPlay[5245].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5246"><span class="balls ">{{mapByPlay[5246].name}}</span> <span class="pl">{{mapByPlay[5246].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5247"><span class="balls ">{{mapByPlay[5247].name}}</span> <span class="pl">{{mapByPlay[5247].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5248"><span class="balls ">{{mapByPlay[5248].name}}</span> <span class="pl">{{mapByPlay[5248].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5249"><span class="balls ">{{mapByPlay[5249].name}}</span> <span class="pl">{{mapByPlay[5249].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5250"><span class="balls ">{{mapByPlay[5250].name}}</span> <span class="pl">{{mapByPlay[5250].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5251"><span class="balls ">{{mapByPlay[5251].name}}</span> <span class="pl">{{mapByPlay[5251].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5252"><span class="balls ">{{mapByPlay[5252].name}}</span> <span class="pl">{{mapByPlay[5252].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5253"><span class="balls ">{{mapByPlay[5253].name}}</span> <span class="pl">{{mapByPlay[5253].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5254"><span class="balls ">{{mapByPlay[5254].name}}</span> <span class="pl">{{mapByPlay[5254].bp | numFilter}}</span></td>
                    </tr>                                       
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

