<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第三球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5266"><span class="balls ">{{mapByPlay[5266].name}}</span> <span class="pl">{{mapByPlay[5266].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5267"><span class="balls ">{{mapByPlay[5267].name}}</span> <span class="pl">{{mapByPlay[5267].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5268"><span class="balls ">{{mapByPlay[5268].name}}</span> <span class="pl">{{mapByPlay[5268].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5269"><span class="balls ">{{mapByPlay[5269].name}}</span> <span class="pl">{{mapByPlay[5269].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5270"><span class="balls ">{{mapByPlay[5270].name}}</span> <span class="pl">{{mapByPlay[5270].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5271"><span class="balls ">{{mapByPlay[5271].name}}</span> <span class="pl">{{mapByPlay[5271].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5272"><span class="balls ">{{mapByPlay[5272].name}}</span> <span class="pl">{{mapByPlay[5272].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5273"><span class="balls ">{{mapByPlay[5273].name}}</span> <span class="pl">{{mapByPlay[5273].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5274"><span class="balls ">{{mapByPlay[5274].name}}</span> <span class="pl">{{mapByPlay[5274].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5275"><span class="balls ">{{mapByPlay[5275].name}}</span> <span class="pl">{{mapByPlay[5275].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5276"><span class="balls ">{{mapByPlay[5276].name}}</span> <span class="pl">{{mapByPlay[5276].bp | numFilter}}</span></td>
                    </tr>                                       
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

