<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第四球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5277"><span class="balls ">{{mapByPlay[5277].name}}</span> <span class="pl">{{mapByPlay[5277].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5278"><span class="balls ">{{mapByPlay[5278].name}}</span> <span class="pl">{{mapByPlay[5278].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5279"><span class="balls ">{{mapByPlay[5279].name}}</span> <span class="pl">{{mapByPlay[5279].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5280"><span class="balls ">{{mapByPlay[5280].name}}</span> <span class="pl">{{mapByPlay[5280].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5281"><span class="balls ">{{mapByPlay[5281].name}}</span> <span class="pl">{{mapByPlay[5281].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5282"><span class="balls ">{{mapByPlay[5282].name}}</span> <span class="pl">{{mapByPlay[5282].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5283"><span class="balls ">{{mapByPlay[5283].name}}</span> <span class="pl">{{mapByPlay[5283].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5284"><span class="balls ">{{mapByPlay[5284].name}}</span> <span class="pl">{{mapByPlay[5284].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5285"><span class="balls ">{{mapByPlay[5285].name}}</span> <span class="pl">{{mapByPlay[5285].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5286"><span class="balls ">{{mapByPlay[5286].name}}</span> <span class="pl">{{mapByPlay[5286].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5287"><span class="balls ">{{mapByPlay[5287].name}}</span> <span class="pl">{{mapByPlay[5287].bp | numFilter}}</span></td>
                    </tr>                                       
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

