<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第五球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5288"><span class="balls ">{{mapByPlay[5288].name}}</span> <span class="pl">{{mapByPlay[5288].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5289"><span class="balls ">{{mapByPlay[5289].name}}</span> <span class="pl">{{mapByPlay[5289].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5290"><span class="balls ">{{mapByPlay[5290].name}}</span> <span class="pl">{{mapByPlay[5290].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5291"><span class="balls ">{{mapByPlay[5291].name}}</span> <span class="pl">{{mapByPlay[5291].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5292"><span class="balls ">{{mapByPlay[5292].name}}</span> <span class="pl">{{mapByPlay[5292].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5293"><span class="balls ">{{mapByPlay[5293].name}}</span> <span class="pl">{{mapByPlay[5293].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5294"><span class="balls ">{{mapByPlay[5294].name}}</span> <span class="pl">{{mapByPlay[5294].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5295"><span class="balls ">{{mapByPlay[5295].name}}</span> <span class="pl">{{mapByPlay[5295].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5296"><span class="balls ">{{mapByPlay[5296].name}}</span> <span class="pl">{{mapByPlay[5296].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5297"><span class="balls ">{{mapByPlay[5297].name}}</span> <span class="pl">{{mapByPlay[5297].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5298"><span class="balls ">{{mapByPlay[5298].name}}</span> <span class="pl">{{mapByPlay[5298].bp | numFilter}}</span></td>
                    </tr>                                       
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

