<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">任一中一</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5233"><span class="balls ">{{mapByPlay[5233].name}}</span> <span class="pl">{{mapByPlay[5233].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5234"><span class="balls ">{{mapByPlay[5234].name}}</span> <span class="pl">{{mapByPlay[5234].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5235"><span class="balls ">{{mapByPlay[5235].name}}</span> <span class="pl">{{mapByPlay[5235].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5236"><span class="balls ">{{mapByPlay[5236].name}}</span> <span class="pl">{{mapByPlay[5236].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5237"><span class="balls ">{{mapByPlay[5237].name}}</span> <span class="pl">{{mapByPlay[5237].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5238"><span class="balls ">{{mapByPlay[5238].name}}</span> <span class="pl">{{mapByPlay[5238].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5239"><span class="balls ">{{mapByPlay[5239].name}}</span> <span class="pl">{{mapByPlay[5239].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5240"><span class="balls ">{{mapByPlay[5240].name}}</span> <span class="pl">{{mapByPlay[5240].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5241"><span class="balls ">{{mapByPlay[5241].name}}</span> <span class="pl">{{mapByPlay[5241].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5242"><span class="balls ">{{mapByPlay[5242].name}}</span> <span class="pl">{{mapByPlay[5242].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5243"><span class="balls ">{{mapByPlay[5243].name}}</span> <span class="pl">{{mapByPlay[5243].bp | numFilter}}</span></td>
                    </tr>                                       
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

