<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
                <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">总和</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[0]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5205" >{{mapByPlay[5205].name}} <span class="pl">{{mapByPlay[5205].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5209">{{mapByPlay[5209].name}} <span class="pl">{{mapByPlay[5209].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5206">{{mapByPlay[5206].name}} <span class="pl">{{mapByPlay[5206].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5210">{{mapByPlay[5210].name}} <span class="pl">{{mapByPlay[5210].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5207">{{mapByPlay[5207].name}} <span class="pl">{{mapByPlay[5207].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5211">{{mapByPlay[5211].name}} <span class="pl">{{mapByPlay[5211].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5208">{{mapByPlay[5208].name}} <span class="pl">{{mapByPlay[5208].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5212">{{mapByPlay[5212].name}} <span class="pl">{{mapByPlay[5212].bp | numFilter}}</span></td>
                            </tr>

                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(1)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[1]"></i><i class="cubeic-pulldown" v-show="!show[1]"></i></div>
                    <div class="icon-title">第一球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[1]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5213">{{mapByPlay[5213].name}} <span class="pl">{{mapByPlay[5213].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5214">{{mapByPlay[5214].name}} <span class="pl">{{mapByPlay[5214].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5215">{{mapByPlay[5215].name}} <span class="pl">{{mapByPlay[5215].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5216">{{mapByPlay[5216].name}} <span class="pl">{{mapByPlay[5216].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

            
                <div class="game-title" @click.stop="show_menu(2)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[2]"></i><i class="cubeic-pulldown" v-show="!show[2]"></i></div>
                    <div class="icon-title">第二球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[2]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5217">{{mapByPlay[5217].name}} <span class="pl">{{mapByPlay[5217].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5218">{{mapByPlay[5218].name}} <span class="pl">{{mapByPlay[5218].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5219">{{mapByPlay[5219].name}} <span class="pl">{{mapByPlay[5219].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5220">{{mapByPlay[5220].name}} <span class="pl">{{mapByPlay[5220].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>    

                <div class="game-title" @click.stop="show_menu(3)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[3]"></i><i class="cubeic-pulldown" v-show="!show[3]"></i></div>
                    <div class="icon-title">第三球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[3]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5221">{{mapByPlay[5221].name}} <span class="pl">{{mapByPlay[5221].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5222">{{mapByPlay[5222].name}} <span class="pl">{{mapByPlay[5222].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5223">{{mapByPlay[5223].name}} <span class="pl">{{mapByPlay[5223].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5224">{{mapByPlay[5224].name}} <span class="pl">{{mapByPlay[5224].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
                <div class="game-title" @click.stop="show_menu(4)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[4]"></i><i class="cubeic-pulldown" v-show="!show[4]"></i></div>
                    <div class="icon-title">第四球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[4]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5225">{{mapByPlay[5225].name}} <span class="pl">{{mapByPlay[5225].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5226">{{mapByPlay[5226].name}} <span class="pl">{{mapByPlay[5226].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5227">{{mapByPlay[5227].name}} <span class="pl">{{mapByPlay[5227].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5228">{{mapByPlay[5228].name}} <span class="pl">{{mapByPlay[5228].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
                <div class="game-title" @click.stop="show_menu(5)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[5]"></i><i class="cubeic-pulldown" v-show="!show[5]"></i></div>
                    <div class="icon-title">第五球</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[5]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5229">{{mapByPlay[5229].name}} <span class="pl">{{mapByPlay[5229].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5230">{{mapByPlay[5230].name}} <span class="pl">{{mapByPlay[5230].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5231">{{mapByPlay[5231].name}} <span class="pl">{{mapByPlay[5231].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5232">{{mapByPlay[5232].name}} <span class="pl">{{mapByPlay[5232].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
            6:false,
            7:false,
            8:false,
            9:false,
            10:false,
        },
    };
  },
    components: {
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  created() {
  
  }
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

