.betBlock
    margin-bottom: 5px;
    border-bottom: 1px #ddd solid;
    overflow: hidden;
    .numBlock
        display: flex;
        .label
            width 60px;
            .betToolIcon
                margin-top: -23px;
                font-size: 1.25rem;
                color: #c0c0c0;
            .title
                line-height: 75px;
        .nums
            width 100%;
            line-height: 40px;
            li
                float left;
                width 20%;
            .dxds_ul
                line-height: 75px;
    .betTool
        display: flex;
        padding: 10px 15px;
        border-top: 1px #ddd dashed;
        justify-content: space-between;
        .betToolItem
            border: 1px #ddd solid;
            width: 15%;
            height: 30px;
            border-radius: 5px;
            line-height: 30px;
            margin-right: 10px;
            background: #efefef;
    .betTool-enter,.betTool-leave-to
	    max-height: 0px;
    .betTool-enter-to,.betTool-leave
	    max-height: 90px;
    .betTool-enter-active,.betTool-leave-active
	    transition: all .3s;
.tabs-basic-view
  .official_bet
    left: 0px;
    border-top: 1px #ddd solid;
    padding-top: 5px;
    .addOF
      background-color: #409eff;
      border: 1px solid #66b1ff;
      color: #fff !important;
    .bet_tool
      border-top: 1px #ddd dashed;
    .bet-error-mag
      padding: 15px;
      color: #ff5151;
    .padding
      padding: 15px;
    .play-info
      font-size: .9rem;
      text-align: left;
      padding: 3px 10px;
      line-height: 20px;
    .icon-info
      color: #66b1ff;
    .square-of
      border-radius: 0.3rem;
      padding: 15px;
      width: unset;
      margin-bottom: 10px;