body,html
  height:100%;
  font-size:16px;
  color :#333;
.green-bgcolor
  background: #04be02;
.red-bgcolor
  background: #f64848;
.red-color
  color: #f64848;    
.blue-color
  color: #409eff;
.blue-bgcolor
  background: #409eff;
.blue-btn
  background: #4a90e2 !important;
  border-radius: 5px !important;
.disabled-btn
    background-color: #ccc !important;
.disabled-color
  input
    color #aaa !important;
.shadow
  height: 3px;
  width: 100%;
  position: relative;
  bottom: -3px;
  left: 0;
  box-shadow: 0 0 15px rgba(0,0,0,.6);
.icon-size
  font-size 21px;
  vertical-align: middle;
  -webkit-text-stroke-width: 0px; 
.header-swiper
  height 150px;
  width 100%;
  .header-swiper-img
    width 100%;
  .swiper-pagination-bullet-active
    background: #ffffff;
.cube-scroll-content
  z-index: 0 !important;
.head-bulletin
  background-color: #fff
  position: fixed;
  width: 100%;
  top: 150px;
  box-shadow: 0 0 7px rgba(0,0,0,0.6);
  font-size: 1rem ;
  line-height: 30px;
  display: flex;
  height: 30px;
.cube-page
  .header
    background-color: #409eff !important;
    h1
      color: #fbfbfb !important;
    .cubeic-back
      color: #fbfbfb !important;
    .cubeic-more
      color: #fbfbfb !important;
    .cubeic-search
      color: #fbfbfb !important;
.cube-tab-bar
    background-color: #fff
    position: fixed;
    width: 100%;
    top: 46px;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    .cube-tab
        font-size: 1rem ;
        line-height: 20px;
    .cubeic-home,.cubeic-game,.cubeic-message,.cubeic-person,.cubeic-edit,.cubeic-qr-code,.cubeic-add,.cubeic-tag
        font-size: 2rem ;
    .fas
        font-size: 1.6rem ;
    .cubeic-vip
        position: relative;
        top: -10px;
        border-radius: 50px ;
        padding: 5px ;
        background-color: #409eff ;
        font-size: 2rem ;
        color: #FFF ;
        border: 2px solid white ;
    .cubeic-qr-code
        position: relative;
        top: -10px;
        border-radius: 50px ;
        padding: 5px ;
        background-color: #409eff ;
        font-size: 2rem ;
        color: #FFF ;
        border: 2px solid white ;
.tabs-basic-view
  height:100%
  .tab-slide-container
    position: fixed
    top: 185px
    left: 0
    right: 0
    bottom: 64px;
    overflow hidden;
  .tab-panel-li
      display:inline-block;
      width :33.33%;
      text-align: center;
      float left;
      height:135px;
  .imgDiv
      padding 9px
      border-radius: 10px;
      border: 1px solid #ddd;
      background-color: rgba(189, 214, 240, 0.1);
      margin: 7px;
  .imgIcon
    width: 78px;
  .imgEIcon
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
  .imgFont
      white-space : nowrap;
      text-overflow: ellipsis;
      width :100%
      overflow: hidden;
      font-size: 0.9rem;
      height: 19px;
      margin-top: 4px;
  .credit_bet
    left: 73px;
  .bet_space
    position: fixed; 
    top: 130px;
    right: 0;
    bottom: 60px;
    .bet-error-mag
      padding: 15px;
      color: #ff5151;
    .icon-size
      font-size: 29px;
      color: #999;
    .pl
      color: #666;
      display: block;
      height: 17px;
      line-height: 7px;
      font-size: 0.85rem;
    .pl-noblock
      display: inline !important;
      padding: 10px;
    .k3
      width: 2rem;
      margin-top: 10px;
      display: inline-block;
      text-align: center;
    img
      height 32px;
      width 32px;
    .balls
      display: inline-block;
      text-align: center;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 0.9rem;
      color: #409eff;
      line-height: 1.7rem;
      font-size: 1.2rem;
      border: 1px #409eff solid;
    .balls2
      display: inline-block;
      text-align: center;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 0.9rem;
      line-height: 1.7rem;
      font-size: 1.2rem;
    .zh_img
      width: 49px;
      height: 49px;
    .balls3
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      line-height: 2rem;
    .square
      display: inline-block;
      text-align: center;
      color: #409eff;
      font-size: 2rem;
      font-weight: 600;
      font-style: italic;
      -webkit-text-stroke: 1px #333;
    .color1
      color: #e5b800;
    .color2
      color: #0278d7;
    .color3
      color: #474c50;
    .color4
      color: #f17403;
    .color5
      color: #25b5cb;
    .color6
      color: #003e92;
    .color7
      color: #aa9e9e;
    .color8
      color: #ea075f;
    .color9
      color: #7e0209;
    .color10
      color: #288c06;
    .pcdd_red
        color: #ff5151 !important;
    .pcdd_green
        color: #3fa93f !important;
    .pcdd_blue
        color: #2f84e5 !important;
    .pcdd_bg_red
        background-color: #ff5151 !important;
        color: #fff !important;
    .pcdd_bg_green
        background-color: #3fa93f !important;
        color: #fff !important;
    .pcdd_bg_blue
        background-color: #2f84e5 !important;
        color: #fff !important;
    .pcdd_bg_no
        background-color: gray !important;
        color: #fff !important;
        border: 1px gray solid;
    .lhc_red
        color: #ff5151 !important;
    .lhc_green
        color: #3fa93f !important;
    .lhc_blue
        color: #2f84e5 !important;
    .lhc_bg_red
        background-color: #ff5151 !important;
        color: #fff !important;
    .lhc_bg_green
        background-color: #3fa93f !important;
        color: #fff !important;
    .lhc_bg_blue
        background-color: #2f84e5 !important;
        color: #fff !important;
    .game-title
      padding: 0px 0px;
      border-top: 1px #eee solid;
      height: 45px;
      text-align: center;
      line-height: 45px;
      justify-content: center;
      display: flex;
      .icon-pull
        float:left;
      .icon-title
        float:left;
    .play-menu
      background-color: #fafafa;
      overflow: hidden;
    .playmenu-enter,.playmenu-leave-to 
      max-height 0px
    .playmenu-enter-to,.playmenu-leave 
      max-height 350px
    .playmenu-enter-active,.playmenu-leave-active 
      transition all 0.3s
    table
      border-collapse: unset;
      border-spacing: 10px;      
      width:100%;
      table-layout: fixed;
    ul
        height: 46px;
        overflow: hidden;
        width 100%;
        display table;
    .col
        display: table-cell;
        text-align: center;
        padding 0px 0px;
        margin auto;
        height :45px;
        position: relative;
    .col1
        text-align: center;
        padding 0px 0px;
        margin auto;
        width 125px;
        height :45px;
        position: relative;
    .col2
        height :45px;
        padding 0px 0px;
        margin auto;
        position: relative;
        width: 50%;
    .col3
        height :45px;
        text-align: center;
        padding 0px 0px;
        margin auto;
        position: relative;
        width: 30%;
    .name
        line-height 45px;
        text-align center;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-weight: 600;
    .zh_name
        line-height unset !important;
    .addbet
        background-color: rgba(102, 177, 255, .1);
        border: 1px solid #66b1ff;
        .balls
          color :#fff !important;
          background-color: #66b1ff !important;
    .addbet:before
        font-family: "cube-icon"!important
        content: "\E68C";
        position: absolute;
        color: #fff;
        right: 0px;
        bottom: -15px;
        z-index: 1;
    .addbet:after
        position: absolute;
        right: 0;
        content: "";
        bottom: 0px;
        width: 0;
        height: 0;
        border-width: 0 0 25px 25px;
        border-style: solid;
        border-color: transparent transparent #66b1ff;
    .addbet_zh
        background-color: rgba(102, 177, 255, .1);
        border: 1px solid #66b1ff;
        .balls
          color :#fff !important;
          background-color: #66b1ff !important;
    .addbet_zh:before
        font-family: "cube-icon"!important
        content: "\E68C";
        position: absolute;
        color: #fff;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    .addbet_zh:after
        position: absolute;
        right: 0;
        content: "";
        bottom: 0px;
        width: 0;
        height: 0;
        border-width: 0 0 25px 25px;
        border-style: solid;
        border-color: transparent transparent #66b1ff;
  .zh_space
    left: 0px;
  .bet
      position: fixed;
      width: 100%;
      left: 0;
      .sideMenu
          position: fixed; 
          top: 130px;
          left: 0;
          right: 0;
          bottom: 60px;
          width: 72px;
          background-color: #f9f9f9;
          overflow: hidden;
          border-right: 1px solid #eee;
          font-size: 0.85rem;
      .bg
          background: #409eff;
          color #fff;
      .bg:after
          content:"";
          display:block;
          width:.45rem;
          height:.45rem;
          background:#fff;
          border-radius:50%;
          position:absolute;
          left:.35rem;
          top:.2rem;
          box-shadow:inset 1px 1px 0 0 #777;   
      .content
          text-align: center;
          overflow-x hidden;
      .side-li
          text-align: center;
          padding 15px 5px;
          border-top: 1px solid #eee;
          position: relative;
      .side-li:before
          content:"";
          display:block;
          width:.45rem;
          height:.45rem;
          background:#ccc;
          border-radius:50%;
          position:absolute;
          left:.35rem;
          top:.2rem;
          box-shadow:inset 1px 1px 0 0 #777;    
      .bet-area
          overflow: hidden;
  .cube-page .header
      width :100%;
.rules
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 100px;
  h1
    margin: 20px 25px;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.75em;
  ul
    list-style-type: disc;
  li
    margin: 0px 25px;
    line-height: 1.4;
    list-style-type: disc;
    margin-bottom: 0.75em;
    word-break: break-all;
    font-size: 0.9rem;
.trend_div
  margin-top 8px;
  overflow-x: hidden;
  width: 100%;
  .round
    display: inline-block;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.9rem;
    color: #fff;
    line-height: 1.5rem;
    font-size: 0.9rem;
    margin: 8px auto;
  .k3
      width: 1.5rem;
      padding: 3px;
      display: inline-block;
      vertical-align: middle;
  .ld
      width: 3rem;
      padding: 3px;
      display: inline-block;
      vertical-align: middle;
  .resultData
      border: solid 1px #17b1f2;
      border-radius: 4px;
      text-decoration: none;
      color: #19b4f5;
      text-align: center;
      margin-right: 0.1rem;
      font-size: 0.9rem;
      line-height: 1.3rem;
      display: inline-block;
      margin-top: 0.8rem;
      padding: 1.2px;
      min-width: 1rem;
  table
      width: 100%;
      text-align: center;
      margin-bottom: 4px;
      background-color: #fff;
      td
          padding 6px 0px;
  .square
      display: inline-block;
      text-align: center;
      width: 1.4rem;
      height: 1.5rem;
      color: #fff;
      margin-top: .3rem;
      margin-right: .1rem;
      line-height: 1.5rem;
      font-size: .95rem;
      border-radius: 3px; 
      font-style: italic;
      -webkit-text-stroke: .5px #333;
      font-weight: 600;
    .color1
      background-color: #e5b800;
    .color2
      background-color: #0278d7;
    .color3
      background-color: #474c50;
    .color4
      background-color: #f17403;
    .color5
      background-color: #25b5cb;
    .color6
      background-color: #003e92;
    .color7
      background-color: #aa9e9e;
    .color8
      background-color: #ea075f;
    .color9
      background-color: #7e0209;
    .color10
      background-color: #288c06;
  .pcdd_red
      background: #ff5151 !important;
      border-color: #ff5151 !important;
      color: #fff !important;
  .pcdd_green
      background: #3fa93f !important;
      border-color: #3fa93f !important;
      color: #fff !important;
  .pcdd_blue
      background: #2f84e5 !important;
      border-color: #2299d5 !important;
      color: #fff !important;
  .pcdd_no
      background: gray !important;
      border-color: gray !important;
      color: #fff !important;
.lhc_bg_red
    background-color: #ff5151 !important;
.lhc_bg_green
    background-color: #3fa93f !important;
.lhc_bg_blue
    background-color: #2f84e5 !important;
.cube-toast-tip
  max-height: unset !important;
.move-tips
  text-align: center;

.filtermenu-enter,.filtermenu-leave-to 
  transform translateX(100%)
.filtermenu-enter-to,.filtermenu-leave 
  transform translateX(0)
.filtermenu-enter-active,.filtermenu-leave-active 
  transition all 0.5s
.moveTips-enter,.moveTips-leave-to 
  transform translateX(100%)
.moveTips-enter-to,.moveTips-leave 
  transform translateX(0)
.moveTips-enter-active,.moveTips-leave-active 
  transition all 2.8s
.moveTips2-enter-active,.moveTips2-leave-active
  transition: opacity 2.8s;
.moveTips2-enter-to,.moveTips2-leave-to
  opacity: 0;