<template>
    <BackPage :title="title" v-on:callback="back">
        <div slot="content" >
            <div class="mainSearch">
                <div class="record-body">
                    <cube-scroll ref="s1" :options="scrollLogOpts">
                        <ul class="list-wrapper" >
                        <li v-for="(item, index) in mapByEgame" class="tab-panel-li" :key="index" >
                            <div @click.stop.prevent="getEgame(item.game_type)">
                                <img class="imgEIcon" :src="'/static/images/egame/cg/'+item.game_type+'.PNG'" >
                                <div class="imgFont">{{item.cname}}</div>
                            </div>
                        </li>
                        </ul>
                    </cube-scroll>
                </div>
            </div>
            <tab-bar></tab-bar>
        </div>
    </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import TabBar from '@/components/tab-bar.vue'
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { apiGetEgame } from "@/api.js";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"电子游戏",
            results:[],
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },

        }
    },
    methods: {
        getEgame(id)
        {
          if(this.user.username=="")
          {
            this.toast('请先登录');
            return;
          }
          this.toast('游戏读取中...',null,0); // 防用户连点
          var newWindow = window.open("about:blank", '');
          apiGetEgame({
            id:id
            })
            .then(response => {
                this.$createToast().hide();
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                    newWindow.location.href = response.data.data;
                }
                return;
            }).catch(error => {
                this.$createToast().hide();
                console.log(error);
                return;
            });
        },

    },
    computed: {
		...mapGetters({
            config:'config',
            user: "user",
            mapByEgame: "mapByEgame",
        }),
        scrollLogOpts() {
            return {
                click: false
            }
        },        
    },
    components: {
        BackPage,
        TabBar
    },
    created() {

    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    position: fixed; 
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    .record-body
        position: fixed; 
        bottom: 61px;
        top: 45px;
        left: 0;
        right: 0;
        overflow:hidden;
</style>
