<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="reg-block">
            <form>
                <cube-input v-model="form_reg.username"
                    placeholder="帐号"
                    type="text"
                    :clearable="{visible: true, blurHidden: true}" class="reg-field"
                    autocomplete="false"
                    >
                    <i slot="prepend" class="cubeic-person reg-icon"></i>
                </cube-input>
                <cube-validator v-model="check0" :model="form_reg.username" :rules="rules0" class="error-msg"></cube-validator>
                <cube-input v-model="form_reg.pwd"
                    placeholder="密码"
                    type="password"
                    :eye="{open: false,reverse: false}"
                    class="reg-field"
                    autocomplete="false"
                    >
                    <i slot="prepend" class="cubeic-lock reg-icon"></i>
                </cube-input>
                <cube-validator v-model="check1" :model="form_reg.pwd" :rules="rules1" class="error-msg"></cube-validator>
                <cube-checkbox v-model="checked" class="reg-checkbox">
                记住帐号
                </cube-checkbox>
                <div class="padding">
                    <cube-button  @click="login" class="reg-button blue-btn" :disabled="!check0 || !check1 " :class="{'disabled-btn':!check0 || !check1 }">登录</cube-button>
                </div>
                <div class="padding">
                    <cube-button  @click="guestLogin" class="reg-button blue-btn" >免费试玩</cube-button>
                </div>

            </form>
        </div>
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { validator } from '@/utils/validator.js'
import { mapGetters } from "vuex";
import { apiPostLogin,apiPostGuestLogin } from "@/api.js";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
    data() {
        return {
            autocomplete:false,
            checked:this.$cookies.get('username')?true:false,
            //checked:false,
            check0:this.$cookies.get('username')?true:false,
            check1:false,
            title:"用户登录",
            form_reg:{
                username: this.$cookies.get('username')?$cookies.get('username'):'',
                //username: '',
                pwd: '',
            },
            rules0:{
                type: 'string',
                required: true,
                pattern: validator.username,
            },
            rules1:{
                type: 'string',
                required: true,
                min:4,
            }
        }
    },
    methods: {
        back()
        {
          this.$router.back()
        },
        guestLogin()
        {
            apiPostGuestLogin({
                client_type:'mobile',
            })
            .then(response => {
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                    setTimeout(()=> {
                        this.$store.dispatch('getCoin');
                    }, 15000);
                    this.$store.dispatch('setUserInfo',response.data.data);
                    this.$router.push("/");
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        },
        login(){
            if(!validator.isUsername(this.form_reg.username)){
                this.toast('帐号格式不正确');
                return;
            };
            if(this.checked)
            {
                this.$cookies.set('username', this.form_reg.username, '30d');
            }else
            {
                this.$cookies.remove('username');
            }
            apiPostLogin({
                username:this.form_reg.username,
                password:this.form_reg.pwd,
                client_type:'mobile',
            })
            .then(response => {
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                    setTimeout(()=> {
                        this.$store.dispatch('getCoin');
                    }, 15000);
                    this.$store.dispatch('setUserInfo',response.data.data);
                    this.$router.push("/");
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        }
    },
    computed: {
		...mapGetters({
            user: "user",
            coin_time_line: "coin_time_line",
        }),
    },
    components: {
        BackPage,
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.reg-block
    padding-top: 50px;
    .reg-icon
        font-size: 1.4rem;
    .reg-field
        font-size: .9rem;
        padding: 5px 0px 0px 12px;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        color: #fff;
    .padding
        padding: 10px;
    .error-msg
        padding: 5px;
    .reg-checkbox
        text-align center;
</style>
