<template>
    <div slot="content" >
        <div class="mainSearch">
            <div @click.stop.prevent="getEgame('BLG','ky')">
                <img class="imgIcon" :src="require('@/assets/images/poker/ky.jpg')">
            </div>
            <div @click.stop.prevent="getEgame('BLG','leg')">
                <img class="imgIcon" :src="require('@/assets/images/poker/leg.jpg')">
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6" >
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"棋牌游戏",
            trans:false,
        }
    },
    methods: {
        back_poker()
        {
            this.trans=false;
        },

        getEgame(vendor,game)
        {
            if(this.user.username=="")
            {
                this.toast('请先登录');
                return;
            }
            this.go2page('/user/transfer/'+vendor+'/'+game);
        },

    },
    computed: {
		...mapGetters({
            config:'config',
            user:'user',
        }),
       
    },
    components: {
    },
    created() {

    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    width: 100%;
    text-align: -webkit-center;
    .imgIcon
        width: 280px;
        height 200px;
        margin: 10px 0px;
        border-radius: 5px;
        border: 1px solid #eaeaea;
</style>
