<template>
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <div class="record-body">
            <cube-scroll  ref="scroll" :data="results" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" @pulling-up="logLoadMore">
				<div v-for="(item, index) in results" class="record-item" :key="index" @click="onItemClick(index)" v-if="results.length>0" >
                    <div class="record-top">
                        <div class="col">
                            <img :src="'/static/images/banner/'+item.mobile_banner" class="record-img"/>
                        </div>
                    </div>
					<div class="record-bot">
                        <div class="col record-title text-left">{{ item.title }}</div>
						<div class="col record-subtitle text-left">{{ item.subtitle }}</div>
					</div>                    
				</div>
                <div class="no-record" v-if="!results.length">
                    <img class="no-record-img" src="~assets/images/user/norecord.png">
                    <div class="no-record-txt">暂无相关纪录</div>
                </div>
            </cube-scroll>
            </div>
        </div>   
           
        <transition name="filtermenu">
            <keep-alive>
                <EventDetail v-if="showDetail" :detail="checkDetail" v-on:callback="switchDetial" ></EventDetail>
            </keep-alive>
        </transition>

    </div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import moment from 'moment'
import EventDetail from '@/components/index/event-detail.vue';
import { apiGetPromotion } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"优惠活动",
            showDetail:0,
            checkDetail:null,
            results:[],
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            current_page:1,
        }
    },
    methods: {
        back()
        {
            this.$router.back();
        },        
        switchDetial(value)
        {
            this.showDetail=value;
        },
        getLog(page)
        {
            apiGetPromotion({
                page: page,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }
                        this.results=this.results.concat(response.data.data);
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        onItemClick(index)
        {
            this.checkDetail=this.results[index];
            this.showDetail=1;
        },
        logRefresh(){
            this.current_page=1;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },
        logLoadMore(){
            this.current_page++;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },        
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.log.pullUpLoadNoMoreTxt
                    }
                },
            }
        },        
    },
    components: {
      BackPage,
      EventDetail,
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    position: fixed; 
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    font-size: 0.9rem;
    .no-record
        margin: 30px auto;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-bot
        padding-bottom: 5px;
        .col
            width 100%;
        .record-title
            font-weight: bold;
            line-height: 29px;
            font-size: 1.1rem;
        .record-subtitle
            line-height: 20px;
            font-size: 0.85rem;
    .record-top
        display flex;
        padding-bottom: 5px;
        .col
            width 100%;
        .record-img
            width 100%;
    .record-head
        display flex;
        border-bottom: 1px #ddd solid;
        padding: 0px 10px;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 46px;
        left: 0;
        right: 0;
        overflow:hidden;
    .record-item
        padding: 10px 10px;
        margin-bottom: 10px;
        background-color #fff;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align: center;
        border-radius: 5px;
        background-color: #eee;
        font-size: 0.85rem;
.filtermenu-enter,.filtermenu-leave-to 
  transform translateX(100%)
.filtermenu-enter-to,.filtermenu-leave 
  transform translateX(0)
.filtermenu-enter-active,.filtermenu-leave-active 
  transition all 0.5s
</style>
