<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="reg-block">
            <form>
                <cube-input v-model="form_reg.username"
                    placeholder="帐号"
                    type="text"
                    :clearable="{visible: true, blurHidden: true}" class="reg-field"
                    autocomplete="false"
                    >
                    <i slot="prepend" class="cubeic-person reg-icon"></i>
                </cube-input>
                <cube-validator v-model="check0" :model="form_reg.username" :rules="rules0" class="error-msg"></cube-validator>
                <cube-input v-model="form_reg.pwd"
                    placeholder="密码"
                    type="password"
                    :eye="{open: false,reverse: false}"
                    class="reg-field"
                    autocomplete="false"
                    >
                    <i slot="prepend" class="cubeic-lock reg-icon"></i>
                </cube-input>
                <cube-validator v-model="check1" :model="form_reg.pwd" :rules="rules1" class="error-msg"></cube-validator>
                <cube-input v-model="form_reg.confirm_pwd"
                    placeholder="确认密码"
                    type="password"
                    :eye="{open: false,reverse: false}"
                    class="reg-field"
                    autocomplete="false"
                    >
                    <i slot="prepend" class="cubeic-lock reg-icon"></i>
                </cube-input>
                <cube-validator v-model="check2" :model="form_reg.confirm_pwd" :rules="rules2" class="error-msg"></cube-validator>
                <cube-input v-model="form_reg.lid"
                    placeholder="邀请码(可不填)"
                    type="text"
                    :clearable="{visible: true, blurHidden: true}"
                    class="reg-field"
                    >
                    <i slot="prepend" class="cubeic-qr-code reg-icon"></i>
                </cube-input>
                <div class="padding">
                    <cube-button  @click="register" class="reg-button blue-btn" :disabled="!check0 || !check1 || !check2" :class="{'disabled-btn':!check0 || !check1 || !check2}">注册</cube-button>
                </div>
            </form>
        </div>
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { validator } from '@/utils/validator.js'
import { mapGetters } from "vuex";
import { apiPostReg } from "@/api.js";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
    data() {
        return {
            autocomplete:false,
            check0:false,
            check1:false,
            check2:false,
            title:"用户注册",
            form_reg:{
                username: '',
                pwd: '',
                confirm_pwd: '',
                lid: '',
            },
            rules0:{
                type: 'string',
                required: true,
                pattern: validator.username,
            },
            rules1:{
                type: 'string',
                required: true,
                min:4,
            },
            rules2:{
                type: 'string',
                required: true,
                min:4,
            }
        }
    },
    methods: {
        back()
        {
          this.$router.back()
        },
        register(){
            if(!validator.isUsername(this.form_reg.username)){
                this.toast('帐号格式不正确');
                return;
            };
            // if(!validator.isPassword(this.form_reg.pwd)){
            //     this.toast('密码格式不正确,请输入6-12位数字及字母组合');
            //     return;
            // };
            if(this.form_reg.pwd != this.form_reg.confirm_pwd){
                this.toast('密码与确认密码不一致');
                return;
            };
            apiPostReg({
                lid:this.form_reg.lid,
                username:this.form_reg.username,
                password:this.form_reg.pwd,
                password_repeat:this.form_reg.confirm_pwd,
                client_type:'mobile',
            })
            .then(response => {
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                    this.toast(
                        response.data.msg,
                        {
                            func: () => {
                                this.$store.dispatch('setUserInfo',response.data.data);
                                this.$router.push("/");
                            }
                        });
                    setTimeout(()=> {
                        this.$store.dispatch('getCoin');
                    }, 15000);
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        }
    },
    computed: {
		...mapGetters({
            user: "user",
        }),
    },
    components: {
        BackPage
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.reg-block
    padding-top: 50px;
    .reg-icon
        font-size: 1.4rem;
    .reg-field
        font-size: .9rem;
        padding: 5px 0px 0px 12px;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        color: #fff;
    .padding
        padding: 10px;
    .error-msg
        padding: 5px;
</style>
