<template >
    <back-page :title="title" v-on:callback="back">
        <div slot="content" >
            <div class="help-center-main">
                <h1>IOS 手机</h1>
                <div class="help-img">
                    <img :src="'/static/images/help/QAios-1.png'" class="help2-img">
                </div>
                <div class="help-img">
                    <img :src="'/static/images/help/QAios-2.png'" class="help2-img">
                </div>
                <div style="height: 1px;width: 100%;background: #ddd;margin: 20px 0px;"></div>
                <h1>Android 手机</h1>
                <div class="help-img">
                    <img :src="'/static/images/help/QAAndroid-1.png'" class="help2-img">
                </div>
                <div class="help-img">
                    <img :src="'/static/images/help/QAAndroid-2.png'" class="help2-img">
                </div>
                <div class="help-img">
                    <img :src="'/static/images/help/QAAndroid-3.png'" class="help2-img">
                </div>
            </div>
        </div>
    </back-page>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
export default {
    data() {
        return {
            title:"帮助中心",
        }
    },
    methods: {
        back()
        {
            this.$router.back()
        },
    },
    computed: {

    },
    components: {
        BackPage
    },
    created() {

    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" >
.help-center-main
    margin-top 20px
    h1
        text-align: center;
    .help-img
        width 100%;
        padding 10px;
        text-align: center;
    .help2-img
        width 95%;
</style>
