<template>
    <div class="bet_space official_bet" style="top: 156px;">
        <cube-scroll  ref="scroll">
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 投注首奖百位数"双"，首奖百位数字是双数；则玩家获胜</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label">
                        <div class="title">{{item.label}}</div>
                    </div>
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet" class="name max4d-ds" :data-id="item.playedId[index]" >
                                {{num}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </cube-scroll>
        <BetBar :type_id="options.type_id" ></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {

            ruleInfo: [{
                label: '千',
                row: '0',
                nums: ['单','双'],
                playedId:[6651,6652],
                max:5,
                min:4,
            },{
                label: '百',
                row: '1',
                nums: ['单','双'],
                playedId:[6653,6654],
                max:5,
                min:4,
            },{
                label: '十',
                row: '2',
                nums: ['单','双'],
                playedId:[6655,6656],
                max:5,
                min:4,
            },{
                label: '个',
                row: '3',
                nums: ['单','双'],
                playedId:[6657,6658],
                max:5,
                min:4,
            }],
        }
    },
    props: ['options'],
    methods: {

    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
.max4d-ds
    margin-top: 14px;
    margin-left: 20px;
.addbet:before
    position: relative !important;
    right: -55px !important;
.addbet:after
    right: -9px !important;
    bottom: 11px !important;
    position: relative !important;
.nums li
    width 25% !important;
</style>