<template>
  <HomePage title="tab-composite">
    <div slot="content">
      <div>
        <swiper :options="swiperOption" class="header-swiper">
          <swiper-slide v-for="(slide, index) in swiperSlides" :key="index">
            <img :src="'/static/images/banner/'+slide" class="header-swiper-img">
            </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </div>
      <!--cube-tab-bar v-model="selectedLabel"
                    show-slider
                    ref="tabNav"
                    :data="tabs">
      </cube-tab-bar-->
      <div class="head-bulletin">
        <span style="padding: 0 10px;"><i class="fas fa-bullhorn"></i></span>
        <swiper :options="swiperOptionBulletin" >
          <swiper-slide v-for="(slide, index) in swiperBulletin" :key="index" @click.native="bulletinPopup(index)">
            {{slide}}
            </swiper-slide>
        </swiper>
      </div>
      <div class="tab-slide-container tab-area">
          <cube-slide
            ref="slide"
            :loop="loop"
            :initial-index="initialIndex"
            :auto-play="autoPlay"
            :show-dots="showDots"
            :options="slideOptions"
            @scroll="scroll"
            @change="changePage"
          >
            <!-- <cube-slide-item >
              <cube-scroll ref="s4" :options="scrollLogOpts">
                <PokerPage></PokerPage>
              </cube-scroll>
            </cube-slide-item> -->

            <cube-slide-item>
              <cube-scroll ref="s1" :options="scrollLogOpts">
                <transition name="moveTips">
                  <div v-show="move_tips">
                      <i class="fas fa-hand-point-up" style="font-size:1.6rem;color:#409eff;"></i>
                  </div>
                </transition>
                <transition name="moveTips2">
                  <div v-show="move_tips">
                    <div class="move-tips">
                      切换官方信用玩法
                    </div>
                  </div>
                </transition>
                <ul class="list-wrapper" >
                  <!-- 2元 -->
                  <!-- <li  class="tab-panel-li" >
                      <div class="imgDiv" @click.stop.prevent="gobinary()" >
                          <img class="imgIcon" :src="require('@/assets/images/lottery/binary.png')">
                          <div class="imgFont">二元棋权</div>
                      </div>
                  </li> -->
                  <!-- 2元 -->
                  <li v-for="(item, index) in typeList_credit" class="tab-panel-li" :key="index" >
                      <div class="imgDiv" @click.stop.prevent="go2page('/bet/'+tabs[0].type+'/'+item.name)" >
                          <img class="imgIcon" :src="require('@/assets/images/lottery/'+item.id+'.png')">
                          <div class="imgFont">{{item.title}}</div>
                      </div>
                  </li>
                </ul>
              </cube-scroll>
            </cube-slide-item>
            <cube-slide-item >
              <cube-scroll ref="s2" :options="scrollLogOpts">
                <ul class="list-wrapper" >
                  <li v-for="(item, index) in typeList_official" class="tab-panel-li" :key="index" >
                      <div class="imgDiv" @click.stop.prevent="go2page('/bet/'+tabs[1].type+'/'+item.name)" >
                          <img class="imgIcon" :src="require('@/assets/images/lottery/'+item.id+'.png')">
                          <div class="imgFont">{{item.title}}</div>
                      </div>
                  </li>
                </ul>
              </cube-scroll>
            </cube-slide-item>
            <!-- <cube-slide-item >
              <cube-scroll ref="s3" :options="scrollLogOpts">
                <EgamePage></EgamePage>
              </cube-scroll>
            </cube-slide-item> -->
          </cube-slide>
      </div>
      <tab-bar></tab-bar>
    </div>
  </HomePage>
</template>

<script type="text/ecmascript-6">
  import 'swiper/dist/css/swiper.css'
  import HomePage from '@/components/home-page.vue'
  //import PokerPage from '@/pages/index/poker.vue'
  //import EgamePage from '@/pages/index/egame.vue'
  import { swiper, swiperSlide } from 'vue-awesome-swiper'
  import TabBar from '@/components/tab-bar.vue'
  import { globalMixin } from '@/mixin.js';
  import { findIndex } from '@/util'
  import { apiGetBulletin } from "@/api.js";
  import { mapGetters } from "vuex";
  export default {
    mixins: [globalMixin],
    data() {
      return {
        move_tips:true,
        results:{},
        swiperOption: {
          pagination: {
            el: '.swiper-pagination'
          },
          autoplay:true,
        },
        swiperOptionBulletin: {
          //direction :'vertical',
          autoplay:{
            delay:5000
          },
        },
        swiperSlides: [
          '2ff2104dd573a628050f84d34dc4e619.jpg', 
          '7e5dd6555e11c3734d25367b406c8da9.jpg', 
          'a0eb9825a2e69b00d3c37f66ad7ef244.jpg', 
          // 'ae10579f72ee1310afa4f983cd3908c8.jpg', 
          // 'dafc151d72f239739ca249db11e8fa58.png'
          ],
        swiperBulletin: [],
        loop: false,
        autoPlay: false,
        showDots: false,
        slideOptions: {
          listenScroll: true,
          probeType: 2,
          directionLockThreshold: 0
        },
        selectedLabel: '信用玩法',
        tabs: [{
          label: '信用玩法',
          type: 'credit',
        },
        {
          label: '官方玩法',
          type:'official',
        },
        {
          label: '电子游戏',
          type:'egame',
        },
        // {
        //   label: '棋牌游戏',
        //   type:'poker',
        // }
       ]
      }
    },
    methods: {
        gobinary()
        {
          window.open('/binary','', '');
        },
        changePage(current)
        {
          this.selectedLabel = this.tabs[current].label
          this.$store.commit('SetSwitchPlay',this.selectedLabel);
          this.toast(this.selectedLabel,null,800);
        },
        scroll (pos) {
          const x = Math.abs(pos.x)
          const tabItemWidth = this.$refs.tabNav.$el.clientWidth
          const slideScrollerWidth = this.$refs.slide.slide.scrollerWidth
          const deltaX = x / slideScrollerWidth * tabItemWidth
          this.$refs.tabNav.setSliderTransform(deltaX)
        },
        bulletinPopup(index)
        {
          this.dialog('alert',this.results[index].title,this.results[index].content+"<br><br>"+this.getMomentDate(this.results[index].addTime));
        },
        getBulletin()
        {
          apiGetBulletin({
              page:1
            })
            .then(response => {
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                      for(var k in response.data.data)
                      {
                          this.swiperBulletin.push(response.data.data[k].title);
                      }
                      this.results=response.data.data;
                    //this.swiperBulletin=response.data.data;
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        },

    },
    mounted: function() {
        //this.$refs.scroll.refresh();      
        this.move_tips = false;
        this.$store.commit('SetMoveTips',false);
    },      
    components: {
      TabBar,
      swiper,
      swiperSlide,
      HomePage,
      // PokerPage,
      // EgamePage
    },
    computed: {
        ...mapGetters({
          mapByType: "mapByType",
          mapByEgame: "mapByEgame",
          switchPlay: "switchPlay",
          MoveTipsRead: "MoveTipsRead",
          user: "user",
        }),
        initialIndex () {
          let index = 0
          index = findIndex(this.tabs, item => item.label === this.selectedLabel)
          return index
        },
        scrollLogOpts() {
            return {
                click: false
            }
        }, 
        typeList_credit()
        {
          let temp=[];
          for(var n in this.mapByType)
          {
            if(this.mapByType[n].credit==1 && this.mapByType[n].type!=16)
            {
              temp.push(this.mapByType[n]);
            }
          }
          temp=temp.sort(function (a, b) {return a.sort > b.sort ? 1 : -1;});
          return temp;
        },
        typeList_official()
        {
          let temp=[];
          for(var n in this.mapByType)
          {
            if(this.mapByType[n].official==1)
            {
              temp.push(this.mapByType[n]);
            }
          }
          temp=temp.sort(function (a, b) {return a.sort > b.sort ? 1 : -1;});
          return temp;
        }
    },
    created() {
        if(!Object.keys(this.results).length)
        {
          this.getBulletin();
        }
        this.selectedLabel = this.switchPlay;
        this.move_tips = this.MoveTipsRead;
    }
  }
</script>
<style lang="stylus" rel="stylesheet/stylus">

</style>
