<template>
    <back-page :title="title" v-on:callback="back">
        <div slot="content" >
            <div slot="content" class="page has-navbar has-tabbar user-center" >
                <cube-scroll  ref="scroll"  :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" >
                    <div class="header-bg"></div>
                    <div class="user-content">
                        <div class="user-name">{{ user.username }}</div>
                        <div class="user-logo"></div>
                        <div class="user-top-box ">
                            <div class="row money">
                                <div class="wallet-box">
                                    <div class=" fw700">${{ user.coin | numFilter}}</div>
                                    主钱包(元)
                                </div>
                                <div class="wallet-total-box" @click="CallView('dzp')">
                                    <div class="user-point fw700">
                                        {{user.score}}
                                        <br>
                                        积分
                                    </div>
                                    <div class="user-more">
                                        <i class="icon fas fa-chevron-right pull-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-auto text-center" @click="check_user(1,'/agent/cash/index')">
                                    <i class="icon fas fa-users agent"></i>代理中心
                                </div>
                                <div class="col-auto text-center" @click="check_user(2,'/user/withdraw')">
                                    <i class="icon fas fa-coins withdraw"></i>提款
                                </div>
                                <div class="col-auto text-center" @click="check_user(3,'/user/recharge')">
                                    <i class="icon fas fa-donate recharge"></i>充值
                                </div>
                            </div>
                        </div>


                        <div class="user-bottom-box ">
                            <div class="row" style="margin-bottom:15px;">
                                <div class="col-auto text-center" @click="CallView('coin')">
                                    <i class="icon fas fa-clipboard-list coinlog"></i>资金记录
                                </div>
                                <div class="col-auto text-center" @click="CallView('betlog')">
                                    <i class="icon fas fa-file-alt betlog"></i>彩票注单
                                </div>
                                <div class="col-auto text-center" @click="CallView('ebetlog')">
                                    <i class="icon fas fa-chess ebetlog"></i>电子注单
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:15px;">
                                <div class="col-auto text-center" @click="check_user(7,'/user/withdrawLog')">
                                    <span class="icon fas fa-money-check-alt withdrawLog"></span>提款纪录
                                </div>
                                <div class="col-auto text-center" @click="check_user(8,'/user/rechargeLog')">
                                    <span class="icon fas fa-file-invoice-dollar rechargeLog"></span>充值纪录
                                </div>
                                <div class="col-auto text-center" @click="check_user(9,'/user/safe')">
                                    <span class="icon fas fa-cog safe" ></span>安全设置
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:15px;">
                                <div class="col-auto text-center" @click="check_user(10,'/index/help')">
                                    <span class="icon fas fa-hands-helping help"></span>帮助中心
                                </div>
                                <div class="col-auto text-center" @click="check_user(11,'/index/promotion')">
                                    <span class="icon fas fa-gift promotion"></span>优惠活动
                                </div>
                                <div class="col-auto text-center" @click="check_user(6,'/user/mail')">
                                    <span class="icon fas mail " :class="{'fa-envelope-open-text':checkLetter,'fa-envelope':!checkLetter}"></span>
                                    <span :class="{'box':checkLetter}">站内消息</span>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:15px;">
                                <div class="col-auto text-center" @click="logout">
                                    <span class="icon fas fa-power-off logout"></span>登出
                                </div>
                                <div class="col-auto text-center" >
                                </div>
                                <div class="col-auto text-center" >
                                </div>
                            </div>
                        </div>

                    </div>
                </cube-scroll>
            </div>
            <tab-bar></tab-bar>
            <transition name="filtermenu">
            <component :is="default_view" v-if="show_view"  v-on:switchView2="CallView2"></component>
            </transition>
        </div>
    </back-page>
</template>
<script>
import BackPage from '@/components/back-page.vue'
import TabBar from '@/components/tab-bar.vue'
import { mapGetters } from 'vuex'
import { globalMixin } from '@/mixin.js'
import { apiPostLogout,apiGetCheckLetter } from "@/api.js";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"会员中心",
            checkLetter:false,
            default_view:null,
            show_view:false,
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: '下拉刷新钱包', //'Resfresh Success',
            },            
        }
    },
    computed: {
        ...mapGetters({
            user: 'user',
        }),
        username(){
            return this.user.username;
        },
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad:false,
                scrollbar: false
            }
        },
    },
    components: {
        BackPage,
        TabBar,
    },    
    methods: {
        back()
        {
            this.$router.back()
        },
        CallView(path)
        {
            switch(path)
            {
                case "coin":
                    this.default_view=require('@/pages/user/coin.vue').default;
                    break;
                case "betlog":
                    this.default_view=require('@/pages/user/betlog.vue').default;
                    break;
                case "ebetlog":
                    this.default_view=require('@/pages/user/ebetlog.vue').default;
                    break;
                case "dzp":
                    this.default_view=require('@/pages/user/dzp.vue').default;
                    break;
            }
            this.show_view=true;
        },
        CallView2()
        {
            this.show_view=false;
        },        
        check_user(num,url)
        {
            if(num==1 || num==2 || num==3 || num==6 || num==7 || num==8 || num==9)
            {
                if(this.user.forTest==1)
                {
                        this.toast('本功能不提供试玩');
                    return;
                }
            }
            this.go2page(url);
        },
        check_letter()
        {
            apiGetCheckLetter({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.checkLetter=response.data.data;
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        logout()
        {
            apiPostLogout({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.toast(
                            response.data.msg,
                            {
                                func: () => {
                                    this.$store.dispatch('clearUserInfo');
                                    this.$router.push("/");
                                }
                            });
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        getCoin()
        {
            this.$store.dispatch('getCoin');
            if(this.$refs.scroll)
            {
                this.$refs.scroll.forceUpdate(false);
            }
        },
        logRefresh(){
            this.getCoin();
            this.check_letter();
        },        
    },
    created() {
        this.check_letter();
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
.page
    position: fixed; 
    top: 40px;
    left: 0;
    right: 0;
    bottom: 60px;
    .row
        display: flex;
        .text-center
            text-align center;
    font-size 0.84rem;
    line-height: 1.2rem;
    .fw700
        font-weight: 700;
.user-center 
  .header-bg 
    height 200px
    //background-image: radial-gradient(circle at 30% 80%, #ffffff, #3f3841f0);
    background-image radial-gradient(circle at 30% 80%, #d4fefe, #003871)
  .user-content 
    margin -110px 15px 0px 15px
    color #666
    position relative
    .user-logo 
      width 80px
      height 80px
      background-size cover
      top -44px
      left 0
      right 0
      margin auto
      position absolute
      z-index 2
      border-radius 50%
      background-size contain
      border 1px solid #86b6ca
      background-size 85%
      background-position 50%
      background-repeat no-repeat
      background-image url("~assets/images/user/logo.png")
      background-color #eff7ff
    .user-class 
      left 0
      right 0
      margin auto
      position absolute
      z-index 2
      width 60px
      background linear-gradient(140deg,#4c0,#23550a)
      color #fff
      text-align center
      border-radius 2px
      top 30px
    .user-name 
      top -68px
      left 0
      right 0
      margin auto
      position absolute
      z-index 2
      text-align center
      font-size 17px
      color #eee
    .user-top-box 
      position relative
      background #fff
      border-radius 8px
      padding 10px
      .wallet-box 
        width 50%
        padding 0px
      .wallet-total-box 
        width 50%
        padding-left 30px
        border-left 1px solid #eee
        display flex;
        .user-point
            flex auto;
        .user-more
            font-size: 1.5rem;
            line-height: 38px;
            color #ccc;
    .user-bottom-box 
      position relative
      background #fff
      border-radius 8px
      padding 10px
      margin-top 15px
    .divider 
      height 1px
      background-color #eee
    .row 
      &.money 
        padding 40px 30px 15px
    .col-auto 
      .icon 
        margin 10px auto
        font-size 2rem
        display block
    .agent
        color #ee6e6e;
    .withdraw
        color #44c26f;
    .recharge
        color #61b6e5;
    .coinlog
        color #44c26f;
    .betlog
        color #bca6e1;
    .mail
        color #ee6e6e;
    .withdrawLog
        color #44c26f;
    .rechargeLog
        color #61b6e5;
    .safe
        color #ee6e6e;
    .help
        color #61b6e5;
    .promotion
        color #44c26f;
    .logout
        color #ee6e6e;
    .ebetlog
        color #61b6e5;
.user-center .user-content .row .col-auto:nth-last-child(3),.user-center .user-content  .row .col-auto:nth-last-child(3)~.col-auto 
  width calc((100%)/ 3)
.box{ 
    color:#e40d2d; 
    animation: changeshadow 2s  ease-in  infinite ;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: changeshadow 2s linear infinite;
    -moz-animation: changeshadow 2s linear infinite;
    -ms-animation: changeshadow 2s linear infinite;
    -o-animation: changeshadow 2s linear infinite;
}  
@keyframes changeshadow {  
    0%{ text-shadow: 0 0 4px #e40d2d}  
    50%{ text-shadow: 0 0 40px #e40d2d}  
    100%{ text-shadow: 0 0 4px #e40d2d}  
}
/* 添加兼容性前缀 */
@-webkit-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #e40d2d}  
        50%{ text-shadow: 0 0 40px #e40d2d}  
        100%{ text-shadow: 0 0 4px #e40d2d}  
}
@-moz-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #e40d2d}  
        50%{ text-shadow: 0 0 40px #e40d2d}  
        100%{ text-shadow: 0 0 4px #e40d2d}  
}
@-ms-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #e40d2d}  
        50%{ text-shadow: 0 0 40px #e40d2d}  
        100%{ text-shadow: 0 0 4px #e40d2d}  
}
@-o-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #e40d2d}  
        50%{ text-shadow: 0 0 40px #e40d2d}  
        100%{ text-shadow: 0 0 4px #e40d2d}  
}
</style>
