<template >
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="container">
            <cube-scroll  ref="scroll" >
            <div class="lucky-wheel">
                <div class="lucky-title"></div>
                <div class="wheel-main">
                    <div class="wheel-pointer-box">
                        <div class="wheel-pointer" @click="rotate_handle()" :style="{transform:rotate_angle_pointer,transition:rotate_transition_pointer}"></div>
                    </div>               
                    <div class="wheel-bg" :style="{transform:rotate_angle,transition:rotate_transition}">                   
                        <div class="prize-list">
                            <div class="prize-item" v-for="(item,index) in prize_list" :key="index">
                                <div class="prize-pic">
                                    <i class="icon fas " :class="item.icon"></i>
                                </div>
                                <div class="prize-type">
                                    {{item.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="tip-space"></div>
                <div class="tip">
                    <div class="tip-title">活动规则</div>
                    <div class="tip-content">
                        <ul>
                            <li>您当前积分为<span class="btn btn-red" id="dom-activity-score">{{user.score}}</span></li>
                            <li>每次抽奖需要<span class="btn btn-blue">{{config.dzp_score}}</span>积分</li>
                            <li>积分不足不能参与抽奖活动，抽奖次数不限</li>
                            <li>本站全程监控，请勿作弊，否则直接冻结您的账户。</li>
                        </ul>
                    </div>
                </div>
            </div>
            </cube-scroll>
        </div>

    </div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import { apiActivityDzp} from "@/api.js";
import BackPage from '@/components/back-page.vue'
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"幸运大转盘",
            prize_list: [
                {
                    icon: "fa-thumbs-up icon-3",
                    count: 10,
                    name: "28元现金",
                    isPrize: 1
                },
                {

                    icon:"fa-award icon-1", // 奖品图片
                    count: 10, // 奖品数量
                    name: "88元现金", // 奖品名称
                    isPrize: 1 // 该奖项是否为奖品
                },
                {   
                    icon: "fa-comment-dollar icon-2",
                    count: 5,
                    name: "10元现金",
                    isPrize: 1
                },                
                {
                    icon: "fa-laugh icon-4",
                    count: 0,
                    name: "再来一次",
                    isPrize: 0

                },
                {
                    icon: "fa-gem icon-1",
                    count: 5,
                    name: "888元现金",
                    isPrize: 1
                },
                {
                    icon: "fa-gift icon-2",
                    count: 10,
                    name: "5元现金",
                    isPrize: 1
                },
                {
                    icon: "fa-glass-cheers icon-3",
                    count: 10,
                    name: "18元现金",
                    isPrize: 1
                },
                {
                    icon: "fa-laugh-wink icon-4",
                    count: 10,
                    name: "再接再厉",
                    isPrize: 0
                }
            ], //奖品列表
            toast_control: false, //抽奖结果弹出框控制器
            hasPrize: false, //是否中奖
            start_rotating_degree: 0, //初始旋转角度
            rotate_angle: 0, //将要旋转的角度
            start_rotating_degree_pointer: 0, //指针初始旋转角度
            rotate_angle_pointer: 0, //指针将要旋转的度数
            rotate_transition: "transform 6s ease-in-out", //初始化选中的过度属性控制
            rotate_transition_pointer: "transform 12s ease-in-out", //初始化指针过度属性控制
            click_flag: true, //是否可以旋转抽奖
            index: 0             
        }
    },
    methods: {
        back()
        {
            this.$emit('switchView2');
        },
        //此方法为处理奖品数据
        init_prize_list(list) {},
        rotate_handle() {
            if (!this.click_flag) return;
            this.click_flag = false;
            apiActivityDzp({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        this.index = response.data.data.id-1 //指定每次旋转到的奖品下标
                        this.rotating();
                        this.$store.dispatch('setScore');
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    return;
                });
        },
        rotating() {
            //if (!this.click_flag) return;
            var type = 0; // 默认为 0  转盘转动 1 箭头和转盘都转动(暂且遗留)
            var during_time = 5; // 默认为1s
            var random = Math.floor(Math.random() * 7);
            var result_index = this.index ; // 最终要旋转到哪一块，对应prize_list的下标
            var result_angle = [337.5, 292.5, 247.5, 202.5, 157.5, 112.5, 67.5, 22.5]; //最终会旋转到下标的位置所需要的度数
            var rand_circle = 6; // 附加多转几圈，2-3
            //this.click_flag = false; // 旋转结束前，不允许再次触发
            if (type == 0) {
                // 转动盘子
                var rotate_angle =
                this.start_rotating_degree +
                rand_circle * 360 +
                result_angle[result_index] -
                this.start_rotating_degree % 360;
                this.start_rotating_degree = rotate_angle;
                this.rotate_angle = "rotate(" + rotate_angle + "deg)";
                // // //转动指针
                // this.rotate_angle_pointer = "rotate("+this.start_rotating_degree_pointer + 360*rand_circle+"deg)";
                // this.start_rotating_degree_pointer =360*rand_circle;
                var that = this;
                // 旋转结束后，允许再次触发
                setTimeout(function() {
                //that.click_flag = true;
                    that.game_over();
                }, during_time * 1000 + 1500); // 延时，保证转盘转完
            } else {
                //
            }
        },
        game_over() {
            //this.toast_control = true;
            this.click_flag = true;
            this.hasPrize = this.prize_list[this.index].isPrize;
            if(this.hasPrize)
            {
                this.dialog('alert','恭喜您',"获得" + ' ' + this.prize_list[this.index].name);
            }else
            {
                this.dialog('alert','未中奖',this.prize_list[this.index].name);
            }
        },
    },
    computed: {
		...mapGetters({
            config:'config',
            user:'user',
        }),
        toast_title() {
        return this.hasPrize
            ? "恭喜您，获得" + ' ' + this.prize_list[this.index].name
            : "未中奖";
        },
    },
    components: {
      BackPage,
    },
    created() {
        this.init_prize_list();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.container 
  width 100%
  position: fixed; 
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0px;  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
.lucky-wheel 
  width 100%
  height: 35.3rem;
  background rgb(252, 207, 133) url("~assets/images/dzp/color_pillar.png") no-repeat center bottom
  background-size 100%
  padding-top 1.5rem
.lucky-title 
  width 100%
  height 15rem
  background url("~assets/images/dzp/lucky_title.png") no-repeat center top
  background-size 100%
.wheel-main 
  display flex
  align-items center
  justify-content center
  position relative
.wheel-bg 
  width 18.4375rem
  height 18.4375rem
  background url("~assets/images/dzp/draw_wheel.png") no-repeat center top
  background-size 100%
  color #fff
  font-weight 500
  display flex
  flex-direction column
  justify-content center
  align-content center
  transition transform 3s ease
  div 
    text-align center
.wheel-pointer-box 
  position absolute
  top 50%
  left 50%
  z-index 100
  transform translate(-50%, -60%)
  width 5.3125rem
  height 5.3125rem
.wheel-pointer 
  width 5.3125rem
  height 5.3125rem
  background url("~assets/images/dzp/draw_btn.png") no-repeat center top
  background-size 100%
  transform-origin center 60%
.prize-list 
  width 100%
  height 100%
  position relative
  .prize-item 
    position absolute
    top 0
    left 0
    z-index 2
    &:first-child 
      top 0
      left 8.3125rem
      transform rotate(20deg)
    &:nth-child(2) 
      top 2.8rem
      left 10.8rem
      transform rotate(67deg)
    &:nth-child(3) 
      top 6.4rem
      left 10.6rem
      transform rotate(-250deg)
    &:nth-child(4) 
      top 9rem
      left 8.2125rem
      transform rotate(-210deg)
    &:nth-child(5) 
      top 9.2125rem
      left 4.4rem
      transform rotate(-160deg)
    &:nth-child(6) 
      top 6.3875rem
      left 1.9rem
      transform rotate(-111deg)
    &:nth-child(7) 
      top 2.8rem
      left 1.8125rem
      transform rotate(-69deg)
    &:nth-child(8) 
      top 0
      left 4.5rem
      transform rotate(-20deg)
.prize-item 
  width 5.875rem
  height 9rem
.prize-pic 
    .icon
        text-shadow: 1px 1px 5px #888; 
        color: #f62e2e;
        font-size: 1.8rem;
        line-height: 38px;
        margin-top: 26px;
    .icon-1
        color: #f5f616
    .icon-2
        color: #d11212
    .icon-3
        color: #8fe19c
    .icon-4
        color: #ddd
.prize-count 
  font-size 0.875rem
.prize-type 
  font-size 0.75rem
.main 
  position relative
  width 100%
  min-height 25.25rem
  background rgb(243, 109, 86)
  padding-bottom 1.6875rem
  .tip-space
    height :26px
.content 
  position absolute
  top 0.175rem
  left 0
  background rgb(243, 109, 86)
  width 100%
  height 5.1875rem
  font-size 1.125rem
  color #ffeb39
  padding-left 6.75rem
.tip 
  position relative
  margin auto
  width 90%
  border 1px solid #fbc27f
.tip-title 
  position absolute
  top -1rem
  left 50%
  transform translate(-50%, 0)
  font-size 1rem
  color #fccc6e
  background rgb(243, 109, 86)
  padding 0.3125rem 0.625rem
.tip-content 
  padding 1.5625rem 0.625rem
  font-size 0.875rem
  color #fff8c5
  line-height 1.5
  ul
    list-style-type: disc;
  li
    margin: 0px 25px;
    line-height: 1.4;
    list-style-type: disc;
    margin-bottom: 0.75em;
    word-break: break-all;
    font-size: 0.9rem;  

@media screen and (max-width: 500px){
  .lucky-title{
    height: 8.125rem;
  }
  .lucky-wheel{
    height: 29.3rem;
  }
  .main{
    min-height 14.25rem
  }
}
</style>
