<template>
  <search-page :title="title" v-on:showSearch="showSearch" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <cube-scroll  ref="scroll" :data="betlog.results" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" @pulling-up="logLoadMore">
				<div v-for="(item, index) in betlog.results" class="record-item" :key="index" @click="onItemClick(index)" >
                    <div class="record-top">
                        <div class="col40">{{ item.gameName }}</div>
                        <div class="col40">局号:{{ item.roundId }}</div>
                        <div class="col20" :class="{'bonus-color':item.status=='结算'}">{{ item.status }}</div>
                    </div>
					<div class="record-bot">
						<div class="col80">{{item.actionTime}}</div>
                        <div class="col20" :class="{'bonus-color':item.status=='结算'}" >{{ item.amount }}</div>
					</div>
				</div>
                <div class="no-record" v-if="!betlog.results.length">
                    <img class="no-record-img" src="~assets/images/user/norecord.png">
                    <div class="no-record-txt">暂无相关纪录</div>
                </div>

            </cube-scroll>  
        </div>   
           
        <transition name="filtermenu">
            <keep-alive>
                <BetlogSearch v-if="filterSearch" v-on:showSearch="showSearch" ></BetlogSearch>
            </keep-alive>
        </transition>

        <transition name="filtermenu">
            <keep-alive>
                <BetlogDetail v-if="showDetail" :detail="checkDetail" v-on:switchDetial="switchDetial" ></BetlogDetail>
            </keep-alive>
        </transition>
    </div>
    
  </search-page>
</template>

<script type="text/ecmascript-6" >
import BetlogDetail from '@/components/betlog/ebetlog-detail.vue';
import BetlogSearch from '@/components/betlog/ebetlog-search.vue';
import SearchPage from '@/components/search-page.vue';
import moment from 'moment'
import { apiGetEBetLog } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"电子投注纪录",
            filterSearch:0,
            filterData:{
                StartValue:moment(new Date()).format("YYYY-MM-DD"),
                EndValue:moment(new Date()).format("YYYY-MM-DD"),
                LotteryValue:'',
                StatusValue:0
            },            
            showDetail:0,
            checkDetail:null,
            betlog:{
                //page_current:1,
                results:[],
                //total:0
            },
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: ' ',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            current_page:1,
        }
    },
    methods: {
        back()
        {
            this.$emit('switchView2');
        },
        changeView(tpl,index){
            this.default_view=tpl;
            this.activeColor = index;
        },
        switchDetial(value)
        {
            this.showDetail=value;
        },
        showSearch(value,data)
        {
            this.filterSearch=value;
            if(data!=null)
            {
                this.current_page=1;
                this.filterData=data;
                this.getLog(this.current_page);
            }
        },
        getLog(page)
        {
            apiGetEBetLog({
                page: page,
                fromTime: this.filterData.StartValue,
                toTime: this.filterData.EndValue,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.betlog.results.splice(0,this.betlog.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }                        
                        this.betlog.results=this.betlog.results.concat(response.data.data);
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        onItemClick(index)
        {
            this.checkDetail=this.betlog.results[index];
            this.showDetail=1;
        },
        logRefresh(){
            if(this.filterData)
            {
                this.current_page=1;
                setTimeout(() => {
                    this.getLog(this.current_page);
                }, 1000);
            }else
            {
                this.$refs.scroll.forceUpdate();
            }
        },
        logLoadMore(){
            this.current_page++;
            if(this.filterData)
            {
                setTimeout(() => {
                    this.getLog(this.current_page);
                }, 1000);
            }else
            {
                this.$refs.scroll.forceUpdate();
            }
        },        
    },
    computed: {
		...mapGetters({
            mapByType: "mapByType",
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.log.pullUpLoadNoMoreTxt
                    }
                },
                scrollbar: true
            }
        },        
    },
    components: {
      SearchPage,
      BetlogSearch,
      BetlogDetail
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    position: fixed; 
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    padding 0px,10px;
    .no-record
        margin: 30px auto;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-bot
        display flex;
    .record-top
        display flex;
    .col80
        width 80%;
        height 35px;
        line-height: 35px;
        text-align: left;
    .col40
        width 40%;
        height 35px;
        text-align: left;
        line-height: 35px;
    .col20
        width 20%;
        height 35px;
        line-height: 35px;
    .record-item
        margin-bottom 1px;
        background-color #fff;
        padding: 5px 10px;
        font-size: 0.85rem;
    .bonus-color
        color #f02828;
    .bet-status-opened
        color #4e7d36;
.filtermenu-enter,.filtermenu-leave-to 
  transform translateX(100%)
.filtermenu-enter-to,.filtermenu-leave 
  transform translateX(0)
.filtermenu-enter-active,.filtermenu-leave-active 
  transition all 0.5s
</style>
