<template>
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
        <cube-tab-bar v-model="selectedLabelDefault"
                        show-slider
                        @click="clickHandler"
                        :data="tabs" class="mail-tab-bar">
        </cube-tab-bar>
        </div>   
        <transition name="filtermenu">
                <keep-alive>
                    <BulletinList v-if="showBulletin"  ></BulletinList>
                </keep-alive>
        </transition>
        <transition name="filtermenu">
                <keep-alive>
                    <LetterList v-if="showLetter"  ></LetterList>
                </keep-alive>
        </transition>

    </div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import BulletinList from '@/components/user/bulletin.vue'
import LetterList from '@/components/user/letter.vue'
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"站内消息",
            selectedLabelDefault:1,
            showBulletin:true,
            showLetter:false,
            tabs: 
            [
                {
                    label: '系统公告',
                    value:1,
                },
                {
                    label: '站内信件',
                    value:2,
                },
            ],
        }
    },
    methods: {
        back()
        {
            this.$router.back();
        },
        clickHandler(current)
        {
            switch(current)
            {
                case 1:
                    this.showBulletin=true;
                    this.showLetter=false;
                    break;
                case 2:
                    this.showBulletin=false;
                    this.showLetter=true;
                    break;
            }
        },
    },
    computed: {
		...mapGetters({
            config:'config',
        }),     
    },
    components: {
      BackPage,
      BulletinList,
      LetterList,
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    position: fixed; 
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    font-size: 0.9rem;
    .mail-tab-bar
        top: 2px;
    .no-record
        margin: 30px auto;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-bot
        padding-bottom: 5px;
        .col
            width 100%;
        .record-title
            font-weight: bold;
            line-height: 29px;
            font-size: 1.1rem;
        .record-subtitle
            line-height: 20px;
            font-size: 0.85rem;
    .record-top
        display flex;
        padding-bottom: 5px;
        .col
            width 100%;
        .record-img
            width 100%;
    .record-head
        display flex;
        border-bottom: 1px #ddd solid;
        padding: 0px 10px;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 46px;
        left: 0;
        right: 0;
        overflow:hidden;
    .record-item
        padding: 10px 10px;
        margin-bottom: 10px;
        background-color #fff;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align: center;
        border-radius: 5px;
        background-color: #eee;
        font-size: 0.85rem;
.filtermenu-enter,.filtermenu-leave-to 
  opacity: 0;
.filtermenu-enter-to,.filtermenu-leave 
.filtermenu-enter-active,.filtermenu-leave-active 
  transition all 0.5s
</style>
