<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <cube-tab-bar v-model="selectedLabelDefault"
                            show-slider
                            @click="clickHandler"
                            :data="tabs" class="mail-tab-bar" v-if="showTab">
            </cube-tab-bar>
            <div class="onepay-tab-bar" v-if="showTab==false">
                快速入款 马上娱乐
            </div>
            <form>
                <div class="record-body">
                <cube-scroll ref="scroll" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh">
                    <div v-if="nowStep==1">
                        <div v-if="showPay1">
                            <div class="record-item" >
                                <div class="col25 text-left">选择渠道</div>
                                <div class="col75">
                                    <cube-select
                                        v-model="form.bank" title="请选择" cancelTxt="取消" confirmTxt="确定"
                                        :options="bank_array"
                                        @change="change"
                                    >
                                    </cube-select>
                                </div>
                            </div>
                            <transition name="filtermenu">
                                <div v-if="form.bank">
                                    <div v-if="form.qrcode!=''">
                                        <div class="record-item" >
                                            <div class="record-qrcode">
                                                <img src="/static/images/qrcode/LDG813MI3D.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div class="record-item" >
                                            <div class="col25 text-left">
                                                帐户名
                                            </div>
                                            <div class="col60 text-left">
                                                {{form.username}}
                                            </div>
                                            <div class="col15 text-right">
                                                <div class="copy-btn" @click="copy(form.username)">
                                                    复制
                                                </div>
                                            </div>
                                        </div>
                                        <div class="record-item" >
                                            <div class="col25 text-left">
                                                帐号
                                            </div>
                                            <div class="col60 text-left">
                                                {{form.userbankid}}
                                            </div>
                                            <div class="col15 text-right">
                                                <div class="copy-btn" @click="copy(form.userbankid)">
                                                    复制
                                                </div>
                                            </div>
                                        </div>
                                        <div class="record-item">
                                            <div class="col25 text-left">附言</div>
                                            <div class="col60 text-left">{{form.memo}}</div>
                                            <div class="col15 text-right">
                                                <div class="copy-btn" @click="copy(form.memo)">
                                                    复制
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="record-item">
                                        <div class="col25 text-left">金额</div>
                                        <div class="col75">
                                            <cube-input v-model="form.amount"
                                                placeholder="请输入金额"
                                                type="tel"
                                                :clearable="{visible: true, blurHidden: true}"
                                                class="reg-field"
                                                autocomplete="off"
                                                >
                                            </cube-input>
                                        </div>
                                    </div>
                                    <div class="record-error">
                                        <div class="col25 text-left"></div>
                                        <div class="col75 text-left">
                                            <cube-validator v-model="check1" :model="form.amount" :rules="rules1" class="error-msg"></cube-validator>
                                        </div>
                                    </div>
                                    <div class="record-info" >
                                        <div class="record-info-content">
                                            {{form.remark}}
                                        </div>
                                    </div>
                                </div>
                            </transition>

                            <div class="padding">
                                <cube-button  @click="finish()" class="reg-button blue-btn" :disabled="form.bank=='' || !check1" :class="{'disabled-btn':form.bank=='' || !check1}">下一步</cube-button>
                            </div>
                        </div>

                        <div v-if="showPay2">
                            <div class="record-item" >
                                <div class="col25 text-left">选择渠道</div>
                                <div class="col75">
                                    <cube-select
                                        v-model="form.bank" title="请选择" cancelTxt="取消" confirmTxt="确定"
                                        :options="third_array"
                                        @change="change_third"
                                    >
                                    </cube-select>
                                </div>
                            </div>
                            <transition name="filtermenu">
                                <div v-if="form.bank">
                                    <div class="record-item">
                                        <div class="col25 text-left">金额</div>
                                        <div class="col75">
                                            <cube-input v-model="form.amount"
                                                placeholder="请输入金额"
                                                type="tel"
                                                :clearable="{visible: true, blurHidden: true}"
                                                class="reg-field"
                                                autocomplete="off"
                                                >
                                            </cube-input>
                                        </div>
                                    </div>
                                    <div class="record-error">
                                        <div class="col25 text-left"></div>
                                        <div class="col75 text-left">
                                            <cube-validator v-model="check1" :model="form.amount" :rules="rules1" class="error-msg"></cube-validator>
                                        </div>
                                    </div>
                                </div>
                            </transition>
                            <div class="padding">
                                <cube-button  @click="third_finish()" class="reg-button blue-btn" :disabled="form.bank=='' || !check1" :class="{'disabled-btn':form.bank=='' || !check1}">下一步</cube-button>
                            </div>
                        </div>

                        <div class="record-hint text-left">
                            <h3>温馨提示</h3>
                            <p>为确保您的款项及时到帐，请您留意以下几点：</p>
                            <ol>
                                <li>若您支付过程中遇到问题且未完成支付，请重新下单。</li>
                                <li>若您支付遇到困难，联系线上客服获得帮助。</li>
                            </ol>
                            <p>支付遇到困难？联系客服人员获得帮助</p>
                        </div>
                    </div>
                    <transition name="filtermenu">
                        <div v-if="nowStep==2">
                            <div class="record-finish blue-color" >
                                    <div ><i class="record-finish-icon far fa-check-circle "></i></div>
                                    <div> <span class="record-finish-text fw700">提交成功</span></div>
                                    <div  class="record-finish-commet" >订单编号:{{this.form.rechargeId}}</div>
                                    <div  class="record-finish-commet" >请及时查看资金记提款录申请状态</div>
                            </div>
                            <div class="padding">
                                <cube-button  @click="back" class="reg-button blue-btn" >离开此页</cube-button>
                            </div>
                        </div>
                    </transition>
                </cube-scroll>
                </div>
            </form>
        </div> 
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { apiGetRecharge,apiPostRecharge,apiPostThirdRecharge } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { validator } from '@/utils/validator.js'
import Clipboard from 'clipboard';
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"在线充值",
            check1:false,
            nowStep:1,
			min_amount: 100,
			max_amount: 30000,
            recharge:null,
			form:{
				bank:'',
                username:'',
                userbankid:'',
                remark:'',
                memo: this.$faker().random.number(999999),
                qrcode:'',
                rechargeId:'',
                thirdID:'',
            },
            rules1:{
                type: 'number',
                required: true,
                min:10,
                max:30000
            },
            log: {
                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: '下拉刷新', //'Resfresh Success',
            },
            selectedLabelDefault:1,
            showTab:true,
            showPay1:true,
            showPay2:false,
            tabs: 
            [
                {
                    label: '公司汇款',
                    value:1,
                },
                {
                    label: '三方支付',
                    value:2,
                },
            ],
        }
    },  
    methods: {
        back()
        {
            this.$router.back();
        },
        third_finish()
        {
            console.log(this.form);
            if(!validator.num_pos_int(this.form.amount))
            {
                this.toast('金额请输入数字');
                return;
            }
            if(this.form.amount < this.min_amount || this.form.amount > this.max_amount)
            {
                this.toast('金额范围 ' + this.min_amount + ' ~ ' + this.max_amount);
                return;
            }
            this.toast('提交中...',null,0); // 防用户连点
            var newWindow = window.open("about:blank", '');
            apiPostThirdRecharge({
                    amount: this.form.amount,
                    code: this.form.bank,
                    rechargeType: 1,
                    thirdID : this.form.thirdID,
                })
                .then(response => {
                    this.$createToast().hide();
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if (response.data.status) {
                        this.form.rechargeId=response.data.data.rechargeId;
                        var recharge_url = '';
                        if(!response.data.data.url)
                        {
                            this.toast("提交失败,请刷新页面,重新提交充值单",null,0)
                            return;
                        }
                        if(this.form.thirdID==6)
                        {
                            //window.open(this.config.ApiUrl+"/third/usdt?html="+response.data.data.url,'', '');
                            recharge_url = this.config.ApiUrl+"/third/usdt?html="+response.data.data.url;
                            this.nowStep++;
                        }else
                        {
                            //window.open(response.data.data.url,'', '');
                            recharge_url = response.data.data.url;
                        }
                        newWindow.location.href = recharge_url;
                    }
                    return;
                })
                .catch(error => {
                    this.$createToast().hide();
                    this.toast(error,null,0)
                    console.log(error);
                });
        },
        clickHandler(current)
        {
            this.nowStep=1;
			this.form={
				bank:'',
                username:'',
                userbankid:'',
                remark:'',
                memo: this.$faker().random.number(999999),
                qrcode:'',
                rechargeId:'',
                thirdID:this.form.thirdID,
            };
            switch(current)
            {
                case 1:
                    this.showPay1=true;
                    this.showPay2=false;
                    break;
                case 2:
                    this.showPay1=false;
                    this.showPay2=true;
                    break;
            }
        },
        change_third(value, index, text)
        {
            //this.form.bank=this.recharge.third[index].value;
        },
        change(value, index, text)
        {
            this.form.username=this.recharge.bank[index].username;
            this.form.userbankid=this.recharge.bank[index].userbankid;
            this.form.remark=this.recharge.bank[index].remark;
            this.form.qrcode=this.recharge.bank[index].qrcode;
        },
        copy(str)
        {
            var clipboard = new Clipboard(".copy-btn", {
            text: (trigger)=>{
                    return str;
                }
            });
            clipboard.on('success', e => {
                this.toast('复制成功',null,1000);
                clipboard.destroy()
            })
            clipboard.on('error', e => {
                clipboard.destroy()
            })
        },
        finish()
        {
            if(!validator.num_pos_int(this.form.amount))
            {
                this.toast('金额请输入数字');
                return;
            }
            if(this.form.amount < this.min_amount || this.form.amount > this.max_amount)
            {
                this.toast('金额范围 ' + this.min_amount + ' ~ ' + this.max_amount);
                return;
            }
            this.toast('提交中...',null,0); // 防用户连点
            //this.check3=false; // 锁住下一步,防用户连点
            apiPostRecharge({
                    amount: this.form.amount,
                    bankid: this.form.bank,
                    memo: this.form.memo,
                    rechargeType: 1,
                })
                .then(response => {
                    this.$createToast().hide();
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if (response.data.status) {
                        this.nowStep++;
                        this.form.rechargeId=response.data.data.rechargeId;
                    }
                    return;
                })
                .catch(error => {
                    this.$createToast().hide();
                    console.log(error);
                });
        },
        getRecharge()
        {
            apiGetRecharge({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data)
                        {
                            this.recharge=response.data.data;
                        }
                        if(this.recharge.bank.length < 1 || this.recharge.third.length < 1)
                        {
                            this.showTab = false;
                            switch(true)
                            {
                                case this.recharge.bank.length > 0:
                                    this.clickHandler(1);
                                    break;
                                case this.recharge.third.length > 0:
                                    this.clickHandler(2);
                                    break;
                            }
                        }
                        if(this.recharge.third.length > 0)
                        {
                            this.form.thirdID = response.data.data.third_id;
                            console.log(this.form);
                        }
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                });
            if(this.$refs.scroll)
            {
                this.$refs.scroll.forceUpdate(false);
            }
        },
        logRefresh(){
            setTimeout(() => {
                this.getRecharge();
            }, 1000);
        },       
    },
    computed: {
		...mapGetters({
            config:'config',
            user:'user',
        }),
        scrollLogOpts() {
            return {
                pullUpLoad: false,
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                scrollbar: false,
            }
        },
        bank_array(){
            var data=[];
            if(this.recharge)
            {
                var lt=this.recharge.bank;
                for(var k in lt)
                {
                    data.push({value:lt[k].id,text:lt[k].bankselect});
                }
                return data;
            }
        },
        third_array(){
            var data=[];
            if(this.recharge)
            {
                var lt=this.recharge.third;
                for(var k in lt)
                {
                    data.push({value:lt[k].code,text:lt[k].name});
                }
                return data;
            }
        },
    },
    components: {
      BackPage,
      Clipboard
    },
    created() {
        this.getRecharge();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.filtermenu-enter,.filtermenu-leave-to 
  opacity: 0;
.filtermenu-enter-to,.filtermenu-leave 
.filtermenu-enter-active,.filtermenu-leave-active 
  transition all 0.5s
.mainSearch
    position: fixed; 
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    font-size: 0.9rem;
    .onepay-tab-bar
        position: fixed;
        font-size: 1.2rem;
        top: 60px;
        width: 100%;
    .mail-tab-bar
        top: 2px;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 100px;
        left: 0;
        right: 0;
        overflow:hidden;
    .setup-space
        margin-top 20px;
        margin-bottom: 20px;
        font-size 0.9rem;
        line-height 20px;
    .record-item
        display flex;
        margin-bottom 1px;
        background-color #fff;
        padding: 10px 10px;
        .copy-btn
            background-color: #ec5656;
            color: #fff;
            border-radius: 5px;
            width: 50px;
            text-align: center;
    .record-qrcode
        margin: auto;
    .record-error
        display flex;
    .col15
        width 15%;
        height 35px;
        line-height: 35px;
    .col25
        width 25%;
        height 35px;
        line-height: 35px;
    .col60
        width 60%;
        height 35px;
        line-height: 35px;
    .col75
        width 75%;
        height 35px;
        line-height: 35px;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align right;
        color #aaa;
    .icon
        margin-left 10px;
    .padding
        padding: 5px 10px;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        color: #fff;
    .record-info
        background-color: #fff;
        padding: 10px;
        .record-info-content
            background-color: #ddd;
            padding: 15px;
            border-radius: 10px;
            text-align: left;
    .record-hint
        padding: 10px 15px;
        line-height: 25px;
        font-size: 0.85rem;
        ol
            list-style-type: decimal;
            margin-left: 12px;
            li
                list-style: unset;
    .record-finish
        padding:10px 0;
        background-color #fff;
        .record-finish-icon
            font-size: 3.5rem;
            line-height: 60px;
        .record-finish-text
            font-size: 1.3rem;
            line-height: 45px;
        .record-finish-commet
            line-height: 25px;
            color:#999

</style>
