<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <div class="record-body">
            <cube-scroll ref="scroll" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh">
				<div>
                    <div class="record-item" @click="onItemClick(1)" >
                        <div class="col50 text-left">登录密码</div>
                        <div class="col50 text-right"><i class="icon cubeic-arrow"></i></div>
                    </div>
                    <div class="record-item" @click="onItemClick(2)">
                        <div class="col50 text-left">提款密码</div>
                        <div class="col50 text-right"><span v-if="!safe.coinPassword">未设置</span><i class="icon cubeic-arrow"></i></div>
                    </div>
                    <div class="record-item" @click="onItemClick(3)">
                        <div class="col50 text-left">手机号码</div>
                        <div class="col50 text-right"><span v-if="safe.phone==''">未设置</span><span v-else>{{safe.phone}}</span><i class="icon cubeic-arrow"></i></div>
                    </div>
                    <div class="record-item" @click="onItemClick(4)">
                        <div class="col50 text-left">电子邮件</div>
                        <div class="col50 text-right"><span v-if="safe.email==''">未设置</span><span v-else>{{safe.email}}</span><i class="icon cubeic-arrow"></i></div>
                    </div>
                    <div class="record-item" @click="onItemClick(5)">
                        <div class="col50 text-left">银行卡</div>
                        <div class="col50 text-right"><span v-if="safe.bank==''">未设置</span><span v-else>{{safe.bank}}</span><i class="icon cubeic-arrow"></i></div>
                    </div>
				</div>
            </cube-scroll>
            </div>
        </div>   
           
        <transition name="filtermenu">
            <keep-alive>
                <component :is="default_view" v-on:callback="switchView" :safe="safe"></component>
            </keep-alive>
        </transition>

    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import LoginPassword from '@/components/user/login-password.vue'
import CoinPassword from '@/components/user/coin-password.vue'
import Phone from '@/components/user/phone.vue'
import Email from '@/components/user/email.vue'
import Bank from '@/components/user/bank.vue'
import { apiGetSafe } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"安全设置",
            default_view:null,
            safe:{
                coinPassword:true,
                email:'',
                phone:'',
            },
            log: {
                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: '下拉刷新', //'Resfresh Success',
            },               
        }
    },
    methods: {
        back()
        {
          this.$router.back()
        },        
        switchView(value)
        {
            this.default_view=null;
        },
        getLog()
        {
            apiGetSafe({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data)
                        {
                            this.safe=response.data.data;
                        }
                    }
                    this.$refs.scroll.forceUpdate(false);
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate(false);
                    return;
                });
        },
        logRefresh(){
            setTimeout(() => {
                this.getLog();
            }, 1000);
        },
        onItemClick(index)
        {
            switch(index)
            {
                case 1:
                    this.default_view=LoginPassword;
                    return;
                case 2:
                    this.default_view=CoinPassword;
                    return;
                case 3:
                    this.default_view=Phone;
                    return;
                case 4:
                    this.default_view=Email;
                    return;
                case 5:
                    this.default_view=Bank;
                    return;
            }
        },      
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
        scrollLogOpts() {
            return {
                pullUpLoad: false,
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                scrollbar: false,
            }
        },        
    },
    components: {
      BackPage
    },
    created() {
        this.getLog();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    position: fixed; 
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    font-size: 0.9rem;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 86px;
        left: 0;
        right: 0;
        overflow:hidden;
    .col50
        width 50%;
        height 35px;
        line-height: 35px;
    .record-item
        display flex;
        margin-bottom 1px;
        background-color #fff;
        padding: 5px 10px;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align right;
        color #aaa;
    .icon
        margin-left 10px;

.filtermenu-enter,.filtermenu-leave-to
{
    transform: translateX(100%);
}
.filtermenu-enter-to,.filtermenu-leave
{
    transform: translateX(0);
}
.filtermenu-enter-active,.filtermenu-leave-active
{
transition: all 0.5s;
}
</style>
