<template>
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="service">
            <h1>一、条款与规则：</h1>
                <ul>
                    <li>所有产品信息、网站上注册登录、以及任何由DV娱乐提供的服务都适用于以下条款。</li>
                    <li>DV娱乐有权利在任何时间修改服务条款，且不需先行通知。一旦修改后的条款随即生效。定期浏览本网站之服务条款是您的责任，在网站做更新后请同时接受更新后的服务条款，若条款更新后是您无法接受的，请立即停止使用。</li>
                    <li>这些条款代表您与DV之间完整且最终的协议，一旦您确认后，就代表您接受这些条款。</li>
                    <li>DV娱乐体育赛事中的混合过关/ 波胆最高派彩彩金为 人民币 50,000。</li>
                    <li>若DV娱乐网站上的任何协议之间有矛盾，将以此条款内的规定为准。</li>
                </ul>
            <h1>二、投注：</h1>
                <ul>
                    <li>投注之验证：
                        <ul>
                            <li class="number_li">投注 玩家需由帐号内的资金下注，若玩家尚未将资金存入帐号，将无法进行下注。储值后，需达到相对应的有效投注额才可进行出款。</li>
                            <li class="number_li">正确的投注记录 DV将努力确保任何投注的准确性，若有任何非DV所造成的错误或遗漏，本网站将不承担其责任。</li>
                            <li class="number_li">最后之投注将是最终决定 會員需同意DV将记录每次投注，以确认您做的最后投注为最终决定。</li>
                        </ul>
                    </li>
                    <li>赌注：
                        <ul>
                            <li class="number_li">外挂/软件/窜改/作弊 通过任何软体操控之游戏或窜改您/其他玩家帐号数据之行为是被禁止的，此举将导致您的会员被终身取消资格，将删除其相关帐号。 除上述外，您同意DV有权以任何您不正当之行为为理由终止您的帐号。若您发现任何不正当行为及其产生之网页不完整，您需采取措施抵制，此外，若您意识到网页之错误及不完整，您应立即通知DV相关人员，若您未能履行此义务，您同DV将不负责任何关于他人由不当途径造成网页之损害、或恶意更改造成之您帐号之损伤，任何试图以不当途径造访网页之行为、干扰程序或网页游戏之性能，或故意损坏网站之行为，将受民事/刑事诉讼，并永久终止其帐号、没收所有帐户馀额。</li>
                            <li class="number_li">不可抗力之因素 DV将充分保护玩家之所有赌注，若发生非DV能控制之范围，如您的网站被中断联机(无论何种原因)，或任何天灾，DV将无承担其损失之责任。玩家下注后在出现结果前不该关掉服务器，玩家有责任等待确认输赢之结果，若发生断线仍会记录于玩家帐号中包括任何赢利及损失。</li>
                            <li class="number_li">下注结果 关于任何在DV之投注，玩家需接受其下注结果，因此若下注后有任何争议或退款将不被接受。软件故障 若玩家因操控或蓄意欺骗或造成软件故障，DV有保留权将赌注视为无效。</li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>
  </BackPage>
</template>
<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
export default {
    data() {
        return {
            title:"服务条款",
        }
    },
    methods: {
        back()
        {
            this.$router.back();
        },            
    },
    components: {
      BackPage,
    },
}
</script>
<style lang="stylus" rel="stylesheet/stylus" scpoed>
.service
    padding 10px;
    ul
        list-style-type: disc;
    li
        display: list-item;
        text-align: -webkit-match-parent;
        margin: 0px 25px;
        line-height: 1.4;
        list-style-type: disc;
        margin-bottom: 0.75em;
        word-break: break-all;
        font-size: 0.9rem;
    .number_li
        list-style-type:lower-roman;
</style>