<template>
  <BackPage :title="title" v-on:callback="back">
	<div slot="content" >
        <div class="mainSearch">
            <cube-form :model="transfer" >
                <cube-form-group>
					<cube-form-item :field="fields[0]" >
						<cube-select
						v-model="transfer.out" title="请选择" cancelTxt="取消" confirmTxt="确定"
						:options="Twallet" @change="changeOut">
						</cube-select>
					</cube-form-item>
					<cube-form-item :field="fields[1]" >
						<cube-select
						v-model="transfer.in" title="请选择" cancelTxt="取消" confirmTxt="确定"
						:options="Twallet" @change="changeIn">
						</cube-select>
					</cube-form-item>
                </cube-form-group>
				<cube-form-group>
					<cube-form-item :field="fields[2]" >
						<cube-input v-model="transfer.amount" placeholder="请输入金额"></cube-input>
					</cube-form-item>
				</cube-form-group>
                <cube-form-group class="padding">
					<cube-button @click="onSubmit" class="search-btn">确定转点</cube-button>
					<cube-button @click="startGame" class="rest-btn">进入游戏</cube-button>
                </cube-form-group>
            </cube-form>
        </div>
	</div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { apiGetECoin,apiGetCoin,apiGetECoinIn,apiGetECoinOut } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { TweenLite } from 'gsap';
export default {
	mixins: [globalMixin],
	data() {
		return {
            title:"额度转换",
            transfer: {
				amount:'',
				out :'',
				in :'',
				id:'',
				vendor:'',
			},
			wallet:{
				main:{
					name:'主钱包',
					amount:0,
					id:'main',
					vendor:'',
				},
			},
            gameID:'',
            fields: [
                {
                    modelKey: 'in',
                    label: '转出',
                    rules: {
                    type:'string'
                    }
                },
                {
                    modelKey: 'out',
                    label: '转入',
                    rules: {
                    type:'string'
                    }
                },
                {
                    modelKey: 'amount',
                    label: '金额',
                    rules: {
                    type:'number'
                    }
                }
            ]
		};
	},
	methods: {
        back()
        {
            this.$router.back();
        },
		startGame(){
			this.dialog.Visible = false;
			this.$parent.startGame(this.gameID);
		},
		displayAmount(amount){
			return parseFloat(amount).toFixed(2);
		},
		changeOut(value){
			console.log(value);
			for(var k in this.wallet)
			{
				if(this.transfer.out!=k)
				{
					this.transfer.in=k;
				}
			}
		},
		changeIn(value){
			for(var k in this.wallet)
			{
				if(this.transfer.in!=k)
				{
					this.transfer.out=k;
				}
			}
		},
		transferAll(){
			if(!this.transfer.out) {
				return this.toast('请选择转出平台');
			}
			var amount = parseInt(this.wallet[this.transfer.out].amount);
			if(!amount) {
				return this.toast('金额不足');
			}
			this.transfer.amount = amount;
		},
		onSubmit() {
			if(!this.transfer.out) {
				return this.toast('请选择转出帐户');
			}
			if(!this.transfer.in) {
				return this.toast('请选择转入帐户');
			}
			if (!this.transfer.amount || parseFloat(this.transfer.amount) < 1)
			{
				return this.toast('请输入金额');
			}
			this.transfer.amount = parseFloat(this.transfer.amount);

			if (this.transfer.amount > this.wallet[this.transfer.out].amount)	{
				this.transfer.amount = this.wallet[this.transfer.out].amount;
				return this.toast('金额不得大于' + this.wallet[this.transfer.out].amount);
			}
			this.toast('Loading...',null,0,'loading');
			let api = null;
			if(this.transfer.out=="main")
			{
				api = apiGetECoinIn;
				this.transfer.id = this.wallet[this.transfer.in].id;
				this.transfer.vendor = this.wallet[this.transfer.in].vendor;
			}else
			{
				api = apiGetECoinOut;
				this.transfer.id = this.wallet[this.transfer.out].id;
				this.transfer.vendor = this.wallet[this.transfer.out].vendor;
			}
			api({
				id:this.transfer.id,
				vendor:this.transfer.vendor,
				amount:this.transfer.amount,
			}).then(response => {
				if(response.data.error)
				{
					this.toast(response.data.error);
				}
				if(response.data.status){
					this.toast('额度转帐成功');
					this.wallet[this.transfer.out].amount -= parseFloat(this.transfer.amount);
					this.wallet[this.transfer.in].amount += parseFloat(this.transfer.amount);
					//this.user.wallet.deploy[this.transfer.in].amount = this.user.wallet.deploy[this.transfer.in].amount + parseFloat(this.transfer.amount);
					setTimeout(() => {
						this.getMyCoin();
						if(this.transfer.in=="main")
						{
							this.refreshBalance(this.wallet[this.transfer.out].vendor,this.wallet[this.transfer.out].id);
						}else
						{
							this.refreshBalance(this.wallet[this.transfer.in].vendor,this.wallet[this.transfer.in].id);
						}
					}, 300);
				}
				this.$createToast().hide();
			}).catch(error => {
				this.$createToast().hide();
				console.log(error);
			});
		},
		open(vendor,game) {
			this.wallet[game]={
				id:game,
				name:this.config['vendor'][vendor][game],
				vendor:vendor,
				amount:0,
			};
			this.wallet['main']={
				name:'主钱包',
				amount:0,
				id:'main',
				vendor:vendor,
			};
			this.gameID = game;
			this.transfer.out = 'main';
			this.transfer.in = game;
			this.refreshBalance(vendor,game);
			this.getMyCoin();
		},
		getMyCoin()
		{
			apiGetCoin({
				})
				.then(response => {
					if(response.data.error)
					{
						return;
					}
					TweenLite.to(this.wallet['main'], 0.5, {amount:response.data.data.coin,onComplete:function (){}});
				})
				.catch(error => {
					console.log(error);
				});
		},
		refreshBalance(vendor,game) {
			apiGetECoin({
				id:game,
				vendor:vendor
			})
			.then(response => {
				if (response.data.status) {
					TweenLite.to(this.wallet[game], 0.5, {amount:response.data.data,onComplete:function (){}});
				}
			}).catch(error => {
				console.log(error);
			});
		},
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
        }),
        Twallet(){
            var data=[];
            for(var k in this.wallet)
            {
				//var html="<div class='trans-item'><div>"+this.wallet[k].name+"</div> <div>$"+this.wallet[k].amount+"</div></div>";
				var html=" "+this.wallet[k].name+" $"+this.wallet[k].amount;
                data.push({value:this.wallet[k].id,text:html});
            }
            return data;
        }
    },
    components: {
        BackPage
    },
	created() {
		this.open(this.$route.params.vendor,this.$route.params.game);
	}
}
</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
	position: fixed; 
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0px;
	width: 100%;
	text-align: -webkit-center;
	overflow:hidden;
	font-size: 0.9rem;
	.tip-amount
		position: absolute;
		left: 95px;
		color:rgb(192, 203, 218);
		font-size:15px;
		text-align: right;
		width:100px;
		z-index:1;
	.form-item
		width 200px;
	.button-span
		width 70px;
		display: inline-block;
</style>
