<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <form>
                <div class="record-body">
                <cube-scroll ref="scroll" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh">

                    <vue-step :now-step="nowStep" :step-list="stepList" :active-color="activeColor" class="setup-space"></vue-step>
                    <div class="record-info" v-if="nowStep==1">
                        为了您的资金安全，完善以下数据才可提款
                    </div>

                    <div v-if="nowStep==1">
                        <div class="record-item" @click="onItemClick(1)" >
                            <div class="col50 text-left">设置提款密码</div>
                            <div class="col50 text-right"><span v-if="!safe.coinPassword">未设置</span><span v-else>已设置</span><i class="icon cubeic-arrow"></i></div>
                        </div>
                        <div class="record-item" @click="onItemClick(2)">
                            <div class="col50 text-left">设置银行卡</div>
                            <div class="col50 text-right"><span v-if="safe.bank==''">未设置</span><span v-else>已设置</span><i class="icon cubeic-arrow"></i></div>
                        </div>
                        <div class="padding">
                            <cube-button  @click="next(2)" class="reg-button blue-btn" :disabled="!safe.coinPassword || safe.bank==''" :class="{'disabled-btn':!safe.coinPassword || safe.bank==''}">下一步</cube-button>
                        </div>

                    </div>

                    <div v-if="nowStep==2">
                        <div class="record-item"  >
                            <div class="col30 text-left">可提金额</div>
                            <div class="col70 text-right">{{user.coin | numFilter}}</div>
                        </div>
                        <div class="record-item" >
                            <div class="col30 text-left">银行卡</div>
                            <div class="col70 text-right">{{safe.bank}}</div>
                        </div>
                        <div class="record-item" >
                            <div class="col30 text-left">提款金额</div>
                            <div class="col70 text-left">
                                <cube-input v-model="form.amount"
                                    placeholder="请输入金额"
                                    type="tel"
                                    :clearable="{visible: true, blurHidden: true}"
                                    class="reg-field"
                                    autocomplete="off"
                                    >
                                </cube-input>
                                <cube-validator v-model="check1" :model="form.amount" :rules="rules1" class="error-msg"></cube-validator>
                            </div>
                        </div>
                        <div class="record-item" style="margin-top: 30px;">
                            <div class="col30 text-left">提款密码</div>
                            <div class="col70 text-left">
                                <cube-input v-model="form.cashPassword"
                                    placeholder="请输入密码"
                                    type="password"
                                    :eye="{open: false,reverse: false}"
                                    class="reg-field"
                                    autocomplete="false"
                                    >
                                </cube-input>
                                <cube-validator v-model="check2" :model="form.cashPassword" :rules="rules2" class="error-msg"></cube-validator>
                            </div>
                        </div>

                        <div class="padding">
                            <cube-button  @click="finish" class="reg-button blue-btn" :disabled="!check1 || !check2 " :class="{'disabled-btn':!check1 || !check2 }">下一步</cube-button>
                            <cube-button  @click="next(1)" class="reg-button blue-btn" >回上一步</cube-button>
                        </div>
                    </div>

                    <div v-if="nowStep==3">
                        <div class="record-finish blue-color" >
                                <div ><i class="record-finish-icon far fa-check-circle "></i></div>
                                <div> <span class="record-finish-text fw700">申请成功</span></div>
                                <div  style="color:#999">	请及时查看资金记提款录申请状态</div>
                        </div>
                        <div class="padding">
                            <cube-button  @click="back" class="reg-button blue-btn" >离开此页</cube-button>
                        </div>
                    </div>

                </cube-scroll>
                </div>
            </form>
        </div> 

        <transition name="filtermenu">
            <keep-alive>
                <component :is="default_view" v-on:callback="switchView" :safe="safe"></component>
            </keep-alive>
        </transition>

    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import vueStep from '@/components/vue-step.vue'
import BackPage from '@/components/back-page.vue'
import CoinPassword from '@/components/user/coin-password.vue'
import Bank from '@/components/user/bank.vue'
import { apiGetSafe,apiPostCash } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
import { validator } from '@/utils/validator.js'
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"提款",
            check1:false,
            check2:false,
            //check3:true,
            default_view:null,
			min_amount: 100,
			max_amount: 30000,
            safe:{
                coinPassword:true,
                email:'',
                phone:'',
            },
			form:{
				amount:'',
				cashPassword:'',
				limit: false,
            },
            rules1:{
                type: 'number',
                required: true,
                min:100,
                max:30000
            },
            rules2:{
                type: 'string',
                required: true,
            },
            log: {
                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: '下拉刷新', //'Resfresh Success',
            },
            nowStep: 1,
            stepList: [
                '安全认证',
                '输入金额',
                '申请成功',
            ],
            activeColor:"rgb(74, 144, 226)",
        }
    },  
    methods: {
        back()
        {
          this.$router.back()
        },        
        switchView(value)
        {
            this.default_view=null;
        }, 
        next(step)
        {
            this.nowStep=step;
        },
        finish()
        {
            if(!validator.num_pos_int(this.form.amount))
            {
                this.toast('金额请输入数字');
                return;
            }
            if(this.form.amount < this.min_amount || this.form.amount > this.max_amount)
            {
                this.toast('金额范围 ' + this.min_amount + ' ~ ' + this.max_amount);
                return;
            }
			var amount = parseFloat(this.user.coin);
			if(this.form.amount > amount) {
                this.toast('金额不足');
				return;
			}
			if (!this.form.cashPassword) {
                this.toast('请输入提款密码');
				return;
            }
            this.toast('申请中...',null,0); // 防用户连点
            //this.check3=false; // 锁住下一步,防用户连点
            apiPostCash({
                    money: this.form.amount,
                    password: this.form.cashPassword
                })
                .then(response => {
                    this.$createToast().hide();
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if (response.data.status) {
                        this.nowStep++;
                    }
                    return;
                })
                .catch(error => {
                    this.$createToast().hide();
                    console.log(error);
                });
        },
        getCoin()
        {
            this.$store.dispatch('getCoin');
            apiGetSafe({
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data)
                        {
                            this.safe=response.data.data;
                        }
                    }
                }).catch(error => {
                    console.log(error);
                });
            if(this.$refs.scroll)
            {
                this.$refs.scroll.forceUpdate(false);
            }
        },
        logRefresh(){
            setTimeout(() => {
                this.getCoin();
            }, 1000);
        },
        onItemClick(index)
        {
            switch(index)
            {
                case 1:
                    this.default_view=CoinPassword;
                    return;
                case 2:
                    this.default_view=Bank;
                    return;
            }
        },          
    },
    computed: {
		...mapGetters({
            config:'config',
            user:'user',
        }),
        scrollLogOpts() {
            return {
                pullUpLoad: false,
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                scrollbar: false,
            }
        },         
    },
    components: {
      BackPage,
      vueStep
    },
    created() {
        this.getCoin();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.filtermenu-enter,.filtermenu-leave-to 
  transform translateX(100%)
.filtermenu-enter-to,.filtermenu-leave 
  transform translateX(0)
.filtermenu-enter-active,.filtermenu-leave-active 
  transition all 0.5s
.mainSearch
    position: fixed; 
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    font-size: 0.9rem;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 40px;
        left: 0;
        right: 0;
        overflow:hidden;
    .setup-space
        margin-top 20px;
        margin-bottom: 20px;
        font-size 0.9rem;
        line-height 20px;
    .col50
        width 50%;
        height 35px;
        line-height: 35px;
    .col30
        width 30%;
        height 35px;
        line-height: 35px;
    .col70
        width 70%;
        height 35px;
        line-height: 35px;
    .record-item
        display flex;
        margin-bottom 1px;
        background-color #fff;
        padding: 5px 10px;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align right;
        color #aaa;
    .icon
        margin-left 10px;
    .padding
        padding: 20px 10px;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        color: #fff;
    .record-info
        padding-bottom 20px;
    .record-finish
        padding:10px 0;
        background-color #fff;
        .record-finish-icon
            font-size: 3.5rem;
            line-height: 60px;
        .record-finish-text
            font-size: 1.3rem;
            line-height: 45px;

</style>
