<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">冠亚和</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5436"><span class="square">{{mapByPlay[5436].name}}</span> <span class="pl">{{mapByPlay[5436].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5437"><span class="square">{{mapByPlay[5437].name}}</span> <span class="pl">{{mapByPlay[5437].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5438"><span class="square">{{mapByPlay[5438].name}}</span> <span class="pl">{{mapByPlay[5438].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5439"><span class="square">{{mapByPlay[5439].name}}</span> <span class="pl">{{mapByPlay[5439].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5440"><span class="square">{{mapByPlay[5440].name}}</span> <span class="pl">{{mapByPlay[5440].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5441"><span class="square">{{mapByPlay[5441].name}}</span> <span class="pl">{{mapByPlay[5441].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5442"><span class="square">{{mapByPlay[5442].name}}</span> <span class="pl">{{mapByPlay[5442].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5443"><span class="square">{{mapByPlay[5443].name}}</span> <span class="pl">{{mapByPlay[5443].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5444"><span class="square">{{mapByPlay[5444].name}}</span> <span class="pl">{{mapByPlay[5444].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5445"><span class="square">{{mapByPlay[5445].name}}</span> <span class="pl">{{mapByPlay[5445].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5446"><span class="square">{{mapByPlay[5446].name}}</span> <span class="pl">{{mapByPlay[5446].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5447"><span class="square">{{mapByPlay[5447].name}}</span> <span class="pl">{{mapByPlay[5447].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5448"><span class="square">{{mapByPlay[5448].name}}</span> <span class="pl">{{mapByPlay[5448].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5449"><span class="square">{{mapByPlay[5449].name}}</span> <span class="pl">{{mapByPlay[5449].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5450"><span class="square">{{mapByPlay[5450].name}}</span> <span class="pl">{{mapByPlay[5450].bp | numFilter}}</span></td>
                    </tr>                                                            
                    <tr>
                        <td  class="col3 name" data-id="5451"><span class="square">{{mapByPlay[5451].name}}</span> <span class="pl">{{mapByPlay[5451].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5452"><span class="square">{{mapByPlay[5452].name}}</span> <span class="pl">{{mapByPlay[5452].bp | numFilter}}</span></td>
                    </tr>  
                </table>
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5382">{{mapByPlay[5382].name}} <span class="pl">{{mapByPlay[5382].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5383">{{mapByPlay[5383].name}} <span class="pl">{{mapByPlay[5383].bp | numFilter}}</span></td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="5384">{{mapByPlay[5384].name}} <span class="pl">{{mapByPlay[5384].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5385">{{mapByPlay[5385].name}} <span class="pl">{{mapByPlay[5385].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

