<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第九名</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5533"><span class="square color1">{{mapByPlay[5533].name}}</span> <span class="pl">{{mapByPlay[5533].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5534"><span class="square color2">{{mapByPlay[5534].name}}</span> <span class="pl">{{mapByPlay[5534].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5535"><span class="square color3">{{mapByPlay[5535].name}}</span> <span class="pl">{{mapByPlay[5535].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5536"><span class="square color4">{{mapByPlay[5536].name}}</span> <span class="pl">{{mapByPlay[5536].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5537"><span class="square color5">{{mapByPlay[5537].name}}</span> <span class="pl">{{mapByPlay[5537].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5538"><span class="square color6">{{mapByPlay[5538].name}}</span> <span class="pl">{{mapByPlay[5538].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5539"><span class="square color7">{{mapByPlay[5539].name}}</span> <span class="pl">{{mapByPlay[5539].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5540"><span class="square color8">{{mapByPlay[5540].name}}</span> <span class="pl">{{mapByPlay[5540].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5541"><span class="square color9">{{mapByPlay[5541].name}}</span> <span class="pl">{{mapByPlay[5541].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5542"><span class="square color10">{{mapByPlay[5542].name}}</span> <span class="pl">{{mapByPlay[5542].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

