<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第十名</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5543"><span class="square color1">{{mapByPlay[5543].name}}</span> <span class="pl">{{mapByPlay[5543].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5544"><span class="square color2">{{mapByPlay[5544].name}}</span> <span class="pl">{{mapByPlay[5544].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5545"><span class="square color3">{{mapByPlay[5545].name}}</span> <span class="pl">{{mapByPlay[5545].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5546"><span class="square color4">{{mapByPlay[5546].name}}</span> <span class="pl">{{mapByPlay[5546].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5547"><span class="square color5">{{mapByPlay[5547].name}}</span> <span class="pl">{{mapByPlay[5547].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5548"><span class="square color6">{{mapByPlay[5548].name}}</span> <span class="pl">{{mapByPlay[5548].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5549"><span class="square color7">{{mapByPlay[5549].name}}</span> <span class="pl">{{mapByPlay[5549].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5550"><span class="square color8">{{mapByPlay[5550].name}}</span> <span class="pl">{{mapByPlay[5550].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5551"><span class="square color9">{{mapByPlay[5551].name}}</span> <span class="pl">{{mapByPlay[5551].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5552"><span class="square color10">{{mapByPlay[5552].name}}</span> <span class="pl">{{mapByPlay[5552].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

