<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">冠军</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5453"><span class="square color1">{{mapByPlay[5453].name}}</span> <span class="pl">{{mapByPlay[5453].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5454"><span class="square color2">{{mapByPlay[5454].name}}</span> <span class="pl">{{mapByPlay[5454].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5455"><span class="square color3">{{mapByPlay[5455].name}}</span> <span class="pl">{{mapByPlay[5455].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5456"><span class="square color4">{{mapByPlay[5456].name}}</span> <span class="pl">{{mapByPlay[5456].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5457"><span class="square color5">{{mapByPlay[5457].name}}</span> <span class="pl">{{mapByPlay[5457].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5458"><span class="square color6">{{mapByPlay[5458].name}}</span> <span class="pl">{{mapByPlay[5458].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5459"><span class="square color7">{{mapByPlay[5459].name}}</span> <span class="pl">{{mapByPlay[5459].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5460"><span class="square color8">{{mapByPlay[5460].name}}</span> <span class="pl">{{mapByPlay[5460].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5461"><span class="square color9">{{mapByPlay[5461].name}}</span> <span class="pl">{{mapByPlay[5461].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5462"><span class="square color10">{{mapByPlay[5462].name}}</span> <span class="pl">{{mapByPlay[5462].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

