<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">亚军</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5463"><span class="square color1">{{mapByPlay[5463].name}}</span> <span class="pl">{{mapByPlay[5463].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5464"><span class="square color2">{{mapByPlay[5464].name}}</span> <span class="pl">{{mapByPlay[5464].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5465"><span class="square color3">{{mapByPlay[5465].name}}</span> <span class="pl">{{mapByPlay[5465].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5466"><span class="square color4">{{mapByPlay[5466].name}}</span> <span class="pl">{{mapByPlay[5466].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5467"><span class="square color5">{{mapByPlay[5467].name}}</span> <span class="pl">{{mapByPlay[5467].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5468"><span class="square color6">{{mapByPlay[5468].name}}</span> <span class="pl">{{mapByPlay[5468].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5469"><span class="square color7">{{mapByPlay[5469].name}}</span> <span class="pl">{{mapByPlay[5469].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5470"><span class="square color8">{{mapByPlay[5470].name}}</span> <span class="pl">{{mapByPlay[5470].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5471"><span class="square color9">{{mapByPlay[5471].name}}</span> <span class="pl">{{mapByPlay[5471].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5472"><span class="square color10">{{mapByPlay[5472].name}}</span> <span class="pl">{{mapByPlay[5472].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

