<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第三名</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5473"><span class="square color1">{{mapByPlay[5473].name}}</span> <span class="pl">{{mapByPlay[5473].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5474"><span class="square color2">{{mapByPlay[5474].name}}</span> <span class="pl">{{mapByPlay[5474].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5475"><span class="square color3">{{mapByPlay[5475].name}}</span> <span class="pl">{{mapByPlay[5475].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5476"><span class="square color4">{{mapByPlay[5476].name}}</span> <span class="pl">{{mapByPlay[5476].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5477"><span class="square color5">{{mapByPlay[5477].name}}</span> <span class="pl">{{mapByPlay[5477].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5478"><span class="square color6">{{mapByPlay[5478].name}}</span> <span class="pl">{{mapByPlay[5478].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5479"><span class="square color7">{{mapByPlay[5479].name}}</span> <span class="pl">{{mapByPlay[5479].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5480"><span class="square color8">{{mapByPlay[5480].name}}</span> <span class="pl">{{mapByPlay[5480].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5481"><span class="square color9">{{mapByPlay[5481].name}}</span> <span class="pl">{{mapByPlay[5481].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5482"><span class="square color10">{{mapByPlay[5482].name}}</span> <span class="pl">{{mapByPlay[5482].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

