<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第四名</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5483"><span class="square color1">{{mapByPlay[5483].name}}</span> <span class="pl">{{mapByPlay[5483].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5484"><span class="square color2">{{mapByPlay[5484].name}}</span> <span class="pl">{{mapByPlay[5484].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5485"><span class="square color3">{{mapByPlay[5485].name}}</span> <span class="pl">{{mapByPlay[5485].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5486"><span class="square color4">{{mapByPlay[5486].name}}</span> <span class="pl">{{mapByPlay[5486].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5487"><span class="square color5">{{mapByPlay[5487].name}}</span> <span class="pl">{{mapByPlay[5487].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5488"><span class="square color6">{{mapByPlay[5488].name}}</span> <span class="pl">{{mapByPlay[5488].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5489"><span class="square color7">{{mapByPlay[5489].name}}</span> <span class="pl">{{mapByPlay[5489].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5490"><span class="square color8">{{mapByPlay[5490].name}}</span> <span class="pl">{{mapByPlay[5490].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5491"><span class="square color9">{{mapByPlay[5491].name}}</span> <span class="pl">{{mapByPlay[5491].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5492"><span class="square color10">{{mapByPlay[5492].name}}</span> <span class="pl">{{mapByPlay[5492].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>
<style lang="stylus" rel="stylesheet/stylus">

</style>

