<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第五名</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5493"><span class="square color1">{{mapByPlay[5493].name}}</span> <span class="pl">{{mapByPlay[5493].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5494"><span class="square color2">{{mapByPlay[5494].name}}</span> <span class="pl">{{mapByPlay[5494].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5495"><span class="square color3">{{mapByPlay[5495].name}}</span> <span class="pl">{{mapByPlay[5495].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5496"><span class="square color4">{{mapByPlay[5496].name}}</span> <span class="pl">{{mapByPlay[5496].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5497"><span class="square color5">{{mapByPlay[5497].name}}</span> <span class="pl">{{mapByPlay[5497].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5498"><span class="square color6">{{mapByPlay[5498].name}}</span> <span class="pl">{{mapByPlay[5498].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5499"><span class="square color7">{{mapByPlay[5499].name}}</span> <span class="pl">{{mapByPlay[5499].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5500"><span class="square color8">{{mapByPlay[5500].name}}</span> <span class="pl">{{mapByPlay[5500].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5501"><span class="square color9">{{mapByPlay[5501].name}}</span> <span class="pl">{{mapByPlay[5501].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5502"><span class="square color10">{{mapByPlay[5502].name}}</span> <span class="pl">{{mapByPlay[5502].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

