<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第六名</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5503"><span class="square color1">{{mapByPlay[5503].name}}</span> <span class="pl">{{mapByPlay[5503].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5504"><span class="square color2">{{mapByPlay[5504].name}}</span> <span class="pl">{{mapByPlay[5504].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5505"><span class="square color3">{{mapByPlay[5505].name}}</span> <span class="pl">{{mapByPlay[5505].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5506"><span class="square color4">{{mapByPlay[5506].name}}</span> <span class="pl">{{mapByPlay[5506].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5507"><span class="square color5">{{mapByPlay[5507].name}}</span> <span class="pl">{{mapByPlay[5507].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5508"><span class="square color6">{{mapByPlay[5508].name}}</span> <span class="pl">{{mapByPlay[5508].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5509"><span class="square color7">{{mapByPlay[5509].name}}</span> <span class="pl">{{mapByPlay[5509].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5510"><span class="square color8">{{mapByPlay[5510].name}}</span> <span class="pl">{{mapByPlay[5510].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5511"><span class="square color9">{{mapByPlay[5511].name}}</span> <span class="pl">{{mapByPlay[5511].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5512"><span class="square color10">{{mapByPlay[5512].name}}</span> <span class="pl">{{mapByPlay[5512].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

