<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第七名</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5513"><span class="square color1">{{mapByPlay[5513].name}}</span> <span class="pl">{{mapByPlay[5513].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5514"><span class="square color2">{{mapByPlay[5514].name}}</span> <span class="pl">{{mapByPlay[5514].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5515"><span class="square color3">{{mapByPlay[5515].name}}</span> <span class="pl">{{mapByPlay[5515].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5516"><span class="square color4">{{mapByPlay[5516].name}}</span> <span class="pl">{{mapByPlay[5516].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5517"><span class="square color5">{{mapByPlay[5517].name}}</span> <span class="pl">{{mapByPlay[5517].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5518"><span class="square color6">{{mapByPlay[5518].name}}</span> <span class="pl">{{mapByPlay[5518].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5519"><span class="square color7">{{mapByPlay[5519].name}}</span> <span class="pl">{{mapByPlay[5519].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5520"><span class="square color8">{{mapByPlay[5520].name}}</span> <span class="pl">{{mapByPlay[5520].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5521"><span class="square color9">{{mapByPlay[5521].name}}</span> <span class="pl">{{mapByPlay[5521].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5522"><span class="square color10">{{mapByPlay[5522].name}}</span> <span class="pl">{{mapByPlay[5522].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

