<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第八名</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5523"><span class="square color1">{{mapByPlay[5523].name}}</span> <span class="pl">{{mapByPlay[5523].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5524"><span class="square color2">{{mapByPlay[5524].name}}</span> <span class="pl">{{mapByPlay[5524].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5525"><span class="square color3">{{mapByPlay[5525].name}}</span> <span class="pl">{{mapByPlay[5525].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5526"><span class="square color4">{{mapByPlay[5526].name}}</span> <span class="pl">{{mapByPlay[5526].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5527"><span class="square color5">{{mapByPlay[5527].name}}</span> <span class="pl">{{mapByPlay[5527].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5528"><span class="square color6">{{mapByPlay[5528].name}}</span> <span class="pl">{{mapByPlay[5528].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5529"><span class="square color7">{{mapByPlay[5529].name}}</span> <span class="pl">{{mapByPlay[5529].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5530"><span class="square color8">{{mapByPlay[5530].name}}</span> <span class="pl">{{mapByPlay[5530].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5531"><span class="square color9">{{mapByPlay[5531].name}}</span> <span class="pl">{{mapByPlay[5531].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5532"><span class="square color10">{{mapByPlay[5532].name}}</span> <span class="pl">{{mapByPlay[5532].bp | numFilter}}</span></td>
                    </tr>                                      
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

