<template>
    <div class="bet_space credit_bet" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
                <div class="game-title" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[0]"></i><i class="cubeic-pulldown" v-show="!show[0]"></i></div>
                        <div class="icon-title">冠亚军和</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[0]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5382">{{mapByPlay[5382].name}} <span class="pl">{{mapByPlay[5382].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5383">{{mapByPlay[5383].name}} <span class="pl">{{mapByPlay[5383].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5384">{{mapByPlay[5384].name}} <span class="pl">{{mapByPlay[5384].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5385">{{mapByPlay[5385].name}} <span class="pl">{{mapByPlay[5385].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(1)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[1]"></i><i class="cubeic-pulldown" v-show="!show[1]"></i></div>
                    <div class="icon-title">冠军</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[1]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5386">{{mapByPlay[5386].name}} <span class="pl">{{mapByPlay[5386].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5387">{{mapByPlay[5387].name}} <span class="pl">{{mapByPlay[5387].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5388">{{mapByPlay[5388].name}} <span class="pl">{{mapByPlay[5388].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5389">{{mapByPlay[5389].name}} <span class="pl">{{mapByPlay[5389].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5390">{{mapByPlay[5390].name}} <span class="pl">{{mapByPlay[5390].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5391">{{mapByPlay[5391].name}} <span class="pl">{{mapByPlay[5391].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

            
                <div class="game-title" @click.stop="show_menu(2)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[2]"></i><i class="cubeic-pulldown" v-show="!show[2]"></i></div>
                    <div class="icon-title">亚军</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[2]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5392">{{mapByPlay[5392].name}} <span class="pl">{{mapByPlay[5392].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5393">{{mapByPlay[5393].name}} <span class="pl">{{mapByPlay[5393].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5394">{{mapByPlay[5394].name}} <span class="pl">{{mapByPlay[5394].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5395">{{mapByPlay[5395].name}} <span class="pl">{{mapByPlay[5395].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5396">{{mapByPlay[5396].name}} <span class="pl">{{mapByPlay[5396].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5397">{{mapByPlay[5397].name}} <span class="pl">{{mapByPlay[5397].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>    

                <div class="game-title" @click.stop="show_menu(3)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[3]"></i><i class="cubeic-pulldown" v-show="!show[3]"></i></div>
                    <div class="icon-title">第三名</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[3]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5398">{{mapByPlay[5398].name}} <span class="pl">{{mapByPlay[5398].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5399">{{mapByPlay[5399].name}} <span class="pl">{{mapByPlay[5399].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5400">{{mapByPlay[5400].name}} <span class="pl">{{mapByPlay[5400].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5401">{{mapByPlay[5401].name}} <span class="pl">{{mapByPlay[5401].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5402">{{mapByPlay[5402].name}} <span class="pl">{{mapByPlay[5402].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5403">{{mapByPlay[5403].name}} <span class="pl">{{mapByPlay[5403].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
                <div class="game-title" @click.stop="show_menu(4)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[4]"></i><i class="cubeic-pulldown" v-show="!show[4]"></i></div>
                    <div class="icon-title">第四名</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[4]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5404">{{mapByPlay[5404].name}} <span class="pl">{{mapByPlay[5404].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5405">{{mapByPlay[5405].name}} <span class="pl">{{mapByPlay[5405].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5406">{{mapByPlay[5406].name}} <span class="pl">{{mapByPlay[5406].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5407">{{mapByPlay[5407].name}} <span class="pl">{{mapByPlay[5407].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5408">{{mapByPlay[5408].name}} <span class="pl">{{mapByPlay[5408].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5409">{{mapByPlay[5409].name}} <span class="pl">{{mapByPlay[5409].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
                <div class="game-title" @click.stop="show_menu(5)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[5]"></i><i class="cubeic-pulldown" v-show="!show[5]"></i></div>
                    <div class="icon-title">第五名</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[5]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5410">{{mapByPlay[5410].name}} <span class="pl">{{mapByPlay[5410].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5411">{{mapByPlay[5411].name}} <span class="pl">{{mapByPlay[5411].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5412">{{mapByPlay[5412].name}} <span class="pl">{{mapByPlay[5412].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5413">{{mapByPlay[5413].name}} <span class="pl">{{mapByPlay[5413].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5414">{{mapByPlay[5414].name}} <span class="pl">{{mapByPlay[5414].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5415">{{mapByPlay[5415].name}} <span class="pl">{{mapByPlay[5415].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(6)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[6]"></i><i class="cubeic-pulldown" v-show="!show[6]"></i></div>
                    <div class="icon-title">第六名</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[6]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5416">{{mapByPlay[5416].name}} <span class="pl">{{mapByPlay[5416].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5417">{{mapByPlay[5417].name}} <span class="pl">{{mapByPlay[5417].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5418">{{mapByPlay[5418].name}} <span class="pl">{{mapByPlay[5418].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5419">{{mapByPlay[5419].name}} <span class="pl">{{mapByPlay[5419].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(7)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[7]"></i><i class="cubeic-pulldown" v-show="!show[7]"></i></div>
                    <div class="icon-title">第七名</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[7]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5420">{{mapByPlay[5420].name}} <span class="pl">{{mapByPlay[5420].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5421">{{mapByPlay[5421].name}} <span class="pl">{{mapByPlay[5421].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5422">{{mapByPlay[5422].name}} <span class="pl">{{mapByPlay[5422].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5423">{{mapByPlay[5423].name}} <span class="pl">{{mapByPlay[5423].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(8)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[8]"></i><i class="cubeic-pulldown" v-show="!show[8]"></i></div>
                    <div class="icon-title">第八名</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[8]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5424">{{mapByPlay[5424].name}} <span class="pl">{{mapByPlay[5424].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5425">{{mapByPlay[5425].name}} <span class="pl">{{mapByPlay[5425].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5426">{{mapByPlay[5426].name}} <span class="pl">{{mapByPlay[5426].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5427">{{mapByPlay[5427].name}} <span class="pl">{{mapByPlay[5427].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(9)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[9]"></i><i class="cubeic-pulldown" v-show="!show[9]"></i></div>
                    <div class="icon-title">第九名</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[9]" class="play-menu">
                        <table>

                            <tr>
                                <td colspan="3" class="col2 name" data-id="5428">{{mapByPlay[5428].name}} <span class="pl">{{mapByPlay[5428].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5429">{{mapByPlay[5429].name}} <span class="pl">{{mapByPlay[5429].bp | numFilter}}</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5430">{{mapByPlay[5430].name}} <span class="pl">{{mapByPlay[5430].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5431">{{mapByPlay[5431].name}} <span class="pl">{{mapByPlay[5431].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

                <div class="game-title" @click.stop="show_menu(10)">
                    <div class="icon-pull icon-size"><i class="cubeic-pullup" v-show="show[10]"></i><i class="cubeic-pulldown" v-show="!show[10]"></i></div>
                    <div class="icon-title">第十名</div>
                </div>
                <transition name="playmenu">
                    <div v-show="show[10]" class="play-menu">
                        <table>
                            <tr>
                                <td colspan="3" class="col2 name" data-id="5432">{{mapByPlay[5432].name}} <span class="pl">{{mapByPlay[5432].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5433">{{mapByPlay[5433].name}} <span class="pl">{{mapByPlay[5433].bp | numFilter}}</span></td>
                            </tr>

                            <tr>
                                <td colspan="3" class="col2 name" data-id="5434">{{mapByPlay[5434].name}} <span class="pl">{{mapByPlay[5434].bp | numFilter}}</span></td>
                                <td colspan="3" class="col2 name" data-id="5435">{{mapByPlay[5435].name}} <span class="pl">{{mapByPlay[5435].bp | numFilter}}</span></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>
         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
            6:false,
            7:false,
            8:false,
            9:false,
            10:false,
        },
    };
  },
    components: {
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),    
},
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

