<template>
    <div >
            <h1>广东11选5</h1>
            <ul>
                <li>“广东11选5”是由国家体育总局发行，体育彩票管理中心承销，北京时间（GMT+8）每日早上9:30至晚上23:10分;每日共开奖42期、每20分锺开奖1次。</li>
                <li>总和大小:开奖结果五个号码相加的值,介于(含)31~45为总和大,介于15~29为总和小,30为和不计输赢.</li>
                <li>总和单双:开奖结果五个号码相加的值,若为奇数,例27,为总和单.若为偶数,例32,则为总和双.</li>
                <li>总和尾大小:开奖的五个号码和值的尾数,若介于(含)0~4为小,介于(含)5~9为大.</li>
                <li>总和-龙虎:第一球大于第五球为龙,第一球小于第五球为虎.</li>
                <li>大小单双:相对于投注的位置.号码介于(含)1~5为小,介于(含)6~10为大,11为和（不计算输赢）.号码奇数时为单,偶数为双.</li>
                <li>一中一:所购的号码在当期开出的五个号码中即为中奖.</li>
                <li>龙虎斗:前者大于后者为龙,前者小于后者为虎.例正一01 VS 正二02,购买虎中奖.</li>
            </ul>
    </div>
</template>
