<template>
    <div >
            <h1>30秒快三</h1>
            <ul>
<li>30秒/期．全天：2880期</li>
<li>和值点数:当期开奖号码相加后的数值.</li>
<li>三军:所购的号码出现在当期开奖号码中,即中奖.</li>
<li>大小单双:三个开奖号码的和值,介于(含)11~17为大,介于(含)4~10为小.注意:豹子通吃大小单双各注.</li>
<li>围骰全骰:围骰即一个豹子号(三个号码相同).全骰即包买所有(六个)豹子.</li>
<li>长牌:所购的号码组合(非同号),出现在当期开奖号码中,即为中奖.例投注12,开奖号123时中奖.</li>
<li>短牌:所购的号码组合(两同号),出现在当期开奖号码中,即为中奖.例投注11,开奖号113时中奖.</li>
            </ul>
    </div>
</template>
