<template>
    <div >
            <h1>30秒赛车</h1>
            <ul>
<li>营业时间为全天，30秒一期;共2880期。</li>
<li>冠亚和:冠军加亚军的和值.</li>
<li>冠亚大小:冠亚和值,介于(含)12~19为冠亚大,介于(含)3~10为冠亚小,等于11不计输赢.</li>
<li>冠亚单双:冠亚和值,若为奇数,例9,为总和冠亚单.若为偶数,例10,则为总和冠亚双.等于11不计输赢.</li>
<li>大小单双:相对于投注的位置.号码介于(含)1~5为小,介于(含)6~10为大.号码奇数时为单,偶数为双.</li>
<li>龙虎:冠军大于第十名为龙,反之为虎;亚军大于第九名为龙,反之为虎;第三名大于第八名为龙,反之为虎;第四名大于第七名为龙,反之为虎;第五名大于第六名为龙,反之为虎.</li>
            </ul>
    </div>
</template>
