<template>
    <div >
            <h1>香港六合彩</h1>
            <ul>
<li>特码:每期开奖时的第七个号码.</li>
<li>正码:即平码,每期开奖结果前六个号码均为正码.</li>
<li>特/正大小:特/正码号介于(含)1~24为特/正小,介于(含)25~48为特/正大.49不计输赢.</li>
<li>特/正单双:特/正码号为单数时为特/正单,为偶数时即特/正双.</li>
<li>特/正合大小:特/正码号个位十位相加,介于(含)1~6为特/正合小,介于(含)7~12为特/正合大.例24为特/正合小,49和局.</li>
<li>特/正合单双:特/正码号个位十位相加的值,若为奇数则特/正合单,若为偶数则特/正合双.例11为特/正合双.</li>
<li>特/正码尾大小:特/正码号个位上的值.介于(含)0~4为特/正尾小,例32.介于(含)5~9为特/正尾大,例05.</li>
<li>特大单/双:特/正码号介于(含)25~48,且为单数时,为特/正大单,例25.若49为和.
          特/正码号介于(含)25~48,且为双数时,为特/正大双,例26.若49为和.</li>
<li>特小单/双:特/正码号介于(含)1~24,且为单数时,为特/正小单,例23.若49为和.
          特/正码号介于(含)1~24,且为双数时,为特/正小双,例2.若49为和.</li>
<li>总和大/单/双:七个号码相加大于或等于175为总和大,若偶数为总和双,奇数为总和单.</li>
<li>总和小/单/双:七个号码相加大于或等于175为总和大,若偶数为总和双,奇数为总和单.</li>
<li>特天肖:兔马猴猪牛龙,其它为地肖.若49为和.</li>
<li>特前肖:鼠牛虎兔龙蛇,其它为特后肖.若49为和.</li>
<li>特家肖:牛、马、羊、鸡、狗、猪.其它为特野肖.若49为和.</li>
<li>红波:1,2,7,8,12,13,18,19,23,24,29,30,34,35,40,45,46</li>
<li>蓝波:3,4,9,10,14,15,20,25,26,31,36,37,41,42,47,48</li>
<li>绿波:5,6,11,16,17,21,22,27,28,32,33,38,39,43,44,49</li>
<li>半波:
	红大/小/单/双:红波组里介于(含)25~48为红大,反之红小.若为偶数,则红双,反之红单.49为和.
	蓝大/小/单/双:蓝波组里介于(含)25~48为蓝大,反之蓝小.若为偶数,则蓝双,反之蓝单.49为和.
	绿大/小/单/双:绿波组里介于(含)25~48为绿大,反之绿小.若为偶数,则绿双,反之绿单.49为和.
</li>
<li>半半波:为半波玩法中各槼则的组合.例38为绿大双,1为红小单.</li>
<li>特肖:即特码生肖.农历年初一变更生肖.</li>
<li>特码头尾数:第七个号码之十位为特码头数,个位为特码尾数.例31为特3头,特1尾.</li>
<li>正码:在'正码'页里,所购的任一号码出现在当期开奖结果的正码里即中奖.</li>
<li>正码特:按开奖先后顺序排列的正码号码,分别为正一特至正六特.槼则类推特码.</li>
<li>金:1,6,11,16,21,26,31,36,41,46</li>
<li>木:2,7,12,17,22,27,32,37,42,47</li>
<li>水:3,8,13,18,23,28,33,38,43,48</li>
<li>火:4,9,14,19,24,29,34,39,44,49</li>
<li>土:5,10,15,20,25,30,35,40,45</li>
<li>平特一肖:开奖号码里含有任一所购生肖即中奖.开奖结果一肖多号仅派彩一次.</li>
<li>平特尾数:七个开奖号码尾数里含有任一所购尾数.开奖结果多个同尾仅派彩一次.</li>
<li>正肖:正码生肖.开奖结果多个同肖仅派彩一次.</li>
<li>七色波:指开出的7个彩球中，那种颜色最多即中奖(例1蓝2绿4红,红中奖),当颜色最多者有两种时为和局(例3蓝3绿1红时和局)</li>
<li>总肖:猜七个号归类为几种生肖.共有2/4/6肖时为总肖双,3/5/7为总肖单.</li>
            </ul>
    </div>
</template>
