<template>
    <div >
            <h1>MAX 4D</h1>
            <ul>
<li>Max 4D 的開彩日期是每周的星期二, 星期四 和 星期六。</li>
<li>綜合擁有6組中獎號碼名額: 首獎1組, 二獎2組, 三獎3組. 每組號碼的範圍從 0000 至 9999。</li>
<li>首獎：如果玩家所選擇的號碼與頭獎號碼相同，則玩家獲勝。</li>
<li>二獎：如果玩家所選擇的號碼與二獎號碼其中一個相同，則玩家獲勝。</li>
<li>三獎：如果玩家所選擇的號碼與三獎號碼其中一個相同，則玩家獲勝。</li>
<li>安慰獎1: 如果玩家所選號碼的最後3位數字與首獎號碼的最後3位數字相同，則玩家獲勝。</li>
<li>安慰獎2: 如果玩家所選號碼的最後2位數字與首獎號碼的最後2位數字相同，則玩家獲勝。</li>
<li>
	<div>如果所選擇的號碼相同多於1個獲獎名額，則根據以下規則來確定結果：</div>
	<table>
		<tr><td>例子</td><td>獲獎分配</td></tr>
		<tr  v-for="(item,index) in rule1" :key="index">
			<td>{{item.ex}}</td><td>{{item.text}}</td>
		</tr>
	</table>
</li>
<li>
	<div>4D 大：</div>
	<div>玩家首要條件是必須挑選一個4位數字號碼，才有資格獲得首獎，二獎，三獎，安慰獎1 和 安慰獎 2。</div>
	<table>
		<tr><td class="td1">#</td><td class="td2">獎項</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_big" :key="index">
			<td>{{index}}</td><td>{{item.name}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
<li>
	<div>4D 小：</div>
	<div>玩家首要條件是必須挑選一個4位數字號碼，才有資格獲得首獎，二獎 和 三獎 。</div>
	<table>
		<tr><td class="td1">#</td><td class="td2">獎項</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_small" :key="index">
			<td>{{index}}</td><td>{{item.name}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
<li>
	<div>4A：</div>
	<div>玩家必須選擇一個4位數字號碼。所選的號碼必須等同於首獎。</div>
	<table>
		<tr><td class="td1">#</td><td class="td2">獎項</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_4a" :key="index">
			<td>{{index}}</td><td>{{item.name}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
<li>
	<div>3ABC：</div>
	<div>玩家首要條件是必須挑選一個3位數字號碼，才有資格獲得首獎，二獎 和 三獎。所選號碼與至少一個獲勝號碼的最後3位數字相同，則玩家獲勝。</div>
	<table>
		<tr><td class="td1">#</td><td class="td2">獎項</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_3abc" :key="index">
			<td>{{index}}</td><td>{{item.name}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
<li>
	<div>3A：</div>
	<div>玩家首要條件是必須挑選一個3位數字號碼，才有資格獲得首獎。所選號碼與首獎最後3位數字相同，則玩家獲勝。</div>
	<table>
		<tr><td class="td1">#</td><td class="td2">獎項</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_3a" :key="index">
			<td>{{index}}</td><td>{{item.name}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
<li>
	<div>2ABC：</div>
	<div>玩家首要條件是必須挑選一個2位數字號碼，才有資格獲得首獎，二獎 和 三獎。所選號碼與至少一個獲勝號碼的最後2位數字相同，則玩家獲勝。</div>
	<table>
		<tr><td class="td1">#</td><td class="td2">獎項</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_2abc" :key="index">
			<td>{{index}}</td><td>{{item.name}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
<li>
	<div>2A：</div>
	<div>玩家首要條件是必須挑選一個2位數字號碼，才有資格獲得首獎。所選號碼與首獎最後2位數字相同，則玩家獲勝。</div>
	<table>
		<tr><td class="td1">#</td><td class="td2">獎項</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_2a" :key="index">
			<td>{{index}}</td><td>{{item.name}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
<li>
	<div>首獎單雙數字：</div>
	<table>
		<tr><td class="td1">獎項</td><td class="td2">條件</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_ds" :key="index">
			<td>{{item.name}}</td><td>{{item.txt}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
<li>
	<div>首獎高低數字：</div>
	<table>
		<tr><td class="td1">獎項</td><td class="td2">條件</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_ds" :key="index">
			<td>{{item.name}}</td><td>{{item.txt}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
<li>
	<div>首獎明確位數下注：</div>
	<table>
		<tr><td class="td1">獎項</td><td class="td2">條件</td><td class="td3">賠率</td></tr>
		<tr  v-for="(item,index) in max4d_dw" :key="index">
			<td>{{item.name}}</td><td>{{item.txt}}</td><td>{{item.bp}}</td>
		</tr>
	</table>
</li>
            </ul>
    </div>
</template>
  <script>
    export default {
      data() {
        return {
          rule1: Object.freeze([
			{
				ex: '所選擇的號碼相同與首獎，安慰獎1 和 安慰獎2',
				text: '首獎'
			},
			{
				ex: '所選擇的號碼相同與安慰獎1 和 安慰獎2',
				text: '安慰獎1'
			},
			{
				ex: '所選擇的號碼相同與二獎，安慰獎1 和 安慰獎2',
				text: '二獎 + 安慰獎1'
			},
			{
				ex: '所選擇的號碼相同與二獎 和 安慰獎2',
				text: '二獎 + 安慰獎2'
			},
			{
				ex: '所選擇的號碼相同與三獎，安慰獎1 和 安慰獎2',
				text: '三獎 + 安慰獎1'
			},
			{
				ex: '所選擇的號碼相同與三獎 和 安慰獎2',
				text: '三獎 + 安慰獎2'
			},
			{
				ex: '所選擇的號碼相同與首獎，二獎，三獎，安慰獎1 和 安慰獎2',
				text: '首獎 + 二獎 + 三獎'
			},
			{
				ex: '所選擇的號碼相同與首獎，二獎，安慰獎1 和 安慰獎2',
				text: '首獎 + 二獎'
			},
			{
				ex: '所選擇的號碼相同與二獎，三獎，安慰獎1 和 安慰獎2',
				text: '二獎 + 三獎 + 安慰獎1'
			},
			{
				ex: '所選擇的號碼相同與二獎，三獎，和 安慰獎2',
				text: '二獎 + 三獎 + 安慰獎2'
			},
			{
				ex: '所選擇的號碼相同與首獎，三獎，安慰獎1 和 安慰獎2',
				text: '首獎 + 三獎'
			},
			{
				ex: '所選擇的號碼相同與二獎',
				text: '所有二獎獲獎投注的總價值'
			},
			{
				ex: '所選擇的號碼相同與三獎',
				text: '所有三獎獲獎投注的總價值'
			},
			{
				ex: '所選擇的號碼相同與首獎，二獎和三獎',
				text: '	所有獲獎投注的總價值'
			},
		  ]),
          max4d_big: Object.freeze([
			{
				name: '首獎',
				bp: '1800'
			},
			{
				name: '安慰獎 1',
				bp: '100'
			},
			{
				name: '安慰獎 2',
				bp: '10'
			},
			{
				name: '二獎',
				bp: '700'
			},
			{
				name: '三獎',
				bp: '320'
			},
		  ]),
          max4d_small: Object.freeze([
			{
				name: '首獎',
				bp: '3200'
			},
			{
				name: '二獎',
				bp: '950'
			},
			{
				name: '三獎',
				bp: '380'
			},
		  ]),
          max4d_4a: Object.freeze([
			{
				name: '首獎',
				bp: '6500'
			},
		  ]),
          max4d_3abc: Object.freeze([
			{
				name: '首獎',
				bp: '320'
			},
			{
				name: '二獎',
				bp: '95'
			},
			{
				name: '三獎',
				bp: '38'
			},
		  ]),
          max4d_3a: Object.freeze([
			{
				name: '首獎',
				bp: '650'
			},
		  ]),
          max4d_2abc: Object.freeze([
			{
				name: '首獎',
				bp: '32'
			},
			{
				name: '二獎',
				bp: '10'
			},
			{
				name: '三獎',
				bp: '4'
			},
		  ]),
          max4d_2a: Object.freeze([
			{
				name: '首獎',
				bp: '65'
			},
		  ]),
          max4d_ds: Object.freeze([
			{
				name: '首獎千位數 單數',
				txt: '首獎的千位數是單數，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎千位數 雙數',
				txt: '首獎的千位數是雙數，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎百位數 單數',
				txt: '首獎的百位數是雙數，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎百位數 雙數',
				txt: '首獎的百位數是雙數，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎十位數 單數',
				txt: '首獎的十位數是單數，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎十位數 雙數',
				txt: '首獎的十位數是雙數，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎個位數 單數',
				txt: '首獎的個位數是單數，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎個位數 雙數',
				txt: '首獎的個位數是雙數，玩家則贏',
				bp: '1.9'
			},
		  ]),
          max4d_dx: Object.freeze([
			{
				name: '首獎千位數 高',
				txt: '首獎的千位數是在(5, 6, 7, 8, 9)， 玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎千位數 低',
				txt: '首獎的千位數是在(0, 1, 2, 3, 4)， 玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎百位數 高',
				txt: '首獎的百位數是在(5, 6, 7, 8, 9)，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎百位數 低',
				txt: '首獎的百位數是在(0, 1, 2, 3, 4)，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎十位數 高',
				txt: '首獎的十位數是在(5, 6, 7, 8, 9)，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎十位數 低',
				txt: '首獎的十位數是在(0, 1, 2, 3, 4)，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎個位數 高',
				txt: '首獎的個位數是在(5, 6, 7, 8, 9)，玩家則贏',
				bp: '1.9'
			},
			{
				name: '首獎個位數 低',
				txt: '首獎的個位數是在(0, 1, 2, 3, 4)，玩家則贏',
				bp: '1.9'
			},
		  ]),
          max4d_dw: Object.freeze([
			{
				name: '首獎千位數',
				txt: '所選數字與首獎的千位數字相同，玩家則贏',
				bp: '8.5'
			},
			{
				name: '首獎百位數',
				txt: '所選數字與首獎的百位數字相同，玩家則贏',
				bp: '8.5'
			},
			{
				name: '首獎十位數',
				txt: '所選數字與首獎的十位數字相同，玩家則贏',
				bp: '8.5'
			},
			{
				name: '首獎個位數',
				txt: '所選數字與首獎的個位數字相同，玩家則贏',
				bp: '8.5'
			},
		  ])
        }
      }
    }
  </script>
<style lang="stylus" rel="stylesheet/stylus" scpoed>
table
	width: 100%;
	padding: 10px 20px;
	font-size .95rem;
	tr:hover
		background: #f5f7fa;
	td
		border-bottom: 1px solid #c8cedb;
		padding: 12px 10px;
		box-sizing: border-box;
		text-overflow: ellipsis;
		vertical-align: middle;
		position: relative;
		text-align: left;
	.td-head
		text-align left;
.td1
	width 30%;
.td2
	width 50%;
.td3
	width 20%;
</style>
