<template>
    <div >
            <h1>pc蛋蛋</h1>
            <ul>
<li>PC蛋蛋（幸运28）以北京快乐8的开奖结果为基础,营业时间为北京上午09：00至晚上9:00 - 23:55,五分钟一期,共179期.</li>
<li>计算槼则如下:<br/>
1.将北京快乐8排序后,分别按号码第 1~6 , 7~12 , 13~18 分为前中后三个区<br/>
2.把每个区的数字分别相加：三个数值相加求余即为幸运28最终的开奖结果.<br/>
  例:北京快乐8开奖结果为：01 02 04 08 15 16,25 31 40 41 43 47,55 56 59 66 69 74, 78 79.开奖结果即为：6,7,9<br/>
每个号码详细计算步骤：<br/>
第一个号码：1+2+4+8+15+16 = 46%10 = 6<br/>
第二个号码：25+31+40+41+43+47 = 227%10 = 7<br/>
第三个号码：55+56+59+66+69+74 = 379%10 = 9
</li>

<li>具体游戏规则如下：<br/>
特码:开奖三个球号码相加的总和,最小为0,最大为27.<br/>
大：特码大于等于14为大.<br/>
小：特码小于等于13为小.<br/>
单：特码奇数为单,例1,3.<br/>
双：特码偶数为双,例0,2。<br/>
极大:特码大于或等于23为极大。<br/>
极小:特码小于或等于4为极小。<br/>
红波:特码为03,06,09,12,15,18,21,24为红波。<br/>
绿波:特码为01,04,07,10,16,19,22,25为绿波。<br/>
蓝波:特码为02,05,08,11,17,20,23,26为蓝波。
</li>
<li>注意:当特码为0,13,14,27时,所购买的波色皆打和,退还本金！</li>
            </ul>
    </div>
</template>