<template>
    <div class="bet_space official_bet">
        <cube-scroll  ref="scroll">
            <div class="play-info"><i class="fas fa-lightbulb icon-info"></i> 从20个号码中猜开奖号码前三位,投注号码与开奖号码前三位数字、顺序均相同，即中奖</div>
            <div v-for="(item,index) in ruleInfo" :key="index" class="betBlock">
                <div class="numBlock" >
                    <div class="label" style="margin-top: 20px;">
                        <div class="title">{{item.label}}</div>
                        <div class="betToolIcon" @click="showTool(item.row)">
                            <i class="fas fa-caret-square-down" v-show="toolView[item.row]"></i>
                            <i class="fas fa-caret-square-right" v-show="!toolView[item.row]"></i>
                        </div>
                    </div>
                    <div class="nums">
                        <ul>
                            <li v-for="(num,index) in item.nums" :key="index" @click="addBet_OF">
                                <span class="balls" 
                                    :ref="item.row+'-'+num" 
                                    :data-row="item.row" 
                                    :data-value="num"
                                    :data-rule="cal.getSSCdxds(num)"
                                >{{num}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <transition name="betTool">
                    <div class="betTool" v-show="toolView[item.row]" >
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="c">清</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="max">大</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="min">小</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="d">單</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="s">雙</div>
                        <div class="betToolItem" @click="setAction_OF" :data-row="item.row" data-rule="a">全</div>
                    </div>
                </transition>
            </div>
        </cube-scroll>
        <BetBar :options="options" :ruleInfo="ruleInfo"></BetBar>
    </div>
</template>
<script type="text/ecmascript-6">
import BetBar from '@/components/bet-bar-of.vue';
import { OfficialMixin } from '@/mixin_official.js';
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            //toolView:false,
            toolView:{
                0:false,
                1:false,
                2:false,
                3:false,
                4:false,
            },
            rule:'SSC5X_ZH',
            actionRule:'5X_ZH',
            delimiter:' ',
            len:3,
            playedId:this.options.playedId,
            ruleInfo: [{
                label: '第一位',
                row: '0',
                nums: ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20'],
                max:11,
                min:10,
            },{
                label: '第二位',
                row: '1',
                nums: ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20'],
                max:11,
                min:10,
            },{
                label: '第三位',
                row: '2',
                nums: ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20'],
                max:11,
                min:10,
            }
            ],
        }
    },
    props: ['options'],
    methods: {
        showTool(index)
        {
            this.toolView[index] = !this.toolView[index];
        }
    },
    computed: {
        ...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay:"mapByPlay",
            betCfg:"betCfg",
        }),
    },
    components: {
        BetBar,
    },
    created() {
    }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">


</style>