<template>
    <div class="bet_space credit_bet zh_space" >
    <cube-scroll class="scroll_wrapper"
                        ref="scroll">
                <transition name="playmenu">
                    <div v-show="show[0]" class="play-menu">
                        <table>

                            <!-- <tr>
                                <td  class="col3 name zh_name" data-id="6579"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6579].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6580"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6580].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6581"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6581].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6582"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6582].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6583"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6583].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6584"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6584].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6585"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6585].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6586"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6586].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6587"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6587].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6588"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6588].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6589"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6589].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6590"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6590].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6591"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6591].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6592"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6592].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6593"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6593].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6594"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6594].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6595"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6595].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6596"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6596].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6597"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6597].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6598"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6598].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6599"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6599].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6600"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6600].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6601"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6601].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6602"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6602].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6603"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6603].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6604"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6604].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6605"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6605].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6606"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6606].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6607"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6607].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6608"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6608].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6609"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6609].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6610"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6610].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6611"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6611].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6612"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6612].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6613"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6613].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6614"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6614].name+'.png')"></td>
                            </tr> -->

                            <tr>
                                <td  class="col3 name zh_name" data-id="6579"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6579].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6580"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6580].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6581"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6581].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6582"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6582].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6583"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6583].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6584"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6584].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6585"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6585].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6586"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6586].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6587"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6587].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6588"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6588].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6589"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6589].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6590"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6590].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6591"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6591].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6592"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6592].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6593"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6593].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6594"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6594].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6595"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6595].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6596"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6596].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6597"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6597].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6598"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6598].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6599"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6599].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6600"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6600].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6601"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6601].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6602"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6602].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6603"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6603].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6604"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6604].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6605"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6605].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6606"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6606].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6607"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6607].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6608"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6608].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6609"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6609].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6610"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6610].name+'.png')"></td>
                            </tr>
                            <tr>
                                <td  class="col3 name zh_name" data-id="6611"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6611].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6612"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6612].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6613"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6613].name+'.png')"></td>
                                <td  class="col3 name zh_name" data-id="6614"><img class="zh_img" :src="require('@/assets/images/lottery/zh/'+mapByPlay[6614].name+'.png')"></td>
                            </tr>
                        </table>
                        <div class="shadow"></div>
                    </div>
                </transition>

         </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
            1:false,
        },
    };
  },
    components: {
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  created() {
  
  }
};
</script>

<style lang="stylus" rel="stylesheet/stylus" >

</style>

