<template>
    <div class="bet-bar">

                <div v-show='!showme' class="top_betBox" >
                    <div  class='delete'>
                        <a class="blue-color" >
                            <i class="icon-size fas fa-dollar-sign blue-color" ></i> {{user.coin | numFilter}}                                
                        </a>  |                           
                    </div>
                    <div  class='count'>
                        <span ><span  class="colorInherit blue-color" > {{betCount()}} </span>注</span>
                    </div>
                    <div class='import_input'>
                        <div class='input' @click.stop='showBoard' >{{coin}}</div>
                    </div>
                    <div class='import_button'>
                        <div class="button">
                            <cube-button :light="true" @click="postBet_4d(null)">下注</cube-button>
                        </div>
                    </div>
                </div>

        <transition name='board-slide'>
                <div v-show='showme'>
                    <div class="top_betBox input_board" >
                        <div  class='delete'>
                            <a class="blue-color" >
                                <i class="icon-size fas fa-dollar-sign blue-color" ></i> {{user.coin | numFilter}}                                
                            </a>  |                           
                        </div>
                        <div  class='count'>
                            <span ><span class="colorInherit blue-color"> {{betCount()}} </span>注 </span>
                        </div>
                        <div class='import_input'>
                            <div class='input' @click.stop='showBoard' >{{coin}}</div>
                        </div>
                        <div class='import_button'>
                            <div class="button">
                                <cube-button :light="true" @click="postBet_4d(null)">下注</cube-button>
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <ul class="board">
                            <li class="br bt" @click.stop='click(1)'>1</li>
                            <li class="br bt" @click.stop='click(2)'>2</li>
                            <li class="bt br" @click.stop='click(3)'>3</li>
                            <li class="bt coin_color" @click.stop='click(10)'>+10</li>
                            <li class="br bt" @click.stop='click(4)'>4</li>
                            <li class="br bt" @click.stop='click(5)'>5</li>
                            <li class="bt br" @click.stop='click(6)'>6</li>
                            <li class="bt coin_color" @click.stop='click(100)'>+100</li>
                            <li class="br bt" @click.stop='click(7)'>7</li>
                            <li class="br bt" @click.stop='click(8)'>8</li>
                            <li class="br bt" @click.stop='click(9)'>9</li>
                            <li class="bt coin_color" @click.stop='click(1000)'>+1000</li>
                            <li class="br bt dott n" @click.stop="restBet" >
                                <i class="icon-size cubeic-delete blue-color"></i>
                            </li>
                            <li class="br bt" @click.stop='click(0)'>0</li>
                            <li class="br bt delete" @click.stop='deleteLast()' style="font-size: 1.6rem;"><i class="fas fa-backspace"></i></li>
                            <li class="bt coin_color" @click.stop='click(5000)'>+5000</li>
                        </ul>
                    </div>
                    <div class="keyboard_block" @click='hide()'></div>
                </div>
        </transition>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            showme:false,
            coin:'10',
        }
    },
    props: ['options','ruleInfo'],
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            beiShu: "beiShu",
            mapByPlay: "mapByPlay",
            currentIssue: "currentIssue",
            user: "user",
            config: "config",
        }),
    },    
    methods: {
        hide(){
            this.showme = false;
        },
        showBoard(){
            // 不弹出默认的键盘
            this.showme = !this.showme;
        },
        betCount(){
            var betCount = 0;
            for(var i = 0 ;i < this.betData.length;i++)
            {
                betCount += this.betData[i].betCount;
            }
            return betCount;
        },
        betCoin(){
            if(this.betData)
            {
                return this.betData.length*this.coin;
            }else
            {
                return '0';
            }  
        },
        click(num){
            var beiShu=1;
            if(num === '.'){
                this.$store.commit('SetBeiShu','1');
                //this.beiShu='0';
                return ;
            }
            if(this.beiShu!='')
            {
                if(num==0)
                {
                    beiShu = this.beiShu.toString() + '0';
                }
                else
                {
                    beiShu = this.beiShu.toString() + num;
                }
                beiShu = parseInt(beiShu);
            }else
            {
                beiShu=num;
            }
            if(beiShu < 1)
            {
                beiShu = 1;
            }
            this.$store.commit('SetBeiShu',beiShu.toString());
        },
        deleteLast(){
            var beiShu='';
            if(this.beiShu === ''){
                this.showme = false;
            }else{

                beiShu = this.beiShu.substring(0,this.beiShu.length-1);
            }
            this.$store.commit('SetBeiShu',beiShu);
        }
    },

}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.bet-bar
    position: fixed
    bottom: 0
    width: 100%
    background: #fff
    height: 60px
    .blue-color
        color: #ce0e34;
    .icon-size
        font-size: 21px;
        vertical-align: middle;
        -webkit-text-stroke-width: 0px;
    button
        border-radius: 5px !important;
        padding: 10px 10px !important;
        background: #ff5151;
        color: #fff;
    ul
        background-color : #fff
        border-bottom: 1px #ddd solid;
        list-style: none;
    ul,li
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        .coin_color
            color: rgb(25, 180, 245);
    ul>li
        width: 25%;
        height: 60px;
        float: left;
        text-align: center;
        line-height: 60px;
        font-size: 22px;
        color: #000;
        font-weight: bold;
    .br
        border-right: 1px solid #bbb;
    .bt
        border-top: 1px solid #bbb;
    .board-slide-enter,.board-slide-leave-to
	    transform: translateY(276px);
    .board-slide-enter-to,.board-slide-leave
	    transform: translateY(0px);
    .board-slide-enter-active,.board-slide-leave-active
	    transition: all 0.3s;
    .keyboard_block
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 2000px;
        z-index: 9999;
        background: rgba(0,0,0,.5);
        position: fixed;
    .wrap
        position: fixed;
        z-index: 10000;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 240px;
        background: #fff;
    .board
        width: 100%;
        height: 240px;
        background: #fff;
        .icon
            font-size 1.2 rem;
    .delete
        img
            border: none;
            vertical-align: middle;
            width: 2.6rem;
            height: auto;    
    .input_board
        bottom: 240px;
        z-index: 10000 !important;
    .bet-info
        background: #fff !important;
        border-top: 1px #ddd dashed;
        height: 35px !important;
    .top_betBox
        z-index: 9000;
        background: #f5f6f7;
        height: 60px;
        display: table;
        width: 100%;
        position: relative;
        .delete 
            display: table-cell;
            vertical-align: middle;
            position: absolute;
            left: 5px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 5px 0;
        .delete-text
            font-size:14px;
        .count
            display: table-cell;
            vertical-align: middle;
            font-size: 14px;
            padding-left: 108px;
            width: 50%;
        .import_input
            vertical-align: middle;
            position: relative;
            width: 70px;
            padding-right: 5px;
            display: inline-flex;
            .input
                border: 1px solid #ccc;
                height: 25px;
                text-align: center;
                width: 50px;
                overflow: hidden;
                padding: 5px;
                border-radius: 3px;
                background: #fff;
                line-height: 25px;
                margin-top: 11px;
                margin-right: 3px;
            .button-plus
                text-align center;
                border: 1px solid #ccc;
                width: 35px;
                height: 25px;
                padding: 5px;
                border-radius: 3px;
                line-height: 25px;
                margin-top: 11px;
                margin-right: 3px;
                background: #efefef;
        .import_button
            display: table-cell;
            vertical-align: middle;
            position: relative;
            width: 60px;
            padding-right: 5px;
            .button
                vertical-align: middle;
                padding-right: 5px;
                width: 60px;
    .calendar-check
        color:#ff956c;
    .random
        color:#509c38;
    .trash-alt
        color:#9f72dc;
    .bet-bar-text
        color:#666;
        font-weight: bold;
</style>
