<template>
    <div class="bet-bar">
        <div v-show='!showme' class="top_betBox"  >
            <div  class='delete'>
                <a class="blue-color" @click.stop="restBet">
                    <i class="icon-size cubeic-delete"></i>
                    <span class="delete-text">清除</span>
                </a>  |                           
            </div>
            <div  class='count'>
                <span >共<span  class="colorInherit blue-color" > {{betCount()}} </span>注</span>
            </div>
            <div class='import_input'>
                <div class='input' @click.stop='showBoard' >{{coin}}</div>
            </div>
            <div class='import_button'>
                <div class="button">
                    <cube-button :light="true" @click="postBet">下注</cube-button>
                </div>
            </div>
        </div>
        <transition name='board-slide'>
            <div v-show='showme'>
                   <div class="top_betBox input_board">
                        <div  class='delete'>
                            <a class="blue-color" @click.stop="restBet">
                                <i class="icon-size cubeic-delete"></i>
                                <span class="delete-text">清除</span>
                            </a>  |                           
                        </div>
                        <div  class='count'>
                            <span >共<span  class="colorInherit blue-color" > {{betCount()}} </span>注</span>
                        </div>
                        <div class='import_input'>
                            <div class='input' @click.stop='showBoard' >{{coin}}</div>
                        </div>
                        <div class='import_button'>
                            <div class="button">
                                <cube-button :light="true" @click="postBet">下注</cube-button>
                            </div>
                        </div>
                    </div>
                <div class="wrap">
                    <ul class="board">
                        <li class="br bt" @click.stop='click(1)'>1</li>
                        <li class="br bt" @click.stop='click(2)'>2</li>
                        <li class="bt br" @click.stop='click(3)'>3</li>
                        <li class="bt coin_color" @click.stop='plus_click(10)'>+10</li>
                        <li class="br bt" @click.stop='click(4)'>4</li>
                        <li class="br bt" @click.stop='click(5)'>5</li>
                        <li class="bt br" @click.stop='click(6)'>6</li>
                        <li class="bt coin_color" @click.stop='plus_click(100)'>+100</li>
                        <li class="br bt" @click.stop='click(7)'>7</li>
                        <li class="br bt" @click.stop='click(8)'>8</li>
                        <li class="br bt" @click.stop='click(9)'>9</li>
                        <li class="bt coin_color" @click.stop='plus_click(1000)'>+1000</li>
                        <li class="br bt dott n" @click.stop='click(".")' style="color: red;">C</li>
                        <li class="br bt" @click.stop='click(0)'>0</li>
                        <li class="br bt delete" @click.stop='deleteLast()' style="font-size: 1.6rem;"><i class="fas fa-backspace"></i></li>
                        <li class="bt coin_color" @click.stop='plus_click(5000)'>+5000</li>
                    </ul>
                </div>
                <div class="keyboard_block" @click='hide()'></div>
            </div>
        </transition>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
    data() {
        return {
            showme:false,
            coin:'10',
        }
    },
    props: ['type_id'],
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            mapByPlay: "mapByPlay",
            currentIssue: "currentIssue",
            user: "user",
            config: "config",
        }),
    },    
    methods: {
        hide(){
            this.showme = false;
        },
        showBoard(){
            // 不弹出默认的键盘
            this.showme = !this.showme;
        },
        betCount(){
            if(this.betData)
            {
                return this.betData.length;
            }else
            {
                return '0';
            }  
        },
        betCoin(){
            if(this.betData)
            {
                return this.betData.length*this.coin;
            }else
            {
                return '0';
            }  
        },
        plus_click(num){
            if(num === '.'){
                this.coin='';    
                return ;
            }
            if(this.coin!='')
            {
                if(num==0)
                {
                    this.coin = (parseInt(this.coin) *10).toString();
                }else
                {
                    this.coin = (parseInt(this.coin) + num).toString();
                }
            }else
            {
                this.coin=num.toString();
            }
        },
        click(num){
            if(num === '.'){
                this.coin='';    
                return ;
            }
            if(this.coin!='')
            {
                // if(num==0)
                // {
                //     this.coin = (parseInt(this.coin) *10).toString();
                // }else
                // {
                //     this.coin = (parseInt(this.coin) + num).toString();
                // }
                this.coin = this.coin + num.toString();
            }else
            {
                this.coin=num.toString();
            }
            
        },
        deleteLast(){
            if(this.coin === ''){
                this.showme = false;
            }else{

                    this.coin = this.coin.substring(0,this.coin.length-1);
            }
        }
    },

}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.bet-bar
    position: fixed
    bottom: 0
    width: 100%
    background: #fff
    height: 60px
    button
        border-radius: 5px !important;
        padding: 10px 10px !important;
        background: #ff5151;
        color: #fff;
    ul
        background-color : #fff
        border-bottom: 1px #ddd solid;
        list-style: none;
    ul,li
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        .coin_color
            color: rgb(25, 180, 245);
    ul>li
        width: 25%;
        height: 60px;
        float: left;
        text-align: center;
        line-height: 60px;
        font-size: 22px;
        color: #000;
        font-weight: bold;
    .br
        border-right: 1px solid #bbb;
    .bt
        border-top: 1px solid #bbb;
    .board-slide-enter,.board-slide-leave-to
	    transform: translateY(300px);
    .board-slide-enter-to,.board-slide-leave
	    transform: translateY(0px);
    .board-slide-enter-active,.board-slide-leave-active
	    transition: all .3s;
    .keyboard_block
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 2000px;
        z-index: 9999;
        background: rgba(0,0,0,.5);
        position: fixed;
    .wrap
        position: fixed;
        z-index: 10000;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 240px;
        background: #fff;
    .board
        width: 100%;
        height: 240px;
        background: #fff;
    .delete
        img
            border: none;
            vertical-align: middle;
            width: 2.6rem;
            height: auto;    
    .input_board
        bottom: 240px;
        z-index: 10000 !important;
    .top_betBox
        z-index: 10000;
        background: #f5f6f7;
        height: 60px;
        display: table;
        width: 100%;
        position: relative;
        .delete 
            display: table-cell;
            vertical-align: middle;
            width: 70px;
            position: absolute;
            left: 5px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 5px 0;
        .delete-text
            font-size:14px;
        .count
            display: table-cell;
            vertical-align: middle;
            font-size: 14px;
            padding-left: 70px;
        .import_input
            display: table-cell;
            vertical-align: middle;
            position: relative;
            width: 100px;
            padding-right: 10px;
            .input
                border: 1px solid #ccc;
                height: 25px;
                text-align: left;
                width: 100px;
                overflow: hidden;
                padding: 5px;
                border-radius: 3px;
                background: #fff;
                line-height: 25px;
        .import_button
            display: table-cell;
            vertical-align: middle;
            position: relative;
            width: 60px;
            padding-right: 5px;
            .button
                vertical-align: middle;
                padding-right: 5px;
                width: 60px;
</style>
