<template>
  <div class="cube-page" :class="type">
    <header class="header">
      <h1 class="header-title">
        <div style="margin-right: 5px;" @click="getPlayMenu" v-if="options.model=='official'"><i class="fas fa-caret-square-down"></i></div>
        {{title}} 
        <div style="margin-left: 5px;" v-if="options.type_id==20 || options.type_id==61 || options.type_id==62 || options.type_id==63 || options.type_id==75 || options.type_id==95 || options.type_id==96 || options.type_id==99 || options.type_id==100" @click="video"><i class="fas fa-video"></i></div>
      </h1>
      <i @click="back" class="cubeic-back"></i>
      <i class="cubeic-more" @click="showSideBar"></i>
    </header>
    <div class="wrapper">
      <section v-show="desc" class="desc"><slot name="desc">{{desc}}</slot></section>
      <main class="content">
        <slot name="content">{{content}}</slot>
      </main>
    </div>
    <component :is="default_view" ref="race_component" :type_id="options.type_id" ></component>
    <transition name="filtermenu">
      <SideBar v-if="side_bar" :options="options" v-on:callback="switchBar" v-on:switchView="CallView"></SideBar>
    </transition>
    <transition name="filtermenu">
      <component :is="default_view2" v-if="show_view" :options="options" v-on:switchView2="CallView2"></component>
    </transition>
    <transition name="filtermenu">
      <keep-alive>
        <component :is="default_view3" v-if="show_view3" :options="options" v-on:callback="closePlayMenu" v-on:closePlayed="PlayedID"></component>
      </keep-alive>
    </transition>
    <transition name="filtermenu">
        <component :is="zhuihao_view" v-if="show_zhuihao" :options="options" v-on:callback="closePlayMenu" v-on:switchView2="CloseZhuihao"></component>
    </transition>
  </div>
</template>

<script type="text/ecmascript-6">
import pk10_ft from '@/components/race/pk10/ft/ft.vue';
import pk10_car from '@/components/race/pk10/car/car.vue';
import SideBar from '@/components/side-bar.vue';
import RuleIndex from '@/components/rule/index.vue';
import BetLog from '@/pages/user/betlog.vue';
import CodeList from '@/pages/game/code-list.vue';
import HotLost from '@/pages/game/hotlost.vue';
import Clong from '@/pages/game/clong.vue';

import { mapGetters } from "vuex";
  export default {
  data() {
      return {
        side_bar:false,
        show_view:false,
        show_view3:false,
        show_zhuihao:false,
        default_view:null,
        default_view2:null,
        default_view3:null,
        zhuihao_view:null,
      }
  },
  props: {
      title: {
        type: String,
        default: '',
        required: true
      },
      type: {
        type: String,
        default: ''
      },
      desc: {
        type: String,
        default: ''
      },
      content: {
        type: String,
        default: ''
      },
      options: {
        type: Object,
        default() {
          return {}
        }
      }
    },
    methods: {
      CloseZhuihao()
      {
        this.show_zhuihao=false;
      },
      zhuihao()
      {
          this.show_zhuihao = true;
          this.zhuihao_view = require('@/pages/game/zhuihao.vue').default;
      },
      PlayedID(id)
      {
        //this.show_view3=false;
        this.$emit('closePlayed',id);
      },
      closePlayMenu()
      {
        this.show_view3=false;
      },
      getPlayMenu()
      {
        this.default_view3 = require('@/components/game/official/menu.vue').default;
        // switch(this.options.group_type)
        // {
        //   case 1:
        //     this.default_view3 = require('@/components/game/official/menu.vue').default;
        //     break;
        // }
        this.side_bar=false;
        this.show_view3=true;
      },
      back() {
        this.$router.back()
      },
      video()
      {
        this.$refs.race_component.video();
      },
      switchBar()
      {
        this.side_bar=false;
      },
      showSideBar() {
        this.side_bar=true;
      },
      CallView(path)
      {
        switch(path)
        {
          case "rule":
            this.default_view2=RuleIndex;
            break;
          case "betlog":
            this.default_view2=BetLog;
            break;
          case "codelist":
            this.default_view2=CodeList;
            break;
          case "hotlost":
            this.default_view2=HotLost;
            break;
          case "clong":
            this.default_view2=Clong;
            break;
        }
        //console.log(path);
        this.side_bar=false;
        this.show_view=true;
      },
      CallView2()
      {
        this.show_view=false;
      },

    },
    created() {
        if(this.options.type_id==20 || this.options.type_id==75 || this.options.type_id==95 || this.options.type_id==96 || this.options.type_id==99 || this.options.type_id==100)
        {
          this.default_view=pk10_car;
        }
        if(this.options.type_id==61 || this.options.type_id==62 || this.options.type_id==63)
        {
          this.default_view=pk10_ft;
        }
    },
    components: {
      SideBar,
    },    
  }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  .cube-page
    position: absolute
    z-index: 10
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #efeff4
    .header
      position: relative
      height: 44px
      line-height: 44px
      text-align: center
      background-color: #edf0f4
      box-shadow: 0 1px 6px #ccc
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      z-index: 5
      h1
        font-size: 16px
        font-weight: 700
        display: flex;
        justify-content: center;
      .cubeic-back
        position: absolute
        top: 0
        left: 0
        padding: 0 15px
        color: #fc9153
      .cubeic-more
        position: absolute
        top: 0
        right: 0
        padding: 0 15px
        color: #fc9153
    >.wrapper
      height: calc(100% - 44px)
      overflow-x: hidden
      overflow-y: auto
      background-color: #fff ;
      // -webkit-overflow-scrolling: touch
      .desc
        padding: 10px
        margin: 10px 0
        line-height: 20px
        font-size: 14px
      .content
       // margin: 10px
    &.option-demo
      .wrapper
        background-color: $color-white
      .title
        font-size: $fontsize-large
        font-weight: 500
        color: $color-dark-grey
        padding: 15px
        border-bottom: 1px solid rgba(0, 0, 0, .1)
        margin-bottom: 15px
      .options
        margin-bottom: 15px
      .option-list
        .group
          margin-bottom: 15px
          border: 1px solid rgba(0, 0, 0, .1)
          border-radius: $radius-size-medium
        .item
          height: 52px
          border-bottom: 1px solid rgba(0, 0, 0, .1)
          &.sub
            font-size: $fontsize-medium
            background-color: $color-light-grey-opacity
            &.first
              box-shadow: 0 1px 1px 1px #eee inset
            &.last
              border-bottom: none
      .demo
        margin-bottom: 15px
      .methods
        .method-list
          .group
            margin-bottom: 15px
            border: 1px solid rgba(0, 0, 0, .1)
            border-radius: $radius-size-medium
          .item
          button
            height: 40px
            font-size: $fontsize-large
          .item
            background-color: $color-active-light-gray
            border-bottom: 1px solid rgba(0, 0, 0, .1)
          button
            width: 100%
            border-bottom-left-radius: $radius-size-medium
            border-bottom-right-radius: $radius-size-medium
            background-color: $color-orange
            box-shadow: 0 0 0 1px $color-orange
            border: none
            outline: none
            color: $color-white
.filtermenu-enter,.filtermenu-leave-to 
  transform translateX(100%)
.filtermenu-enter-to,.filtermenu-leave 
  transform translateX(0)
.filtermenu-enter-active,.filtermenu-leave-active 
  transition all 0.5s
</style>
