<template>
    <div class="showCode">
        <div v-if="last" class="code-wrap" >
            <div class="perio">
                <div v-if="last.openCode!=null" class="perio-code" >
                    <span class="span-pt" ><span class="blue-color">{{last.actionNo}}</span>期</span>
                    <div class="nums-wrap" style="padding-top: 9px;">
                        <span class="round blue-bgcolor" v-for="(item,index) in str_split(last.openCode['1st'])" :key="index">{{item}}</span>
                    </div>
                </div>
                <div v-else class="perio-code">
                    <span class="span-pt" ><span class="blue-color">{{last.actionNo}}</span>期</span>
                    <div class="lds-css ng-scope" style="float: left;"><div style="width:100%;height:100%;" class="lds-ellipsis"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div>
                </div>
                <div class="see-more" @click.stop="openHistory">
                    <i class="icon fas fa-ellipsis-h pull-right"></i>
                    <i class="icon fas fa-chevron-right pull-right"></i>
                </div>
            </div>
            <div >
                <span class="span-nt"><span class="blue-color">{{current.actionNo}}</span>期 {{count_down_info}}:</span><span class="time">{{day}}:{{hr}}:{{min}}:{{sec}}</span>
                <!-- <a href="javascript:;" class="history_btn blue-color" @click.stop="openHistory">
                    <span class="icon-size cubeic-remove" v-if="show_history"></span><span class="icon-size cubeic-add" v-else></span> <span class="open_history_font">开奖走势</span>
                </a> -->
                <div style="margin-bottom: 10px;"></div>
                <transition name="history">
                    <div v-if="show_history" class="history_div">
                        <cube-scroll class="scroll_wrapper" ref="scroll" :data="history" :options="scrollLogOpts" @pulling-down="logRefresh" @pulling-up="logLoadMore">
                            <table>
                                <tr><td class="head-size">期数</td><td class="head-size">开奖号码</td></tr>
                                <tr v-for="(item,index) in history" :key="index">
                                    <td>#{{get_no(item.actionNo)}}</td>
                                    <td>
                                        <div>
                                            First prize(首獎): <br>
                                            <span  v-for="(item,index) in str_split_4d(item.openCode['1st'])" :key="index">
                                                <span class="round" v-if="item!=' '">{{item}}
                                                </span>
                                                <span v-else>&nbsp;&nbsp;</span>
                                            </span>
                                        </div>
                                        <div>
                                            Second prize(第二獎): <br>
                                            <span  v-for="(item,index) in str_split_4d(item.openCode['2nd'])" :key="index">
                                                <span class="round" v-if="item!=' '">{{item}}
                                                </span>
                                                <span v-else>&nbsp;&nbsp;</span>
                                            </span>
                                        </div>
                                        <div>
                                            Third prize(第三獎): <br>
                                            <span  v-for="(item,index) in str_split_4d(item.openCode['3th'])" :key="index">
                                                <span class="round" v-if="item!=' '">{{item}}
                                                </span>
                                                <span v-else>&nbsp;&nbsp;</span>
                                            </span>
                                        </div>
                                        <div>
                                            Encouragement prize 1(安慰獎 1): 
                                            <span  v-for="(item,index) in str_split_4d(item.openCode['en1'])" :key="index">
                                                <span class="round" v-if="item!=' '">{{item}}
                                                </span>
                                                <span v-else>&nbsp;&nbsp;</span>
                                            </span>
                                        </div>
                                        <div>
                                            Encouragement prize 2(安慰獎 2): 
                                            <span  v-for="(item,index) in str_split_4d(item.openCode['en2'])" :key="index">
                                                <span class="round" v-if="item!=' '">{{item}}
                                                </span>
                                                <span v-else>&nbsp;&nbsp;</span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </cube-scroll>
                        <div class="shadow"></div>
                    </div>
                </transition>
            </div>
        </div>
        <div class="noissue" v-else>
            <div class="lds-css ng-scope" @click.stop="getIssue()" >奖期信息读取中 <i class="fas fa-sync-alt" ></i> 点击刷新<div style="width:100%;height:100%;" class="lds-ellipsis"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div>
        </div>
        <div class="Max4D-tools">
            <div style="display: flex;">
                <div class="Max4D-item" @click.stop="select_gplay(265)" :class="{'Max4D-item-checked':$parent.options.gplayedId==265}">4D</div>
                <div class="Max4D-item Max4D-mitem" @click.stop="select_gplay(266)" :class="{'Max4D-item-checked':$parent.options.gplayedId==266}">3D</div>
                <div class="Max4D-item" @click.stop="select_gplay(267)" :class="{'Max4D-item-checked':$parent.options.gplayedId==267}">2D</div>
                <div class="Max4D-item" @click.stop="select_gplay(268)" :class="{'Max4D-item-checked':$parent.options.gplayedId==268}">首奖</div>
            </div>
            <transition name="history">
                <div v-if="show_4d_menue">
                    <div class="Max4D-play-menue">
                        <div v-for="(item,index) in max4d_play" :key="index" class="Max4D-play-sub-menue">
                            <div class="Max4D-play-btn" :class="{'Max4D-play-btn-checked':item.id==$parent.options.playedId}" @click.stop="select_play(item.id)">
                                {{item.name}}
                            </div>
                        </div>
                    </div>
                    <div class="shadow" style="bottom: 1px;"></div>
                </div>
            </transition>
        </div>
        <transition name="block">
            <div class="keyboard_block" @click='hide()' v-if="show_history"></div>
        </transition>
        <transition name="block">
            <div class="keyboard_block" @click='hide()' v-if="show_4d_menue"></div>
        </transition>
    </div>
</template>

<script type="text/ecmascript-6">
import { apiGetRecentOpenCode,apiGetCurrentIssue } from '@/api.js'
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            cd:null,
            //noCodeCD:null,
            regetIssue:null,
            show_history: false,
            show_4d_menue: false,
            day: 0, hr: 0, min: 0, sec: 0,
            preTred:[],
            current:null,
            last:null,
            history:[],
            entry:true,
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            count_down_info:'封盘',
            current_page:1,
            //max4d_play:{},
            max_4d_play_data:Object.freeze({
                '265':[
                    {
                        id:6644,
                        name:'4D大',
                    },
                    {
                        id:6645,
                        name:'4D小',
                    },
                    {
                        id:6646,
                        name:'4A',
                    },
                ],
                '266':[
                    {
                        id:6647,
                        name:'3ABC',
                    },
                    {
                        id:6648,
                        name:'3A',
                    },
                ],
                '267':[
                    {
                        id:6649,
                        name:'2ABC',
                    },
                    {
                        id:6650,
                        name:'2A',
                    },
                ],
                '268':[
                    {
                        id:6651,
                        name:'首奖单双',
                    },
                    {
                        id:6659,
                        name:'首奖高低',
                    },
                    {
                        id:6667,
                        name:'首奖位数',
                    }
                ],
            }),
        }
    },
    mounted(){
         //this.CallnoCode();
    },
    props:{
      options: {
        type: Object,
        default() {
          return {}
        }
      },
    },
    components: {
    },
    methods: {
        select_play(play)
        {
            this.$parent.options.playedId = play;
            this.show_4d_menue = true;
            this.show_history=false;
            return;
        },
        select_gplay(play)
        {
            this.$parent.options.gplayedId = play;
            this.show_4d_menue = true;
            this.show_history=false;
            return;
        },
        get_no(str)
        {
            str = str.toString();
            return str.substr(str.length-3,3)
        },
        hide()
        {
            this.show_history=false;
            this.show_4d_menue=false;
        },
        getOcs(code)
        {
            var tred=this.ocs.generate(this.options.group_type,code);
            var hisTred=[];
            for(var k in tred)
            {
                hisTred.push(tred[k]);
            }
            return hisTred;
        },
        openHistory(){
            if(!this.show_history)
            {
                this.toast('Loading...',null,0,'loading'); // 防用户连点
                this.getOpenCode(1);
            }
            this.show_history = !this.show_history;
            this.show_4d_menue=false;
            return;
        },
        countDown() {
            clearInterval(this.cd);
            if(this.current.countdown<=0)
            {
                //this.$store.commit('SetIssue',null);
                this.getIssue();
                //this.countDown_for_next();
                return;
            }
            // if(this.current.countdown<=0)
            // {
            //     //this.$store.commit('SetIssue',null);
            //     //this.getIssue();
            //     var clientTime=(Date.parse( new Date())/1000);
            //     this.current.countdown = this.current.actionTime - clientTime;
            //     this.count_down_info = '开奖';
            //     this.countDown_for_next();
            //     return;
            // }
            this.current.countdown=this.current.countdown-1;
            //this.$store.commit('SetRaceCountdown',this.current.countdown);
            const msec = this.current.countdown;
            var timeData=this.gethms(msec);
            this.day = timeData.day;
            this.hr = timeData.hr;
            this.min = timeData.min;
            this.sec = timeData.sec;
            let time={
                hr:timeData.hr,
                min:timeData.min,
                sec:timeData.sec,
            };
            //this.$store.dispatch('setbetCountdown',time);
            this.cd = setInterval(() => {
                    this.countDown();
            }, 1000);
        },
        countDown_for_next() {
            clearInterval(this.cd);
            if(this.current.countdown<=0)
            {
                //this.$store.commit('SetIssue',null);
                this.getIssue();
                //this.countDown_for_next();
                return;
            }
            this.current.countdown=this.current.countdown-1;
            //this.$store.commit('SetRaceCountdown',this.current.countdown);
            const msec = this.current.countdown;
            var timeData=this.gethms(msec);
            this.day = timeData.day;
            this.hr = timeData.hr;
            this.min = timeData.min;
            this.sec = timeData.sec;
            let time={
                hr:timeData.hr,
                min:timeData.min,
                sec:timeData.sec,
            };
            //this.$store.dispatch('setbetCountdown',time);
            this.cd = setInterval(() => {
                    this.countDown_for_next();
            }, 1000);
        },
        getOpenCode(page)
        {
            apiGetRecentOpenCode({
                    type_id : this.options.type_id,
                    page: page,
                })
                .then(response => {
                    this.$createToast().hide();
                    //console.log(response);
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.history.splice(0,this.history.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }
                        this.history=this.history.concat(response.data.data);
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$createToast().hide();
                    return;
                }); 
        },
        getIssue()
        {
            clearInterval(this.regetIssue);
            apiGetCurrentIssue({
                    type_id : this.options.type_id,
                })
                .then(response => {
                    //console.log(response);
                    this.count_down_info = '封盘';
                    if(response.data.error)
                    {
                        this.toast(response.data.error);
                    }
                    this.last=response.data.last;
                    
                    if(!this.last)
                    {
                        clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 3000);
                        return;
                    }
                   //this.last.openCode=null;
                    this.$store.commit('SetLastIssue',this.last);
                    if(this.last.openCode!=null)
                    {
                        //clearInterval(this.noCodeCD);
                        this.preTred.splice(0,this.preTred.length);
                        var tred=this.ocs.generate(this.options.group_type,this.last.openCode.toString());
                        for(var k in tred)
                        {
                            this.preTred.push(tred[k]);
                        }
                    }else
                    {
                        clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 3000);
                    }
                    if(response.data.current.actionNo==null)
                    {
                        this.toast("尚未开放投注");
                        return;
                    }
					// if(!this.current)
                    // {
                    var clientTime=(Date.parse( new Date())/1000);
                    var check_countdown=response.data.current.stopTime-clientTime;
					this.current=response.data.current;
                    this.current.countdown=check_countdown;

					if(clientTime >= response.data.current.actionTime)
					{
						clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 1000);
						return;
                    }
                    if(check_countdown <= 0)
					{
						clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 1000);
						return;
                    }                       
                    // if(check_countdown <= 0)
					// {
                    //     this.current.countdown = this.current.actionTime - clientTime;
                    //     this.count_down_info = '开奖';
                    //     this.countDown_for_next();
					// 	return;
                    // }                    
					this.$store.commit('SetIssue',this.current);
					var timeData=this.gethms(check_countdown);
					this.day = timeData.day;
					this.hr = timeData.hr;
					this.min = timeData.min;
					this.sec = timeData.sec;
					let time={
						hr:timeData.hr,
						min:timeData.min,
						sec:timeData.sec,
					};
					//this.$store.dispatch('setbetCountdown',time);
                    clearInterval(this.cd);
                    this.entry = false;
					this.cd = setInterval(() => {
							this.countDown();
					}, 1000);					
					return;
                }).catch(error => {
                    this.toast(error);
                    // clearInterval(this.regetIssue);
                    // this.regetIssue= setInterval(() => {
                    //     this.getIssue();
                    // }, 3000);
                    console.log(error);
                    return;
                });
        },
        getHistoryType()
        {
            var type = this.options.group_type;
            if(type==17)
            {
                return 4;
            }
            if(type==15)
            {
                return 3;
            }
            if(type==11 || type==9  || type==3 || type==15)
            {
                return 2;
            }
            if(type==1 || type==2 || type==4 || type==6 || type==8 || type==12)
            {
                return 1;
            }
        },
        logRefresh(){
            this.current_page=1;
            setTimeout(() => {
                this.getOpenCode(this.current_page);
            }, 1000);
        },
        logLoadMore(){
            this.current_page++;
            setTimeout(() => {
                this.getOpenCode(this.current_page);
            }, 1000);
        },
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            betCountdown: "betCountdown",
            currentIssue: "currentIssue",
            lastIssue: "lastIssue",
            mapByPlay: "mapByPlay",
            //mapByGroupToPlay: "mapByGroupToPlay",
            user: "user",
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.log.pullUpLoadNoMoreTxt
                    }
                },
                scrollbar: true
            }
        },
        max4d_play()
        {
            return this.max_4d_play_data[this.options.gplayedId];
        }
    },
    created() {
        this.getIssue();
    },
    destroyed: function() {
        clearInterval(this.cd);
        //clearInterval(this.noCodeCD);
        clearInterval(this.regetIssue);
    }    
}
</script>

<style lang="stylus" rel="stylesheet/stylus" >
.showCode
    font-size: 14px;
    .code-wrap
        position: fixed;
        top:44px;
        left: 0;
        width: 100%;
        height: 86px;
        background: #fff;
        z-index: 9998;
    .code-wrap-zh
        height: 75px;
    .keyboard_block
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 2000px;
        z-index: 9997;
        background: rgba(0,0,0,.5);
        position: fixed;
    .openCode_block
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 2000px;
        z-index: 9999;
        background: rgba(0,0,0,.5);
        position: fixed;
    .pcdd_red
        background: #ff5151 !important;
        border-color: #ff5151 !important;
        color: #fff !important;
    .pcdd_green
        background: #3fa93f !important;
        border-color: #3fa93f !important;
        color: #fff !important;
    .pcdd_blue
        background: #2f84e5 !important;
        border-color: #2299d5 !important;
        color: #fff !important;
    .pcdd_no
        background: gray !important;
        border-color: gray !important;
        color: #fff !important;
    .Max4D-tools
        position: fixed;
        top: 130px;
        left: 0;
        width: 100%;
        height: 25px;
        border-top: 1px #ddd solid;
        z-index: 9998;
        background: #fff;
        .Max4D-item-checked
            color: #ce0e34;
        .Max4D-item
            width 33.3%;
            text-align center;
            line-height: 25px;
            border-right: 1px #ddd solid;
        .Max4D-item:last-child
            border-right: unset;
        .Max4D-play-menue
            border-top: 1px #ddd solid;
            background: #f5f6f7;
            width: 100%;
            padding-top: 3px;
            padding-bottom: 15px;
            .Max4D-play-sub-menue
                width: 20.4%;
                background: #f5f6f7;
                text-align: center;
                display: inline-block;
                margin-top: 10px;
                margin-left: 10px;
                .Max4D-play-btn
                    border: 1px #ddd solid;
                    border-radius: 4px;
                    padding: 10px 3px;
                .Max4D-play-btn-checked
                    border: 1px #ce0e34 solid;
    .perio
        padding 5px 0px;
        display: flex;
        .k3
            width: 1.5rem;
            padding: 4px 4px 1px 0px;
            display: inline-block;
            vertical-align: middle;
        .ld
            width: 2rem;
            padding: 6px 0px 2px 0px;
            margin-left: 7px;
            display: inline-block;
            vertical-align: middle;
        .see-more
            margin-top: 15px;
            padding-left: 25px;
            font-size: 1.2rem;
            color: #ce0e34;
    .perio-code
        height: 51px;
        display: flex;
    .perio-code-zh
        height: 30px;
    table
        width: 100%;
        background: #f5f6f7;
    td
        /* width 50%; */
        text-align center;
        border-top: 1px #ccc solid;
        border-right: 1px #ccc solid;
        padding: 5px;
        vertical-align: middle;
    td:last-child
        border-right: 0px;
        text-align: left;
    .head-size
        font-weight: bold;
    .span-pt
        float:left;
        margin-left :5px;
        padding-top :17px;
        padding-right :10px;
    .span-pt-zh
        padding-top :9.3px;
    .span-nt
        float:left;
        margin-left :5px;
    .round
        display: inline-block;
        text-align: center;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: .9rem;
        color: #fff;
        margin-top: .3rem;
        margin-right: .1rem;
        line-height: 1.2rem;
        font-size: .9rem;
    .pcround
        border: 1px #17b1f2 solid !important;
        color: #17b1f2 !important;
        margin-bottom 1px;
    /* .biground
        display: inline-block;
        text-align: center;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: .9rem;
        color: #fff;
        margin-top: .7rem;
        margin-right: .1rem;
        line-height: 1.2rem;
        font-size: .9rem; */
    .square
        display: inline-block;
        text-align: center;
        width: 1.1rem;
        height: 1.2rem;
        color: #fff;
        margin-top: .3rem;
        margin-right: .1rem;
        line-height: 1.2rem;
        font-size: .9rem;
        border-radius: 3px; 
        font-style: italic;
        -webkit-text-stroke: .5px #333;
        font-weight: 600;
        .color1
            background-color: #e5b800;
        .color2
            background-color: #0278d7;
        .color3
            background-color: #474c50;
        .color4
            background-color: #f17403;
        .color5
            background-color: #25b5cb;
        .color6
            background-color: #003e92;
        .color7
            background-color: #aa9e9e;
        .color8
            background-color: #ea075f;
        .color9
            background-color: #7e0209;
        .color10
            background-color: #288c06;
    .d-roll-wrapper
        margin-bottom 7.9px;
    .noissue
        text-align: -webkit-center;
        padding: 14.5px;
        font-size: 1rem;
    .resultData
        border: solid 1px #17b1f2;
        border-radius: 4px;
        text-decoration: none;
        color: #19b4f5;
        text-align: center;
        margin-right: 0.1rem;
        font-size: 0.9rem;
        line-height: 1.3rem;
        display: inline-block;
        margin-top: 0.1rem;
        margin-bottom: 0.3rem;
        padding: 1.2px;
        min-width: 1rem;
    .time
        -webkit-box-shadow: inset 1px 1px 0 rgba(250,250,250,0.22), 0 1px 0 rgba(0,0,0,0.22);
        box-shadow: inset 1px 1px 0 rgba(169, 166, 166, 0.22), 0 1px 0 rgba(0,0,0,0.22);
        background-color: rgba(255, 255, 255, 0.15);
        padding: 2px 5px;
        border-radius: 2px 2px 2px 2px;
    .history_btn
        float right;
        margin-right 8px;
    .scroll_wrapper
        height 250px;
    .open_history_font
        height: 20px;
    .history_div
        margin-top 37px;
        height 254px;
        overflow-x: hidden;
        background: #f5f6f7;
        width: 100%;
        .round
            display: inline-block;
            text-align: center;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 0.9rem;
            background: #ce0e34;
            color: #fff;
            margin-top: 0.3rem;
            margin-right: 0.1rem;
            line-height: 1.2rem;
            font-size: 0.9rem;
            margin-right: 4px;
        .k3
            width: 1.5rem;
            padding: 3px;
            display: inline-block;
            vertical-align: middle;
        .ld
            width: 3rem;
            padding: 3px;
            display: inline-block;
            vertical-align: middle;
    .history-enter,.history-leave-to
        max-height: 0px;
    .history-enter-to,.history-leave
        max-height: 180px;
    .history-enter-active,.history-leave-active
        transition: all 0.3s;
    .block-enter,.block-leave-to
        opacity: 0;
    .block-enter-to,.block-leave
        opacity: 1;
    .block-enter-active,.block-leave-active
        transition: all 0.5s;
    .zh-open-gif
        position: fixed;
        top:60px;
        left: 0;
        width: 100%;
        z-index: 9998;

@keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.lds-ellipsis {
  position: relative;
}
.lds-ellipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.lds-ellipsis div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top: 100px;
  left: 32px;
  -webkit-animation: lds-ellipsis 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.lds-ellipsis div:nth-child(1) div {
  -webkit-animation: lds-ellipsis2 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis2 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #ffb900;
}
.lds-ellipsis div:nth-child(2) div {
  -webkit-animation-delay: -1.75s;
  animation-delay: -1.75s;
  background: #6a67ce;
}
.lds-ellipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.875s;
  animation-delay: -0.875s;
  background: #1aafd0;
}
.lds-ellipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #3be8b0;
}
.lds-ellipsis div:nth-child(5) div {
  -webkit-animation: lds-ellipsis3 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis3 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #ffb900;
}
.lds-ellipsis {
  width: 80px !important;
  height: 30px !important;
  -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
  transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
}
</style>
