<template>
    <div class="showCode">
        <div v-if="last" class="code-wrap" >
            <div class="perio">
                <div v-if="last.openCode!=null" class="perio-code" >
                    <span class="span-pt" ><span class="blue-color">{{last.actionNo}}</span>期</span>
                    <div class="nums-wrap" >
                        <span v-if="options.group_type == 17">
                            <img  class="ld" :src="require('@/assets/images/ld/'+item+'.png')" v-for="(item,index) in str_split(last.openCode)" :key="index">
                        </span>
                        <span v-if="options.group_type == 9">
                            <img class="k3" :src="require('@/assets/images/k3/'+item+'.png')" v-for="(item,index) in str_split(last.openCode)" :key="index">
                        </span>
                        <span v-if="options.group_type == 1 || options.group_type == 2 || options.group_type == 3  || options.group_type == 4  || options.group_type == 8">
                            <span class="round blue-bgcolor" v-for="(item,index) in str_split(last.openCode)" :key="index">{{item}}</span>
                        </span>
                        <span v-if="options.group_type == 12">
                            <span class="round" :class="lhc_color(item)" v-for="(item,index) in str_split(last.openCode)" :key="index">{{item}}</span>
                        </span>
                        <span v-if="options.group_type == 15">
                            <span class="round blue-bgcolor" >{{last.openCode}}</span>
                        </span>
                        <span v-if="options.group_type == 6">
                            <span class="square" :class="'color'+numberPk10(item)" v-for="(item,index) in str_split(last.openCode)" :key="index">{{numberPk10(item)}}</span>
                        </span>
                        <span v-if="options.group_type == 11">
                            <div ><span class="round pcround">{{str_split(last.openCode)[0]}}</span><span class="round pcround">{{str_split(last.openCode)[1]}}</span><span class="round pcround">{{str_split(last.openCode)[2]}}</span> = <span  class="round " :class="pcdd_color(last.openCode)">{{pcdd_code(last.openCode)}}</span> </div>
                        </span>
                    </div>
                    <div class="result-wrap">
                        <span v-if="options.group_type != 15">
                            <span class="resultData" v-for="(item,index) in preTred" :key="index">{{item}}</span>
                        </span>                        
                        <span v-if="options.group_type == 15 " class="resultData" >{{get_zh_subname(last.openCode)}}</span>
                    </div>
                </div>
                <div v-else class="perio-code">
                    <span class="span-pt" ><span class="blue-color">{{last.actionNo}}</span>期</span>
                    <div class="lds-css ng-scope" style="float: left;"><div style="width:100%;height:100%;" class="lds-ellipsis"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div>
                </div>
            </div>
            <div >
                <span class="span-nt"><span class="blue-color">{{current.actionNo}}</span>期 剩余:</span><span class="time">{{hr}}:{{min}}:{{sec}}</span>
                <a href="javascript:;" class="history_btn blue-color" @click.stop="openHistory">
                    <span class="icon-size cubeic-remove" v-if="show_history"></span><span class="icon-size cubeic-add" v-else></span> <span class="open_history_font">开奖走势</span>
                </a>
                <div style="margin-bottom: 10px;"></div>
                <transition name="history">
                    <div v-if="show_history" class="history_div">
                        <cube-scroll class="scroll_wrapper" ref="scroll" :data="history" :options="scrollLogOpts" @pulling-down="logRefresh" @pulling-up="logLoadMore">
                            <table>
                                <tr><td class="head-size">期数</td><td class="head-size">开奖号码</td><td class="head-size" v-if="getHistoryType() == 2">走势</td></tr>
                                <tr v-for="(item,index) in history" :key="index">
                                    <td>{{item.actionNo}}</td>
                                    <td v-if="getHistoryType() == 1">
                                        <!-- <span v-for="(code,index) in str_split(item.openCode)" :key="index" class="round">{{code}}</span> -->
                                        <span v-if="options.group_type == 1 || options.group_type == 2 || options.group_type == 4  || options.group_type == 8 || options.group_type == 12">
                                            <span class="round" v-for="(item,index) in str_split(item.openCode)" :key="index">{{item}}</span>
                                        </span>
                                        <span v-if="options.group_type == 6">
                                            <span class="square" :class="'color'+numberPk10(item)" v-for="(item,index) in str_split(item.openCode)" :key="index">{{numberPk10(item)}}</span>
                                        </span>
                                        <br>
                                        <span v-for="(item,key) in getOcs(item.openCode)" :key="'code'+key" class="resultData">{{item}}</span>
                                    </td>
                                    <td v-if="getHistoryType() == 2">
                                        <span v-if="options.group_type == 9">
                                            <img  class="k3" :src="require('@/assets/images/k3/'+code+'.png')" v-for="(code,index) in str_split(item.openCode)" :key="index">
                                        </span>
                                        <span v-if="options.group_type == 3">
                                            <span  v-for="(code,index) in str_split(item.openCode)" :key="index" class="round">{{code}}</span>
                                        </span>
                                        <div v-if="options.group_type == 11">
                                            <span  class="round">{{str_split(item.openCode)[0]}}</span><span class="round">{{str_split(item.openCode)[1]}}</span><span class="round">{{str_split(item.openCode)[2]}}</span> = <span  class="round" :class="pcdd_color(item.openCode)">{{pcdd_code(item.openCode)}}</span>
                                        </div>                                        
                                    </td>
                                    <td v-if="getHistoryType() == 2">
                                        <span  v-for="(item,key) in getOcs(item.openCode)" :key="'code'+key" class="resultData">{{item}}</span>
                                    </td>
                                    <td v-if="getHistoryType() == 3">
                                        <span  class="round " >{{item.openCode}}</span>
                                        <span  class="resultData" >{{get_zh_subname(item.openCode)}}</span>
                                    </td>
                                    <td v-if="getHistoryType() == 4">
                                        <span v-if="options.group_type == 17">
                                            <img  class="ld" :src="require('@/assets/images/ld/'+code+'.png')" v-for="(code,index) in str_split(item.openCode)" :key="index">
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </cube-scroll>
                        <div class="shadow"></div>
                    </div>
                </transition>
            </div>
        </div>
        <div class="noissue" v-else>
            <div class="lds-css ng-scope" @click.stop="getIssue()" > <i class="fas fa-hand-point-right" style="font-size:1.5rem" ></i> 点击此處刷新獎期<div style="width:100%;height:100%;" class="lds-ellipsis"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div>
        </div>
        <transition name="block">
            <div class="keyboard_block" @click='hide()' v-if="show_history"></div>
        </transition>
        <transition name="block">
            <div class="openCode_block" v-if="zh_open && last.openCode!=null">
                <img class="zh-open-gif" :src="'/static/images/zh_open/'+last.openCode+'.gif'" >
            </div>
        </transition>

    </div>
</template>

<script type="text/ecmascript-6">
import { apiGetCurrentIssue,apiGetRecentOpenCode } from '@/api.js'
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            digits: '1,2,3,4,5',
            cd:null,
            //noCodeCD:null,
            regetIssue:null,
            show_history: false,
            day: 0, hr: 0, min: 0, sec: 0,
            preTred:[],
            current:null,
            last:null,
            history:[],
            zh_subname:[],
            zh_open:false,
            entry:true,
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            current_page:1,
        }
    },
    mounted(){
         //this.CallnoCode();
    },
    props:{
      options: {
        type: Object,
        default() {
          return {}
        }
      },
    },
    components: {
    },
    methods: {
/*         CallnoCode()
        {
            //console.log(this.ocs.lot_types);
            clearInterval(this.noCodeCD);
            if(this.options.type_id=="2" || this.options.type_id=="1")
            {
                this.digits=this.noCode(5,1,9);
            }            
            if(this.options.type_id=="4")
            {
                this.digits=this.noCode(10,1,9);
            } 
            if(this.options.type_id=="14")
            {
                this.digits=this.noCode(3,1,6);
            } 
            this.noCodeCD = setInterval(() => {
                this.CallnoCode();
            }, 2000);
            
        }, */
        hide()
        {
            this.show_history=false;
        },
        get_zh_subname(code)
        {
            if(this.zh_subname.length==0)
            {
                for(var key in this.mapByPlay)
                {
                    if(this.mapByPlay[key].sub_name)
                    {
                        this.zh_subname[this.mapByPlay[key].name] = this.mapByPlay[key].sub_name;
                    }
                }
            }
            return this.zh_subname[code];
        },
        getOcs(code)
        {
            var tred=this.ocs.generate(this.options.group_type,code);
            var hisTred=[];
            for(var k in tred)
            {
                hisTred.push(tred[k]);
            }
            return hisTred;
        },
        openHistory(){
            if(!this.show_history)
            {
                this.toast('Loading...',null,0,'loading'); // 防用户连点
                this.getOpenCode(1);
            }
            this.show_history = !this.show_history;
            return;
        },
        countDown() {
            clearInterval(this.cd);
            if(this.current.countdown<=0)
            {
                //this.$store.commit('SetIssue',null);
                this.getIssue();
                return;
            }
            this.current.countdown=this.current.countdown-1;
            this.$store.commit('SetRaceCountdown',this.current.countdown);
            const msec = this.current.countdown;
            var timeData=this.gethms(msec);
            this.day = timeData.day;
            this.hr = timeData.hr;
            this.min = timeData.min;
            this.sec = timeData.sec;
            let time={
                hr:timeData.hr,
                min:timeData.min,
                sec:timeData.sec,
            };
            this.$store.dispatch('setbetCountdown',time);
            this.cd = setInterval(() => {
                    this.countDown();
            }, 1000);
        },
        getOpenCode(page)
        {
            apiGetRecentOpenCode({
                    type_id : this.options.type_id,
                    page: page,
                })
                .then(response => {
                    this.$createToast().hide();
                    //console.log(response);
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.history.splice(0,this.history.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }
                        this.history=this.history.concat(response.data.data);
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$createToast().hide();
                    return;
                }); 
        },
        getIssue()
        {
            clearInterval(this.regetIssue);
            apiGetCurrentIssue({
                    type_id : this.options.type_id,
                })
                .then(response => {
                    //console.log(response);
                    if(response.data.error)
                    {
                        this.toast(response.data.error);
                    }
                    this.last=response.data.last;
                    if(!this.last)
                    {
                        clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 3000);
                        return;
                    }
                   //this.last.openCode=null;
                    this.$store.commit('SetLastIssue',this.last);
                    if(this.last.openCode!=null)
                    {
                        //clearInterval(this.noCodeCD);
                        this.preTred.splice(0,this.preTred.length);
                        var tred=this.ocs.generate(this.options.group_type,this.last.openCode.toString());
                        for(var k in tred)
                        {
                            this.preTred.push(tred[k]);
                        }
                    }else
                    {
                        clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 3000);
                    }
                    if(response.data.current.actionNo==null)
                    {
                        this.toast("尚未开放投注");
                        return;
                    }

					// if(!this.current)
                    // {
                    var clientTime=(Date.parse( new Date())/1000);
                    var check_countdown=response.data.current.stopTime-clientTime;
					if(check_countdown<=0)
					{
						clearInterval(this.regetIssue);
                        this.regetIssue= setInterval(() => {
                            this.getIssue();
                        }, 1000);
						return;
                    }
                    if(this.options.group_type==17)
                    {
                        if(this.$parent.$parent.$refs.ld_component)
                        {
                            if(this.user.username == this.last.username && this.last.username !="")
                            {
                                this.$parent.$parent.$refs.ld_component.isQualified = true;
                                this.$parent.$parent.$refs.ld_component.isRollingBefore = true;
                            }else
                            {
                                if(this.current)
                                {
                                    if(this.current.actionNo != response.data.current.actionNo)
                                    {
                                        this.$parent.$parent.$refs.ld_component.clearSlotBar();
                                    }
                                }
                            }
                        }
                    }
					this.current=response.data.current;
					this.current.countdown=check_countdown;
					this.$store.commit('SetIssue',this.current);

					var timeData=this.gethms(check_countdown);
					this.day = timeData.day;
					this.hr = timeData.hr;
					this.min = timeData.min;
					this.sec = timeData.sec;
					let time={
						hr:timeData.hr,
						min:timeData.min,
						sec:timeData.sec,
					};
					this.$store.dispatch('setbetCountdown',time);
                    clearInterval(this.cd);
                    clearInterval(this.zh_open_cd);
                    if(this.options.group_type==15 && !this.entry)
                    {
                        this.zh_open = true;
                        this.zh_open_cd = setInterval(() => {
                                this.zh_open = false;
                        }, 4000);
                    }
                    this.entry = false;
					this.cd = setInterval(() => {
							this.countDown();
					}, 1000);					
					return;
                }).catch(error => {
                    this.toast(error);
                    // clearInterval(this.regetIssue);
                    // this.regetIssue= setInterval(() => {
                    //     this.getIssue();
                    // }, 3000);
                    console.log(error);
                    return;
                });
        },
        getHistoryType()
        {
            var type = this.options.group_type;
            if(type==17)
            {
                return 4;
            }
            if(type==15)
            {
                return 3;
            }
            if(type==11 || type==9  || type==3 || type==15)
            {
                return 2;
            }
            if(type==1 || type==2 || type==4 || type==6 || type==8 || type==12)
            {
                return 1;
            }
        },
        logRefresh(){
            this.current_page=1;
            setTimeout(() => {
                this.getOpenCode(this.current_page);
            }, 1000);
        },
        logLoadMore(){
            this.current_page++;
            setTimeout(() => {
                this.getOpenCode(this.current_page);
            }, 1000);
        },
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            betCountdown: "betCountdown",
            currentIssue: "currentIssue",
            lastIssue: "lastIssue",
            mapByPlay: "mapByPlay",
            user: "user",
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.log.pullUpLoadNoMoreTxt
                    }
                },
                scrollbar: true
            }
        },
    },
    created() {
        this.getIssue();
    },
    destroyed: function() {
        clearInterval(this.cd);
        //clearInterval(this.noCodeCD);
        clearInterval(this.regetIssue);
        clearInterval(this.zh_open_cd);
    }    
}
</script>

<style lang="stylus" rel="stylesheet/stylus" >
.showCode
    font-size: 14px;
    .code-wrap
        position: fixed;
        top:44px;
        left: 0;
        width: 100%;
        height: 86px;
        background: #fff;
        z-index: 9998;
    .code-wrap-zh
        height: 75px;
    .keyboard_block
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 2000px;
        z-index: 9997;
        background: rgba(0,0,0,.5);
        position: fixed;
    .openCode_block
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 2000px;
        z-index: 9999;
        background: rgba(0,0,0,.5);
        position: fixed;
    .pcdd_red
        background: #ff5151 !important;
        border-color: #ff5151 !important;
        color: #fff !important;
    .pcdd_green
        background: #3fa93f !important;
        border-color: #3fa93f !important;
        color: #fff !important;
    .pcdd_blue
        background: #2f84e5 !important;
        border-color: #2299d5 !important;
        color: #fff !important;
    .pcdd_no
        background: gray !important;
        border-color: gray !important;
        color: #fff !important;
    .perio
        padding 5px 0px;
        .k3
            width: 1.5rem;
            padding: 4px 4px 1px 0px;
            display: inline-block;
            vertical-align: middle;
        .ld
            width: 2rem;
            padding: 6px 0px 2px 0px;
            margin-left: 7px;
            display: inline-block;
            vertical-align: middle;
    .perio-code
        height: 51px;
    .perio-code-zh
        height: 30px;
    table
        width: 100%;
        background: #f5f6f7;
    td
        /* width 50%; */
        text-align center;
        border-top: 1px #ccc solid;
        border-right: 1px #ccc solid;
        padding: 5px;
        vertical-align: middle;
    td:last-child
        border-right: 0px;
    .head-size
        font-weight: bold;
    .span-pt
        float:left;
        margin-left :5px;
        padding-top :17px;
        padding-right :10px;
    .span-pt-zh
        padding-top :9.3px;
    .span-nt
        float:left;
        margin-left :5px;
    .round
        display: inline-block;
        text-align: center;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: .9rem;
        color: #fff;
        margin-top: .3rem;
        margin-right: .1rem;
        line-height: 1.2rem;
        font-size: .9rem;
    .pcround
        border: 1px #17b1f2 solid !important;
        color: #17b1f2 !important;
        margin-bottom 1px;
    /* .biground
        display: inline-block;
        text-align: center;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: .9rem;
        color: #fff;
        margin-top: .7rem;
        margin-right: .1rem;
        line-height: 1.2rem;
        font-size: .9rem; */
    .square
        display: inline-block;
        text-align: center;
        width: 1.1rem;
        height: 1.2rem;
        color: #fff;
        margin-top: .3rem;
        margin-right: .1rem;
        line-height: 1.2rem;
        font-size: .9rem;
        border-radius: 3px; 
        font-style: italic;
        -webkit-text-stroke: .5px #333;
        font-weight: 600;
      .color1
        background-color: #e5b800;
      .color2
        background-color: #0278d7;
      .color3
        background-color: #474c50;
      .color4
        background-color: #f17403;
      .color5
        background-color: #25b5cb;
      .color6
        background-color: #003e92;
      .color7
        background-color: #aa9e9e;
      .color8
        background-color: #ea075f;
      .color9
        background-color: #7e0209;
      .color10
        background-color: #288c06;
    .d-roll-wrapper
        margin-bottom 7.9px;
    .noissue
        text-align: -webkit-center;
        padding: 14.5px;
        font-size: 1rem;
    .resultData
        border: solid 1px #17b1f2;
        border-radius: 4px;
        text-decoration: none;
        color: #19b4f5;
        text-align: center;
        margin-right: 0.1rem;
        font-size: 0.9rem;
        line-height: 1.3rem;
        display: inline-block;
        margin-top: 0.1rem;
        margin-bottom: 0.3rem;
        padding: 1.2px;
        min-width: 1rem;
    .time
        -webkit-box-shadow: inset 1px 1px 0 rgba(250,250,250,0.22), 0 1px 0 rgba(0,0,0,0.22);
        box-shadow: inset 1px 1px 0 rgba(169, 166, 166, 0.22), 0 1px 0 rgba(0,0,0,0.22);
        background-color: rgba(255, 255, 255, 0.15);
        padding: 2px 5px;
        border-radius: 2px 2px 2px 2px;
    .history_btn
        float right;
        margin-right 8px;
    .scroll_wrapper
        height 250px;
    .open_history_font
        height: 20px;
    .history_div
        margin-top 8px;
        height 254px;
        overflow-x: hidden;
        background: #f5f6f7;
        width: 100%;
        .round
            display: inline-block;
            text-align: center;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 0.9rem;
            background: #4a90e2;
            color: #fff;
            margin-top: 0.3rem;
            margin-right: 0.1rem;
            line-height: 1.2rem;
            font-size: 0.9rem;
            margin-right: 4px;
        .k3
            width: 1.5rem;
            padding: 3px;
            display: inline-block;
            vertical-align: middle;
        .ld
            width: 3rem;
            padding: 3px;
            display: inline-block;
            vertical-align: middle;
    .history-enter,.history-leave-to
	    max-height: 0px;
    .history-enter-to,.history-leave
	    max-height: 180px;
    .history-enter-active,.history-leave-active
	    transition: all 0.3s;
    .block-enter,.block-leave-to
	    opacity: 0;
    .block-enter-to,.block-leave
	    opacity: 1;
    .block-enter-active,.block-leave-active
	    transition: all 0.5s;
    .zh-open-gif
        position: fixed;
        top:60px;
        left: 0;
        width: 100%;
        z-index: 9998;

@keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.lds-ellipsis {
  position: relative;
}
.lds-ellipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.lds-ellipsis div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top: 100px;
  left: 32px;
  -webkit-animation: lds-ellipsis 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.lds-ellipsis div:nth-child(1) div {
  -webkit-animation: lds-ellipsis2 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis2 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #ffb900;
}
.lds-ellipsis div:nth-child(2) div {
  -webkit-animation-delay: -1.75s;
  animation-delay: -1.75s;
  background: #6a67ce;
}
.lds-ellipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.875s;
  animation-delay: -0.875s;
  background: #1aafd0;
}
.lds-ellipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #3be8b0;
}
.lds-ellipsis div:nth-child(5) div {
  -webkit-animation: lds-ellipsis3 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis3 3.5s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #ffb900;
}
.lds-ellipsis {
  width: 80px !important;
  height: 30px !important;
  -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
  transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
}
</style>
