<template>
    <div class="side-bar">
        <cube-scroll  ref="scroll" >
            <ul class="side-body">
                <li class="head-bar"><div class="side-log"><i class="fas fa-chess-queen"></i></div></li>
                <li v-if="user.username!=''" class="side-info">
                    <div @click.stop="getCoin()">${{user.coin | numFilter}} <i class="fas fa-sync-alt" ></i></div>
                    <!--
                    <div>{{user.username}} <i class="fas fa-chess-queen"></i></div>
                    <div>${{user.coin | numFilter}}</div>
                    -->
                </li>
                <li  @click.stop='click(1)'><div>玩法说明</div></li>
                <li  @click.stop='click(2)'><div>投注纪录</div></li>
                <li  @click.stop='click(3)'><div>开奖纪录</div></li>
                <li  @click.stop='click(4)'><div>冷热遗漏</div></li>
                <li  @click.stop='click(5)' v-if="options.group_type!=12 && options.group_type!=15 && options.group_type!=17"><div>长龙走势</div></li>
            </ul>
        </cube-scroll>
        <div class="keyboard_block" @click.stop='hide()'></div>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
    data() {
        return {
            showme:false,
            coin:'10',
        }
    },  
    props:{
        options: {
            type: Object,
            default() {
            return {}
            }
        }
    },
    computed: {
		...mapGetters({
            user: "user",
        }),
    },    
    methods: {
        getCoin(){
            this.$store.dispatch('getCoin');
        },
        hide(){
            this.$emit('callback',0);
        },
        click(num){
            switch(num)
            {
            case 1:
                this.$emit('switchView',"rule");
                // var page="/rule/"+this.options.model+"/"+this.options.type_name;
                // this.$router.push(page);
                break;
            case 2:
                this.$emit('switchView',"betlog");
                //this.$router.push("/user/betlog");
                break;
            case 3:
                this.$emit('switchView',"codelist");
                //this.$router.push("/game/codelist/"+this.options.group_type+"/"+this.options.type_id);
                break;
            case 4:
                this.$emit('switchView',"hotlost");
                //this.$router.push("/game/hotlost/"+this.options.group_type+"/"+this.options.type_id);
                break;
            case 5:
                this.$emit('switchView',"clong");
                //this.$router.push("/game/clong/"+this.options.group_type+"/"+this.options.type_id);
                break;
            }
        },
    },

}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.side-bar
    position: fixed; 
    bottom: 0px;
    top: 0px;
    right: 0px;
    overflow:hidden;
    z-index: 10000;
    background-color : #fff
    box-shadow: 0 1px 6px #ccc;
    ul
        list-style: none;
    ul>li
        width: 120px;
        text-align: center;
        line-height: 35px;
        font-size: 1rem;
        border-bottom: 1px #eee solid;
        padding: 3px;
    .keyboard_block
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    .side-body
        z-index: 10000;
        .side-info
            font-size: 0.85rem;
            line-height: 24px;
            display: block;
        .head-bar
            line-height: 20px;        
            .side-log
                font-size: 1.3rem;
                border-radius: 50%;
                padding: 5px;
                background-color: #4a90e2;
                color: #fff;
                border: 2px solid #fff;
                width: 29px;
                margin: auto;
</style>
