<template>
    <div class="foot-menu">
        <div v-if="config.platform_type==0">
            <cube-tab-bar
            v-model="selectedLabelDefault"
            :data="tabs_credit"
            @click="clickHandler" v-if="user.username==''"
            >
            </cube-tab-bar> 
            <cube-tab-bar
            v-model="selectedLabelDefault"
            :data="tabs_credit_login"
            @click="clickHandler" v-if="user.username!=''"
            >
            </cube-tab-bar>
        </div>
        <div v-if="config.platform_type==1">
            <cube-tab-bar
            v-model="selectedLabelDefault"
            :data="tabs_cash"
            @click="clickHandler" v-if="user.username==''"
            >
            </cube-tab-bar> 
            <cube-tab-bar
            v-model="selectedLabelDefault"
            :data="tabs_cash_login"
            @click="clickHandler" v-if="user.username!=''"
            >
            </cube-tab-bar>
        </div>

    </div>
</template>
<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { globalMixin } from '@/mixin.js'
  export default {
    mixins: [globalMixin],
    data() {
        return {
            selectedLabelDefault: 1,
            tabs_credit: [{
                label: '首页',
                icon: 'cubeic-home',
                value:1,
            }, {
                label: '电游',
                icon: 'cubeic-game',
                value:2,
            }, {
                label: '客服',
                icon: 'cubeic-message',
                value:4,
            }, {
                label: '登录',
                icon: 'cubeic-person',
                value:5,
            }],
            tabs_credit_login: [{
                label: '首页',
                icon: 'cubeic-home',
                value:1,
            }, {
                label: '电游',
                icon: 'cubeic-game',
                value:2,
            }, 
            {
                label: '客服',
                icon: 'cubeic-message',
                value:4,
            }, {
                label: '会员',
                icon: 'cubeic-person',
                value:6,
            }],
            tabs_cash: [{
                label: '首页',
                icon: 'cubeic-home',
                value:1,
            }, {
                label: '电游',
                icon: 'cubeic-game',
                value:2,
            }, {
                label: '注册',
                icon: 'cubeic-vip',
                value:3,
            }, {
                label: '客服',
                icon: 'cubeic-message',
                value:4,
            }, {
                label: '登录',
                icon: 'cubeic-person',
                value:5,
            }],
            tabs_cash_login: [{
                label: '首页',
                icon: 'cubeic-home',
                value:1,
            }, {
                label: '电游',
                icon: 'cubeic-game',
                value:2,
            }, 
            {
                label: '充值',
                icon: 'cubeic-vip',
                value:7,
            }, 
            {
                label: '客服',
                icon: 'cubeic-message',
                value:4,
            }, {
                label: '会员',
                icon: 'cubeic-person',
                value:6,
            }]    
        }
    },
    methods: {
        clickHandler (value) {
            switch(value)
            {
                case 1:
                    this.$router.push("/");
                    break;
                case 2:
                    //this.$router.push("/index/promotion");
                    this.$router.push("/index/egame");
                    break;
                case 3:
                    this.$router.push("/index/reg");
                    break;
                case 4:
                    if(this.config.kfUrl!="")
                    {
                        window.open(this.config.kfUrl, '_blank');
                    }
                    break;
                case 5:
                    this.$router.push("/index/login");
                    break;
                case 6:
                    if(this.config.platform_type==0)
                    {
                        this.$router.push("/user/credit/index");
                        break;
                    }
                    if(this.config.platform_type==1)
                    {
                        this.$router.push("/user/cash/index");
                        break;
                    }
                case 7:
                    if(this.user.forTest==1)
                    {
                        this.toast('本功能不提供试玩');
                        return;
                    }
                    this.$router.push("/user/recharge");
                    break;
            }        
        }
    },
    computed: {
		...mapGetters({
            user: "user",
            config:"config",
        }),
    },
    created() {
        switch(true)
        {
            case this.$route.path=="/user/index":
                this.selectedLabelDefault=6;
                break;
        }
    }    
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.cube-tab-bar
    background-color: #fff
    position: fixed;
    width: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    bottom 0px;
    top: unset;
</style>
