<template>
    <div class="menu-list">
        <div class="menu-title"  @click.stop="show_menu(0)">
            <div class="icon-title">{{title}}</div>
            <div class="icon-pull icon-size"><i class="fas fa-angle-up" v-show="show[0]"></i><i class="fas fa-angle-down" v-show="!show[0]"></i></div>                
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="menu-block">
                <div class="menu-shadow menu-shadow-top"></div>
                <div class="menu-content">
                    <slot></slot>
                </div>
                <div class="menu-shadow menu-shadow-down"></div>
            </div>
        </transition>
    </div>
</template>
<script type="text/ecmascript-6">
  export default {
    props: {
      title: {
        type: String,
        default: '',
        required: true
      },
      content: {
        type: String,
        default: ''
      }
    },      
    data() {
        return {
            show:{
                0:false,
            },
        };        
    },
    methods: {
        show_menu: function(t){
            this.show[t] = !this.show[t];
            return;
        }
    },
    computed: {

    },
    created() {

    }    
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.menu-list
    width 100%;
    background #fff;
    border-bottom: 1px #ddd solid;
    .menu-title-shadow
        box-shadow: 0 0 15px rgba(0,0,0,0.6);
    .menu-title
        width 100%;
        padding 12px 10px;
        display: flex;
        .icon-title
            width 80%;
            font-size 0.9rem;
            line-height: 24px;
        .icon-pull
            width 20%;
            text-align: end;
            margin-right: 25px;
            color: #ddd;
    .menu-content        
        padding 15px;
    .menu-block
        overflow hidden;
    .menu-shadow
        height: 3px;
        width: 100%;
        position: relative;
        left: 0;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
        box-shadow: 0 0 15px rgba(0,0,0,0.6); 
    .menu-shadow-top
        bottom: 5px;
    .menu-shadow-down
        bottom: -5px;
.playmenu-enter,.playmenu-leave-to 
    max-height 0px
.playmenu-enter-to,.playmenu-leave 
    max-height 350px
.playmenu-enter-active,.playmenu-leave-active 
    transition all 0.3s        
</style>
