<template>
  <back-page :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="reg-block">
            <form>
                <cube-input v-model="form_reg.username"
                    placeholder="输入帐号"
                    type="text"
                    :clearable="{visible: true, blurHidden: true}" class="reg-field"
                    >
                    <i slot="prepend" class="cubeic-person reg-icon"></i>
                </cube-input>
                <cube-validator v-model="check0" :model="form_reg.username" :rules="rules0" class="error-msg"></cube-validator>
                <cube-input v-model="form_reg.pwd"
                    placeholder="输入密码"
                    type="text"
                    :clearable="{visible: true, blurHidden: true}"
                    class="reg-field"
                    autocomplete="false"
                    >
                    <i slot="prepend" class="cubeic-lock reg-icon"></i>
                </cube-input>
                <cube-validator v-model="check1" :model="form_reg.pwd" :rules="rules1" class="error-msg"></cube-validator>
                <cube-input v-model="form_reg.fanDian"
                    placeholder="输入返点"
                    type="text"
                    :clearable="{visible: true, blurHidden: true}"
                    class="reg-field"
                    >%
                    <i slot="prepend" class="cubeic-edit reg-icon"></i>
                </cube-input>
                <cube-validator v-model="check2" :model="form_reg.fanDian" :rules="rules2" class="error-msg"></cube-validator>
                <cube-textarea v-model="form_reg.memo" placeholder="输入备注"></cube-textarea>
                <div class="fanDian_info"><span class="info-warn cubeic-info"></span>下级最高返点为{{this.user.fanDian}}% , 最低为0%</div>
                <div class="padding">
                    <cube-button  @click="register" class="reg-button" :disabled="!check0 || !check1 || !check2" :class="{'reg-disabled':!check0 || !check1 || !check2}">注册</cube-button>
                </div>
                
            </form>
        </div>       
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { validator } from '@/utils/validator.js'
import { mapGetters } from "vuex";
import { apiAgentAdd } from "@/api.js";
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
    data() {
        return {
            check0:false,
            check1:false,
            check2:false,
            title:"添加下级",
            form_reg:{
                username: '',
                pwd: '',
                fanDian: '',
                memo: '',
            },
            rules0:{
                type: 'string',
                required: true,
                pattern: validator.username,
            },
            rules1:{
                type: 'string',
                required: true,
                min:4,
            },
            rules2:{
                type: 'number',
                required: true,
                min:0,
            }
        }
    },
    methods: {
        back()
        {
          this.$router.back()
        },
        register(){
            if(!validator.isUsername(this.form_reg.username)){
                this.toast('帐号格式不正确');
                return;
            };
            // if(!validator.isPassword(this.form_reg.pwd)){
            //     this.toast('密码格式不正确,请输入6-12位数字及字母组合');
            //     return;
            // };
            if(this.form_reg.fanDian > this.user.fanDian || this.form_reg.fanDian < 0){
                this.toast('返点不可大于'+this.user.fanDian);
                return;
            };
            apiAgentAdd({
                username:this.form_reg.username,
                password:this.form_reg.pwd,
                fanDian:this.form_reg.fanDian,
                memo:this.form_reg.memo,
                type:1,
                client_type:'mobile',
            })
            .then(response => {
                if(response.data.error)
                {
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                    this.toast(response.data.msg);
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        }
    },
    computed: {
		...mapGetters({
            user: "user",
        }),       
    },   
    components: {
        BackPage
    },
    created() {
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.reg-block
    padding-top: 50px;
    .reg-icon
        font-size: 1.4rem;
    .reg-field
        font-size: .9rem;
        padding: 5px 0px 0px 12px;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        background-color: #4a90e2;
        color: #fff;    
    .padding
        padding: 10px;
    .error-msg
        padding: 5px;
    .reg-disabled
        background-color: #ccc;
    .fanDian_info
        text-align: center;
        padding: 8px;
        .info-warn
            color: #e64340;
            font-size: 1.4rem;
            padding: 5px;
            vertical-align: bottom;
</style>
