<template>
  <search-page :title="title" v-on:showSearch="showSearch" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <div class="record-head">
                <div class="col40 fw700">用户名</div>
                <div class="col40 fw700">注册</div>
                <div class="col40 fw700">最后登录</div>
                <div class="col20 fw700">返点</div>
            </div>
            <div class="record-body">
            <cube-scroll  ref="scroll" :data="results" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" @pulling-up="logLoadMore">
				<div v-for="(item, index) in results" class="record-item" :key="index" @click="onItemClick(index)" v-if="results.length>0" >
                    <div class="record-top">
                        <div class="col40">{{ item.username }}</div>
                        <div class="col40">{{ item.regTime }}</div>
                        <div class="col40">{{ item.updateTime }}</div>
                        <div class="col20">{{ item.fanDian }}%</div>
                    </div>
				</div>
                <div class="no-record" v-if="!results.length">
                    <img class="no-record-img" src="~assets/images/user/norecord.png">
                    <div class="no-record-txt">暂无相关纪录</div>
                </div>
            </cube-scroll>
            </div>
        </div>   
           
        <transition name="filtermenu">
            <keep-alive>
                <agent-search v-if="filterSearch" v-on:showSearch="showSearch" ></agent-search>
            </keep-alive>
        </transition>

        <transition name="filtermenu">
            <agent-detail v-if="showDetail" :detail="checkDetail" v-on:switchDetial="switchDetial" ></agent-detail>
        </transition>
        <TabBar></TabBar>
    </div>
  </search-page>
</template>

<script type="text/ecmascript-6" >
import TabBar from '@/components/agent/cash-tab-bar.vue'
import moment from 'moment'
import AgentDetail from '@/components/agent/agent-detail.vue';
import AgentSearch from '@/components/agent/agent-member-search.vue';
import SearchPage from '@/components/search-page.vue';
import { apiAgentList } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"代理中心",
            filterSearch:0,
            filterData:{
                StartValue:moment(new Date()).format("YYYY-MM-DD"),
                EndValue:moment(new Date()).format("YYYY-MM-DD"),
                UserName:'',
            },
            showDetail:0,
            checkDetail:null,
            u_info:{
                fandian:0,
                real_bet:0,
                zj:0,
            },
            results:[],
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            current_page:1,
        }
    },
    methods: {
        back()
        {
            this.$router.back()
        },
        addMember()
        {
            this.$router.push("/agent/add");
            return;
        },
        changeView(tpl,index){
            this.default_view=tpl;
            this.activeColor = index;
        },
        switchDetial(value)
        {
            this.showDetail=value;
        },
        showSearch(value,data)
        {
            this.filterSearch=value;
            if(data!=null)
            {
                this.current_page=1;
                this.filterData=data;
                this.getLog(this.current_page);
            }
            //console.log(this.filterData);
        },
        getLog(page)
        {
            apiAgentList({
                page: page,
                username: this.filterData.UserName,
                fromTime: this.filterData.RegStartValue,
                toTime: this.filterData.RegEndValue, 
                type:1,           
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        if(response.data.data.length==0)
                        {
                            this.$refs.scroll.forceUpdate(false);
                            return;
                        }
                        this.results=this.results.concat(response.data.data);
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        onItemClick(index)
        {
            this.checkDetail=this.results[index];
            this.showDetail=1;
        },
        logRefresh(){
            if(this.filterData)
            {
                this.current_page=1;
                setTimeout(() => {
                    this.getLog(this.current_page);
                }, 1000);
            }else
            {
                this.$refs.scroll.forceUpdate();
            }
        },
        logLoadMore(){
            this.current_page++;
            if(this.filterData)
            {
                setTimeout(() => {
                    this.getLog(this.current_page);
                }, 1000);
            }else
            {
                this.$refs.scroll.forceUpdate();
            }
        },        
    },
    computed: {
		...mapGetters({
            
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.log.pullUpLoadNoMoreTxt
                    }
                },
                scrollbar: true
            }
        },        
    },
    components: {
      SearchPage,
      AgentSearch,
      AgentDetail,
      TabBar
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    position: fixed; 
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    text-align: -webkit-center;
    overflow:hidden;
    font-size: 0.9rem;
    .no-record
        margin: 30px auto;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-bot
        display flex;
    .record-top
        display flex;
        padding: 5px 0px;
    .record-head
        display flex;
        border-bottom: 1px #ddd solid;
    .record-body
        position: fixed; 
        bottom: 61px;
        top: 86px;
        left: 0;
        right: 0;
        overflow:hidden;
    .col40
        width 40%;
        height 35px;
        line-height: 35px;
    .col20
        width 20%;
        height 35px;
        line-height: 35px;
    .record-item
        margin-bottom 1px;
        background-color #fff;
    .bonus-color
        color #f02828;
    .bet-status-opened
        color #4e7d36;
    .fw700
        font-weight 700;

.filtermenu-enter,.filtermenu-leave-to
{
    transform: translateX(100%);
}
.filtermenu-enter-to,.filtermenu-leave
{
    transform: translateX(0);
}
.filtermenu-enter-active,.filtermenu-leave-active
{
transition: all 0.5s;
}
</style>
