<template>
  <back-page type="form-custom" title="详情" v-on:callback="showSearch">
    <div slot="content">
        <div>

            <div class="detail-head">
                <div class="type">
                    <div class="dot" >{{ getFirstVendor(detail.username) }}</div>
                    {{ detail.username }}
                </div>
            </div>
            <form>
            <div class="detail-body">
                <cube-scroll  ref="scroll">
                        <div class="detail-item" style="padding-top: 20px;">
                            <div class="detail-title">注册日期</div><div class="detail-content">{{ detail.regTime }}</div>
                        </div>
                        <div class="detail-item">
                            <div class="detail-title">登录日期</div><div class="detail-content">{{ detail.updateTime }}</div>
                        </div>
                        <div class="detail-item" v-if="detail.type==1">
                            <div class="detail-title">占成(0 - {{user.fenHong}}%)</div><div class="detail-content">
                                <input 
                                    v-model="form_reg.fenHong"
                                    placeholder="输入占成"
                                    type="text"
                                    class="reg-field"
                                    /> %
                                    <i slot="append" class="cubeic-edit reg-icon"></i>
                                <cube-validator v-model="check2" :model="form_reg.fenHong" :rules="rules2" class="error-msg"></cube-validator>
                            </div>
                        </div>
                        <div class="detail-item">
                            <div class="detail-title">可用额度</div><div class="detail-content">{{ detail.coin }}</div>
                        </div>
                        <div class="detail-amount-change">
                            <div class="detail-amount-title">
                                <cube-input 
                                    v-model="form_reg.amount"
                                    placeholder="输入额度"
                                    type="text"
                                    class="amount-field"
                                    ><i slot="prepend" class="cubeic-credit-card amount-icon"></i></cube-input>
                                    
                            </div>
                            <div class="detail-amount-content">
                                <cube-button  @click="amount_up" class="amount-button bonus-bgcolor" :disabled="!check_amount()" :class="{'disabled-btn':!check_amount()}">存入</cube-button>
                                <cube-button  @click="amount_down" class="amount-button nbonus-bgcolor" :disabled="!check_amount()" :class="{'disabled-btn':!check_amount()}">取出</cube-button>    
                            </div>
                        </div>
                        <cube-textarea v-model="form_reg.memo" placeholder="输入备注" style="margin-top:10px;"></cube-textarea>
                        <div class="padding">
                            <cube-button  @click="up" class="reg-button" :disabled="!check2 && form_reg.memo==detail.memo" :class="{'disabled-btn':!check2 && form_reg.memo==detail.memo}">修改</cube-button>
                        </div>
                </cube-scroll>
            </div>
            </form>

        </div>            

    </div>
  </back-page>
</template>

<script type="text/ecmascript-6">
  import moment from 'moment'
  import BackPage from '@/components/back-page.vue'
  import { mapGetters } from "vuex";
  import { globalMixin } from '@/mixin.js';
  import { apiAgentUpdate,apiAgentAmountUP,apiAgentAmountDOWN } from "@/api.js";
  import { validator } from '@/utils/validator.js'
  export default {
    mixins: [globalMixin],
    data() {
      return {
            check2:false,
            rules2:{
                type: 'number',
                required: true,
                min:0,
            },
            form_reg:{
                fenHong: this.detail.fenHong,
                memo: this.detail.memo,
                amount:'',
            },
      }
    },
    props: ['detail'],
    methods: {
        amount_down()
        {
            let check = this.check_amount();
            if(!check)
            {
                this.toast('请输入额度');
                return

            }
            if(this.form_reg.amount > parseFloat(this.detail.coin))
            {
                this.toast('额度不足');
                return;
            }
            apiAgentAmountDOWN({
                uid:this.detail.uid,
                amount:this.form_reg.amount,
            })
            .then(response => {
                if(response.data.error)
                {
                    this.toast(response.data.error,null);
                    return;
                }
                if(response.data.msg)
                {
                    this.detail.coin=parseFloat(this.detail.coin) - parseFloat(this.form_reg.amount);
                    this.$store.dispatch('setCoin',response.data.coin);
                    this.toast(response.data.msg);
                    return;
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        },
        amount_up()
        {
            let check = this.check_amount();
            if(!check)
            {
                this.toast('请输入额度');
                return

            }
            if(this.form_reg.amount > this.user.coin)
            {
                this.toast('额度不足');
                return;
            }
            apiAgentAmountUP({
                uid:this.detail.uid,
                amount:this.form_reg.amount,
            })
            .then(response => {
                if(response.data.error)
                {
                    this.toast(response.data.error,null);
                    return;
                }
                if(response.data.msg)
                {
                    this.detail.coin=parseFloat(this.detail.coin)+parseFloat(this.form_reg.amount);
                    this.$store.dispatch('setCoin',response.data.coin);
                    this.toast(response.data.msg);
                    return;
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        },
        showSearch(childValue)
        {
          this.$emit('switchDetial',childValue);
        },
        getFirstVendor(vendor)
		{
			return vendor.substring(0,1);
        },
        check_amount()
        {
            if(this.form_reg.amount <= 0)
            {
                return false;
            }
            if(!validator.num_pos_int(this.form_reg.amount))
            {
                return false;
            }
            return true;
        },
		getDate(t){
            var time=t*1000;
            return moment(new Date(time)).format("YYYY-MM-DD hh:mm:ss");
        },
        up()
        {
            if(this.detail.fenHong > this.user.fenHong || this.detail.fenHong < 0){
                this.toast('占成不可大于'+this.user.fenHong);
                return;
            };
            apiAgentUpdate({
                uid:this.detail.uid,
                //fandian:this.form_reg.fanDian,
                fenHong:this.form_reg.fenHong,
                memo:this.form_reg.memo,
            })
            .then(response => {
                if(response.data.error)
                {
                    this.toast(response.data.error,null);
                    return;
                }
                if(response.data.msg)
                {
                    this.detail.fenHong=this.form_reg.fenHong;
                    this.detail.memo=this.form_reg.memo;
                    this.toast(response.data.msg);
                    return;
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        }        
    },
    components: {
        BackPage,
    },
    computed:
    {
		...mapGetters({
            user: "user",
        }),       
    },
    mounted() {
    },
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scpoed>
.detail-head
    margin: 10px 0;
    position: relative;
    background-color: #fff;
    padding: 10px;
    .type
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        padding: 10px 0;
        color: #444;
        .dot
            border-radius: 50%;
            background-color: #11c1f3;
            display: inline-block;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            padding: 5px 5px;
            width: 25px;          
            height: 25px;
            line-height: 25px;
    .amount
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
        font-weight: 700;
    .status
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
    .bet-status-opened
        color #4e7d36;        
.detail-body
    padding-left: 16px;
    background: #fff;
    position: relative;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 150px;
    .detail-amount-change
        width: 100%;
        display: inline-flex;
        border-bottom: 1px #ddd solid;
        line-height: 50px;
        padding: 10px 5px;
        .detail-amount-title
            width: 50%;
        .detail-amount-content
            width: 50%;
        .amount-icon
            font-size: 1.2rem;
            padding: 0px 8px;
        .amount-field
            width 100%;
            height 50px;
        .amount-button
            text-align center;
            width 65px;
            margin 0px 10px;
            display: inline-flex;
    .detail-item
        padding-bottom: 10px;
        padding-left: 0;
        padding-top: 10px;
        font-size: 14px;
        line-height: 14px;
        color: #444;
        min-height: 30px;
        .detail-title
            float left
        .detail-content
            float right
            margin-right 15px;
            color #888;
    .detail-item:after
        content: "";
        position: relative;
        background-color: #ddd;
        display: block;
        left: 0;
        right: auto;
        height: 1px;
        width: 100%;
        top:28px;
    .reg-field
        top: -5px;
        text-align right;
        padding unset;
        width: 66px;
    .padding
        margin-right: 16px;
    .reg-button
        margin-top 10px;
        border-color: transparent;
        background-color: #4a90e2;
        color: #fff;
</style>