<template>
  <back-page type="form-custom" title="筛选" v-on:callback="showSearch">
    <div slot="content">

		<div class="item-divider" >
			<div  class="fs14"><!----> <span>日期快捷</span></div>
			<div class="item-note" >
				<cube-button  class="quick-btn" @click="quickButtonDate(0);quickBtn = 1" :class="{'active':quickBtn == 1}"><!----> <span>今天</span></cube-button>
				<cube-button  class="quick-btn" @click="quickButtonDate(2);quickBtn = 2" :class="{'active':quickBtn == 2}"><!----> <span>三天</span></cube-button>
				<cube-button  class="quick-btn" @click="quickButtonDate(6);quickBtn = 3" :class="{'active':quickBtn == 3}"><!----> <span>一星期</span></cube-button>
			</div>
		</div>

      <cube-form :model="model" >
        <cube-form-group>
          <cube-form-item :field="fields[0]">
            <cube-button @click="showDatePicker('startDate')">{{model.StartValue || 'Please select'}}</cube-button>
            <date-picker ref="startDate" :min="limit_start_date" :max="limit_end_date"  @select="setStart" title="请选择" cancelTxt="取消" confirmTxt="确定"></date-picker>              
          </cube-form-item>
          <cube-form-item :field="fields[1]">
            <cube-button @click="showDatePicker('endDate')">{{model.EndValue || 'Please select'}}</cube-button>
            <date-picker ref="endDate" :min="limit_start_date" :max="limit_end_date"  @select="setEnd" title="请选择" cancelTxt="取消" confirmTxt="确定"></date-picker>              
          </cube-form-item>
          <cube-form-item :field="fields[2]" >
            <cube-input v-model="model.UserName"
                placeholder="帐号"
                type="text"
                :clearable="{visible: true, blurHidden: true}" 
                :autocomplete="autocomplete"
                >
            </cube-input>
          </cube-form-item>
        </cube-form-group>
        <cube-form-group class="padding">
          <cube-button @click="submitHandler" class="search-btn">搜寻</cube-button>
		  <cube-button @click="restHandler" class="rest-btn">重置</cube-button>
        </cube-form-group>
      </cube-form>
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6">
  import moment from 'moment'
  import BackPage from '@/components/back-page.vue'
  import DatePicker from '@/components/date-picker.vue'
  import { mapGetters } from "vuex";
  export default {
    data() {
      return {
        autocomplete:true,
        quickBtn:0,
        model: {
            UserName: '',
            StartValue: moment(new Date()).format("YYYY-MM-DD"),
            EndValue: moment(new Date()).format("YYYY-MM-DD"),
        },
        fields: [
            {
                modelKey: 'StartValue',
                label: '开始时间',
                rules: {
                  type:'date'
                }
            },
            {
                modelKey: 'EndValue',
                label: '结束时间',
                rules: {
                  type:'date'
                }
            },
            {
                modelKey: 'UserName',
                label: '会员名称',
                rules: {
                  type:'string'
                }
            },       
        ]
      }
    },
    methods: {
        showSearch(childValue)
        {
          this.$emit('showSearch',childValue);
        },
        submitHandler(e) {
          this.$emit('showSearch',0,this.model);
		},
		restHandler(){
			this.model.StartValue = moment(new Date()).format("YYYY-MM-DD");
			this.model.EndValue = moment(new Date()).format("YYYY-MM-DD");
			this.model.UserName='';
		},
        showDatePicker(t) {
            this.$refs[t].show()
        },
        setStart(selectedVal) {
            this.model.StartValue = moment(new Date(selectedVal[0], selectedVal[1] - 1, selectedVal[2])).format("YYYY-MM-DD")
        },
        setEnd(selectedVal) {
            this.model.EndValue = moment(new Date(selectedVal[0], selectedVal[1] - 1, selectedVal[2])).format("YYYY-MM-DD")
		},
		quickButtonDate(day){
			this.model.StartValue = moment().subtract(day,'d').format('YYYY-MM-DD');
			this.model.EndValue = moment(new Date()).format("YYYY-MM-DD");
		},
    },
    components: {
        BackPage,
        DatePicker,
    },
    computed:
    {
		...mapGetters({
            betCfg: "betCfg",
        }),
        limit_start_date(){
            var now = new Date((new Date()).getTime() - (90 * 86400 * 1000));
            var yyyy=moment(now).format("YYYY");
            var mm=moment(now).format("M");
            var dd=moment(now).format("D");
            parseInt
            return [yyyy,mm,dd];
        },
        limit_end_date(){
            var nowDate=this.limit_start_date;
            var now = new Date(parseInt(nowDate[0])+5,nowDate[1],nowDate[2]);
            var yyyy=moment(now).format("YYYY");
            var mm=moment(now).format("M");
            var dd=moment(now).format("D");
            return [yyyy,mm,dd];
        },        
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.item-divider
    padding: 14px 15px;
    line-height: 30px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #444;
    font-weight: 500;
	.fs14
		float: left;
		font-size: 0.9rem;
	.item-note
		float: right;
		color: #aaa;
		font-size: 0.9rem;
		.quick-btn
			color: #4a90e2;
			border-radius: 2px;
			box-sizing: border-box;
			border: 1px solid rgba(64,158,255,.2) !important;
			background-color: rgba(74, 144, 226, .1);
			text-align: center;
			position: relative;
			border: none;
			pointer-events: auto;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			height: 30px;
			font-size: 0.8rem;
			display: inline-block;
			padding: 0 10px;
			box-sizing: content-box;
			border-radius: 2px;
			white-space: nowrap;
			width:auto;
		.active 
			color:#fff;
			background-color: rgba(74, 144, 226, 1);	
.cube-form-item
	.cube-btn
		padding-left: 0
		padding-right: 0
		text-align: left
		color: inherit
		background: none
		border: none
.cube-form
	color: #444 !important;
	font-size: 0.9rem !important;
	.search-btn
		border-color: transparent;
		background-color: #4a90e2;
		color: #fff;
		margin-bottom: 10px;
		border-radius: 4px;
	.rest-btn
		border-color: transparent;
		background-color: #fff;
		color: #444;
		border-radius: 4px;
	.padding
		padding: 10px;
		background: #efeff4;
</style>