<template>
  <back-page type="form-custom" title="详情" v-on:callback="showSearch">
    <div slot="content">
        <div>

            <div class="detail-head">
                <div class="type">
                    <div class="dot" >{{ getFirstVendor(detail.username) }}</div>
                    {{ detail.username }}
                </div>
            </div>
            <form>
            <div class="detail-body">
                <cube-scroll  ref="scroll">
                        <div class="detail-item" style="padding-top: 20px;">
                            <div class="detail-title">注册日期</div><div class="detail-content">{{ detail.regTime }}</div>
                        </div>
                        <div class="detail-item">
                            <div class="detail-title">登录日期</div><div class="detail-content">{{ detail.updateTime }}</div>
                        </div>
                        <div class="detail-item">
                            <div class="detail-title">返点(%)</div><div class="detail-content">
                                <input 
                                    v-model="form_reg.fanDian"
                                    placeholder="输入返点"
                                    type="text"
                                    class="reg-field"
                                    /> %
                                    <i slot="append" class="cubeic-edit reg-icon"></i>
                                <cube-validator v-model="check2" :model="form_reg.fanDian" :rules="rules2" class="error-msg"></cube-validator>
                            </div>
                        </div>
                        <cube-textarea v-model="form_reg.memo" placeholder="输入备注"></cube-textarea>
                        <div class="card-red"><i class="info-warn cubeic-info"></i> 下级最高返点为{{this.user.fanDian}}% , 最低为0%</div>
                        <div class="padding">
                            <cube-button  @click="up" class="reg-button" :disabled="!check2 && form_reg.memo==detail.memo" :class="{'reg-disabled':!check2 && form_reg.memo==detail.memo}">修改</cube-button>
                        </div>
                </cube-scroll>
            </div>
            </form>

        </div>            

    </div>
  </back-page>
</template>

<script type="text/ecmascript-6">
  import moment from 'moment'
  import BackPage from '@/components/back-page.vue'
  import { mapGetters } from "vuex";
  import { globalMixin } from '@/mixin.js';
  import { apiAgentUpdate } from "@/api.js";
  export default {
    mixins: [globalMixin],
    data() {
      return {
            check2:false,
            rules2:{
                type: 'number',
                required: true,
                min:0,
            },
            form_reg:{
                fanDian: this.detail.fanDian,
                memo: this.detail.memo,
            },
      }
    },
    props: ['detail'],
    methods: {
        showSearch(childValue)
        {
          this.$emit('switchDetial',childValue);
        },
        getFirstVendor(vendor)
		{
			return vendor.substring(0,1);
		},  
		getDate(t){
            var time=t*1000;
            return moment(new Date(time)).format("YYYY-MM-DD hh:mm:ss");
        },
        up()
        {
            if(this.detail.fanDian > this.user.fanDian || this.detail.fanDian < 0){
                this.toast('返点不可大于'+this.user.fanDian);
                return;
            };
            apiAgentUpdate({
                uid:this.detail.uid,
                fandian:this.form_reg.fanDian,
                memo:this.form_reg.memo,
            })
            .then(response => {
                if(response.data.error)
                {
                    this.toast(response.data.error,null);
                    return;
                }
                if(response.data.msg)
                {
                    this.detail.fanDian=this.form_reg.fanDian;
                    this.detail.memo=this.form_reg.memo;
                    this.toast(response.data.msg);
                    return;
                }
                return;
            }).catch(error => {
                console.log(error);
                return;
            });
        }        
    },
    components: {
        BackPage,
    },
    computed:
    {
		...mapGetters({
            user: "user",
        }),       
    },
    mounted() {
    },
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scpoed>
.detail-head
    margin: 10px 0;
    position: relative;
    background-color: #fff;
    padding: 10px;
    .type
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        padding: 10px 0;
        color: #444;
        .dot
            border-radius: 50%;
            background-color: #11c1f3;
            display: inline-block;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            padding: 5px 5px;
            width: 25px;          
            height: 25px;
            line-height: 25px;
    .amount
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
        font-weight: 700;
    .status
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
    .bet-status-opened
        color #4e7d36;        
.detail-body
    padding-left: 16px;
    background: #fff;
    position: relative;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 150px;
    .detail-item
        padding-bottom: 10px;
        padding-left: 0;
        padding-top: 10px;
        font-size: 14px;
        line-height: 14px;
        color: #444;
        min-height: 30px;
        .detail-title
            float left
        .detail-content
            float right
            margin-right 15px;
            color #888;
    .detail-item:after
        content: "";
        position: relative;
        background-color: #ddd;
        display: block;
        left: 0;
        right: auto;
        height: 1px;
        width: 100%;
        top:28px;
    .reg-field
        top: -5px;
        text-align right;
        padding unset;
        width: 66px;
    .card-red
        padding-top: 15px;
        text-align: center;
        .info-warn
            color: #e64340;
    .padding
        margin-right: 16px;
        .reg-button
            margin-top 10px;
            border-color: transparent;
            background-color: #4a90e2;
            color: #fff;
        .reg-disabled
            background-color: #ccc;
</style>