<template>
    <div class="foot-menu">
        <cube-tab-bar
          v-model="selectedLabelDefault"
          :data="tabs_login"
          @click="clickHandler" v-if="user.username!=''"
          class="icon-size">
        </cube-tab-bar> 
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
  export default {
    data() {
        return {
            selectedLabelDefault: 1,
            tabs_login: [
            {
                label: '代理',
                icon: 'fas fa-crown',
                value:1,
            }, 
            {
                label: '会员',
                icon: 'fas fa-user',
                value:4,
            }, 
            {
                label: '报表',
                icon: 'fas fa-scroll',
                value:5,
            }, 
            {
                label: '邀请',
                icon: 'fas fa-qrcode',
                value:2,
            }, 
            {
                label: '添加',
                icon: 'fas fa-user-plus',
                value:3,
            }]            
        }
    },
    methods: {
        clickHandler (value) {
            switch(value)
            {
                case 1:
                    this.$router.push("/agent/credit/Agentlist");
                    return;
                case 2:
                    this.$router.push("/agent/credit/qr");
                    return;
                case 3:
                    this.$router.push("/agent/credit/add");
                    return;
                case 5:
                    this.$router.push("/agent/credit/index");
                    return;
                case 4:
                    this.$router.push("/agent/credit/Memberlist");
                    return;                   
            }        
        }
    },
    computed: {
		...mapGetters({
            user: "user",
        }),
    },
    created() {
        switch(true)
        {
            case this.$route.path=="/agent/credit/index":
                this.selectedLabelDefault=5;
                break;
            case this.$route.path=="/agent/credit/qr":
                this.selectedLabelDefault=2;
                break;
            case this.$route.path=="/agent/credit/Agentlist":
                this.selectedLabelDefault=1;
                break;
            case this.$route.path=="/agent/credit/add":
                this.selectedLabelDefault=3;
                break;
            case this.$route.path=="/agent/credit/Memberlist":
                this.selectedLabelDefault=4;
                break;
        }
    }   
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.cube-tab-bar
    background-color: #fff
    position: fixed;
    width: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    bottom 0px;
    top: unset;
</style>
