<template>
    <div>
    <transition name="vblock">
        <div class="video_block" @click='hide()' v-if="showVideo">
          <div class="container" :style="{zoom:zoom}">
            <div class="header">
              <audio id="sound" autoplay="autoplay"></audio>
              <!--div class="logo" id="hlogo"><img src="/static/images/pk10/ft/images/logo-10001.png" alt=""/></div-->
                <div class="position">
                    <div class="positm" id="pos1" ref="pos1"></div>
                    <div class="positm" id="pos2" ref="pos2"></div>
                    <div class="positm" id="pos3" ref="pos3"></div>
                    <div class="positm" id="pos4" ref="pos4"></div>
                    <div class="positm" id="pos5" ref="pos5"></div>
                    <div class="positm" id="pos6" ref="pos6"></div>
                    <div class="positm" id="pos7" ref="pos7"></div>
                    <div class="positm" id="pos8" ref="pos8"></div>
                    <div class="positm" id="pos9" ref="pos9"></div>
                    <div class="positm" id="pos10" ref="pos10"></div>
                </div>
                <div class="currentdraw" :style="{fontSize:currentdrawfontSize+'rem'}">
                  期号:<span id="currentdrawid">{{getNo()}}</span>
                </div>
              
            </div>
            <div class="scenary page1" v-show="showPage1">
                <div class="scenaryitm" id="scenaryitm" ref="scenaryitm">
                  <img src="/static/images/pk10/ft/images/scenery.jpg" width="2668" height="119"  alt=""/>
                  </div>  
            </div>
            <div class="road page1" v-show="showPage1">
                <div class="roadani">
                    <div class="roaditm" id="roaditm" ref="roaditm">
                    <img src="/static/images/pk10/ft/images/road.jpg" width="2660" height="520"  alt=""/>		
                      </div>
                  </div>
                <div class="roadstart" id="roadstart" ref="roadstart" v-show="showRoadstart"><img src="/static/images/pk10/ft/images/finisher.png" width="249" height="515"  alt=""/>
                  </div>

                  <div class="car1" id="car1" ref="car1"><img src="/static/images/pk10/ft/images/car1.png" width="160" height="44"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"   alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"   alt=""/>
                    </div>
                      <div class="wind" v-show="showWind[1]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="144" height="53" alt=""/>
                      </div>
                      <div class="flame"  v-show="showFlame[1]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="49" height="11" alt=""/>
                      </div>
              </div>

                  <div class="car2" id="car2" ref="car2"><img src="/static/images/pk10/ft/images/car2.png" width="164" height="44"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"   alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"   alt=""/>
                    </div>
                      <div class="wind" v-show="showWind[2]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="154" height="51" alt=""/>
                      </div>
                      <div class="flame"  v-show="showFlame[2]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="49" height="11" alt=""/>
                      </div>
              </div>
                  <div class="car3" id="car3" ref="car3"><img src="/static/images/pk10/ft/images/car3.png" width="170" height="47"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"   alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"   alt=""/>
                    </div>
                      <div class="wind" v-show="showWind[3]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="162" height="55" alt=""/>
                      </div>
                      <div class="flame"  v-show="showFlame[3]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="51" height="12" alt=""/>
                      </div>
                  
              </div>
                  <div class="car4" id="car4" ref="car4"><img src="/static/images/pk10/ft/images/car4.png" width="173" height="47"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"   alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"   alt=""/>
                    </div>
                      <div class="wind" v-show="showWind[4]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="154" height="56" alt=""/>
                      </div>
                      <div class="flame"  v-show="showFlame[4]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="51" height="12" alt=""/>
                      </div>
                  
              </div>
                  <div class="car5" id="car5" ref="car5"><img src="/static/images/pk10/ft/images/car5.png" width="190" height="50"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"   alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"   alt=""/>
                    </div>
                      <div class="wind" v-show="showWind[5]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="158" height="57" alt=""/>
                      </div>
                      <div class="flame"  v-show="showFlame[5]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="53" height="13" alt=""/>
                      </div>
                  
              </div>
                  <div class="car6" id="car6" ref="car6"><img src="/static/images/pk10/ft/images/car6.png" width="201" height="53"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"   alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"   alt=""/>
                    </div>
                      <div class="wind" v-show="showWind[6]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="161" height="59" alt=""/>
                      </div>
                      <div class="flame" v-show="showFlame[6]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="53" height="13" alt=""/>
                      </div>
              </div>
                  <div class="car7" id="car7" ref="car7"><img src="/static/images/pk10/ft/images/car7.png" width="210" height="59"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"   alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"   alt=""/>
                    </div>
                      <div class="wind" v-show="showWind[7]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="163" height="63" alt=""/>
                      </div>
                      <div class="flame"  v-show="showFlame[7]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="55" height="14" alt=""/>
                      </div>
              </div>
                  <div class="car8" id="car8" ref="car8"><img src="/static/images/pk10/ft/images/car8.png" width="217" height="59"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"   alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"   alt=""/>
                    </div>
                      <div class="wind" v-show="showWind[8]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="165" height="65" alt=""/>
                      </div>
                      <div class="flame"  v-show="showFlame[8]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="55" height="14" alt=""/>
                      </div>
              </div>
                  <div class="car9" id="car9" ref="car9"><img src="/static/images/pk10/ft/images/car9.png" width="230" height="66"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"  alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"  alt=""/>
                    </div>
                      <div class="wind"  v-show="showWind[9]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="177" height="72" alt=""/>
                      </div>
                      <div class="flame"  v-show="showFlame[9]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="57" height="15" alt=""/>
                      </div>
              </div>
                  <div class="car10" id="car10" ref="car10"><img src="/static/images/pk10/ft/images/car10.png" width="241" height="66"  alt=""/>
                    <div class="wheel10a" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel.png"  alt=""/>
                    </div>
                      <div class="wheel10b" v-show="showWheel[1]">
                  <img src="/static/images/pk10/ft/images/wheel2.png"  alt=""/>
                    </div>
                      <div class="wind"  v-show="showWind[10]">
                        <img src="/static/images/pk10/ft/images/wind.png" width="177" height="72" alt=""/>
                      </div>
                      <div class="flame"  v-show="showFlame[10]">
                        <img src="/static/images/pk10/ft/images/flame.png" width="58" height="16" alt=""/>
                      </div>
              </div>



              <div class="trafficlight" v-show="showTrafficlight">
                <div class="countdownnum" :style="{fontSize: countfontSize + 'rem' }"><span v-show="betCountdown.hr>0">{{ getAdjNum(betCountdown.hr) }}:</span>{{ getAdjNum(betCountdown.min) }}:{{ getAdjNum(betCountdown.sec) }}</div>
                <!--div class="redlight" v-if="betCountdown.sec <=3 && betCountdown.hr <=0 && betCountdown.min <=0"><img src="/static/images/pk10/ft/images/lightred.png" width="293" height="193" alt=""/></div>
                <div class="yellowlight" v-if="betCountdown.sec <=2  && betCountdown.hr <=0 && betCountdown.min <=0"><img src="/static/images/pk10/ft/images/lightyellow.png" width="293" height="193" alt=""/></div>
                <div class="greenlight" v-if="betCountdown.sec <=1  && betCountdown.hr <=0 && betCountdown.min <=0"><img src="/static/images/pk10/ft/images/lightgreen.png" width="293" height="193" alt=""/></div-->
              </div>
            
            </div>
              
              <div class="resultpage page2"  v-show="showPage2">
                <div class="resultitm result1" id="result1" ref="result1"><img src="/static/images/pk10/ft/images/result1.png" width="226" height="177" alt=""/></div>
                  <div class="resultitm result2" id="result2" ref="result2"><img src="/static/images/pk10/ft/images/result2.png" width="258" height="139" alt=""/></div>
                  <div class="resultitm result3" id="result3" ref="result3"><img src="/static/images/pk10/ft/images/result3.png" width="173" height="112" alt=""/></div>
                  
                  <div class="resultitm resultcar2" id="resultcar2" ref="resultcar2"><img :src="'/static/images/pk10/ft/images/'+winner2" width="422" height="184" alt="" class="resultcarimg2"/></div>
                  <div class="resultitm resultcar3" id="resultcar3" ref="resultcar3"><img :src="'/static/images/pk10/ft/images/'+winner3" width="384" height="166" alt="" class="resultcarimg3"/></div>
                  <div class="resultitm resultcar1" id="resultcar1" ref="resultcar1"><img :src="'/static/images/pk10/ft/images/'+winner1" width="510" height="222" alt="" class="resultcarimg1"/></div>
              </div>
              
            <div class="footer" :style="{fontSize:footerfontSize+'rem'}">
                <div class="footer1">
                      <div class="footer1_2"><span id="nextdrawid" style="display: block;text-align: center;">{{this.lastIssue.actionNo}}</span></div>
                  </div>
                  <div class="footer2">
                    <div class="footer2_1">冠亚:</div>
                      <div class="footer2_2" id="stat1_1">{{preTred[0]}}</div>
                      <div class="footer2_2" id="stat1_2">{{preTred[1]}}</div>
                      <div class="footer2_2" id="stat1_3">{{preTred[2]}}</div>
                  </div>
                  <div class="footer3" ref="footer3" id="footer3">
                    <div class="footer2_1">龙虎:</div>
                      <div class="footer2_2" id="stat2_1">{{preTred[3]}}</div>
                      <div class="footer2_2" id="stat2_2">{{preTred[4]}}</div>
                      <div class="footer2_2" id="stat2_3">{{preTred[5]}}</div>
                      <div class="footer2_2" id="stat2_4">{{preTred[6]}}</div>
                      <div class="footer2_2" id="stat2_5">{{preTred[7]}}</div>
                  </div>
              </div>
              
              <div class="flashlight">
              </div>

          </div>
        </div>
    </transition>
    </div>
</template>

<script type="text/ecmascript-6">
import {TweenMax} from "gsap/TweenMax";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
  export default {
  mixins: [globalMixin],
  data() {
      return {
        zoom:1,
        countfontSize:8,
        currentdrawfontSize:2.1,
        footerfontSize:2.1,
        showVideo:false,
        car_race:'',
        car_stop:0,
        oldIssue:'',
        showTrafficlight:true,
        showRoadstart:true,
        showPage2:false,
        showPage1:true,
        roaditm_repeat:null,
        scenaryitm_repeat:null,
        number_race:null,
        winner1:"winner1.png",
        winner2:"winner1.png",
        winner3:"winner1.png",
        preTred:[],
        showWind:{
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
            6:false,
            7:false,
            8:false,
            9:false,
            10:false,
        },
        showFlame:{
            1:false,
            2:false,
            3:false,
            4:false,
            5:false,
            6:false,
            7:false,
            8:false,
            9:false,
            10:false,
        },
        showWheel:{
            1:true,
        }
      }
  },
    mounted() {
        const vm = this;
        vm.fullWidth = window.innerWidth;
        vm.fullHeight = window.innerHeight;
        window.onresize = () => {
          vm.fullWidth = window.innerWidth;
          vm.fullHeight = window.innerHeight;
        };
        this.zoom=vm.fullWidth/1334;
        var u = navigator.userAgent;
        if(u.indexOf('iPhone')>-1 || u.indexOf('Mac') > -1)
        {
          this.countfontSize = 2;
          this.currentdrawfontSize = .9;
          this.footerfontSize = .9;
        }
      },
    computed: {
        ...mapGetters({
            betCountdown: "betCountdown",
            raceCountdown: "raceCountdown",
            currentIssue: "currentIssue",
            lastIssue: "lastIssue",
        }),
    },
    props: {
      type_id: {
        type: Number,
        default: ''
      }
    },
    methods: {
      back() {
        this.$router.back();
      },
      video()
      {
        clearInterval(this.number_race);
        clearInterval(this.car_race);
        this.showVideo=true;
        setTimeout(()=> {
            this.race_init();
        }, 300);
      },
      hide()
      {
        clearInterval(this.car_race);
        clearInterval(this.number_race);
        this.showVideo=false;
        this.showTrafficlight=true;
        this.showRoadstart=true;
        this.showPage2=false;
        this.showPage1=true;
      },
      race_init()
      {
        this.oldIssue=this.currentIssue.actionNo;
        this.showWind[1]=false;
        this.showFlame[1]=false;
        this.showWind[2]=false;
        this.showFlame[2]=false;
        this.showWind[3]=false;
        this.showFlame[3]=false;
        this.showWind[4]=false;
        this.showFlame[4]=false;
        this.showWind[5]=false;
        this.showFlame[5]=false;
        this.showWind[6]=false;
        this.showFlame[6]=false;
        this.showWind[7]=false;
        this.showFlame[7]=false;
        this.showWind[8]=false;
        this.showFlame[8]=false;
        this.showWind[9]=false;
        this.showFlame[9]=false;
        this.showWind[10]=false;
        this.showFlame[10]=false;
        this.showWheel[1]=false;

        if(this.lastIssue.openCode==null)
        {
            this.oldIssue=this.lastIssue.actionNo;
            this.race_start();
            return;
        }else
        {
            this.preTred.splice(0,this.preTred.length);
            var tred=this.ocs.generateById(this.type_id,this.lastIssue.openCode);
            for(var k in tred)
            {
                this.preTred.push(tred[k]);
            }
            var carsequence=this.lastIssue.openCode.split(',');
            this.$refs.pos1.style.backgroundPosition="0px "+(-64*(carsequence[0]-1))+"px";
            this.$refs.pos2.style.backgroundPosition="0px "+(-64*(carsequence[1]-1))+"px";
            this.$refs.pos3.style.backgroundPosition="0px "+(-64*(carsequence[2]-1))+"px";
            this.$refs.pos4.style.backgroundPosition="0px "+(-64*(carsequence[3]-1))+"px";
            this.$refs.pos5.style.backgroundPosition="0px "+(-64*(carsequence[4]-1))+"px";
            this.$refs.pos6.style.backgroundPosition="0px "+(-64*(carsequence[5]-1))+"px";
            this.$refs.pos7.style.backgroundPosition="0px "+(-64*(carsequence[6]-1))+"px";
            this.$refs.pos8.style.backgroundPosition="0px "+(-64*(carsequence[7]-1))+"px";
            this.$refs.pos9.style.backgroundPosition="0px "+(-64*(carsequence[8]-1))+"px";
            this.$refs.pos10.style.backgroundPosition="0px "+(-64*(carsequence[9]-1))+"px";            
        }
        this.car_race= setInterval(() => {
            this.race_start();
        }, this.raceCountdown*1000);
        return;
      },
      rand_pos()
      {
        clearInterval(this.number_race);
        var carsequence=[0,1,2,3,4,5,6,7,8,9];
        carsequence=this.shuffle(carsequence);
        // for(var k in carsequence)
        // {
        //     //this.preTred.push(tred[k]);
        // }
        this.$refs.pos1.style.backgroundPosition="0px "+(-64*carsequence[0])+"px";
        this.$refs.pos2.style.backgroundPosition="0px "+(-64*carsequence[1])+"px";
        this.$refs.pos3.style.backgroundPosition="0px "+(-64*carsequence[2])+"px";
        this.$refs.pos4.style.backgroundPosition="0px "+(-64*carsequence[3])+"px";
        this.$refs.pos5.style.backgroundPosition="0px "+(-64*carsequence[4])+"px";
        this.$refs.pos6.style.backgroundPosition="0px "+(-64*carsequence[5])+"px";
        this.$refs.pos7.style.backgroundPosition="0px "+(-64*carsequence[6])+"px";
        this.$refs.pos8.style.backgroundPosition="0px "+(-64*carsequence[7])+"px";
        this.$refs.pos9.style.backgroundPosition="0px "+(-64*carsequence[8])+"px";
        this.$refs.pos10.style.backgroundPosition="0px "+(-64*carsequence[9])+"px";
        this.number_race= setInterval(() => {
            this.rand_pos();
        }, 300);
      },
      race_start()
      {

        this.number_race= setInterval(() => {
            this.rand_pos();
        }, 300);
        this.preTred.splice(0,this.preTred.length);
        var roaditm=this.$refs.roaditm;
        var scenaryitm=this.$refs.scenaryitm;
        
        this.roaditm_repeat = TweenMax.to(roaditm,.4,{left:"-120px",repeat:-1,ease:Linear.easeNone});
        this.scenaryitm_repeat = TweenMax.to(scenaryitm,20,{left:"0",repeat:-1,ease:Linear.easeNone});
        this.showWheel[1]=true;
        this.showTrafficlight=false;
        this.showRoadstart=false;
        this.car_control();
        return;
            // this.roaditm_repeat = TweenMax.to(roaditm,.4,{left:"-120px",repeat:-1,ease:Linear.easeNone});
            // this.scenaryitm_repeat = TweenMax.to(scenaryitm,20,{left:"0",repeat:-1,ease:Linear.easeNone})
            // this.showTrafficlight=false;
            // this.showRoadstart=false;
            // this.car_control();
      },
      car_control()
      {
        clearInterval(this.car_race);
        var car1=this.$refs.car1;
        var car2=this.$refs.car2;
        var car3=this.$refs.car3;
        var car4=this.$refs.car4;
        var car5=this.$refs.car5;
        var car6=this.$refs.car6;
        var car7=this.$refs.car7;
        var car8=this.$refs.car8;
        var car9=this.$refs.car9;
        var car10=this.$refs.car10;
        /*
        this.car_stop++;
        if(this.car_stop > 2)
        {
          this.showRoadstart=true;
          var roaditm=this.$refs.roaditm; 
          var roadstart=this.$refs.roadstart;
          var result1=this.$refs.result1; 
          var result2=this.$refs.result2; 
          var result3=this.$refs.result3; 
          var resultcar2=this.$refs.resultcar2; 
          var resultcar3=this.$refs.resultcar3; 
          var resultcar1=this.$refs.resultcar1; 
          roadstart.style.left="-250px";
          TweenMax.to(roadstart,.4,{left:"50px",ease:Linear.easeNone});
          setTimeout(()=> {
                this.roaditm_repeat.kill();
                this.scenaryitm_repeat.kill();
          }, 400);
          var min=1;
          var max=10;
          var cp=this.getRandom(min,max);
          var two=this.getRandom(min,max);
          var tree=this.getRandom(min,max);
          var finsh=-1200;
          if(cp==1)
          {
            timeline1.to(car1, 1, { x: finsh }) ;
          }
          if(cp==2)
          {
            timeline1.to(car2, 1, { x: finsh }) ;
          }
          if(cp==3)
          {
            timeline1.to(car3, 1, { x: finsh }) ;
          }
          if(cp==4)
          {
            timeline1.to(car4, 1, { x: finsh }) ;
          }
          if(cp==5)
          {
            timeline1.to(car5, 1, { x: finsh }) ;
          }
          if(cp==6)
          {
            timeline1.to(car6, 1, { x: finsh }) ;
          }
          if(cp==7)
          {
            timeline1.to(car7, 1, { x: finsh }) ;
          }
          if(cp==8)
          {
            timeline1.to(car8, 1, { x: finsh }) ;
          }
          if(cp==9)
          {
            timeline1.to(car9, 1, { x: finsh }) ;
          }
          if(cp==10)
          {
            timeline1.to(car10, 1, { x: finsh }) ;
          }
          setTimeout(()=> {
                  this.showPage1=false;
                  this.showPage2=true;
                  this.winner1='winner'+cp+'.png';
                  this.winner2='winner'+two+'.png';
                  this.winner3='winner'+tree+'.png';
                  TweenMax.to(result1,1,{opacity:1,delay:.2});
                  TweenMax.to(result2,1,{opacity:1,delay:.7});
                  TweenMax.to(result3,1,{opacity:1,delay:1.2});
                  TweenMax.to(resultcar1,1,{opacity:1,delay:.2});
                  TweenMax.to(resultcar2,1,{opacity:1,delay:.7});
                  TweenMax.to(resultcar3,1,{opacity:1,delay:1.2});
          }, 1200);
          return;
        }
        */
        if(this.lastIssue.openCode != null && this.oldIssue == this.lastIssue.actionNo)
        {
            this.showRoadstart=true;
            var roaditm=this.$refs.roaditm; 
            var roadstart=this.$refs.roadstart;
            var result1=this.$refs.result1; 
            var result2=this.$refs.result2; 
            var result3=this.$refs.result3; 
            var resultcar2=this.$refs.resultcar2; 
            var resultcar3=this.$refs.resultcar3; 
            var resultcar1=this.$refs.resultcar1; 
            roadstart.style.left="-250px";
            TweenMax.to(roadstart,.4,{left:"50px",ease:Linear.easeNone});
            setTimeout(()=> {
                this.roaditm_repeat.kill();
                this.scenaryitm_repeat.kill();
            }, 400);

            var codes = this.lastIssue.openCode.split(',');
            var min=1;
            var max=10;
            var cp=parseInt(codes[0]);
            var two=parseInt(codes[1]);
            var tree=parseInt(codes[2]);
            var finsh=30+"px";
            this.activateflame(30,cp);
            if(cp==1)
            {
                TweenMax.to(car1, 1, { left: finsh }) ;
            }
            if(cp==2)
            {
                TweenMax.to(car2, 1, { left: finsh }) ;
            }
            if(cp==3)
            {
                TweenMax.to(car3, 1, { left: finsh }) ;
            }
            if(cp==4)
            {
                TweenMax.to(car4, 1, { left: finsh }) ;
            }
            if(cp==5)
            {
                TweenMax.to(car5, 1, { left: finsh }) ;
            }
            if(cp==6)
            {
                TweenMax.to(car6, 1, { left: finsh }) ;
            }
            if(cp==7)
            {
                TweenMax.to(car7, 1, { left: finsh }) ;
            }
            if(cp==8)
            {
                TweenMax.to(car8, 1, { left: finsh }) ;
            }
            if(cp==9)
            {
                TweenMax.to(car9, 1, { left: finsh }) ;
            }
            if(cp==10)
            {
                TweenMax.to(car10, 1, { left: finsh }) ;
            }
            setTimeout(()=> {
                clearInterval(this.car_race);
                clearInterval(this.number_race);
                this.showPage1=false;
                this.showPage2=true;
                this.winner1='winner'+cp+'.png';
                this.winner2='winner'+two+'.png';
                this.winner3='winner'+tree+'.png';
                TweenMax.to(result1,1,{opacity:1,delay:.2});
                TweenMax.to(result2,1,{opacity:1,delay:.7});
                TweenMax.to(result3,1,{opacity:1,delay:1.2});
                TweenMax.to(resultcar1,1,{opacity:1,delay:.2});
                TweenMax.to(resultcar2,1,{opacity:1,delay:.7});
                TweenMax.to(resultcar3,1,{opacity:1,delay:1.2});
            }, 1200);
            setTimeout(()=> {
                this.showTrafficlight=true;
                this.showRoadstart=true;
                this.showPage2=false;
                this.showPage1=true;
                roadstart.style.left="960px";
                car1.style.left="1206px";
                car2.style.left="1197px";
                car3.style.left="1181px";
                car4.style.left="1166px";
                car5.style.left="1153px";
                car6.style.left="1139px";
                car7.style.left="1128px";
                car8.style.left="1105px";
                car9.style.left="1084px";
                car10.style.left="1067px";
                this.race_init();
            }, 3000);
            return;
        }
        var min=300;
        var max=1100;
        //var pos1=Math.floor(max*Math.random()+min);

        var pos1=this.getRandom(min,max);
        TweenMax.to(car1, 2, { left: pos1+"px" }) ;
        this.activateflame(pos1,1);

        var pos2=this.getRandom(min,max);
        TweenMax.to(car2, 2, { left: pos2+"px" }) ;
        this.activateflame(pos2,2);

        var pos3=this.getRandom(min,max);
        TweenMax.to(car3, 2, { left: pos3+"px" }) ;
        this.activateflame(pos3,3);

        var pos4=this.getRandom(min,max);
        TweenMax.to(car4, 2, { left: pos4+"px" }) ;
        this.activateflame(pos4,4);

        var pos5=this.getRandom(min,max);
        TweenMax.to(car5, 2, { left: pos5+"px" }) ;
        this.activateflame(pos5,5);

        var pos6=this.getRandom(min,max);
        TweenMax.to(car6, 2, { left: pos6+"px" }) ;
        this.activateflame(pos6,6);

        var pos7=this.getRandom(min,max);
        TweenMax.to(car7, 2, { left: pos7+"px" }) ;
        this.activateflame(pos7,7);

        var pos8=this.getRandom(min,max);
        TweenMax.to(car8, 2, { left: pos8+"px" }) ;
        this.activateflame(pos8,8);

        var pos9=this.getRandom(min,max);
        TweenMax.to(car9, 2, { left: pos9+"px" }) ;
        this.activateflame(pos9,9);

        var pos10=this.getRandom(min,max);
        TweenMax.to(car10, 2, { left: pos10+"px" }) ;
        this.activateflame(pos10,10);

        this.car_race= setInterval(() => {
            this.car_control();
        }, 2000);
      },
      activateflame(pos,car)
      {
          switch(car)
          {
              case 1:
                if(pos < this.getCarpos(this.$refs.car1.style.left))
                {
                    this.showWind[1]=true;
                    this.showFlame[1]=true;
                }else
                {
                    this.showWind[1]=false;
                    this.showFlame[1]=false;
                }
                return;
              case 2:
                if(pos < this.getCarpos(this.$refs.car2.style.left))
                {
                    this.showWind[2]=true;
                    this.showFlame[2]=true;
                }else
                {
                    this.showWind[2]=false;
                    this.showFlame[2]=false;
                }
                return;
              case 3:
                if(pos < this.getCarpos(this.$refs.car3.style.left))
                {
                    this.showWind[3]=true;
                    this.showFlame[3]=true;
                }else
                {
                    this.showWind[3]=false;
                    this.showFlame[3]=false;
                }
                return;
              case 4:
                if(pos < this.getCarpos(this.$refs.car4.style.left))
                {
                    this.showWind[4]=true;
                    this.showFlame[4]=true;
                }else
                {
                    this.showWind[4]=false;
                    this.showFlame[4]=false;
                }
                return;
              case 5:
                if(pos < this.getCarpos(this.$refs.car5.style.left))
                {
                    this.showWind[5]=true;
                    this.showFlame[5]=true;
                }else
                {
                    this.showWind[5]=false;
                    this.showFlame[5]=false;
                }
                return;
              case 6:
                if(pos < this.getCarpos(this.$refs.car6.style.left))
                {
                    this.showWind[6]=true;
                    this.showFlame[6]=true;
                }else
                {
                    this.showWind[6]=false;
                    this.showFlame[6]=false;
                }
                return;
              case 7:
                if(pos < this.getCarpos(this.$refs.car7.style.left))
                {
                    this.showWind[7]=true;
                    this.showFlame[7]=true;
                }else
                {
                    this.showWind[7]=false;
                    this.showFlame[7]=false;
                }
                return;
              case 8:
                if(pos < this.getCarpos(this.$refs.car8.style.left))
                {
                    this.showWind[8]=true;
                    this.showFlame[8]=true;
                }else
                {
                    this.showWind[8]=false;
                    this.showFlame[8]=false;
                }
                return;
              case 9:
                if(pos < this.getCarpos(this.$refs.car9.style.left))
                {
                    this.showWind[9]=true;
                    this.showFlame[9]=true;
                }else
                {
                    this.showWind[9]=false;
                    this.showFlame[9]=false;
                }
                return;
              case 10:
                if(pos < this.getCarpos(this.$refs.car10.style.left))
                {
                    this.showWind[10]=true;
                    this.showFlame[10]=true;
                }else
                {
                    this.showWind[10]=false;
                    this.showFlame[10]=false;
                }
                return;
          }
      },
      getCarpos(left)
      {
          if(left=="")
          {
              return 1200;
          }
          var pos = left.replace('px','');
          return parseInt(pos);
      },
      getRandom(min,max){
          return Math.floor(Math.random()*(max-min+1))+min;
      },
      shuffle(arr) {
          var i,
              j,
              temp;
          for (i = arr.length - 1; i > 0; i--) {
              j = Math.floor(Math.random() * (i + 1));
              temp = arr[i];
              arr[i] = arr[j];
              arr[j] = temp;
          }
          return arr;
      },
      getNo()
      {
        var no= "";
        if(this.lastIssue.actionNo)
        {
          no=String(this.lastIssue.actionNo);
          no=no.substr( no.length-3,3);
        }
        return no; 
      },
      getAdjNum(num)
      {
        return num;
      }
    },
    beforeDestroy() {
      clearInterval(this.car_race);
      clearInterval(this.number_race);
    }    
  }
</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
    .video_block
      width:100%;
      height 200px;
      background: rgba(255,255,255,1);
      z-index: 10000;
      left: 0;
      position: fixed;
      top:0;
      color: #fbfbfb;
      .container
        width: 1334px;
        height: 870px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
      .container {
      width:1334px;
      height:821px;
      margin:0 auto;
      overflow:hidden;
      position:relative
      }
      .header {
      height:90px;
      background-image:url("/static/images/pk10/ft/images/top_header.png?v=2019530156");
      position:relative
      }
      .logo {
      top:24px;
      left:39px;
      cursor:pointer
      }
      .logo,
      .position {
      position:absolute
      }
      .position {
      top:15px;
      left:200px
      }
      .positm {
      float:left;
      margin-right:5px;
      background:url("/static/images/pk10/ft/images/numbersprite.png?v=2019530156") no-repeat 0 0;
      width:64px;
      height:64px
      }
      .num1 {
      background-position:0 0
      }
      .num2 {
      background-position:0 -64px
      }
      .num3 {
      background-position:0 -128px
      }
      .num4 {
      background-position:0 -192px
      }
      .num5 {
      background-position:0 -256px
      }
      .num6 {
      background-position:0 -320px
      }
      .num7 {
      background-position:0 -384px
      }
      .num8 {
      background-position:0 -448px
      }
      .num9 {
      background-position:0 -512px
      }
      .num10 {
      background-position:0 -576px
      }
      .scenary {
      height:119px;
      position:relative
      }
      .scenaryitm {
      position:absolute;
      left:-1334px
      }
      .road {
      height:520px;
      position:relative
      }
      .roadani {
      width:1334px;
      height:520px;
      left:0;
      overflow:hidden
      }
      .roadani,
      .roaditm {
      position:absolute;
      top:0
      }
      .roaditm {
      left:-1300px
      }
      .flag {
      bottom:0;
      left:-150px
      }
      .car1,
      .car2,
      .car3,
      .car4,
      .car5,
      .car6,
      .car7,
      .car8,
      .car9,
      .car10,
      .flag {
      position:absolute
      }
      .car1 {
      top:-23px;
      left:1206px
      }
      .car2 {
      top:19px;
      left:1197px
      }
      .car3 {
      top:55px;
      left:1181px
      }
      .car4 {
      top:104px;
      left:1166px
      }
      .car5 {
      top:153px;
      left:1153px
      }
      .car6 {
      top:204px;
      left:1139px
      }
      .car7 {
      top:259px;
      left:1128px
      }
      .car8 {
      top:321px;
      left:1105px
      }
      .car9 {
      top:382px;
      left:1084px
      }
      .car10 {
      top:451px;
      left:1067px
      }
      .roadstart {
      position:absolute;
      top:0;
      left:960px;
      }
      .roadstart>img {
          opacity: .3;
      }      
      .wheel1a {
      left:29px;
      top:21px
      }
      .wheel1a,
      .wheel1b {
      position:absolute;
      }
      .wheel1b {
      left:124px;
      top:20px
      }
      .wheel2a {
      left:29px;
      top:21px
      }
      .wheel2a,
      .wheel2b {
      position:absolute;
      }
      .wheel2b {
      left:128px;
      top:20px
      }
      .wheel3a {
      left:32px;
      top:23px
      }
      .wheel3a,
      .wheel3b {
      position:absolute;
      }
      .wheel3b {
      left:133px;
      top:22px
      }
      .wheel4a {
      left:32px
      }
      .wheel4a,
      .wheel4b {
      position:absolute;
      top:23px;
      }
      .wheel4b {
      left:135px
      }
      .wheel5a {
      left:36px;
      top:24px
      }
      .wheel5a,
      .wheel5b {
      position:absolute;
      }
      .wheel5b {
      left:149px;
      top:23px
      }
      .wheel6a {
      left:39px;
      top:27px
      }
      .wheel6a,
      .wheel6b {
      position:absolute;
      }
      .wheel6b {
      left:159px;
      top:26px
      }
      .wheel7a {
      position:absolute;
      left:39px;
      top:32px;
      }
      .wheel7b {
      left:166px
      }
      .wheel7b,
      .wheel8a {
      position:absolute;
      top:31px;
      }
      .wheel8a {
      left:42px
      }
      .wheel8b {
      left:172px;
      top:31px
      }
      .wheel8b,
      .wheel9a {
      position:absolute;
      }
      .wheel9a {
      left:44px;
      top:33px
      }
      .wheel9b {
      left:182px;
      top:32px
      }
      .wheel9b,
      .wheel10a {
      position:absolute;
      }
      .wheel10a {
      left: 4%;
      top: 10%;
      width: 100%;
      }
      .wheel10a img{
        width:138%;
        animation:a .01s ease-in-out infinite
      }      
      .wheel10b {
      position:absolute;
      left: -5%;
      top: 11%;
      width: 100%;
      }
      .wheel10b img {
      width: 138%;
      animation: b .05s ease-in infinite;
      }      
      .trafficlight {
      position:absolute;
      top:145px;
      left:340px;
      width:636px;
      height:128px
      }
      .redlight {
      left:377px
      }
      .redlight,
      .yellowlight {
      position:absolute;
      top:-32px;
      }
      .yellowlight {
      left:179px
      }
      .greenlight {
      position:absolute;
      left:-23px;
      top:-33px;
      }
      .countdownnum {
      top:-99px;
      font-size:8rem;
      line-height:80px;
      text-align:center;
      width:100%;
      height:87px
      }
      .countdownnum,
      .countdownnum2 {
      font-family:DS-Digital;
      position:absolute;
      color:#fff;
      widht:200px
      }
      .countdownnum2 {
      top:-72px;
      left:433px;
      font-size:70px;
      line-height:60px;
      text-align:left;
      width:90px;
      height:63px
      }
      .currentdraw {
      position:absolute;
      left: 965px;
      top: 20px;
      width: 270px;
      height: 51px;
      line-height: 57px;
      font-size: 1rem;
      }
      #currentdrawid {
      font-family:arial
      }
      .footer {
        height: 90px;
        width: 100%;
        background: url("/static/images/pk10/ft/images/bg-bottom.jpg?v=2019530156");
        position: absolute;
        font-size: 1rem;
      }
      .footer1 {
      margin-left:26px;
      width:360px;
      height:80px;
      border:3px solid #596b85;
      border-radius:5px;
      float:left
      }
      .footer1_1 {
      float:left;
      width:80px;
      margin-left:20px;
      margin-top:20px
      }
      #closeSound {
      display:inline-block;
      height:100%;
      width:22%;
      background:url("/static/images/pk10/ft/images/vulebtn.png?v=2019530156") no-repeat 0 8%;
      background-size:90%;
      cursor:pointer;
      position:absolute;
      right:-70px
      }
      .closesoundbtn {
      background-position-y:80%!important
      }
      .footer1_2 {
      width:100%;
      margin-top:30px;
      line-height:28px;
      font-family:arial
      }
      .footer1_2,
      .footer2 {
      float:left;
      margin-left:10px
      }
      .footer2 {
      width:370px;
      height:80px;
      border:3px solid #596b85;
      border-radius:5px
      }
      .footer2_1 {
      float:left;
      width:120px;
      margin-left:20px;
      margin-top:20px
      }
      .footer2_2 {
      margin-top:12px;
      width:60px;
      height:60px;
      text-align:center;
      line-height:60px;
      border-radius:30px;
      background:#0191de;
      background:linear-gradient(180deg,#0191de 0,#09418b);
      }
      .footer2_2,
      .footer3 {
      float:left;
      margin-left:10px
      }
      .footer3 {
      width:505px;
      height:80px;
      border:3px solid #596b85;
      border-radius:5px
      }
      .flashlight {
      width:100%;
      height:639px;
      background-color:#fff;
      top:114px
      }
      .flashlight,
      .wind {
      position:inherit;
      }
      .wind {
      top:-3px;
      left:-11px
      }
      .flame {
      position:absolute;
      height: 15px;
      width: 20%;
      bottom: 15%;
      right: -18%;
      }
      .page1 {
      display:block
      }
      .resultpage {
      width:1334px;
      height:639px;
      position:relative;
      display:block;
      background-image:url("/static/images/pk10/ft/images/resultbg.jpg?v=2019530156")
      }
      .resultitm {
      position:absolute;
      opacity:0;
      /* filter:alpha(opacity=0); */
      }
      .result1 {
      top:80px;
      left:568px;
      }
      .result2 {
      left:173px;
      top:107px;
      }
      .result3 {
      left:960px;
      top:121px;
      }
      .resultcar1 {
      top:328px;
      left:395px;
      }
      .resultcar2 {
      top:287px;
      left:81px;
      }
      .resultcar3 {
      top:291px;
      left:859px;
      }        
    .vblock-enter,.vblock-leave-to
        opacity: 0;
    .vblock-enter-to,.vblock-leave
        opacity: 1;
    .vblock-enter-active,.vblock-leave-active
        transition: all 0.5s;
    >.wrapper
      height: calc(100% - 44px)
      overflow-x: hidden
      overflow-y: auto
      background-color: #fff ;
      // -webkit-overflow-scrolling: touch
      .desc
        padding: 10px
        margin: 10px 0
        line-height: 20px
        font-size: 14px
      .content
       // margin: 10px
    &.option-demo
      .wrapper
        background-color: $color-white
      .title
        font-size: $fontsize-large
        font-weight: 500
        color: $color-dark-grey
        padding: 15px
        border-bottom: 1px solid rgba(0, 0, 0, .1)
        margin-bottom: 15px
      .options
        margin-bottom: 15px
      .option-list
        .group
          margin-bottom: 15px
          border: 1px solid rgba(0, 0, 0, .1)
          border-radius: $radius-size-medium
        .item
          height: 52px
          border-bottom: 1px solid rgba(0, 0, 0, .1)
          &.sub
            font-size: $fontsize-medium
            background-color: $color-light-grey-opacity
            &.first
              box-shadow: 0 1px 1px 1px #eee inset
            &.last
              border-bottom: none
      .demo
        margin-bottom: 15px
      .methods
        .method-list
          .group
            margin-bottom: 15px
            border: 1px solid rgba(0, 0, 0, .1)
            border-radius: $radius-size-medium
          .item
          button
            height: 40px
            font-size: $fontsize-large
          .item
            background-color: $color-active-light-gray
            border-bottom: 1px solid rgba(0, 0, 0, .1)
          button
            width: 100%
            border-bottom-left-radius: $radius-size-medium
            border-bottom-right-radius: $radius-size-medium
            background-color: $color-orange
            box-shadow: 0 0 0 1px $color-orange
            border: none
            outline: none
            color: $color-white
      
</style>