<template>
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <div class="trend-info">
                <i class="fas fa-info-circle"></i> 统计近50期
            </div>
            <div class="record-body">
                <cube-scroll  ref="scroll" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" >
                    <div class="trend_div" v-if="showHot">
                        <div class="record-code" v-for="(item, hot_index) in results" :key="hot_index" v-if="results && item >=2">
                            {{getRcode(hot_index)}} {{item}}期
                        </div>
                    </div>
                    <div class="no-record" v-if="!results">
                        <img class="no-record-img" src="~assets/images/user/norecord.png">
                        <div class="no-record-txt">暂无相关纪录</div>
                    </div>
                </cube-scroll>
            </div>
        </div>   
    </div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { apiGetClong } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"长龙",
            type_id: this.options.type_id,
            group_type: this.options.group_type,
            results:[],
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            selectedLabelDefault:1,
            showHot:true,
            showLost:false,
            tabs: 
            [
                {
                    label: '热门',
                    value:1,
                },
                {
                    label: '遗漏',
                    value:2,
                },
            ],
        }
    },
    props:['options'],
    methods: {
        back()
        {
            this.$emit('switchView2');
        },
        getRcode(str)
        {
            var codes = str.split('_');
            if(codes[0]=="ball")
            {
                var num=parseInt(codes[1])+1;
                var pos="第"+num+"球";
                switch(true)
                {
                    case codes[2]=="big":
                        return pos+" 大";
                    case codes[2]=="small":
                        return pos+" 小";
                    case codes[2]=="double":
                        return pos+" 双";
                    case codes[2]=="single":
                        return pos+" 单";
                }
            }
            if(codes[0]=="zh")
            {
                var pos="总和";
                switch(true)
                {
                    case codes[1]=="big":
                        return pos+" 大";
                    case codes[1]=="small":
                        return pos+" 小";
                    case codes[1]=="double":
                        return pos+" 双";
                    case codes[1]=="single":
                        return pos+" 单";
                    case codes[1]=="l":
                        return pos+" 龙";
                    case codes[1]=="h":
                        return pos+" 虎";
                    case codes[1]=="hh":
                        return pos+" 和";
                    case codes[1]=="ws" && codes[2]=="big":
                        return pos+" 尾数大";
                    case codes[1]=="ws" && codes[2]=="small":
                        return pos+" 尾数小";
                }
            }
            if(codes[0]=="gy")
            {
                var pos="冠亚";
                switch(true)
                {
                    case codes[1]=="big":
                        return pos+" 大";
                    case codes[1]=="small":
                        return pos+" 小";
                    case codes[1]=="double":
                        return pos+" 双";
                    case codes[1]=="single":
                        return pos+" 单";
                }
            }
        },
        getLog()
        {
            apiGetClong({
                type_id : this.type_id,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        //this.results.splice(0,this.results.length);
                        this.results=response.data.data;
                        this.$refs.scroll.refresh();
                    }
                    this.$refs.scroll.forceUpdate(false);
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        logRefresh(){
            setTimeout(() => {
                this.getLog();
            }, 1000);
        },
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
            }
        },        
    },
    components: {
      BackPage,
    },
    created() {
        this.getLog();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    width: 100%;
    text-align: -webkit-center;
    font-size: 0.9rem;
    .trend-info
        position: fixed; 
        top: 57px;
        margin: auto;
        width: 100%;
    .record-code
        font-size: 1rem;
        padding: 13px;
        border-bottom: 1px #ddd solid;
    .no-record
        margin: 30px auto;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 82px;
        left: 0;
        right: 0;
        overflow:hidden;
        background-color #fff
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align: center;
        border-radius: 5px;
        background-color: #eee;
        font-size: 0.85rem;


</style>
