<template>
  <search-page :title="title" v-on:showSearch="showSearch" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <div class="record-body">
            <cube-scroll  ref="scroll" :data="results" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" @pulling-up="logLoadMore">
                <div class="trend_div">
                <table v-for="(item, index) in results"  :key="index" >
                    <tr  >
                        <td>{{item.actionNo}}
                            <div class="record-time">{{getMomentDate(item.OpenTime)}} {{getMomentTime(item.OpenTime)}}</div>
                        </td>
                        <td>
                            <div class="record-code">
                                <span v-if="group_type == 1 || group_type == 2 || group_type == 4  || group_type == 8 ">
                                    <span  class="round blue-bgcolor" v-for="(item,index) in str_split(item.openCode)" :key="index">{{item}}</span>
                                </span>
                                <span v-if="group_type == 6">
                                    <span class="pk10 square" :class="'color'+ numberPk10(item)" v-for="(item,index) in str_split(item.openCode)" :key="index">{{numberPk10(item)}}</span>
                                </span>
                                <span v-if="group_type == 11">
                                    <div ><span  class="round blue-bgcolor">{{str_split(item.openCode)[0]}}</span><span class="round blue-bgcolor">{{str_split(item.openCode)[1]}}</span><span class="round blue-bgcolor">{{str_split(item.openCode)[2]}}</span> = <span  class="round " :class="pcdd_color(item.openCode)">{{pcdd_code(item.openCode)}}</span></div>
                                </span>
                                <span v-if="group_type == 9">
                                    <img  class="k3" :src="require('@/assets/images/k3/'+code+'.png')" v-for="(code,index) in str_split(item.openCode)" :key="index">
                                </span>
                                <span v-if="group_type == 3">
                                    <span  v-for="(code,index) in str_split(item.openCode)" :key="index" class="round blue-bgcolor">{{code}}</span>
                                </span>
                                <span v-if="group_type == 12">
                                    <span class="round" :class="lhc_color(item)" v-for="(item,index) in str_split(item.openCode)" :key="index">{{item}}</span>
                                </span>
                                <span v-if="group_type == 15">
                                    <img class="zh_img" :src="require('@/assets/images/lottery/zh/'+item.openCode+'.png')">
                                </span>
                                <span v-if="group_type == 17">
                                    <img class="zh_img" :src="require('@/assets/images/ld/'+code+'.png')" v-for="(code,index) in str_split(item.openCode)" :key="index">
                                </span>
                                <span v-if="group_type == 18" >
                                    <div v-for="(item, index) in item.openCode"  :key="index" style="text-align: left;">
                                        <span v-if="index=='1st'">First prize(首獎)  : <br></span>
                                        <span v-if="index=='2nd'">Second prize(第二獎)  : <br></span>
                                        <span v-if="index=='3th'">Third prize(第三獎)  : <br></span>
                                        <span v-if="index=='en1'">Encouragement prize 1(安慰獎 1)  : <br></span>
                                        <span v-if="index=='en2'">Encouragement prize 2(安慰獎 2)  : <br></span>
                                        <span style="color:#ce0e34">{{item}}</span>
                                    </div>
                                </span>
                                
                            </div>
                            <span v-if="group_type != 15  && group_type != 17 && group_type != 18">
                                <span v-for="(item,key) in getOcs(item.openCode.toString())" :key="'code'+key" class="resultData">{{item}}</span>
                            </span>
                        </td>
                    </tr>
                </table>
                </div>
                <div class="no-record" v-if="!results.length">
                    <img class="no-record-img" src="~assets/images/user/norecord.png">
                    <div class="no-record-txt">暂无相关纪录</div>
                </div>
            </cube-scroll>
            </div>
        </div>   
        <transition name="filtermenu">
            <keep-alive>
                <CodeListSearch v-if="filterSearch" v-on:showSearch="showSearch" :options="options" ></CodeListSearch>
            </keep-alive>
        </transition>
    </div>
  </search-page>
</template>

<script type="text/ecmascript-6" >
import CodeListSearch from '@/components/game/code-list-search.vue';
import SearchPage from '@/components/search-page.vue';
import moment from 'moment'
import { apiGetRecentOpenCode } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            filterSearch:0,
            filterData:{
                StartValue:moment(new Date()).format("YYYY-MM-DD"),
                EndValue:moment(new Date()).format("YYYY-MM-DD"),
                LotteryValue:this.options.type_id,
            },
            title:"开奖纪录 - "+this.options.title,
            type_id: this.options.type_id,
            group_type: this.options.group_type,
            results:[],
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            current_page:1,
        }
    },
    props:['options'],
    methods: {
        showSearch(value,data)
        {
            this.filterSearch=value;
            if(data!=null)
            {
                this.title = "开奖纪录 - "+this.mapByType[data.LotteryValue].title;
                this.group_type = this.mapByType[data.LotteryValue].type;
                this.current_page=1;
                this.filterData=data;
                this.getLog(this.current_page);
            }
        },
        back()
        {
            this.$emit('switchView2');
        },
        getOcs(code)
        {
            var tred=this.ocs.generate(this.group_type,code);
            var hisTred=[];
            for(var k in tred)
            {
                hisTred.push(tred[k]);
            }
            return hisTred;
        },
        getLog(page)
        {
            apiGetRecentOpenCode({
                type_id: this.filterData.LotteryValue,
                fromTime: this.filterData.StartValue,
                toTime: this.filterData.EndValue,
                page: page,
                })
                .then(response => {
                    this.$refs.scroll.forceUpdate(false);
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(page==1)
                    {
                        this.results.splice(0,this.results.length);
                    }
                    if(response.data.status)
                    {
                        this.results=this.results.concat(response.data.data);
                        this.$refs.scroll.refresh();
                    }
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        logRefresh(){
            this.current_page=1;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },
        logLoadMore(){
            this.current_page++;
            setTimeout(() => {
                this.getLog(this.current_page);
            }, 1000);
        },        
    },
    computed: {
		...mapGetters({
            config:'config',
            mapByType: "mapByType",
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
                pullUpLoad: {
                    threshold: parseInt(this.log.pullUpLoadThreshold),
                    txt: {
                        more: this.log.pullUpLoadMoreTxt,
                        noMore: this.log.pullUpLoadNoMoreTxt
                    }
                },
            }
        },
    },
    components: {
        CodeListSearch,
        SearchPage,
    },
    created() {
        this.getLog(1);
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    width: 100%;
    text-align: -webkit-center;
    font-size: 0.9rem;
    .no-record
        margin: 30px auto;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 46px;
        left: 0;
        right: 0;
        overflow:hidden;
    .record-time
        line-height 3rem;
        margin-top: 5px;
        font-size: 0.8rem;
        padding: 0px 5px;
    .record-code
        margin-top: 5px;
        line-height 1.1rem;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align: center;
        border-radius: 5px;
        background-color: #eee;
        font-size: 0.85rem;
    .trend_div
        .round
            font-size: 1rem;
            margin: 5px 3px;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
        .zh_img
            width 70px;
            height 70px;
            vertical-align: text-top;
</style>
