<template>
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <cube-tab-bar v-model="selectedLabelDefault"
                            show-slider
                            @click="clickHandler"
                            :data="tabs" class="mail-tab-bar">
            </cube-tab-bar>
            <div class="trend-info">
                <i class="fas fa-info-circle"></i> 统计近50期
            </div>
            <div class="record-body">
                <cube-scroll  ref="scroll" :options="scrollLogOpts" :scroll-events="['scroll']"  @pulling-down="logRefresh" >
                    <div class="trend_div" v-if="showHot">
                        <table v-for="(item, hot_index) in results.hot"  :key="hot_index" v-if="results">
                            <tr>
                                <td class="trend_pos" v-if="group_type != 11">
                                    <span  v-if="group_type == 1 || group_type == 2 || group_type == 4  || group_type == 8 || group_type == 3">第{{hot_index}}球</span>
                                    <span v-if="group_type == 9 || group_type == 6 || group_type == 17">第{{hot_index}}位</span>
                                    <span v-if="group_type == 12 ">正码</span>
                                </td>
                                <td>
                                    <ul class="trend_num">
                                        <li class="trend_list" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 1 || group_type == 2 || group_type == 4  || group_type == 8 || group_type == 3">
                                            <div class="round blue-bgcolor">{{hot_nindex}}</div>
                                            <div class="trend_count_hot">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 12">
                                            <div class="round " :class="lhc_color(hot_nindex)">{{hot_nindex}}</div>
                                            <div class="trend_count_hot">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 11">
                                            <div class="round " :class="pcdd_color(hot_nindex)">{{hot_nindex}}</div>
                                            <div class="trend_count_hot">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 6 ">
                                            <div class="pk10 square" :class="'color'+hot_nindex">{{hot_nindex}}</div>
                                            <div class="trend_count_hot">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list_6" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 9">
                                            <img  class="k3" :src="require('@/assets/images/k3/'+hot_nindex+'.png')" >
                                            <div class="trend_count_hot">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list_6" v-for="(number, hot_nindex) in item" :key="hot_nindex"  v-if="group_type == 17">
                                            <img  class="ld" :src="require('@/assets/images/ld/'+hot_nindex+'.png')" >
                                            <div class="trend_count_hot">
                                                {{number}}
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <table v-for="(item, sp_hot_index) in results.sp_hot"  :key="sp_hot_index" v-if="results  && group_type == 12">
                            <tr>
                                <td class="trend_pos" >
                                    <span>特码</span>
                                </td>
                                <td>
                                    <ul class="trend_num">
                                        <li class="trend_list" v-for="(number, sp_hot_nindex) in item" :key="sp_hot_nindex" >
                                            <div class="round " :class="lhc_color(sp_hot_nindex)">{{sp_hot_nindex}}</div>
                                            <div class="trend_count_hot">
                                                {{number}}
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="trend_div" v-if="showLost">
                        <table v-for="(item, lost_index) in results.lost"  :key="lost_index" v-if="results">
                            <tr>
                                <td class="trend_pos" v-if="group_type != 11">
                                    <span  v-if="group_type == 1 || group_type == 2 || group_type == 4  || group_type == 8 || group_type == 3">第{{lost_index}}球</span>
                                    <span v-if="group_type == 9 || group_type == 6 || group_type == 17">第{{lost_index}}位</span>
                                    <span v-if="group_type == 12 ">正码</span>
                                </td>
                                <td>
                                    <ul class="trend_num">
                                        <li class="trend_list" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 1 || group_type == 2 || group_type == 4  || group_type == 8 || group_type == 3">
                                            <div class="round blue-bgcolor">{{lost_nindex}}</div>
                                            <div class="trend_count_lost">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 12">
                                            <div class="round " :class="lhc_color(lost_nindex)">{{lost_nindex}}</div>
                                            <div class="trend_count_lost">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 11">
                                            <div class="round " :class="pcdd_color(lost_nindex)">{{lost_nindex}}</div>
                                            <div class="trend_count_lost">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 6 ">
                                            <div class="pk10 square" :class="'color'+lost_nindex">{{lost_nindex}}</div>
                                            <div class="trend_count_lost">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list_6" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 9">
                                            <img  class="k3" :src="require('@/assets/images/k3/'+lost_nindex+'.png')" >
                                            <div class="trend_count_lost">
                                                {{number}}
                                            </div>
                                        </li>
                                        <li class="trend_list_6" v-for="(number, lost_nindex) in item" :key="lost_nindex"  v-if="group_type == 17">
                                            <img  class="ld" :src="require('@/assets/images/ld/'+lost_nindex+'.png')" >
                                            <div class="trend_count_lost">
                                                {{number}}
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <table v-for="(item, sp_lost_index) in results.sp_lost"  :key="sp_lost_index" v-if="results  && group_type == 12">
                            <tr>
                                <td class="trend_pos" >
                                    <span>特码</span>
                                </td>
                                <td>
                                    <ul class="trend_num">
                                        <li class="trend_list" v-for="(number, sp_lost_nindex) in item" :key="sp_lost_nindex" >
                                            <div class="round " :class="lhc_color(sp_lost_nindex)">{{sp_lost_nindex}}</div>
                                            <div class="trend_count_lost">
                                                {{number}}
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="no-record" v-if="!results">
                        <img class="no-record-img" src="~assets/images/user/norecord.png">
                        <div class="no-record-txt">暂无相关纪录</div>
                    </div>
                </cube-scroll>
            </div>
        </div>   
    </div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { apiGetHotlost } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin],
    data() {
        return {
            title:"冷热遗漏",
            type_id: this.options.type_id,
            group_type: this.options.group_type,
            results:[],
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
            selectedLabelDefault:1,
            showHot:true,
            showLost:false,
            tabs: 
            [
                {
                    label: '热门',
                    value:1,
                },
                {
                    label: '遗漏',
                    value:2,
                },
            ],
        }
    },
    props:['options'],
    methods: {
        back()
        {
            this.$emit('switchView2');
        },
        clickHandler(current)
        {
            switch(current)
            {
                case 1:
                    this.showHot=true;
                    this.showLost=false;
                    break;
                case 2:
                    this.showHot=false;
                    this.showLost=true;
                    break;
            }
        },
        getLog()
        {
            apiGetHotlost({
                type_id : this.type_id,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        //this.results.splice(0,this.results.length);
                        this.results=response.data.data;
                        this.$refs.scroll.refresh();
                    }
                    this.$refs.scroll.forceUpdate(false);
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        logRefresh(){
            setTimeout(() => {
                this.getLog();
            }, 1000);
        },
    },
    computed: {
		...mapGetters({
            config:'config',
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
            }
        },        
    },
    components: {
      BackPage,
    },
    created() {
        this.getLog();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    width: 100%;
    text-align: -webkit-center;
    font-size: 0.9rem;
    .trend_div
        .k3
            padding 8px 0px;
        .square
            margin 8px 0px;
    .trend-info
        position: fixed; 
        top: 90px;
        margin: auto;
        width: 100%;
    .mail-tab-bar
        top: 0px;
    .trend_pos
        width: 60px;
        vertical-align: middle;    
    .trend_num
        list-style: none;
        width 100%;
        .trend_list
            float left
            width 20%;
        .trend_list_6
            float left
            width 33%;
    .trend_count_hot
        background-color: rgba(240, 142, 159, 0.1);
        border-radius: 5px;
        padding: 5px;
        width: 25px;
        margin: auto;
    .trend_count_lost
        background-color: rgba(142, 198, 240, 0.1);
        border-radius: 5px;
        padding: 5px;
        width: 25px;
        margin: auto;
    .no-record
        margin: 30px auto;
    .no-record-txt
        color: #999;
        font-size: 14px;
        margin: 14px auto;
    .no-record-img
        width 121px;
    .record-body
        position: fixed; 
        bottom: 0px;
        top: 108px;
        left: 0;
        right: 0;
        overflow:hidden;
    .fw700
        font-weight 700;
    .text-left
        text-align left;
    .text-right
        text-align: center;
        border-radius: 5px;
        background-color: #eee;
        font-size: 0.85rem;


</style>
