<template>
  <BackPage :title="title" v-on:callback="back">
    <div slot="content" >
        <div class="mainSearch">
            <div class="zhuihao-info">
                <div class="zhuihao-row">
                    <div class="zhuihao-item">起始倍数</div>
                    <div class="zhuihao-item">每隔</div>
                    <div class="zhuihao-item">倍数</div>
                    <div class="zhuihao-item">期数</div>
                </div>
                <div class="zhuihao-row">
                    <div class="zhuihao-item zhuihao-flex">
                        <div class='zhuihao-input' @click.stop='showBoard("start_beisu")'>
                            {{form.start_beisu}}
                        </div>
                        <div class="zhuihao-box">倍</div>
                    </div>
                    <div class="zhuihao-item zhuihao-flex">
                        <div class='zhuihao-input' @click.stop='showBoard("split_no")'>
                            {{form.split_no}}
                        </div>
                        <div class="zhuihao-box">期</div>
                    </div>
                    <div class="zhuihao-item zhuihao-flex">
                        <div class='zhuihao-input' @click.stop='showBoard("n_beisu")'>
                            {{form.n_beisu}}
                        </div>
                        <div class="zhuihao-box">倍</div>
                    </div>
                    <div class="zhuihao-item zhuihao-flex">
                        <div class='zhuihao-input' @click.stop='showBoard("total_no")'>
                            {{form.total_no}}
                        </div>
                        <div class="zhuihao-box">期</div>
                    </div>
                </div>
            </div>
            <div class="record-body">
                <cube-scroll  ref="scroll" :data="results" @pulling-down="logRefresh" :options="scrollLogOpts">
                    <div class="trend_div" >
                        <div class="record-code" v-for="(item, index) in results" :key="index" >
                            <div class="record-item record-item-small" @click.stop='delIssue(index)'><i class="fas fa-times-circle" ></i></div>
                            <div class="record-item record-item-large">{{item.no | sortIssue}}期</div>
                            <div class="record-item">{{item.amount}}元</div>
                            <div class="record-item record-item-large record-row">
                                <div class="button-plus">
                                    <i class="fas fa-minus" @click.stop='clickBeisu(index,-1)'></i>
                                </div>                                
                                <div class="record-beisu">{{item.beisu}}</div>
                                <div class="button-plus"  @click.stop='clickBeisu(index,1)'>
                                    <i class="fas fa-plus"></i>
                                </div>
                                <div style="margin-left:3px">倍</div>
                            </div>
                        </div>
                    </div>
                </cube-scroll>
            </div>
            <div class="bet-bar">
                <div v-show='!showme' class="top_betBox" >
                    <div class='count'>
                        <span >共<span class="colorInherit blue-color"> {{betCount()}} </span>注  <span class="colorInherit blue-color">{{results.length}}</span> 期 <span class="colorInherit blue-color">{{betCoin()}}</span> 元</span>
                    </div>
                    <div class='zhuihao_stop'>
                        <div >
                            <cube-checkbox v-model="zhuihao_stop" shape="square">中獎既停</cube-checkbox>
                        </div>
                    </div>
                    <div class='import_button'>
                        <div class="button">
                            <cube-button :light="true" @click="postZhuihao_OF">下注</cube-button>
                        </div>
                    </div>
                </div>
                <transition name='board-slide'>
                    <div v-show='showme'>
                        <div class="top_betBox input_board" >
                            <div  class='count'>
                                <span >共<span class="colorInherit blue-color"> {{betCount()}} </span>注  <span class="colorInherit blue-color">{{results.length}}</span> 期 <span class="colorInherit blue-color">{{betCoin()}}</span> 元</span>
                            </div>
                            <div class='zhuihao_stop'>
                                <div >
                                    <cube-checkbox v-model="zhuihao_stop">中獎既停</cube-checkbox>
                                </div>
                            </div>
                            <div class='import_button'>
                                <div class="button">
                                    <cube-button :light="true" @click="postZhuihao_OF">下注</cube-button>
                                </div>
                            </div>
                        </div>
                        <div class="wrap">
                            <ul class="board">
                                <li class="br bt" @click.stop='click(1)'>1</li>
                                <li class="br bt" @click.stop='click(2)'>2</li>
                                <li class="bt " @click.stop='click(3)'>3</li>
                                <li class="br bt" @click.stop='click(4)'>4</li>
                                <li class="br bt" @click.stop='click(5)'>5</li>
                                <li class="bt " @click.stop='click(6)'>6</li>
                                <li class="br bt" @click.stop='click(7)'>7</li>
                                <li class="br bt" @click.stop='click(8)'>8</li>
                                <li class="bt" @click.stop='click(9)'>9</li>
                                <li class="br bt dott n" @click.stop='click(".")' style="color: red;">C</li>
                                <li class="br bt" @click.stop='click(0)'>0</li>
                                <li class="bt delete" @click.stop='deleteLast()' style="font-size: 1.6rem;"><i class="fas fa-backspace"></i></li>
                            </ul>
                        </div>
                        <div class="keyboard_block" @click='showBoard()'></div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
  </BackPage>
</template>

<script type="text/ecmascript-6" >
import BackPage from '@/components/back-page.vue'
import { apiGetTodayLast } from "@/api.js";
import { globalMixin } from '@/mixin.js';
import { OfficialMixin } from '@/mixin_official.js';
import { mapGetters } from "vuex";
export default {
    mixins: [globalMixin,OfficialMixin],
    data() {
        return {
            title:"追號",
            form:{
                start_beisu:1,
                split_no:1,
                n_beisu:1,
                total_no:10,
            },
            showme:false,
            target:null,
            zhuihao_stop:false,
            type_id: this.options.type_id,
            limit_zh:100,
            max_issue:0,
            results:[],
            log: {
                y: 0,
                col: 2,
                data: [],

                pullDownRefreshThreshold: 60,
                pullDownRefreshStop: 40,
                pullDownRefreshTxt: ' ', //'Resfresh Success',

                pullUpLoadThreshold: 0,
                pullUpLoadMoreTxt: '',  //'Load more',
                pullUpLoadNoMoreTxt: '没有更多数据',    //'No more data',
            },
        }
    },
    props:['options'],
    methods: {
        deleteLast(){
            // if(this.form[this.target] === 1){
            //     this.showme = false;
            // }else{
            //     let str =  this.form[this.target].toString();
            //     if(str.length > 1)
            //     {
            //         this.form[this.target] = parseInt(str.substring(0,str.length-1));
            //     }else
            //     {
            //         this.form[this.target] = 1;
            //     }
            // }
            let str =  this.form[this.target].toString();
            if(str.length > 1)
            {
                this.form[this.target] = parseInt(str.substring(0,str.length-1));
            }else
            {
                this.form[this.target] = '';
            }
        },
        click(num){
            if(num === '.'){
                this.form[this.target] = 1;
                return ;
            }
            if(num==0)
            {
                //this.form[this.target] = (parseInt(this.form[this.target]) *10);
                this.form[this.target] = this.form[this.target].toString() + '0';
            }
            else
            {
                this.form[this.target] = this.form[this.target].toString() + num;
            }
            this.form[this.target] = parseInt(this.form[this.target]);
            // if(this.form[this.target] < 1)
            // {
            //     this.form[this.target] = 1;
            // }
        },
        showBoard(t){
            this.target=t;
            this.showme = !this.showme;
        },
        clickBeisu(index,value)
        {
            let Data = this.results[index];
            Data.beisu +=value;
            if(Data.beisu < 1 )
            {
                Data.beisu = 1;
            }
            Data.amount = Data.beisu * 2 * this.betCount();
            this.results.splice(index,1,Data);
        },
        delIssue(index)
        {
            this.results.splice(index,1);
        },
        betCount(){
            var betCount = 0;
            for(var i = 0 ;i < this.betData.length;i++)
            {
                betCount += this.betData[i].betCount;
            }
            return betCount;
        },
        betCoin(){
            if(this.betData)
            {
                //return this.betCount()*parseInt(this.beiShu)*2;
                let amount = 0;
                for(var i=0;i<this.results.length;i++)
                {
                    amount += this.results[i].amount
                }
                return amount;
            }else
            {
                return '0';
            }  
        },
        back()
        {
            this.$emit('switchView2');
        },
        restIssue()
        {
            let count = 0;
            let now_beisu = this.form.start_beisu;
            let Data = [];
            let betCount = this.betCount();
            var now_issue = parseInt(this.currentIssue.actionNo);
            var limit_issue = parseInt(this.max_issue);
            if(this.form.total_no==='' || this.form.start_beisu==='' || this.form.split_no==='' || this.form.n_beisu==='')
            {
                return;
            }
            console.log(11);
            if(limit_issue - now_issue > this.form.total_no)
            {
                limit_issue = now_issue + parseInt(this.form.total_no);
            }
            for(var i=now_issue; i<=limit_issue; i++)
            {
                if(count%this.form.split_no == 0 && count > 0)
                {
                    now_beisu = now_beisu * this.form.n_beisu;
                }
                Data.push(
                    {
                        no:i,
                        beisu:now_beisu,
                        amount:now_beisu*2*betCount,
                        count:betCount,
                        zhuihao_stop:(this.zhuihao_stop)?1:0,
                    }
                );
                count ++;
            }
            this.results.splice(0,this.results.length);
            this.results = Data;
        },
        getIssue()
        {
            apiGetTodayLast({
                type_id : this.type_id,
                })
                .then(response => {
                    if(response.data.error)
                    {
                        this.error_handler(response.data);
                    }
                    if(response.data.status)
                    {
                        var now_issue = parseInt(this.currentIssue.actionNo);
                        var limit_issue = parseInt(response.data.data);
                        this.max_issue = limit_issue;
                        if(limit_issue - now_issue > this.form.total_no)
                        {
                            limit_issue = now_issue + this.form.total_no;
                        }
                        var count = 0;
                        var now_beisu = this.form.start_beisu;
                        this.results.splice(0,this.results.length);
                        for(var i=now_issue; i<=limit_issue; i++)
                        {
                            if(count%this.form.split_no == 0 && count > 0)
                            {
                                now_beisu = now_beisu * this.form.n_beisu;
                            }
                            var Data ={
                                no:i,
                                beisu:now_beisu,
                                amount:now_beisu*2*this.betCount(),
                                count:this.betCount(),
                                zhuihao_stop:(this.zhuihao_stop)?1:0,
                            }
                            count ++;
                            this.results.push(Data);
                        }
                        this.$refs.scroll.refresh();
                    }
                    this.$refs.scroll.forceUpdate(false);
                    return;
                }).catch(error => {
                    console.log(error);
                    this.$refs.scroll.forceUpdate();
                    return;
                });
        },
        logRefresh(){
            setTimeout(() => {
                this.getIssue();
            }, 1000);
        },
    },
    filters:{
        sortIssue:function(value)
        {
            let str = value.toString();
            if(str.length >= 10)
            {
                return "..."+str.substring(4,str.length);
            }
            return str;
        }
    },
    watch: {
        'form.start_beisu': function () {
            this.restIssue();
        },
        'form.split_no': function () {
            this.restIssue();
        },
        'form.n_beisu': function () {
            this.restIssue();
        },
        'form.total_no': function () {
            if(this.form.total_no > this.limit_zh)
            {
                this.form.total_no = this.limit_zh;
            }
            this.restIssue();
        },
        zhuihao_stop: function () {
            this.restIssue();
        },
    },
    computed: {
		...mapGetters({
            betData: "betData",
            betFlag: "betFlag",
            beiShu: "beiShu",
            mapByPlay: "mapByPlay",
            currentIssue: "currentIssue",
            user: "user",
            config: "config",
        }),
        scrollLogOpts() {
            return {
                pullDownRefresh: {
                    threshold: parseInt(this.log.pullDownRefreshThreshold),
                    txt: this.log.pullDownRefreshTxt
                },
            }
        },    
    },
    components: {
      BackPage,
    },
    created() {
        this.getIssue();
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.mainSearch
    width: 100%;
    text-align: -webkit-center;
    font-size: 0.9rem;
    z-index: 10000;
    .bet-bar
        position: fixed
        bottom: 0
        width: 100%
        background: #fff
        height: 60px
        ul
            background-color : #fff
            border-bottom: 1px #ddd solid;
            list-style: none;
        ul,li
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            .coin_color
                color: rgb(25, 180, 245);
        ul>li
            width: 33.33%;
            height: 60px;
            float: left;
            text-align: center;
            line-height: 60px;
            font-size: 22px;
            color: #000;
            font-weight: bold;
        .br
            border-right: 1px solid #bbb;
        .bt
            border-top: 1px solid #bbb;
        .board-slide-enter,.board-slide-leave-to
            transform: translateY(276px);
        .board-slide-enter-to,.board-slide-leave
            transform: translateY(0px);
        .board-slide-enter-active,.board-slide-leave-active
            transition: all 0.3s;
        .keyboard_block
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 2000px;
            z-index: 9999;
            position: fixed;
        .wrap
            position: fixed;
            z-index: 10000;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 239px;
            background: #fff;
        .board
            width: 100%;
            height: 240px;
            background: #fff;
            .icon
                font-size 1.2 rem;
        .delete
            img
                border: none;
                vertical-align: middle;
                width: 2.6rem;
                height: auto;    
        .input_board
            bottom: 239px;
            z-index: 10000 !important;
        button
            border-radius: 5px !important;
            padding: 10px 10px !important;
            background: #ff5151;
            color: #fff;
        .top_betBox
            z-index: 9000;
            background: #f5f6f7;
            height: 60px;
            display: table;
            width: 100%;
            position: relative;
            .zhuihao_stop
                display: table-cell;
                vertical-align: middle;
                font-size: 1rem;
            .count
                display: table-cell;
                vertical-align: middle;
                font-size: .9rem;
                padding: 0px 10px;
            .import_button
                display: table-cell;
                vertical-align: middle;
                position: relative;
                width: 60px;
                padding-right: 5px;
                .button
                    vertical-align: middle;
                    padding-right: 5px;
                    width: 60px;
    .zhuihao-info
        position: fixed; 
        top: 46px;
        margin: auto;
        width: 100%;
        background-color #fff
        padding:10px 0px;
        .zhuihao-row
            display:flex;
        .zhuihao-item
            width 25%;
            text-align center;
            .zhuihao-box
                line-height: 2.3rem;
                border: 1px #ddd solid;
                border-radius: 0px 5px 5px 0px;
                padding 0px 5px
            .zhuihao-input
                border-left: 1px #ddd solid;
                border-top: 1px #ddd solid;
                border-bottom: 1px #ddd solid;
                border-radius: 5px 0px 0px 5px;
                text-align: center;
                height: 26px;
                width: 100%;
                overflow: hidden;
                padding: 5px;
                background: #fff;
                line-height: 26px;
        .zhuihao-flex
            display flex;
            padding: 10px;
    .record-body
        position: fixed; 
        bottom: 60px;
        top: 139px;
        left: 0;
        right: 0;
        overflow:hidden;
        background-color #fff
        .record-code
            display flex;
            padding 8px 5px;
            border-bottom: 1px #ddd dashed;
            .button-plus
                text-align: center;
                border: 1px solid #ccc;
                width: 20px;
                height: 20px;
                padding: 3px;
                border-radius: 3px;
                line-height: 21px;
                background: #efefef;
            .record-beisu
                border: 1px solid #ccc;
                border-radius: 3px;
                margin 0px 5px;
                width: 28px;
                height: 20px;
                padding: 3px;
                line-height: 21px;
            .record-item
                width 25%;
                text-align center;
                line-height: 30px;
            .record-row
                display:flex;
            .record-item-small
                width 5%;
            .record-item-large
                width 35%;

</style>
