<template>
  <back-page type="form-custom" title="详情" v-on:callback="showSearch">
    <div slot="content">
        <div class="detail-page">
            <cube-scroll  ref="scroll">
            <div class="detail-head">
                <div class="type">
                    <div class="dot" >{{ getFirstVendor(mapByType[detail.type].title) }}</div>
                    {{ mapByType[detail.type].title }}
                </div>
                <div class="amount">
                    {{ detail.bonus - detail.actionAmount | numFilter}}
                </div>
                <div class="status" :class="{'bet-status-opened':detail.actionNo!=''}">
                    {{ getStatus(detail) }}
                </div>
            </div>
            <div class="detail-body">
                <div class="detail-item">
                    <div class="detail-title">彩种</div><div class="detail-content">{{ mapByType[detail.type].title }}</div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">玩法</div><div class="detail-content">{{ detail.actionName }}</div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">注单编号</div><div class="detail-content">{{ detail.wjorderId }}</div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">投注时间</div><div class="detail-content">{{getMomentYearDate(detail.actionTime)}} {{getMomentTime(detail.actionTime)}}</div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">投注金额</div><div class="detail-content">{{ detail.actionAmount | numFilter}}</div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">中奖金额</div><div class="detail-content">{{ detail.bonus | numFilter}}</div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">奖期</div><div class="detail-content">{{ detail.actionNo }}</div>
                </div>
                <div class="detail-item" >
                    <div class="detail-title">开奖号码</div>
                    <div class="detail-content" v-if="detail.lottery_type!=18 && detail.lottery_type!=17">{{ detail.lotteryNo }}</div>
                    <div class="detail-content" v-if="detail.lottery_type==17 && detail.lotteryNo!=''">
                        <img class="ld_img" :src="require('@/assets/images/ld/'+item+'.png')" v-for="(item,index) in str_split(detail.lotteryNo)" :key="index">
                    </div>
                    <div class="detail-content" v-if="detail.lottery_type==18 && detail.lotteryNo!=''" style="line-height: 1.1rem;">
                        <div v-for="(item, index) in getStrtoJson(detail.lotteryNo)"  :key="index">
                            <span v-if="index=='1st'">First prize(首獎)  : <br></span>
                            <span v-if="index=='2nd'">Second prize(第二獎)  : <br></span>
                            <span v-if="index=='3th'">Third prize(第三獎)  : <br></span>
                            <span v-if="index=='en1'">Encouragement prize 1(安慰獎 1)  : <br></span>
                            <span v-if="index=='en2'">Encouragement prize 2(安慰獎 2)  : <br></span>
                            <span>{{item}}</span>
                        </div>
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">赔率</div>
                    <div class="detail-content" v-if="detail.lottery_type!=18">{{ detail.bonusProp }}</div>
                    <div class="detail-content" v-if="detail.lottery_type==18">
                        <div v-for="(item, index) in getStrtoJson(detail.bpinfo)"  :key="index">
                            <span v-if="index=='st1'">First prize(首獎)  : </span>
                            <span v-if="index=='nd2'">Second prize(第二獎)  : </span>
                            <span v-if="index=='th3'">Third prize(第三獎)  : </span>
                            <span v-if="index=='en1'">Encouragement prize 1(安慰獎 1)  : </span>
                            <span v-if="index=='en2'">Encouragement prize 2(安慰獎 2)  : </span>
                            <span>{{item}}</span>
                        </div>
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-title">开奖时间</div><div class="detail-content">{{getMomentYearDate(detail.kjTime)}} {{getMomentTime(detail.kjTime)}}</div>
                </div>
                <div class="detail-code">
                    <div class="detail-title">投注号码</div>
                    <div class="code-number" v-if="detail.type!=104 && detail.type!=120">
                        {{detail.weiShu | CodeWeiShu}} {{ detail.actionData }} {{ detail.betInfo }}
                    </div>
                    <div class="code-number" v-if="detail.type==104">
                        <img class="zh_img" :src="require('@/assets/images/lottery/zh/'+detail.actionData+'.png')">
                    </div>
                    <div class="code-number" v-if="detail.type==120">
                        <img class="ld_img_big" :class="{ld_img_extraBig: (detail.actionData==='陆' || detail.actionData==='水')}" :src="require('@/assets/images/ld/'+detail.actionData+'.png')" >
                    </div>
                </div>
            </div>
            </cube-scroll>  
        </div>            
    </div>
  </back-page>
</template>

<script type="text/ecmascript-6">
  import moment from 'moment'
  import BackPage from '@/components/back-page.vue'
  import { mapGetters } from "vuex";
  import { globalMixin } from '@/mixin.js';
  export default {
    mixins: [globalMixin],
    data() {
      return {

      }
    },
    props: ['detail'],
	filters:{
		CodeWeiShu:function(value)
		{
			let wei='';
			let w=[
				{
					v:16,
					c:'万'
				},
				{
					v:8,
					c:'千'
				},
				{
					v:4,
					c:'百'
				},
				{
					v:2,
					c:'十'
				},
				{
					v:1,
					c:'个'
				},
			];
			for(var key in w)
			{
				if (value & w[key].v) wei += w[key].c ;
			}
			return wei;
		}
	},
    methods: {
        getStrtoJson(str)
        {
            let _json = JSON.parse(str);
            return _json;
        },
        showSearch(childValue)
        {
          this.$emit('switchDetial',childValue);
        },
        getFirstVendor(vendor)
		{
			return vendor.substring(0,1);
		}
    },
    components: {
        BackPage,
    },
    computed:
    {
		...mapGetters({
            mapByType: "mapByType",
        }),       
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scpoed>
.detail-page
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 45px;
    .detail-head
        margin: 10px 0;
        position: relative;
        background-color: #fff;
        padding: 10px;
        .type
            text-align: center;
            font-size: 15px;
            line-height: 15px;
            padding: 10px 0;
            color: #444;
            .dot
                border-radius: 50%;
                background-color: #11c1f3;
                display: inline-block;
                color: #fff;
                font-weight: 700;
                font-size: 16px;
                padding: 5px 5px;
                width: 25px;          
                height: 25px;
                line-height: 25px;
        .amount
            text-align: center;
            font-size: 20px;
            padding: 10px 0;
            font-weight: 700;
        .status
            text-align: center;
            font-size: 14px;
            padding: 10px 0;
        .bet-status-opened
            color #4e7d36;        
    .detail-body
        padding-left: 16px;
        background: #fff;
        position: relative;
        top: 0px;
        .ld_img
            width 2.5rem;
            margin-top: -15px;
        .ld_img_big
            width 3rem;
            margin-top: -20px;
        .ld_img_extraBig
            width 8rem;
            margin-top: -20px;
        .detail-item
            padding-left: 0;
            padding-top: 15px;
            font-size: 14px;
            line-height: 14px;
            color: #444;
            border-bottom: 1px #ddd solid;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            .detail-title
            .detail-content
                margin-right 15px;
                color #888;
        .detail-code
            padding-left: 0;
            padding-top: 15px;    
            font-size: 14px;
            color: #444;
            .code-number
                color: #888;
                padding: 5px 15px 15px 15px;
                text-align: right;
</style>