<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="dice-box" v-show="isQualified" >
            <!-- 擲骰子前 -->
            <img class="dices bg_pinned roll_before" v-show="isRollingBefore" :src="require('@/assets/images/ld/dices.jpg')">
            <!-- 擲骰子-前半 -->
            <img class="dices bg_pinned roll_ing" v-show="isRolling" :src="require('@/assets/images/ld/roll_dice.gif')">
            <!-- 擲骰子-後半 -->
            <img class="dices" :src="require('@/assets/images/ld/bg_dices.jpg')">
            <div class="dice dice1" :class="[playingState, dice[0]]" :style="{backgroundImage: 'url('+ sprite +')'}"></div>
            <div class="dice dice2" :class="[playingState, dice[1]]" :style="{backgroundImage: 'url('+ sprite +')'}"></div>
            <div class="dice dice3" :class="[playingState, dice[2]]" :style="{backgroundImage: 'url('+ sprite +')'}"></div>
            <span class="dice_tip">投注最大者可掷骰子</span>
            <img class="bar_btn scale_effect" v-show="isRollingBefore" @click.stop="bar()" :src="require('@/assets/images/ld/btn_active.png')">
            
        </div>
        <div class="dice-box" v-show="!isQualified">
            <!-- 非下注最大 -->
            <img class="dices" :src="require('@/assets/images/ld/dices.jpg')">
            <span class="dice_tip">投注最大者可掷骰子</span>
            <img class="bar_btn" :src="require('@/assets/images/ld/btn_disabled.png')">
        </div>
        <div class="game-title" style="border-top:0px" @click.stop="show_menu(0)">
                        <div class="icon-pull icon-size">
                            <i v-show="show[0]" class="cubeic-pullup"></i>
                            <i v-show="!show[0]" class="cubeic-pulldown"></i>
                        </div>
                        <div class="icon-title">陆 {{mapByPlay[6620].bp | numFilter}} / 水  {{mapByPlay[6619].bp | numFilter}}</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col2 name" data-id="6620">
                            <img class="k3" :src="require('@/assets/images/ld/1.png')"> 
                            <img class="k3" :src="require('@/assets/images/ld/2.png')"> 
                            <img class="k3" :src="require('@/assets/images/ld/3.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6620].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col2 name" data-id="6619">
                            <img class="k3" :src="require('@/assets/images/ld/4.png')"> 
                            <img class="k3" :src="require('@/assets/images/ld/5.png')"> 
                            <img class="k3" :src="require('@/assets/images/ld/6.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6619].bp | numFilter}}</span> -->
                        </td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        <div class="game-title" @click.stop="show_menu(2)">
                        <div class="icon-pull icon-size">
                            <i v-show="show[2]" class="cubeic-pullup"></i>
                            <i v-show="!show[2]" class="cubeic-pulldown"></i>
                        </div>
                        <div class="icon-title">连线 {{mapByPlay[6627].bp | numFilter}}</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[2]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6627">
                            <img class="k3 connect" :src="require('@/assets/images/ld/1_2.png')">  
                            <!-- <span class="pl">{{mapByPlay[6627].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6628">
                            <img class="k3 connect" :src="require('@/assets/images/ld/1_5.png')">
                            <!-- <span class="pl">{{mapByPlay[6628].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6629">
                            <img class="k3 connect" :src="require('@/assets/images/ld/1_6.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6629].bp | numFilter}}</span> -->
                        </td>
                    <!-- </tr>
                    <tr> -->
                         <td  class="col3 name" data-id="6630">
                            <img class="k3 connect" :src="require('@/assets/images/ld/2_3.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6630].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6631">
                            <img class="k3 connect" :src="require('@/assets/images/ld/2_4.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6631].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6632">
                            <img class="k3 connect" :src="require('@/assets/images/ld/2_5.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6632].bp | numFilter}}</span> -->
                        </td>
                    </tr>
                     <tr>
                        <td  class="col3 name" data-id="6633">
                            <img class="k3 connect" :src="require('@/assets/images/ld/2_6.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6633].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6634">
                            <img class="k3 connect" :src="require('@/assets/images/ld/3_4.png')">
                            <!-- <span class="pl">{{mapByPlay[6634].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6635">
                            <img class="k3 connect" :src="require('@/assets/images/ld/3_5.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6635].bp | numFilter}}</span> -->
                        </td>
                    <!-- </tr>
                    <tr> -->
                         <td  class="col3 name" data-id="6636">
                            <img class="k3 connect" :src="require('@/assets/images/ld/4_5.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6636].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6637">
                            <img class="k3 connect" :src="require('@/assets/images/ld/5_6.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6637].bp | numFilter}}</span> -->
                        </td>
                       
                    </tr>
                </table>
                
                <div class="shadow"></div>
            </div>
        </transition>
        <div class="game-title" @click.stop="show_menu(3)">
                        <div class="icon-pull icon-size">
                            <i v-show="show[3]" class="cubeic-pullup"></i>
                            <i v-show="!show[3]" class="cubeic-pulldown"></i>
                        </div>
                        <div class="icon-title">单骰 {{mapByPlay[6638].bp | numFilter}} </div>
        </div>
        <transition name="playmenu">
            <div v-show="show[3]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6638">
                            <img class="k3" :src="require('@/assets/images/ld/1.png')">  
                            <!-- <span class="pl">{{mapByPlay[6638].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6639">
                            <img class="k3" :src="require('@/assets/images/ld/2.png')">
                            <!-- <span class="pl">{{mapByPlay[6639].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6640">
                            <img class="k3" :src="require('@/assets/images/ld/3.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6640].bp | numFilter}}</span> -->
                        </td>
                    <!-- </tr>
                    <tr> -->
                         <td  class="col3 name" data-id="6641">
                            <img class="k3" :src="require('@/assets/images/ld/4.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6641].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6642">
                            <img class="k3" :src="require('@/assets/images/ld/5.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6642].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6643">
                            <img class="k3" :src="require('@/assets/images/ld/6.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6643].bp | numFilter}}</span> -->
                        </td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        <div class="game-title" @click.stop="show_menu(1)">
                        <div class="icon-pull icon-size">
                            <i v-show="show[1]" class="cubeic-pullup"></i>
                            <i v-show="!show[1]" class="cubeic-pulldown"></i>
                        </div>
                        <div class="icon-title">豹子 {{mapByPlay[6621].bp | numFilter}}</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[1]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="6621">
                            <img class="k3" :src="require('@/assets/images/ld/1_1_1.png')">  
                            <!-- <span class="pl">{{mapByPlay[6621].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6622">
                            <img class="k3" :src="require('@/assets/images/ld/2_2_2.png')">
                            <!-- <span class="pl">{{mapByPlay[6622].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6623">
                            <img class="k3" :src="require('@/assets/images/ld/3_3_3.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6623].bp | numFilter}}</span> -->
                        </td>
                    <!-- </tr>
                    <tr> -->
                         <td  class="col3 name" data-id="6624">
                            <img class="k3" :src="require('@/assets/images/ld/4_4_4.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6624].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6625">
                            <img class="k3" :src="require('@/assets/images/ld/5_5_5.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6625].bp | numFilter}}</span> -->
                        </td>
                        <td  class="col3 name" data-id="6626">
                            <img class="k3" :src="require('@/assets/images/ld/6_6_6.png')"> 
                            <!-- <span class="pl">{{mapByPlay[6626].bp | numFilter}}</span> -->
                        </td>
                    </tr>
                </table>
                
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
import { apiGetCodeLD } from '@/api.js'
import sprite from '@/assets/images/ld/dice_sprite.png'
import { globalMixin } from '@/mixin.js';
export default {
    mixins: [globalMixin],
  data() {
    return {
        show:{
            0:true,
            1:true,
            2:true,
            3:true,
        },
        sprite: sprite,
        dice:{
            0: "",
            1: "",
            2: "",
        },
        playingState:"pause",
        isQualified: true,
        isRolling: false,
        isRollingBefore: true,
        isRollingAfter: false,
    };
  },
  methods: {
    show_menu(t){
            this.show[t] = !this.show[t];
            this.$refs.scroll.refresh();
            return;
        },
    bar(){
        this.toast('Loading...',null,0,'loading'); // 防用户连点
        // 播放擲骰子 gif
        this.isRollingBefore = false;
        this.isRolling = true;
        // 拿到決定花色 (轉動綁定花色)
        let dice1Suit = 1;
        let dice2Suit = 1;
        let dice3Suit = 1;
        //console.log(this.$parent.options);
        // API 請求拿開獎花色
        apiGetCodeLD({
            type_id : this.$parent.options.type_id,
            })
            .then(response => {
                this.$createToast().hide();
                if(response.data.error)
                {
                    this.isQualified=false;
                    this.isRollingBefore = true;
                    this.error_handler(response.data);
                }
                if(response.data.status)
                {
                    let code=this.str_split(response.data.data);
                    dice1Suit = code[0];
                    dice2Suit = code[1];
                    dice3Suit = code[2];
                    let vm = this;
                    setTimeout(function(){
                        vm.isRolling = false;
                        vm.setSuit(0,dice1Suit);
                        vm.setSuit(1,dice2Suit);
                        vm.setSuit(2,dice3Suit);
                    }, 750); // gif時長
                    // setTimeout(function(){
                    //     vm.clearSlotBar();
                    //     //vm.isQualified = false;
                    // }, 8000); // gif時長
                }
                return;
            }).catch(error => {
                console.log(error);
                this.$createToast().hide();
                return;
            }); 
        // 當期只能轉一次
        this.isRollingAfter =true;
    },
    rollDice(){
       
    },
    setSuit(diceNum, suitNum){
        this.dice[diceNum]= "suit_"+suitNum ;
    },
    clearSlotBar(){
        // 每期一分鐘結束後重置 (骰子花色 拉霸)
        this.isRollingBefore = true;
        this.isRollingAfter =false;
        this.playingState = "pause";
        this.dice[0]= "";
        this.dice[1]= "";
        this.dice[2]= "";
        this.isQualified = false;

        // 設定有沒有資格拉霸
        // this.isQualified = true;
    }
  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus" scoped>
.dice-box
    position relative
    height 86px
.dice
    position absolute
    top 18%
    z-index 10
    width 14% !important
    padding-bottom: 14%;
    -moz-background-size:100% auto;
    -webkit-background-size:100% auto;
    -o-background-size:100% auto;
    background-size:100% auto;
    background-position: 0 0;
    animation-fill-mode: forwards;

.dice1
    left 7.5%;

.dice2
    left 27.5%;
    animation-duration: .7s
    animation-delay: 0.2s;
    
.dice3
    left 47%;
    animation-duration: .9s
    animation-delay: 0.4s;

.pause
    animation-play-state: paused;

.play
    animation-play-state: running;

.dice.suit_1 
    animation: play 0.9s linear 1;
    background-position: 0% 0%;

.dice.suit_2
    animation: play 0.75s linear 1;
    background-position: 0% 20%;

.dice.suit_3
    animation: play 1s linear 1;
    background-position: 0% 40%;

.dice.suit_4
    animation: play 1.1s linear 1;
    background-position: 0% 59%;

.dice.suit_5
    animation: play 1.15s linear 1;
    background-position: 0% 80%;

.dice.suit_6
    animation: play 0.8s linear 1;
    background-position: 0% 100%;

.dices
    width 100% !important;
    height auto !important;

.bg_pinned
    position absolute;
    top 0;
    left 0;
    
.roll_before
    z-index 25; 

.roll_ing
    z-index 20;

@keyframes play {
    0% { background-position: 0% 0%; }  
    100% { background-position: 0% 120%; }
}

.dice_tip
    font-size 12px
    color white
    position absolute
    top 10%
    right 3%
    z-index 30


.bar_btn
    position:absolute;      
    z-index: 30;
    top: 34%;
    right: 9%;
    width 12% !important;
    height auto !important;

    
.scale_effect
    animation: rotate-scale-up 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both infinite;

@keyframes rotate-scale-up {
    0% { transform: scale(1) rotateZ(0); }
    50% { transform: scale(1.2) rotateZ(0); }
    100% { transform: scale(1) rotateZ(10deg); }
}

.grayscale
    filter: grayscale(90%);

.tabs-basic-view .bet_space
    left 0
.tabs-basic-view .bet_space .k3
    width 2.5rem
    height 2.5rem
.tabs-basic-view .bet_space .k3.connect
    width 3rem
    height 2rem
.tabs-basic-view .bet_space .game-title
    height 1.6rem
    line-height 1.6rem
.tabs-basic-view .bet_space .col2, .tabs-basic-view .bet_space .col3
    height 1.6rem
.tabs-basic-view .bet_space .name 
    line-height 1.6rem

.tabs-basic-view .bet_space .addbet:before 
    bottom: -6px;
</style>

