
body, html, html * {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft JhengHei,Microsoft YaHei,SimSun,sans-serif;
}
.my-page{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
}
.my-subpage{
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
}

.my-childpage{
    position: absolute;
    z-index: 13;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
}

.my-page > .title, .my-subpage > .title, .my-childpage > .title{
    position: relative;
    height: 44px;
    line-height: 44px;
    text-align: center;
    padding: 0 0;
    border-bottom: solid 1px #DDD;
    z-index: 5;
}
.my-page > .title h1, .my-subpage > .title h1, .my-childpage > .title h1{
    font-size: 16px;
    font-weight: 700;
}
.my-page > .title .cubeic-back, .my-subpage > .title .cubeic-back, .my-childpage > .title .cubeic-back{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px;
    color: #333;
}
.clear-both{
    clear: both;
    content: '';
    display: block;
}
