<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">和值</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5332">{{mapByPlay[5332].name}} <span class="pl">{{mapByPlay[5332].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5333">{{mapByPlay[5333].name}} <span class="pl">{{mapByPlay[5333].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5334">{{mapByPlay[5334].name}} <span class="pl">{{mapByPlay[5334].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5335">{{mapByPlay[5335].name}} <span class="pl">{{mapByPlay[5335].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6508">{{mapByPlay[6508].name}} <span class="pl">{{mapByPlay[6508].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6509">{{mapByPlay[6509].name}} <span class="pl">{{mapByPlay[6509].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="6510">{{mapByPlay[6510].name}} <span class="pl">{{mapByPlay[6510].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="6511">{{mapByPlay[6511].name}} <span class="pl">{{mapByPlay[6511].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5343">{{mapByPlay[5343].name}} <span class="pl">{{mapByPlay[5343].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5344">{{mapByPlay[5344].name}} <span class="pl">{{mapByPlay[5344].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5345">{{mapByPlay[5345].name}} <span class="pl">{{mapByPlay[5345].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5346">{{mapByPlay[5346].name}} <span class="pl">{{mapByPlay[5346].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5347">{{mapByPlay[5347].name}} <span class="pl">{{mapByPlay[5347].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5348">{{mapByPlay[5348].name}} <span class="pl">{{mapByPlay[5348].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5349">{{mapByPlay[5349].name}} <span class="pl">{{mapByPlay[5349].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5350">{{mapByPlay[5350].name}} <span class="pl">{{mapByPlay[5350].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5351">{{mapByPlay[5351].name}} <span class="pl">{{mapByPlay[5351].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5352">{{mapByPlay[5352].name}} <span class="pl">{{mapByPlay[5352].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5353">{{mapByPlay[5353].name}} <span class="pl">{{mapByPlay[5353].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5354">{{mapByPlay[5354].name}} <span class="pl">{{mapByPlay[5354].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5355">{{mapByPlay[5355].name}} <span class="pl">{{mapByPlay[5355].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5356">{{mapByPlay[5356].name}} <span class="pl">{{mapByPlay[5356].bp | numFilter}}</span></td>
                    </tr>

                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

