<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">围骰全骰</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5336"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/1.png')"> <span class="pl">{{mapByPlay[5336].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5337"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/2.png')"> <span class="pl">{{mapByPlay[5337].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5338"><img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/3.png')"> <span class="pl">{{mapByPlay[5338].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5339"><img class="k3" :src="require('@/assets/images/k3/4.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <span class="pl">{{mapByPlay[5339].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5340"><img class="k3" :src="require('@/assets/images/k3/5.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5340].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5341"><img class="k3" :src="require('@/assets/images/k3/6.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5341].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

