<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">长牌</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table >
                    <tr>
                        <td  class="col3 name" data-id="5357"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/2.png')"> <span class="pl">{{mapByPlay[5357].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5358"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/3.png')"> <span class="pl">{{mapByPlay[5358].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5359"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <span class="pl">{{mapByPlay[5359].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5360"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5360].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5361"><img class="k3" :src="require('@/assets/images/k3/1.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5361].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5362"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/3.png')"> <span class="pl">{{mapByPlay[5362].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5363"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <span class="pl">{{mapByPlay[5363].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5364"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5364].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5365"><img class="k3" :src="require('@/assets/images/k3/2.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5365].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5366"><img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/4.png')"> <span class="pl">{{mapByPlay[5366].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5367"><img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5367].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5368"><img class="k3" :src="require('@/assets/images/k3/3.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5368].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5369"><img class="k3" :src="require('@/assets/images/k3/4.png')"> <img class="k3" :src="require('@/assets/images/k3/5.png')"> <span class="pl">{{mapByPlay[5369].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5370"><img class="k3" :src="require('@/assets/images/k3/4.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5370].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5371"><img class="k3" :src="require('@/assets/images/k3/5.png')"> <img class="k3" :src="require('@/assets/images/k3/6.png')"> <span class="pl">{{mapByPlay[5371].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

