<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">三军</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td  class="col3 name" data-id="5326"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5326].name+'.png')"> <span class="pl">{{mapByPlay[5326].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5327"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5327].name+'.png')"> <span class="pl">{{mapByPlay[5327].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5328"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5328].name+'.png')"> <span class="pl">{{mapByPlay[5328].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5329"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5329].name+'.png')"> <span class="pl">{{mapByPlay[5329].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td  class="col3 name" data-id="5330"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5330].name+'.png')"> <span class="pl">{{mapByPlay[5330].bp | numFilter}}</span></td>
                        <td  class="col3 name" data-id="5331"><img class="k3" :src="require('@/assets/images/k3/'+mapByPlay[5331].name+'.png')"> <span class="pl">{{mapByPlay[5331].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

