<template>
  <HomePage title="tab-composite">
    <div slot="content">
        <div class="detail-body">
            <button  class="button-back" @click="showSearch(0)">
                <span ><i class="icon fas fa-angle-left"></i>
                </span>
            </button>
            <img :src="'/static/images/banner/'+detail.mobile_content" class="detail-img"/>
        </div>
    </div>
  </HomePage>
</template>

<script type="text/ecmascript-6">
  import moment from 'moment'
  import HomePage from '@/components/home-page.vue'
  import { mapGetters } from "vuex";
  import { globalMixin } from '@/mixin.js';
  export default {
    mixins: [globalMixin],
    data() {
      return {

      }
    },
    props: ['detail'],
    methods: {
        showSearch(childValue)
        {
            this.$emit('callback',childValue);
        },
    },
    components: {
        HomePage,
    },
    computed:
    {
     
    }
  }
</script>

<style lang="stylus" rel="stylesheet/stylus" scpoed>
.home-page >.wrapper
    height :unset;
.detail-body
    background: #fff;
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    .icon
        font-size: 1.5rem;
    .button-back
        position: absolute;
        background-color: hsla(0,0%,100%,.7)!important;
        border-radius: 50%;
        width: 32px!important;
        height: 32px!important;
        left: 16px;
        top: 16px;
        color: #666;
    .detail-img
        width 100%
    .detail-item
        padding-left: 0;
        padding-top: 15px;    
        font-size: 14px;
        line-height: 14px;
        color: #444;
        min-height: 30px;
        .detail-title
            float left
        .detail-content
            float right
            margin-right 15px;
            color #888;
    .detail-item:after
        content: "";
        position: relative;
        background-color: #ddd;
        display: block;
        left: 0;
        right: auto;
        height: 1px;
        width: 100%;
        top:28px;
</style>