<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                        <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                        <div class="icon-title">第一球</div>
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5066"><span class="balls">{{mapByPlay[5066].name}}</span> <span class="pl">{{mapByPlay[5066].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5067"><span class="balls">{{mapByPlay[5067].name}}</span> <span class="pl">{{mapByPlay[5067].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5068"><span class="balls">{{mapByPlay[5068].name}}</span> <span class="pl">{{mapByPlay[5068].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5069"><span class="balls">{{mapByPlay[5069].name}}</span> <span class="pl">{{mapByPlay[5069].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5070"><span class="balls">{{mapByPlay[5070].name}}</span> <span class="pl">{{mapByPlay[5070].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5071"><span class="balls">{{mapByPlay[5071].name}}</span> <span class="pl">{{mapByPlay[5071].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5072"><span class="balls">{{mapByPlay[5072].name}}</span> <span class="pl">{{mapByPlay[5072].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5073"><span class="balls">{{mapByPlay[5073].name}}</span> <span class="pl">{{mapByPlay[5073].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5074"><span class="balls">{{mapByPlay[5074].name}}</span> <span class="pl">{{mapByPlay[5074].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5075"><span class="balls">{{mapByPlay[5075].name}}</span> <span class="pl">{{mapByPlay[5075].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5076">{{mapByPlay[5076].name}} <span class="pl">{{mapByPlay[5076].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5077">{{mapByPlay[5077].name}} <span class="pl">{{mapByPlay[5077].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5078">{{mapByPlay[5078].name}} <span class="pl">{{mapByPlay[5078].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5079">{{mapByPlay[5079].name}} <span class="pl">{{mapByPlay[5079].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

