<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title">
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第二球</div>            
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5080"><span class="balls">{{mapByPlay[5080].name}}</span> <span class="pl">{{mapByPlay[5080].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5081"><span class="balls">{{mapByPlay[5081].name}}</span> <span class="pl">{{mapByPlay[5081].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5082"><span class="balls">{{mapByPlay[5082].name}}</span> <span class="pl">{{mapByPlay[5082].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5083"><span class="balls">{{mapByPlay[5083].name}}</span> <span class="pl">{{mapByPlay[5083].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5084"><span class="balls">{{mapByPlay[5084].name}}</span> <span class="pl">{{mapByPlay[5084].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5085"><span class="balls">{{mapByPlay[5085].name}}</span> <span class="pl">{{mapByPlay[5085].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5086"><span class="balls">{{mapByPlay[5086].name}}</span> <span class="pl">{{mapByPlay[5086].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5087"><span class="balls">{{mapByPlay[5087].name}}</span> <span class="pl">{{mapByPlay[5087].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5088"><span class="balls">{{mapByPlay[5088].name}}</span> <span class="pl">{{mapByPlay[5088].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5089"><span class="balls">{{mapByPlay[5089].name}}</span> <span class="pl">{{mapByPlay[5089].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5090">{{mapByPlay[5090].name}} <span class="pl">{{mapByPlay[5090].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5091">{{mapByPlay[5091].name}} <span class="pl">{{mapByPlay[5091].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5092">{{mapByPlay[5092].name}} <span class="pl">{{mapByPlay[5092].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5093">{{mapByPlay[5093].name}} <span class="pl">{{mapByPlay[5093].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

