<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第三球</div>             
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5094"><span class="balls">{{mapByPlay[5094].name}}</span> <span class="pl">{{mapByPlay[5094].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5095"><span class="balls">{{mapByPlay[5095].name}}</span> <span class="pl">{{mapByPlay[5095].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5096"><span class="balls">{{mapByPlay[5096].name}}</span> <span class="pl">{{mapByPlay[5096].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5097"><span class="balls">{{mapByPlay[5097].name}}</span> <span class="pl">{{mapByPlay[5097].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5098"><span class="balls">{{mapByPlay[5098].name}}</span> <span class="pl">{{mapByPlay[5098].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5099"><span class="balls">{{mapByPlay[5099].name}}</span> <span class="pl">{{mapByPlay[5099].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5100"><span class="balls">{{mapByPlay[5100].name}}</span> <span class="pl">{{mapByPlay[5100].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5101"><span class="balls">{{mapByPlay[5101].name}}</span> <span class="pl">{{mapByPlay[5101].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5102"><span class="balls">{{mapByPlay[5102].name}}</span> <span class="pl">{{mapByPlay[5102].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5103"><span class="balls">{{mapByPlay[5103].name}}</span> <span class="pl">{{mapByPlay[5103].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5104">{{mapByPlay[5104].name}} <span class="pl">{{mapByPlay[5104].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5105">{{mapByPlay[5105].name}} <span class="pl">{{mapByPlay[5105].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5106">{{mapByPlay[5106].name}} <span class="pl">{{mapByPlay[5106].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5107">{{mapByPlay[5107].name}} <span class="pl">{{mapByPlay[5107].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

