<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第四球</div>               
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5108"><span class="balls">{{mapByPlay[5108].name}}</span> <span class="pl">{{mapByPlay[5108].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5109"><span class="balls">{{mapByPlay[5109].name}}</span> <span class="pl">{{mapByPlay[5109].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5110"><span class="balls">{{mapByPlay[5110].name}}</span> <span class="pl">{{mapByPlay[5110].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5111"><span class="balls">{{mapByPlay[5111].name}}</span> <span class="pl">{{mapByPlay[5111].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5112"><span class="balls">{{mapByPlay[5112].name}}</span> <span class="pl">{{mapByPlay[5112].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5113"><span class="balls">{{mapByPlay[5113].name}}</span> <span class="pl">{{mapByPlay[5113].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5114"><span class="balls">{{mapByPlay[5114].name}}</span> <span class="pl">{{mapByPlay[5114].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5115"><span class="balls">{{mapByPlay[5115].name}}</span> <span class="pl">{{mapByPlay[5115].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5116"><span class="balls">{{mapByPlay[5116].name}}</span> <span class="pl">{{mapByPlay[5116].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5117"><span class="balls">{{mapByPlay[5117].name}}</span> <span class="pl">{{mapByPlay[5117].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5118">{{mapByPlay[5118].name}} <span class="pl">{{mapByPlay[5118].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5119">{{mapByPlay[5119].name}} <span class="pl">{{mapByPlay[5119].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5120">{{mapByPlay[5120].name}} <span class="pl">{{mapByPlay[5120].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5121">{{mapByPlay[5121].name}} <span class="pl">{{mapByPlay[5121].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

