<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">第五球</div>             
        </div>
        <transition name="playmenu">
            <div v-show="show[0]" class="play-menu">
                <table>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5122"><span class="balls">{{mapByPlay[5122].name}}</span> <span class="pl">{{mapByPlay[5122].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5123"><span class="balls">{{mapByPlay[5123].name}}</span> <span class="pl">{{mapByPlay[5123].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5124"><span class="balls">{{mapByPlay[5124].name}}</span> <span class="pl">{{mapByPlay[5124].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5125"><span class="balls">{{mapByPlay[5125].name}}</span> <span class="pl">{{mapByPlay[5125].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5126"><span class="balls">{{mapByPlay[5126].name}}</span> <span class="pl">{{mapByPlay[5126].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5127"><span class="balls">{{mapByPlay[5127].name}}</span> <span class="pl">{{mapByPlay[5127].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5128"><span class="balls">{{mapByPlay[5128].name}}</span> <span class="pl">{{mapByPlay[5128].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5129"><span class="balls">{{mapByPlay[5129].name}}</span> <span class="pl">{{mapByPlay[5129].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5130"><span class="balls">{{mapByPlay[5130].name}}</span> <span class="pl">{{mapByPlay[5130].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5131"><span class="balls">{{mapByPlay[5131].name}}</span> <span class="pl">{{mapByPlay[5131].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5132">{{mapByPlay[5132].name}} <span class="pl">{{mapByPlay[5132].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5133">{{mapByPlay[5133].name}} <span class="pl">{{mapByPlay[5133].bp | numFilter}}</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="col2 name" data-id="5134">{{mapByPlay[5134].name}} <span class="pl">{{mapByPlay[5134].bp | numFilter}}</span></td>
                        <td colspan="3" class="col2 name" data-id="5135">{{mapByPlay[5135].name}} <span class="pl">{{mapByPlay[5135].bp | numFilter}}</span></td>
                    </tr>
                </table>
                <div class="shadow"></div>
            </div>
        </transition>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

