<template>
    <div class="bet_space credit_bet">
        <cube-scroll class="scroll_wrapper"
                        ref="scroll">
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">万千 第一球VS第二球</div>         
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5151">{{mapByPlay[5151].name}} <span class="pl">{{mapByPlay[5151].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5152">{{mapByPlay[5152].name}} <span class="pl">{{mapByPlay[5152].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5153">{{mapByPlay[5153].name}} <span class="pl">{{mapByPlay[5153].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">万百 第一球VS第三球</div>          
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5154">{{mapByPlay[5154].name}} <span class="pl">{{mapByPlay[5154].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5155">{{mapByPlay[5155].name}} <span class="pl">{{mapByPlay[5155].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5156">{{mapByPlay[5156].name}} <span class="pl">{{mapByPlay[5156].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">万十 第一球VS第四球</div>          
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5157">{{mapByPlay[5157].name}} <span class="pl">{{mapByPlay[5157].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5158">{{mapByPlay[5158].name}} <span class="pl">{{mapByPlay[5158].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5159">{{mapByPlay[5159].name}} <span class="pl">{{mapByPlay[5159].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">万个 第一球VS第五球</div>          
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5160">{{mapByPlay[5160].name}} <span class="pl">{{mapByPlay[5160].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5161">{{mapByPlay[5161].name}} <span class="pl">{{mapByPlay[5161].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5162">{{mapByPlay[5162].name}} <span class="pl">{{mapByPlay[5162].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">千百 第二球VS第三球</div>          
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5163">{{mapByPlay[5163].name}} <span class="pl">{{mapByPlay[5163].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5164">{{mapByPlay[5164].name}} <span class="pl">{{mapByPlay[5164].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5165">{{mapByPlay[5165].name}} <span class="pl">{{mapByPlay[5165].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">千十 第二球VS第四球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5166">{{mapByPlay[5166].name}} <span class="pl">{{mapByPlay[5166].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5167">{{mapByPlay[5167].name}} <span class="pl">{{mapByPlay[5167].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5168">{{mapByPlay[5168].name}} <span class="pl">{{mapByPlay[5168].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">千个 第二球VS第五球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5169">{{mapByPlay[5169].name}} <span class="pl">{{mapByPlay[5169].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5170">{{mapByPlay[5170].name}} <span class="pl">{{mapByPlay[5170].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5171">{{mapByPlay[5171].name}} <span class="pl">{{mapByPlay[5171].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">百十 第三球VS第四球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5172">{{mapByPlay[5172].name}} <span class="pl">{{mapByPlay[5172].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5173">{{mapByPlay[5173].name}} <span class="pl">{{mapByPlay[5173].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5174">{{mapByPlay[5174].name}} <span class="pl">{{mapByPlay[5174].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">百个 第三球VS第五球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5175">{{mapByPlay[5175].name}} <span class="pl">{{mapByPlay[5175].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5176">{{mapByPlay[5176].name}} <span class="pl">{{mapByPlay[5176].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5177">{{mapByPlay[5177].name}} <span class="pl">{{mapByPlay[5177].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        <div class="game-title" >
                <div class="icon-pull icon-size"><i class="cubeic-pullup"></i></div>
                <div class="icon-title">十个 第四球VS第五球</div>  
        </div>
            <div class="play-menu">
                <table>
                    <tr>
                        <td colspan="2" class="col3 name" data-id="5178">{{mapByPlay[5178].name}} <span class="pl">{{mapByPlay[5178].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5179">{{mapByPlay[5179].name}} <span class="pl">{{mapByPlay[5179].bp | numFilter}}</span></td>
                        <td colspan="2" class="col3 name" data-id="5180">{{mapByPlay[5180].name}} <span class="pl">{{mapByPlay[5180].bp | numFilter}}</span></td>
                    </tr>
                </table>
            </div>
        </cube-scroll>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";
export default {
  data() {
    return {
        show:{
            0:true,
        },
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters({
        mapByPlay: "mapByPlay",
    }),      
  },
  components: {
  },
  created() {}
};
</script>

<style lang="stylus" rel="stylesheet/stylus">

</style>

